/*==== Default Styles ====*/
.no-padding {
	padding: 0;
}

.no-margin {
	margin: 0;
}

.margin-75 {
	margin-top: -75px;
}

.top-0 {
	margin-top: 0;
}

.top-10 {
	margin: 10px 0;
}

.header-wrap {
	max-width: 1366px;
	margin: auto;
}

.update-opacity:hover {
	opacity: 0.6;
}

.update-opacity {
	opacity: 1;
}

.carousel-caption-style {
	color: black;
	z-index: 999;
	position: absolute;
	top: 27% !important;
	left: 60px !important;
	right: initial !important;
	text-align: left !important;
	text-shadow: none !important;
}

.carousel-caption-style-mobile {
	color: black;
	z-index: 999;
	position: absolute;
	top: 20% !important;
	left: 0 !important;
	text-shadow: none !important;
	width: 100%;

}

.carousel-caption-style-mobile > h1 {
	font-size: 24px !important;
	line-height: 1.2 !important;
	font-weight: 500 !important;
	letter-spacing: normal !important
}

.custom-controls-style {
	height: 40px;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 5;
	display: inline-block;
	background-color: white;
	padding: 5px;
	background-color: #FFFFFF !important;
}

#header-carousel-wrap .item {
	height: 400px;
	overflow: hidden;
}

#header-carousel-wrap .carousel-hero-img {
	max-width: 1366px !important;
	position: relative;
	display: inline-block;
	left: 50%;
	transform: translate(-50%);
}

.control-left {
	margin-left: 15px;
}

.control-right {
	margin-left: -15px;
}

.nav-shadow {
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .16);
}

.carousel-header {
	font-size: 35px !important;
	letter-spacing: 1px !important;
}

.black-text-shadow {
	text-shadow: 0 3px 4px rgb(111, 102, 102);
}

.white-text-shadow {
	text-shadow: 0 2px 2px rgb(107, 157, 144);
}

.carousel-indicators li {
	margin-right: 3px;
	margin-left: 3px;
}

.fc-orange {
	color: rgb(91, 132, 24) !important;
}

.fc-orange-light {
	color: rgb(144, 174, 95) !important;
}

.fc-white {
	color: #FFFFFF;
}

.font-500 {
	font-weight: 500;
}

.top-30 {
	margin-top: 30px;
}

.top-50 {
	margin-top: 50px;
}

.bg-white {
	background: #FFFFFF;
}

.box-shadow {
	box-shadow: 0 0 5px rgba(40, 40, 40, 0.15);
}

.text-pr-col {
	color: #828282;
}

.text-col-pink {
	color: #F15281;
}

.title-text {
	text-transform: capitalize;
}

/*==== Top Header =====*/
.navbar {
	border: 0;
	min-height: 65px;
}

.master-home-top-navbar {
	border-bottom: 1px solid #E9E9E9;
	background-color: #FFFFFF !important;
}

.master-home-top-navbar .master-home-top-navbar-left {
	float: left !important;
}
.master-home-top-navbar-left {
	display: flex !important;
	overflow: hidden;
}
.master-home-top-navbar .master-home-top-navbar-left a {
	color: #000000;
	font-size: 12px;
	text-transform: uppercase;
}

.master-home-top-navbar-left .active {
	color: #ED3E72 !important;
}

.master-home-top-navbar .master-home-top-navbar-right {
	float: right !important;
}

.master-home-top-navbar .master-home-top-navbar-right a {
	color: #7A7A7A !important;
}

.master-home-top-navbar ul {
	margin-bottom: 0 !important;
	padding-left: 0 !important
}

.master-home-top-navbar ul li {
	padding: 0 8px;
	text-transform: capitalize;
	font-size: 11px;
	color: white;
	display: inline;
}

.master-home-top-navbar ul li a {
	text-decoration: none !important;
	letter-spacing: 0.5px;
}

.top-header-list li {
	display: inline-block !important;
}

.navbar-home {
	border-color: transparent;
}

.navbar-home-white {
	height: 55px;
	background: #FFFFFF !important;
}

.navbar-home-white .navbar-brand {
	padding-left: 20px !important;
}

.navbar-home-white .party-bag-header-navbar {
	padding-right: 18px !important;
}

.header-hr-line {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ECECEC;
}

.occasion-top-navbar li {
	padding: 0 12px;
	text-transform: capitalize;
	font-size: 14px;
	color: white;
	display: inline;
}

.occasion-top-navbar ul {
	background-color: #595959;
	padding: 10px 0 6px 0;
	text-align: center;
}

.occasion-top-navbar ul li a {
	color: #FFFFFF;
	text-decoration: none !important;
	letter-spacing: 0.8px;
	font-weight: 500;
	text-transform: uppercase;
}

.home-occasion .intro-header {
	height: 280px;
}

.home-occasion .ke-intro-header {
	height: 430px;
}

.navbar-above-default {
	height: 23px;
	background: rgba(20, 20, 20, 0.9);
}

.navbar-above-default-list-page {
	background: #EDEDED !important;
}

.navbar-above-default-elements-list ul li a {
	color: #383838 !important;
}

.navbar-above-default-elements-static ul li a {
	color: #383838 !important;
}

.navbar-above-default-static-page {
	background: #EDEDED !important;
}

.navbar-above-default ul {
	list-style-type: none;
}

.navbar-above-default ul li {
	padding: 0px 12px;
	text-transform: uppercase;
	font-size: 11px;
	color: white;
	font-weight: normal;
	float: right;
	display: inline;
}

.navbar-display-icons {
	display: none !important;
}

.navbar-above-default-elements a {
	color: white;
	text-decoration: none !important;
}

.navbar-above-default-elements-content {
	font-size: 11px;
	letter-spacing: 0.3px;
	color: white;
}

.nav-topbar-phone {
	font-size: 12px !important;
}

.navbar-default-elements-content, .top-header-list li a {
	text-transform: capitalize !important;
}

.navbar-collapse-dropdown {
	border: 0px none !important;
	width: 60%;
	float: right;
}

.top-header-list-background-nonstatic {
	left: 1%;
	width: 102%;
}

.img-enquiry-form-success-tick {
	margin-top: 16px;
}

.enquiry-form-header-text {
	margin-top: -10px;
}

@media (max-width: 990px) {
	.navbar-header {
		float: none;
	}

	.navbar-toggle {
		display: block;
	}

	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
	}

	.navbar-collapse.collapse {
		display: none !important;
	}

	.navbar-nav {
		float: none !important;
	}

	.navbar-nav > li {
		float: none;
	}

	.navbar-nav > li > a {
		padding-top: 16px;
		padding-bottom: 10px;
	}

	.navbar-text {
		float: none;
		margin: 15px 0;
	}

	.navbar-collapse.collapse.in {
		display: block !important;
	}

	.collapsing {
		overflow: hidden !important;
	}

	.navbar-display-icons {
		display: block !important;
	}

	.top-header-list-background {
		float: right;
		background-color: #F6F6F6;
		display: grid !important;
		border-radius: 10px !important;
		border: 1px solid #CBCBCB !important;
		width: 99%;
		left: 4% !important;
		position: relative;
	}

	.top-header-list-background li a {
		color: #7B7979 !important;
	}

	.navbar-above-default {
		display: none !important;
	}

	.top-header-list li a.search {
		border: 2px solid #7B7979 !important;
	}

	.navbar-default-elements-content a {
		display: inline-block !important;
		float: right !important;
		padding: 5px !important;
		margin: 5px !important;
	}

	.navbar-collapse-dropdown-list-page {
		width: 40% !important;
		position: absolute;
		left: 59%;
		top: 62%;
	}

	.navbar-collapse-dropdown-static-page {
		width: 35% !important;
		position: absolute;
		left: 64.5%;
		top: 71%;
	}

	.navbar-collapse-dropdown-home-page {
		width: 40% !important;
		top: 61%;
		position: absolute;
		left: 57%;
	}

	.top-header-list-background-nonstatic {
		transform: rotate(180deg);
	}

	.top-header-list-background-nonstatic > li {
		transform: rotate(-180deg);
	}

	.party-bag-header-navbar span {
		position: absolute;
		left: 50%;
	}

	.party-bag-header-navbar .partybag-badge {
		left: 88% !important;
	}

	.party-bag-header-navbar .icon-bagicon5 {
		left: 40% !important;
	}

	.party-bag-header-navbar .master-home-pbCount {
		left: 0 !important;
	}
}

.nav-header-enquiry {
	float: none;
}

.top-header-static-page-evibe-cheppandi {
	color: #444444;
}

.city-show-top-header {
	font-size: 13px;
	display: inline-block;
}

.top-nav .navbar-default .navbar-nav > li > a {
	color: #777777;
}

.top-nav .navbar-default .navbar-nav > li > a:hover, .top-nav .navbar-default .navbar-nav > li > a:focus {
	color: #666666;
}

.top-nav .nav > li > a.no-click {
	cursor: default;
}

.nav > li > a.for-business {
	background: #38A5B5;
	color: #FFFFFF;
	padding: 5px 20px;
	margin: 10px 0;
	font-size: 15px;
}

.nav > li > a.for-business:hover {
	background: #1D96A9;
	color: #FFFFFF;
}

.top-header-list {
	margin-top: 10px;
}

.top-header-list li a {
	font-size: 14px; /* 17px */
	padding: 5px;
	margin: 10px 5px;
	text-transform: uppercase;
}

.top-header-list li a.evibe-cheppandi {
	font-size: 15px;
}

.top-header-list li a .partybag-badge {
	white-space: nowrap;
	text-align: center;
	padding: 4px 8px;
	height: 18px;
	background: #ED3E72;
	position: relative;
	border-radius: 12px;
	font-family: 'Roboto', 'Helvetica Neue', 'sans-serif';
	font-size: 14px;
	color: #FFFFFF;
}

.master-home-top-navbar-right li a .partybag-badge {
	white-space: nowrap;
	text-align: center;
	padding: 2px 4px;
	height: 12px;
	background: #ED3E72;
	position: relative;
	border-radius: 12px;
	font-family: 'Roboto', 'Helvetica Neue', 'sans-serif';
	font-size: 10px;
	color: #FFFFFF;
}

.header-top .navbar-links {
	background: rgba(0, 0, 0, 0);
}

.navbar-links {
	background: rgba(0, 0, 0, 0.1);
}

.navbar-links li {
	display: inline-block;
}

.navbar-links .top-strip li a {
	text-transform: uppercase;
	padding: 10px 10px 0 10px;
	font-size: 12px;
}

.navbar-links .top-strip li a.evibe-cheppandi {
	font-size: 13px;
}

.navbar-links .top-strip li:last-child a {
	padding-right: 0;
}

.navbar-links .top-strip li a:hover {
	text-decoration: underline;
}

.navbar-links .top-strip li a.no-click:hover {
	text-decoration: none;
}

/*=== Splash Page ==*/
.splash-img {
	height: 70px;
}

.splash-title {
	font-size: 25px;
}

.min-ht-300 {
	min-height: 300px;
}

/*===City modal===*/
.city-modal {
	text-align: center;
}

.city-modal:before {
	display: inline-block;
	vertical-align: middle;
	content: " ";
	height: 100%;
}

.city-modal .modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}

.city-select-title {
	color: #828282;
	padding: 0;
	font-size: 20px;
}

.active-cities {
	margin-bottom: 10px;
}

.city-modal-image {
	width: 80px;
	height: 85px;
}

.all-cities-wrap .city-modal-other-links {
	width: 50%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.all-cities-wrap-desktop .city-modal-other-links {
	width: 25%;
}

.city-link {
	border-radius: 10px;
	padding: 5px;
	color: #454545;
	display: block;
	font-size: 20px;
	margin-top: 10px;
	text-transform: uppercase;
	cursor: pointer;
}

.city-link:hover {
	color: #ED3E72;
	text-decoration: none;
}

.city-link img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 5px;
}

.city-link .city-name {
	text-align: center;
}

.city-name {
	font-size: 15px;
}

.non-active-title {
	color: #777777;
	font-style: italic;
	font-size: 15px;
	padding-left: 15px;
}

.non-active-cities .city-link {
	color: #777777;
	cursor: default;
	font-size: 15px;
}

/*===Home page city===*/
.select-city {
	color: #FFFFFF;
}

.select-city:hover {
	text-decoration: underline;
	color: #FFFFFF;
}

.select-city:focus {
	text-decoration: underline;
	color: #FFFFFF;
}

.border-gs-input {
	border: 1px solid #ED3E72;
}

.border-gs-input-group-btn {
	border: 1px solid #ED3E72;
	border-left: 0;
}

.navbar-mobile {
	font-size: 18px !important;
	margin-top: 15px !important;
	color: #FFFFFF;
}

.navbar-mobile:hover {
	color: #FFFFFF;
	text-decoration: none;
}

.navbar-home .container .navbar-form {
	border: none;
	box-shadow: none;
}

/*==== Section Intro =====*/
.intro-header {
	padding-bottom: 0;
	text-align: center;
	color: #FFFFFF;
	background-size: cover;
	position: relative;
	overflow: hidden;
}

.intro-header .bg-overlay {
	left: 0;
	height: 100%;
	opacity: 0.45;
}

.ke-intro-header .bg-overlay {
	opacity: 0.55;
}

.intro-message {
	position: absolute;
	text-align: center;
	top: 17%;
	width: 100%;
	z-index: 98;
}

.intro-message-blr {
	top: 40%;
}

.intro-message h1 {
	font-weight: 500;
	word-spacing: 5px;
	text-transform: uppercase;
}

.intro-message .material-icons {
	position: relative;
	top: 6px;
}

.intro-collections-adv {
	position: absolute;
	text-align: center;
	bottom: 25px;
	right: 25px;
	width: 120px;
	z-index: 98;
	border: 1px dashed #ED3E72;
}

.intro-collections-adv > .bg-overlay-collections-adv {
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	padding: 10px;
}

.intro-collections-adv .intro-collections-adv-text {
	font-size: 17px;
	font-weight: 500;
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	color: #FFFFFF;
}

h5.secondary-title-home {
	position: relative;
	top: 0;
	color: #FFFFFF;
	font-size: 1.6em;
}

.cat-head {
	z-index: 99;
	text-align: center;
	position: relative;
}

.cat-head-margin {
	margin-top: 0;
}

.cat-head .cat-ocs {
	overflow: hidden;
	position: relative;
}

.cat-head .cat-card {
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.cat-head .cat-ocs a {
	left: 0;
	border: 3px solid #FFFFFF;
}

.cat-head .cat-ocs img {
	max-width: 100%;
}

.cat-head .cat-ocs-title {
	position: absolute;
	color: #FFFFFF;
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0));
	bottom: 0;
	left: 2px;
	padding: 80px 0;
	width: calc(100% - 3px);
	font-size: 1.5em;
	text-transform: uppercase;
	font-family: 'Roboto', 'Open Sans', 'sans-serif';
}

.cat-head .cat-ocs-title-lg {
	padding: 140px 0;
	font-size: 2.5em;
}

.cat-head .cat-ocs-title-sm {
	padding: 55px 0;
	line-height: 88px;
}

/*===== Section Explore Collections ====*/
.collection-card {
	margin-bottom: 15px;
	position: relative;
	height: 190px;
	overflow: hidden;
}

.collection-card-sm {
	height: 150px;
}

.collection-card-lg {
	height: 315px;
}

.collection-card a {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.collection-card-title {
	position: absolute;
	height: 100%;
	top: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.4);
}

.collection-card-title.see-all {
	background: #FFFFFF;
	margin-left: -7px;
	top: 22%;
}

.collection-card-title h4 {
	left: 13%;
	border: 1px solid #BEBEBE;
	width: 75%;
	top: 35%;
	border-radius: 3px;
	color: #FF006E;
	font-size: 22px !important;
	font-weight: 500 !important;
}

.collection-card-title a:hover {
	text-decoration: underline;
	-webkit-text-decoration-color: #FF006E;
	text-decoration-color: #FF006E;
}

.collection-card-title a {
	height: 40%
}

.collection-card img {
	max-width: 100%;
	min-width: 100%;
	width: auto;
	min-height: 100%;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.collection-card-title h3 {
	margin: 0;
	text-transform: capitalize;
	padding: 0 10%;
	position: relative;
	top: 25%;
	font-size: 23px;
	line-height: 34px;
	background: linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.01));
	font-weight: 500;
	letter-spacing: 0.03em;
	overflow: hidden;
	font-family: 'Montserrat', 'Roboto', 'Open Sans', 'sans-serif';
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.collection-card-title h4 {
	margin: 0;
	text-transform: uppercase;;
	padding: 5px 0px;
	position: relative;
	font-size: 20px !important;
	font-weight: 300 !important;
	letter-spacing: 0.03em;
	font-family: 'Montserrat', 'Roboto', 'Open Sans', 'sans-serif';
}

.collection-card-title h6 {
	margin: 0;
	display: none;
	text-transform: capitalize;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0 10%;
	position: absolute;
	bottom: 5px;
	font-size: 12px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
	background: linear-gradient(rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.03));
	font-weight: 500;
	letter-spacing: 0.03em;
	font-family: 'Montserrat', 'Roboto', 'Open Sans', 'sans-serif';
	width: 100%;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.collection-card-title.see-all h3 {
	background: none;
}

.collection-card a:hover > img {
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	transform: scale(1.3);
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.collection-card a:hover h3.no-transistion {
	top: 25%;
	padding: 0 10%;
}

.collection-card a:hover h6 {
	display: block;
}

/*===== Section Explore Occasions ====*/

.section-ocs h4 {
	font-size: 1.9em;
}

.cat-card {
	margin-bottom: 15px;
	position: relative;
	height: 190px;
	overflow: hidden;
}

.cat-card-sm {
	height: 200px;
}

.cat-card-lg {
	height: 315px;
}

.cat-card a {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.cat-card-title {
	position: absolute;
	height: 100%;
	top: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.4);
}

.cat-card-title h3 {
	text-transform: uppercase;
	padding: 10% 0;
	position: relative;
	top: 10%;
	font-size: 1.8em;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
	background: linear-gradient(rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.48), rgba(0, 0, 0, 0.03));
	font-weight: 500;
	letter-spacing: 0.03em;
	font-family: 'Montserrat', 'Roboto', 'Open Sans', 'sans-serif';
}

.cat-card-title h6 {
	margin: 0;
}

.cat-card img {
	max-width: 100%;
	min-width: 100%;
	width: auto;
	min-height: 100%;
	-webkit-transition: all 350ms ease;
	-moz-transition: all 350ms ease;
	-o-transition: all 350ms ease;
	transition: all 350ms ease;
}

.cat-card a:hover > img {
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	transform: scale(1.3);
	-webkit-transition: all 350ms ease;
	-moz-transition: all 350ms ease;
	-o-transition: all 350ms ease;
	transition: all 350ms ease;
}

.btn-explore {
	padding: 10px 50px;
	font-size: 1.1em;
	margin-top: 20px;
	background: #F03F73;
	color: #FFFFFF;
	border: 0;
	font-family: 'Roboto', 'Open Sans';
	text-transform: capitalize;
}

a.btn-explore:hover {
	opacity: 0.9;
	background: #F03F73;
	color: #FFFFFF;
}

a.btn-lg-explore {
	padding: 8px 40px;
	font-size: 1em;
}

/*====== Coming Soon ====*/
a.disabled-cs {
	text-decoration: none;
	cursor: default;
}

a.disabled-cs:hover img {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.bg-coming-soon {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 99;
	background: rgba(6, 6, 6, 0.11);
}

a.disabled-cs .bg-coming-soon h4 {
	color: #FFFFFF;
	font-size: 2em;
	font-weight: 500;
	text-transform: uppercase;
	top: 28%;
	text-shadow: 1px 3px 2px rgba(0, 0, 0, 0.52);
	position: relative;
}

/*==== Why Evibe section =====*/
.padding-30 {
	padding: 30px 0;
}

.padding-t-75 {
	padding-top: 75px;
}

.padding-75 {
	padding: 75px 0;
}

.width-70 {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.width-50 {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.width-30 {
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}

.width-10 {
	width: 10%;
	margin-left: auto;
	margin-right: auto;
}

.section-why-us {
	background: #EFEFEF;
}

.des-why-us-list-hr {
	border-color: #F1F1F1;
}

.section-why-us-list {
	background: white;
}

h4.sec-title {
	font-family: 'Montserrat', 'Roboto', 'Open Sans';
}

h5.sec-title {
	margin-bottom: 10px !important;
	margin-top: 20px !important;
}

.section-why-us, .section-feedback, .section-how-it-works {
	font-family: 'Montserrat', 'Roboto', 'Open Sans';
}

.benefit img {
	width: 80px;
}

.benefit .ben-title {
	font-size: 1.2em;
	font-weight: 400;
	margin: 25px 0 15px;
	color: #F15281;
}

.benefit .ben-title-profile {
	padding-top: 10px;
	font-size: 1.1em;
	font-weight: 400;
	color: #F15281;
	padding-left: 0 !important;
}

.benefit .img-profile {
	height: 60px;
	width: 60px;
	padding-right: 0 !important;
}

.benefit .ben-desc {
	font-size: 0.9em;
	font-weight: 400;
	color: #777777;
	padding: 5px 18px;
}

.benefit .ben-desc-profile {
	padding-top: 5px;
	font-size: 0.9em;
	font-weight: 400;
	color: #777777;
}

.btn-main {
	color: #FFFFFF;
	background: #14B18D;
	border: 0;
	border-radius: 20px;
	padding: 8px 25px;
	margin: 20px 0;
}

a.btn-main:hover {
	background: #63A784;
	color: #FFFFFF;
}

/*===== Section Customer Feedback Section =====*/
.section-feedback {
	background: #F8F8F8;
}

.section-feedback .cust {
	/*padding: 20px 30px;*/
}

.section-feedback .cust-image {
	text-align: center;
}

.section-feedback .cust-image img {
	max-height: 300px;
}

.cust-comments .cust-img img {
	height: 70px;
	width: 70px;
}

.cust-comments p {
	padding: 45px 10px 20px;
	font-style: italic;
}


.cust-comments .cust-name {
	padding: 10px 20px 0;
	font-weight: 500;
}

.cust-comments .cust-area {
	padding: 0px 20px;
	font-size: 0.8em;
	color: #666666;
}

a.cust-slide-prev {
	left: -8%;
	top: 40%;
	width: 5%;
	background: none;
}

a.cust-slide-next {
	right: -2%;
	left: auto;
	top: 40%;
	width: 5%;
	background: none;
}

.text-col-wh {
	color: #FFFFFF;
}

.text-col-gr {
	color: #383838;
}

/*==== Section How it works =====*/

.section-how-it-works {
	background: #EFEFEF;
	color: #000000;
}

.section-how-it-works .sec-title, .section-how-it-works p {
	padding-left: 0%;
}

.pic-left {
	background-size: cover;
	background-position: -200px 0;
	min-height: calc(100vh - 50px);
	height: 100%;
}

.steps {
	padding: 40px;
	background: #FFFFFF;
	min-height: 240px;
}

.steps .numbers {
	font-size: 2.5em;
	color: #BBBBBB;
	position: absolute;
	left: 10%;
	top: 70%;
	padding: 10px;
	border-bottom: 2px solid #BBBBBB;
}

.steps img {
	width: 40px;
	float: right;
}

.steps .ben-title {
	margin: 0;
}

.steps .ben-desc {
	padding: 5px 0;
	width: 100%;
	color: #999999;
}

.arrow-right {
	position: absolute;
	left: -3px;
	top: 40%;
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid white;
}

.arrow-black {
	border-left: 20px solid #383838;
}

/*====== Section Press and Newsletters ======*/
.section-press {
	background: #FFFFFF;
}

.press-focus {
}

.press .press-focus img {
	width: 200px;
}

.press-focus p {
	font-size: 1.15em;
	font-style: italic;
	text-align: center;
}

.press-logo {
	display: inline-block;
	list-style: none;
	border-top: 1px solid #EFEFEF;
	min-height: 100px;
	padding: 35px 0 25px;
}

.press-logo li {
	float: left;
	margin: 0 10px;
}

.press-logo li img {
	height: 60px;
	opacity: 0.8;
}

/*====== Section Vendors =====*/
.section-vendors {
	background: #F8F8F8;
	color: #000000;
}

.vendor-box {
	background: #FFFFFF;
	box-shadow: 1px 1px 3px rgba(30, 30, 30, 0.15);
}

.section-vendors .sec-title, .section-vendors p {
}

.vendor-feedback {
	background-size: cover;
	min-height: 40vh;
	height: 50%;
	overflow: hidden;
}

.vendor-feedback .ven-comment {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 20px;
	background: rgba(4, 4, 4, 0.7);
	color: #FFFFFF;
}

.vendor-feedback .vend-slide-prev {
	top: 35%;
	left: -2%;
}

.vendor-feedback .vend-slide-next {
	top: 35%;
	right: -2%;
	left: auto;
}

.ven-content {
	padding: 30px 35px;
}

/*=== Social media stream ===*/

.social-stream-box {
	background: #FFFFFF;
	/*box-shadow: 1px 1px 3px rgba(30, 30, 30, 0.15);*/
}

.fb-stream-wrap {
	/*padding: 2.5px;*/
	padding-bottom: 5px;
	background-color: rgba(34, 34, 34, 0.05);
	box-shadow: 0px 0px 5px 2px rgba(34, 34, 34, 0.25);
	width: 100%;
}

.twitter-stream-wrap {
	box-shadow: 0px 0px 5px 2px rgba(34, 34, 34, 0.25);
	width: 100%;
}

/*.fb-page, .fb-page iframe[style], .fb-page span {*/
/*width: 100% !important;*/
/*}*/

/*.fb-page,*/
/*.fb-page span,*/
/*.fb-page span iframe[style] {*/
/*width: 100% !important;*/
/*}*/

/*===== Footer =====*/

footer {
	font-family: 'Montserrat', 'Roboto';
}

footer .footer-link {
	font-size: 1em;
}

footer .footer-link a {
	color: #ADADAD;
	font-weight: 400;
	font-family: 'Roboto';
}

footer .footer-link a:hover {
	color: #D9D9D9;
}

footer .cat-title {
	font-family: 'Montserrat', 'Roboto', 'Open Sans';
	font-size: 1em;
	font-weight: normal;
	color: #EAEAEA;
}

footer li.more-link {
	margin-top: 10px;
}

footer li.more-link a {
	color: #2BB6CB;
}

.seo-venues-title {
	font-size: 1.05em;
	font-weight: normal;
	color: #EAEAEA;
}

.footer-ocs-links .categories-list {
	background: none;
	display: inline-block;
}

.footer-ocs-links .categories-list li {
	background: none;
	border: 0;
	display: inline-block;
	padding: 0 15px;
	text-transform: none;
	color: #E5E5E5;
	font-size: 1em;
}

.footer-ocs-links .categories-list li img {
	margin-right: 5px;
	height: 18px;
	width: 18px;
}

.border-sep {
	border-bottom: 1px solid #3E3E3E;
	padding-bottom: 20px;
}

footer .ft-text-align {
	text-align: left;
}

footer .footer-bottom {
	padding: 60px 0;
}

footer .socmed-body-inner img {
	height: 32px;
	width: 32px;
}

.padding-0 {
	padding-bottom: 0;
}

.footer-wrap .links-head {
	font-family: 'Montserrat', 'Roboto', 'Open Sans';
}

.footer-wrap .link a {
	font-size: 1em;
	font-family: 'Roboto';
	font-weight: 400;
}

a.no-border {
	text-decoration: none;
}

a.no-border:hover > h5 {
	text-decoration: none;
	color: inherit;
}

.ft-cat {
	height: 65px;
	line-height: 65px;
	width: 100%;
	background-size: cover;
	text-align: center;
	display: table;
	position: relative;
	border-radius: 4px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
	text-shadow: 1px 1px 5px rgba(40, 40, 40, 0.4);
}

.ft-cat h5 {
	color: #EFEFEF;
	display: table-cell;
	vertical-align: middle;
	text-transform: uppercase;
	text-decoration: none;
	border: 0;
	border-radius: 4px;
	background: rgba(0, 0, 0, 0.45);
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.ft-cat h5:hover {
	border-bottom: 3px solid #F03F73;
	background: rgba(0, 0, 0, 0.75);
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.ft-cat .bg-coming-soon {
	background: rgba(0, 0, 0, 0.2);
}

.ft-cat .bg-coming-soon h6 {
	position: relative;
	top: -20px;
	font-size: 1.1em;
	text-transform: uppercase;
	color: #FFFFFF;
}

span.glyphicon {
	margin-right: 5px;
	margin-top: -4px;
}

/*====== Thanks modal steps =======*/
.next-steps-cnt {
	margin-top: 25px;
	margin-bottom: 15px;
}

.steps-header {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
	border-bottom: 1px solid #999999;
	margin-bottom: 10px;
	display: inline-block;
}

.step-title-cnt {
	margin-bottom: 4px;
}

.step-icon {
	margin-top: -4px;
	margin-right: 3px;
	vertical-align: middle;
}

.step-title {
	vertical-align: middle;
	font-size: 16px;
	color: #ED3E72;
}

.step-desc {
	font-size: 14px;
	color: #696969;
}

.partner-story-yt-img {
	background-color: #000000;
	text-align: center;
}

.partner-story-yt-img img {
	max-width: 100%;
}

.top-header-dropdown {
	position: relative;
	display: inline-block;
}

.top-header-dropdown-content {
	display: none;
	position: absolute;
	padding: 2px 0;
	background-color: #F1F1F1;
	min-width: 500px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1050;
}

.top-header-dropdown a {
	padding: 0 8px;
	font-size: 12px;
	text-decoration: none !important;
	letter-spacing: .5px;
	text-transform: capitalize;
}

.top-header-dropdown-content a {
	color: black;
	padding: 3px 7px;
	text-decoration: none;
	display: block;
}

.top-header-dropdown-content a:hover {
	background-color: #DDDDDD;
}

.top-header-dropdown:hover > a {
	color: #ED3E72 !important;
}

.top-header-dropdown:hover, .top-header-dropdown-content:hover .top-header-dropdown {
	text-decoration: underline;
	background-color: #F1F1F1;
	cursor: pointer;
}

.top-header-dropdown:hover .top-header-dropdown-content {
	display: block;
}

.link-evibe-stories {
	margin-top: 30px;
	font-size: 18px;
	color: #555555;
	text-decoration: underline;
}

.link-evibe-stories:hover {
	color: #ED3E72;
}

.top-options .carousel-control {
	background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.0001) 0, rgba(255, 255, 255, 0.5) 100%);
	background-color: white;
	width: 4% !important;
	height: 30% !important;
	top: 27% !important;
	box-shadow: 0px 0px 4px 1px #696969;
}

.top-options .img-container {
	text-align: center;
	background-color: #EBEBEB;
}

.top-options .glyphicon {
	margin-top: 29px;
	font-size: 30px;
	color: #7B7B7B;
}

.birthday-top-options-section h3 {
	font-size: 28px;
	line-height: 28px;
}

/*====== Responsive =======*/
@media (min-width: 1200px) {
	.container {
		width: 1045px;
	}
}

@media (max-width: 992px) {

	.section-ocs .cat-card {
		width: 80%;
		margin: 20px auto;
		float: none;
	}

	.section-ocs .cat-card-title h3 {
		padding-top: 4%;
	}

	.section-ocs .collection-card {
		width: 80%;
		margin: 20px auto;
		float: none;
	}

	.section-ocs .collection-card-title h3 {
		padding-top: 0;
	}

	/*=== Right arrow in How it works section changed to down arrow ==*/
	.arrow-right {
		left: 45%;
		top: -3px;
		border-top: 20px solid rgb(255, 255, 255);
		border-bottom: 20px solid transparent;
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
	}

	.arrow-black {
		border-right: 20px solid rgba(56, 56, 56, 0);
		border-top: 20px solid rgb(56, 56, 56);
	}

	/*==== Vendor Stories ====*/
	.vendor-feedback {
		min-height: inherit;
		height: auto;
	}

	.vendor-feedback .vendor-comment {
		position: relative;
	}

}

@media only screen and (min-width: 601px) and (max-width: 767px) {
	.cat-head {
		top: -100px;
	}

	.cat-card {
		width: 60%;
		margin: 15px auto;
	}
}

@media (max-width: 450px) {
	.top-options .carousel-control {
		width: 10% !important;
	}
}