.home-piab-container {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.home-piab-intro-wrap {
	min-height: 300px;
	position: relative;
	/*margin: 60px 60px 0 60px;*/
	/*border-radius: 10px;*/
}

.home-piab-option-wrap {
	margin-bottom: 45px;
	height: 300px;
	text-align: center;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
}

.home-piab-option-wrap a {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
	left: 0;
}

.home-piab-option-wrap a.home-piab-option-link-disabled {
	cursor: auto;
}

.home-piab-option-wrap img {
	max-width: 100%;
	min-width: 100%;
	width: auto;
	min-height: 100%;
	-webkit-transition: all 350ms ease;
	-moz-transition: all 350ms ease;
	-o-transition: all 350ms ease;
	transition: all 350ms ease;
}

.home-piab-option-wrap a:hover > img {
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	transform: scale(1.3);
	-webkit-transition: all 350ms ease;
	-moz-transition: all 350ms ease;
	-o-transition: all 350ms ease;
	transition: all 350ms ease;
}

.home-piab-option-wrap .home-piab-option-bg {
	background: rgba(0,0,0,0.3);
	position: absolute;
	width: calc(100%);
	height: calc(100%);
	top: 0;
}

.home-piab-option-wrap .home-piab-option-title {
	/*padding: 55px 0;*/
	line-height: 88px;
	position: absolute;
	color: #FFFFFF;
	top: 0;
	padding: 80px 0;
	width: calc(100%);
	font-size: 28px;
	text-transform: uppercase;
}

.home-piab-option-wrap .home-piab-option-text {
	position: absolute;
	color: #FFFFFF;
	bottom: 5%;
	width: calc(100%);
	font-size: 16px;
	display: none;
	padding: 0 15px;
}

.home-piab-option-wrap a:hover > .home-piab-option-text {
	display: block;
}

.home-piab-option-wrap a.home-piab-option-disable:hover {
	cursor: default;
}

.home-piab-img-wrap {
	/*height: 300px;*/
	/*text-align: center;*/
	/*border-radius: 10px;*/
	/*overflow: hidden;*/
}

.home-piab-intro-text {
	text-transform: uppercase;
	font-size: 24px;
	line-height: 32px;
	font-weight: 600;
}

.home-piab-intro-text-wrap {
	background-color: #FFFFFF;
	display: inline-block;
	padding: 30px;
	position: absolute;
	top: 30%;
	left: 10%;
}

.home-piab-img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.home-piab-title {
	font-size: 16px;
	line-height: 22px;
	text-transform: capitalize;
}

.home-piab-title a {
	color: #333333;
	text-decoration: none;
	font-weight: 300;
}

.home-piab-price {
	margin-top: 10px;
	font-size: 18px;
	color: #ED3E72;
}