/*
 * About us page stylesheet
 * @author: Anji <anji@evibe.in>
 * @since 18 Mar 2017
*/

body {
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-weight: 400;
}

.about-sec {
	margin: 20px 0;
	padding: 10px 0;
}

.abt-vision-sec {
	margin: 0;
	padding: 0;
}

.about-wrapper {
	background-color: rgba(232, 232, 232, 0.67);
}

a {
	font-weight: 400;
}

.abt-vision-wrapper {
	position: relative;
}

.abt-v-img-wrap {
	height: 275px;
	overflow: hidden;
}

.abt-vision-img {
	width: 100%;
}

.abt-v-bg-overlay {
	height: 100%;
}

.abt-v-txt-l {
	position: absolute;
	font-size: 52px;
	font-weight: 700;
	color: #FFFFFF;
	top: 42%;
	max-width: 70%;
	line-height: 50px;
	left: 30px;
	z-index: 11;
	text-shadow: 1px 1px 2px #9C9C9C;
}

.abt-v-txt-s {
	position: absolute;
	font-size: 28px;
	font-weight: 400;
	color: #FFFFFF;
	top: 30%;
	left: 30px;
	z-index: 11;
	text-shadow: 1px 1px 2px #9C9C9C;
}

.abt-w-wrap {
	margin: 0 20px;
	padding: 0 10%;
}

.abt-w-h1 {
	font-weight: 300;
	font-size: 36px;
	line-height: 48px;
}

.abt-w-h2 {
	font-weight: 300;
	font-size: 20px;
	line-height: 32px;
}

.abt-w-p {
	color: #F03F73;
}

.abt-stats {
	background-color: #000000;
	padding: 35px 0;
}

.abt-stats-img {
	height: 50px;
}

.abt-stats-text-l {
	/*text-align: none;*/
	padding: 0 0px;
	color: #FFFFFF;
}

.abt-stats-text-l > h3 {
	font-size: 25px;
	margin-top: 5px;
	margin-bottom: 0;
}

.abt-stats-text-l > h6 {
	margin: 0 0 12px 0;
	padding: 0;
	font-size: 13px;
}

.abt-stat-item-wrap {
	text-align: left;
}

.stat-num {
	font-size: 30px;
	font-weight: 700;
	color: #FFFFFF;
	margin-bottom: 15px;
}

.stat-txt {
	color: #FFFFFF;
}

.abt-story-wrap {
	padding: 0 11%;
}

.abt-story-h {
	font-size: 30px;
	padding: 20px 0;
}

.abt-story-body {
	text-align: justify;
}

.abt-story-p {
	font-size: 16px;
	line-height: 20px;
	font-weight: 200;
	padding-bottom: 10px;
}

blockquote {
	padding: 16px 16px;
	border: none;
	quotes: "\201C" "\201D";
	display: inline-block;
	position: relative;
	background-color: rgba(209, 209, 209, 0.85);
}

blockquote:before {
	content: open-quote;
	font-weight: normal;
	font-size: 40px;
	position: absolute;
	top: 10%;
	left: 1%;
	margin-bottom: 10px;
}

blockquote:after {
	content: no-close-quote;
	font-weight: bold;
	position: absolute;
	bottom: 0;
	right: 0;
}

.abt-people-wrap {
	background-color: #38292F;
	padding-top: 5px;
}

.img-abt-people-love {
	height: 40px;
	width: 40px;
}

.abt-people-h {
	color: #FFFFFF;
	font-size: 36px;
}

.abt-people-head {
	padding: 0 0 20px 0;
}

.abt-people-body {
	margin-top: -25px;
}

.abt-people-video {
	padding: 0 10px;
	/*border: 1px solid #ffffff;*/
}

.abt-partner-video {
	padding-left: 20px;
}

.abt-customer-video {
	padding-right: 20px;
}

.btn-text {
	margin: -8px 0;
}

.abt-people-h2 {
	padding: 25px 0 24px 0;
}

.abt-people-txt-link {
	color: #FFFFFF;
	text-decoration: none;
}

.abt-people-txt-link:hover {
	color: #F5F5F5;
	text-decoration: underline;
}

.abt-people-text {
	margin: 0;
	color: #FFFFFF !important;
	font-size: 18px;
}

.abt-people-btn {
	border-radius: 0px;
	margin: 10px 0;
}

.abt-media-wrap {
	background-color: #FFFFFF;
}

.abt-media-text {
	text-align: left;
	margin: 35px 0 0 30px;
	font-weight: 400;
	font-size: 30px;
	letter-spacing: 1px;
}

.abt-media-body {
	margin-top: 0px;
}

.media-heading {
	padding-top: 12px;
	font-size: 20px;
	font-weight: 700;
}

.abt-cul-head > h2 {
	font-size: 30px;
}

.abt-culture {
	margin-top: -20px;
	padding-top: -10px;
}

.abt-cul-body {
	padding: 0 190px;
}

.abt-cul-1 {
	padding: 30px 0;
}

.media-body {
	padding-bottom: 0px;
}

.abt-cul-img {
	height: 50px;
}

.abt-cul-text-r {
	text-align: right;
	padding: 0 15px;
}

.abt-cul-text-l {
	text-align: left;
	padding: 0 15px;
}

.abt-cul-text-l > h6, .abt-cul-text-r > h6 {
	margin: -8px 0px -2px 0px;
}

.abt-cul-text-l > h4, .abt-cul-text-r > h4 {
	margin-top: -2px;
}

.abt-basic-set {
	padding-top: 50px;
	padding-bottom: 0px;
	font-size: 18px;
	background-color: #FFFFFF;
}

.txt-block {
	padding-bottom: 30px;
	margin: 0 10px;
}

.extra-two {
	padding-top: 15px;
}

.txt-block > h3 {
	font-size: 26px;
	margin-bottom: 15px;
}

.txt-block > p {
	font-size: 17px;
	font-weight: 200;
}

.abt-group-wrap {
	position: relative;
}

.abt-group-img-wrap {
	height: 275px;
	overflow: hidden;
}

.abt-group-img {
	width: 100%;
}

.abt-group-bg-overlay {
	height: 100%;
}

.abt-group-text-l {
	position: absolute;
	font-size: 50px;
	top: 35%;
	max-width: 90%;
	line-height: 40px;
	left: 30px;
	z-index: 11;
	color: #FFFFFF;
	text-shadow: 1px 1px 2px #9C9C9C;
	font-weight: 700;
}

.abt-group-text-s {
	position: absolute;
	font-size: 25px;
	top: 50%;
	max-width: 90%;
	line-height: 40px;
	left: 30px;
	z-index: 11;
	color: #FFFFFF;
	text-shadow: 1px 1px 2px #9C9C9C;
	font-weight: 400;
}

.abt-team-head {
	padding-top: 10px;
}

.abt-team {
	padding-top: 0px;
	margin-top: 0px;
}

.abt-people-story {
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.abt-team-body {
	padding: 0 30px;
}

.profile-pic {
	width: 100%;
	height: 100%;
}

.pic-box {
	margin: 10px;
}

.img-responsive {
	height: auto;
	max-width: 100%;
}

.abt-jobs-wrap {
	padding: 0 30px;
}

.abt-team-image {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.abt-team-body {
	padding-top: 30px;
}

.abt-team-img-wrap {
	padding: 0.5px;
	position: relative;
	overflow: hidden;
}

.abt-team-text {
	position: absolute;
	height: 100%;
	top: 0%;
	/*max-width: 70%;*/
	line-height: 50px;
	alignment: center;
	z-index: 11;
	margin: 0px;
	color: rgb(255, 255, 255);
	width: 99.5%;
	background-color: rgba(96, 96, 96, 0.4);
	opacity: 0;
	margin-bottom: 2px;
}

.abt-team-vip {
	position: absolute;
	height: 100%;
	top: 0%;
	/*max-width: 70%;*/
	line-height: 50px;
	alignment: center;
	z-index: 11;
	margin: 0px;
	color: rgb(122, 122, 122);
	width: 99.5%;
	opacity: 1;
	margin-bottom: 2px;
}

.abt-team-text:hover {
	opacity: 0.8;
}

.abt-team-imgDescription {
	margin-top: 75%;
	font-size: 30px;
}

.abt-jobs {
	margin-bottom: 0;
	background-color: rgb(255, 255, 255);
}

.abt-jobs-wrap {
	padding: 0 7%;
	text-align: justify;
}

.abt-jobs-body > p {
	font-weight: 200;
	font-size: 17px;
}

.abt-jobs-body {
	padding: 0 10px 50px 10px;
}

/*popup form css*/

/* The Modal (background) */
.modal {
	z-index: 1500 !important; /* Sit on top */
	overflow: hidden; /* Enable scroll if needed */
}

.abt-hire-btn {
	background-color: #FF3B74;
	color: white;
}

.abt-hire-btn:hover {
	color: #FF3B74;
}

.modal-job-application .mdl-textfield.is-upgraded {
	bottom: 0;
}

.fc-terms-conditions-wrap {
	background-color: lightgray;
	padding: 15px;
	margin: 15px 0;
}

.lazy-loading {
	display: none;
}

h5 {
	margin: 24px 0 16px;
	font-size: 20px;
	font-weight: 500;
	line-height: 1;
	letter-spacing: .02em;
}

blockquote {
	padding: 16px;
	border: none;
	quotes: "\201C" "\201D";
	display: inline-block;
	position: relative;
	background-color: hsla(0, 0%, 82%, .85);
	font-size: 24px;
	font-weight: 300;
	font-style: italic;
	line-height: 1.35;
	letter-spacing: .08em;
}