.banner {
	max-width: 1366px;
	height: 400px;
	margin: auto;
}

.list-option-card-wrap:hover {
	border-color: #EFEFEF
}

.font-40 {
	font-size: 40px !important;
}

.fc-blue-imp {
	color: #008 !important;
}

.list-campaign-option-title {
	font-size: 13px;
	line-height: normal !important;
	height: 32px;
	overflow: hidden;
	font-weight: 500;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	text-transform: capitalize;
}

.mobile-banner-text-wrap {
	position: absolute;
	top: 120px;
	width: 100%;
	text-align: center;
	color: white;
	z-index: 10;
}

.desktop-banner-text-wrap {
	position: absolute;
	top: 240px;
	left: 50px;
	z-index: 10;
	letter-spacing: 1.2px;
	background-color: rgb(255, 255, 255);
	padding: 10px;
	box-shadow: 4px 4px 4px #C1AFAF;

}

.hero-carousel-caption-style {
	position: absolute;
	left: initial !important;
	right: initial !important;
	width: 100%;
	text-align: center !important;
	top:30% !important;
	color: #fff;
	z-index: 999;
}


.hr-style {
	border-bottom: rgb(233, 233, 233);
}