/* RESET CSS */
html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: auto;
	cursor: default;
	position: relative;
}

[v-cloak] {
	display: none;
}

.modal-backdrop {
	z-index: 1039;
}

.modal-loading {
	z-index: 1041 !important;
}

.modal-hall-enquiry {
	margin: auto;
	padding: 0 10px;
}

.modal-hall-enquiry .modal-dialog {
	width: 100%;
	max-width: 900px;
}

.chromeframe {
	margin-top: 10px;
	font-size: 18px;
	font-weight: 400;
	text-align: center;
	background-color: #FF0000;
	color: #FFFFFF;
	padding: 10px 0;
}

.chromeframe a {
	text-decoration: underline;
	color: #FFFF00;
}

.modal {
	z-index: 1040;
}

.breadcrumb {
	background-color: transparent;
	margin-bottom: 6px;
}

/**
 * APPLICATION CSS
 */

.scroll-down {
	cursor: pointer;
}

.scrollup {
	width: 40px;
	height: 40px;
	opacity: 0.75;
	position: fixed;
	z-index: 999;
	bottom: 145px;
	right: 22px;
	display: none;
	text-indent: -9999px;
	background: url('https://gallery.evibe.in/img/icons/icon_top.png') no-repeat;
}

.application {
	min-height: 100%;
	position: relative;
}

.caret-up {
	border-top: 0 dotted;
	border-bottom: 4px solid #000000;
	content: "";
}

::selection {
	/*background: #E1BAFF;*/
}

::-moz-selection {
	/*background: #FF9D9F;*/
}

/* PAGES UTIL */
.page-sec {
	margin: 60px 0;
	padding: 30px;
	background-color: #FFFFFF;
	border: 1px solid #BBBBBB;
	cursor: default;
}

.page-sec .sec-title-wrap {
	text-align: left;
}

.page-sec i {
	padding-right: 4px;
	font-size: 18px;
	display: inline-block;
}

.page-sec .sec-title {
	color: #C1262C;
	font-size: 18px;
	font-weight: 700;
	text-align: left;
	margin: 0;
	display: inline-block;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.page-sec .sec-body {
	margin-top: 24px;
	text-align: left;
}

.sub-head {
	font-weight: 300;
}

textarea.vertical-resize {
	resize: vertical;
}

.page-sec .form-cnt {
	margin-top: 20px;
	padding-top: 0;
	background: none;
	border: none;
}

.sub-sec {
	margin-bottom: 40px;
}

.sub-sec:last-child {
	margin-bottom: 0;
}

.sub-sec img {
	vertical-align: bottom;
}

.sub-sec .sec-body {
	padding: 0 20px;
}

/**
 * FAQS PAGE
 */

.faqs-sec .faq {
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #CCCCCC;
}

.faqs-sec .faq:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}

.faqs-sec .question {
	font-weight: 500;
	color: #7E238B;
	padding-bottom: 6px;
	text-transform: none;
}

.faq ul {
	padding-left: 20px;
	list-style-type: square;
}

/**
 * FEEDACK PAGE
 */

.feedback-form-cnt {
	margin-top: 20px;
}

.feedback-sec .sec-body {
	padding: 0 25px;
}

.feedback-form {
	margin-top: 20px;
}

.feedback-form-cnt label {
	font-weight: 500;
}

.brutal {
	color: #7E238B;
}

.feedback-text {
	resize: none;
}

.feedback-sec .errors-cnt {
	margin-bottom: 20px;
}

.success-msg {
	margin: 20px 0 30px 0;
	font-size: 18px;
}

/**
 * Border and Box shadow
 */

.page-sec-card {
	border: 1px solid #D4D4D4;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
}

/**
 * ABOUT PAGE
 */
.team-layer {
	margin-top: 30px;
}

.team-layer:first-child {
	margin-top: 0;
}

.member {
	border: 1px solid #DDDDDD;
	margin-bottom: 20px;
	height: 249px;
}

.m-name {
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 400;
	background-color: #DDDDDD;
	text-align: center;
	padding: 4px 0;
}

.m-pic {
	background-color: #F5F5F5;
}

.m-desc {
	padding: 6px;
	font-size: 13px;
	font-weight: 400;
	color: #464646;
}

.profile-pic {
	width: 100%;
	height: 100%;
}

.social-profiles-list {
	text-align: center;
}

.hiring-line {
	text-align: center;
	font-style: italic;
}

/**
 * VENDOR SIGNUP PAGE
 */

.sign-up-form-cnt {
	padding: 20px 36px;
}

.sign-up-form-cnt .form-group {
	margin-right: -15px;
	margin-left: -15px;
	margin-bottom: 15px;
}

.int-link {
	margin-top: 32px;
	margin-left: 40px;
	font-size: 18px;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.benf-link {
	margin-top: 18px;
	margin-bottom: 18px;
	font-size: 18px;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.benf-link a,
.int-link a {
	color: #7E238B;
	text-decoration: underline;
}

.benf-link a:hover,
.benf-link a:active,
.int-link a:hover,
.int-link a:active {
	color: #BB30CF;
}

.signup-points {
	font-size: 16px;
	list-style-image: url('https://gallery.evibe.in/img/icons/asterisk_orange.png');
}

.signup-points li {
	padding-bottom: 10px;
}

.signup-points li:last-child {
	padding-bottom: 0;
}

/**
 * PRIVACY POLICY
 */

.privacy-sec {
	font-size: 14px;
}

.tos-items,
.privacy-items {
	padding-top: 20px;
}

.tos-item,
.privacy-item {
	padding-top: 16px;
}

.tos-item > p,
.privacy-item > p {
	padding-top: 15px;
}

.tos-item:first-child,
.privacy-item:first-child {
	padding-top: 0;
}

.demo {
	position: relative;
	*z-index: 1;
	margin: 50px 0;
}

/**
 * HOW IT WORKS
 */

.how-works-sec h3 {
	margin-top: 0;
}

.hiw-items {
	text-transform: lowercase;
	background-color: #F7F7F7;
	padding: 20px 0;
	margin: 40px 0;
}

.how-it-works-sec .sec-title-wrap {
	text-align: center;
}

.hiw-item-first {
	padding-top: 0;
}

.hiw-text {
	text-align: left;
}

.hiw-item .num-cnt {
	margin-right: 20px;
	margin-top: 8px;
}

.hiw-text p {
	margin: 0;
}

.hiw-items-sep {
	position: relative;
}

.hiw-items-sep hr {
	border-top: 1px solid #34B7C9;
	width: 80%;
	margin-top: 0;
	margin-bottom: 10px;
}

.hiw-item .number {
	width: 40px;
	height: 40px;
	background-color: #FACC38;
	font-size: 25px;
	text-align: center;
	line-height: 40px;
	margin: 0;
}

.borderradius .hiw-item .number {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
}

.hiw-arrow {
	position: absolute;
	top: -36px;
	right: 0;
	left: 0;
	font-size: 60px;
	color: #9855A2;
}

.hiw-title {
	font-size: 24px;
	padding-bottom: 4px;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.hiw-subtitle {
	font-size: 14px;
	font-weight: 300;
}

.hiw-subtitle ul {
	padding-left: 25px;
}

.hiw-subtitle li {
	padding-bottom: 6px;
	list-style-image: url('https://gallery.evibe.in/img/icons/home_tick.png');
}

.hiw-enquire img {
	padding-top: 50px;
}

.hiw-book img {
	padding-right: 36px;
}

/* error page */
.error-page {
	background-color: #FAFAFA;
	border: 1px solid #F7F7F7;
	padding: 0;
}

.error-page img {
	width: 250px;
	opacity: 0.8;
	vertical-align: middle;
}

.side-message {
	vertical-align: middle;
	padding-left: 20px;
	width: 410px;
}

.side-message .error-title {
	font-size: 1.6em;
	color: #C1262C;
	font-weight: 700;
	text-align: left;
	text-transform: capitalize;
	margin: 0;
	display: inline-block;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.error-msg {
	padding-top: 20px;
}

.error-page-btn {
	margin-top: 10px;
	display: inline-block;
	margin-right: 20px;
}

.bottom-sec,
.mid-sec {
	margin: 20px;
	padding: 20px;
}

/* Occasions link in the error page*/
.page-links ul.ls-none {
	margin-left: 20px;
}

.page-links ul.ls-none li {
	margin-top: 10px;
}

.page-links ul.ls-none li a {
	color: #444444;
	font-size: 1.1em;
}

.never-message {
	padding-top: 10px;
	color: #666666;
}

.shortlist-bar-wrap {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 120px;
	z-index: 10001;
}

.shortlist-bar {
	background-color: red;
	width: 85%;
	height: 100%;
	margin: 0 auto;
}

/* Santa Campaign */
.santa-header,
.campaign-header {
	text-align: center;
	padding: 10px 0;
	background-color: #C52C1F;
	color: #FFFFFF;
	font-size: 16px;
	display: block;
}

.campaign-header a {
	color: #FFFFFF;
	font-weight: 400;
	font-family: Roboto;
}

.poster-container {
	margin: 30px 0 80px 0;
}

.santa-poster-img {
	width: 100%;
	margin-top: 20px;
}

.btn-fb-share {
	width: 242px;
	text-decoration: none;
	cursor: pointer;
}

.btn-fb-share:hover {
	text-decoration: none;
}

.share-title {
	text-align: center;
	color: #ED3E72;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
}

.share-rules {
	padding: 30px 15px;
	margin-top: 15px;
	background-color: #F9F9F9;
	border: 1px solid #DDDDDD;
}

/* Gift bag campaign */
.mgb-title-box {
	font-size: 20px;
	line-height: 1.6;
	font-weight: 100;
	font-family: Roboto;
}

.mgb-des,
.mgb-more-des {
	font-size: 15px;
	line-height: 1.6;
	font-family: Roboto;
	font-weight: 300;
	margin: 20px 0;
}

.gb-strong {
	font-weight: 500;
}

.mgb-terms {
	font-size: 12px;
	color: #333333;
	font-family: Roboto;
	font-weight: 100;
}

.mgb-img {
	width: 160px;
}

/* Venues SEO Links */
.venue-quick-links .bottom-panel {
	margin-top: 0;
	padding: 20px;
	background-color: #FFFFFF;
}

.modal-loading h4 {
	font-size: 18px;
	margin: 10px 0;
}

/*=== Modal Redesign*/
.modal {
	/*! adjust transition time */
	-webkit-transition: all 0.18s ease-out !important;
	-moz-transition: all 0.18s ease-out !important;
	-o-transition: all 0.18s ease-out !important;
	transition: all 0.18s ease-out !important;
}

.modal.in .modal-dialog {
	/*! Scalling to normal giving the zoomin effect */
	-webkit-transform: scale(1, 1) !important;
	-ms-transform: scale(1, 1) !important;
	transform: scale(1, 1) !important;
}

.modal.fade .modal-dialog {
	/*! disable sliding from left/right/top/bottom */
	-webkit-transform: translate(0, 0) scale(0.8);
	-ms-transform: translate(0, 0) scale(0.8);
	transform: translate(0, 0) scale(0.8);
}

/*=== Login and Signup */
.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin .checkbox {
	font-weight: normal;
}

.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.or-social {
	text-align: center;
	margin: 10px 0 10px 0;
}

.facebook {
	background-color: #4863AE;
	border-color: #4863AE;
}

.facebook:hover {
	background-color: #2871AA;
	border-color: #2871AA;
}

.twitter {
	background-color: #46C0FB;
	border-color: #46C0FB;
}

.twitter:hover {
	background-color: #00C7FB;
	border-color: #00C7FB;
}

.booking-gallery .booking-image {
	width: 140px;
	height: 95px;
	margin-right: 5px;
	margin-top: 10px;
	border: 1px solid #D9D9D9;
}

a.booking-gallery {
	text-decoration: none;
}

/* google map style section start */
.google-map-warp .map-label {
	font-size: 18px;
	margin-bottom: 8px;
}

.google-map-warp #map {
	height: 300px;
}

#googleMap #warningMapMessage {
	background: #EAAF39;
	padding: 4px 6px;
	color: #333333;
	border: 1px solid #D9D9D9
}

#googleMap .controls {
	margin-top: 10px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#googleMap #pac-input {
	background-color: #FFFFFF;
	font-size: 15px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 300px;
}

#googleMap #pac-input:focus {
	border-color: #4D90FE;
}

#googleMap #type-selector {
	color: #FFFFFF;
	background-color: #4D90FE;
	padding: 5px 11px 0px 11px;
}

#googleMap #type-selector label {
	font-size: 13px;
	font-weight: 300;
}

#googleMap #target {
	width: 345px;
}

/*google map style ended, put any google map related style within the above block */
.btn-pink {
	padding: 5px 8px;
	color: white;
	background-color: #FF3262;
	border-radius: 2px;
	border: 1px solid #FF2175;
}

.btn-pink:hover {
	text-decoration: none;
	color: #FFFFFF;
	background-color: #FF244D;
}

.btn-pink:focus {
	text-decoration: none;
	color: #FFFFFF;
}

.btn-green {
	padding: 5px 8px;
	color: white;
	background-color: #00C853;
	border-radius: 2px;
	border: 1px solid #00C851;
}

.btn-green:hover {
	text-decoration: none;
	color: #FFFFFF;
	background-color: #00C851;
}

.btn-green:focus {
	text-decoration: none;
	color: #FFFFFF;
}

/* shortlist alert dialog */
.shortlist-alert {
	bottom: 10%;
	left: 44%;
	padding: 10px 15px;
	background: #ED3E72;
	color: white;
	font-size: 14px;
	border: 1px solid #D4D4D4;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
	z-index: 1069;
	position: fixed;
}

/* adding minimum height to the container wrap between header and footer */
.container-wrap {
	min-height: 180px;
}

/* user email confirmation modal */
.confirm-email-modal .modal-dialog {
	top: 75px;
	max-width: 400px;
}

.confirm-email-modal .skip-now {
	color: #777777;
	font-size: 12px;
	padding-right: 20px;
	font-style: italic;
}

.confirm-email-modal .skip-now:hover {
	color: #777777;
}

.btn-save-email {
	padding: 3px 20px;
	border: 1px solid #ED3E72;
	color: #FFFFFF;
	background: #ED3E72;
}

.btn-save-email:hover,
.btn-save-email:active,
.btn-save-email:focus,
.btn-save-email:hover:active {
	opacity: 0.9;
	background: #F03F73;
	color: #FFFFFF;
}

.rotated-label {
	position: absolute;
	color: #FEFEFE;
	top: 10px;
	left: -32px;
	z-index: 999;
	font-size: 13px;
	font-weight: 600;
	padding: 2px 35px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	width: 150px;
	overflow: hidden;
}

.red {
	background-color: #F23117;
	border: 1px solid #F21916;
}

.form-job-application {
	margin-top: 10px;
	position: relative;
}

/* home page collections warp*/
.collections-list-adv-card-wrap {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid #D9D9D9;
}

.collection-list-adv-bg-overlay {
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	padding: 20px 10px;
}

.collection-list-adv-bg-overlay .collection-list-adv-text {
	font-size: 21px;
	font-weight: 500;
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	color: #FFFFFF;
}

/* === google places drop-down === */
.pac-container {
	z-index: 1042;
}

/* variable advance pay radio */
.pc-adv-radio {
	display: flex;
}

.pc-adv-radio-option {
	flex: auto;
	margin: 5px;
	/*width: 50px;*/
	word-wrap: break-word;
	white-space: initial;
	padding: 5px;
}

.btn-adv-option {
	border: 1px solid #D9D9D9;
	background-color: #F7FBFF;
	color: #4E4E4E;
	font-weight: normal;
}

.btn-adv-option:hover {
	color: #ED3E79;
	box-shadow: 0 0 6px #DDDDDD;
	cursor: pointer;
}

.adv-radio-option-text {
	margin-left: 20px;
}

/* Handles label-sizing as well */
label.adv-radio-btn {
	width: auto;
	display: inline;
}

@media (max-width: 350px) {
	.pc-adv-radio-option {
		font-size: 12px;
	}
}

.booking-info {
	overflow-wrap: break-word;
}

.report-issue-form .sticky-error-wrap {
	text-align: center;
	width: auto;
	margin-top: 3px;
}

.report-issue-form .sticky-error-wrap .error-message {
	background-color: hsla(0, 82%, 52%, 0.26);
	padding: 3px 10px;
}

.payment-offer-wrap {
	border: 2px dotted #E2704C;
	background-color: #E07D5E33;
	margin: 15px 0;
	font-weight: 500;
	padding: 5px;
	font-size: 15px;
}

.custom-radio-animation, .custom-checkbox-animation {
	display: none;
}

.custom-radio-animation + label, .custom-checkbox-animation + label {
	position: relative;
	display: inline-block;
	padding-left: 32px;
	margin-right: 32px;
	cursor: pointer;
	line-height: 20px;
	transition: all .2s ease-in-out;
	margin-bottom: 10px;
	font-weight: normal !important;
	text-transform: capitalize;
}

.custom-radio-animation + label:before, .custom-radio-animation + label:after, .custom-checkbox-animation + label:before, .custom-checkbox-animation + label:after {
	content: '';
	position: absolute;
	top: 0;
	left: 5px;
	width: 16px;
	height: 16px;
	text-align: center;
	color: #F5F5F5;
	border-radius: 50%;
	transition: all .3s ease;
}

.custom-radio-animation + label:before {
	box-shadow: inset 0 0 0 1px #666565, inset 0 0 0 16px #FFFFFF, inset 0 0 0 16px #ED3E72;
}

.custom-radio-animation + label:hover {
	color: #ED3E72;
}

.custom-radio-animation + label:hover:before {
	animation-duration: .5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	box-shadow: inset 0 0 0 1px #ED3E72, inset 0 0 0 16px #FFFFFF, inset 0 0 0 16px #ED3E72;
}

.custom-radio-animation:checked + label {
	font-weight: bold !important;
}

.custom-radio-animation:checked + label:hover {
	color: #333333;
	cursor: default;
}

.custom-radio-animation:checked + label:before {
	animation-duration: .2s;
	animation-name: select-radio;
	animation-iteration-count: 1;
	animation-direction: Normal;
	box-shadow: inset 0 0 0 1px #ED3E72, inset 0 0 0 3px #FFFFFF, inset 0 0 0 16px #ED3E72;
}

.custom-checkbox-animation:checked + label {
	font-weight: bold !important;
}

.custom-checkbox-animation + label:hover {
	color: #ED3E72;
}

.custom-checkbox-animation + label:before {
	font: normal normal normal 14px/1 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	content: '✔';
	line-height: 22px;
	border-radius: 0;
	background-color: #FFFFFF;
	color: #FFFFFF;
	box-shadow: inset 0 0 0 1px #666565, inset 0 0 0 16px #FFFFFF, inset 0 0 0 16px #ED3E72;
}

.custom-checkbox-animation + label:hover:before {
	color: #FFFFFF;
	animation-duration: .5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	box-shadow: inset 0 0 0 1px #ED3E72, inset 0 0 0 16px #FFFFFF, inset 0 0 0 16px #ED3E72;
}

.custom-checkbox-animation:checked + label:before {
	background-color: #C3C3C3;
	color: #FFFFFF;
	animation-duration: .2s;
	animation-name: select-checkbox;
	animation-iteration-count: 1;
	animation-direction: Normal;
	box-shadow: inset 0 0 0 1px #ED3E72, inset 0 0 0 0 #FFFFFF, inset 0 0 0 16px #ED3E72;
}

@keyframes select-radio {
	0% {
		box-shadow: 0 0 0 0 #FF5271, inset 0 0 0 2px #FFFFFF, inset 0 0 0 3px #ED3E72, inset 0 0 0 16px #FFFFFF, inset 0 0 0 16px #ED3E72;
	}
	90% {
		box-shadow: 0 0 0 10px #E8FFF0, inset 0 0 0 0 #FFFFFF, inset 0 0 0 1px #ED3E72, inset 0 0 0 0 #FFFFFF, inset 0 0 0 16px #ED3E72;
	}
	100% {
		box-shadow: 0 0 0 12px #E8FFF0, inset 0 0 0 0 #FFFFFF, inset 0 0 0 1px #ED3E72, inset 0 0 0 0 #FFFFFF, inset 0 0 0 16px #ED3E72;
	}
}

.site-visit-enquiry-close-btn, .popup-close-btn {
	position: absolute;
	font-size: 45px;
	right: -35px;
	color: #FFFFFF;
	opacity: 1;
}

.site-visit-left-side-div {
	overflow-x: hidden;
	background-color: black;
	min-height: 530px;
}

.site-visit-left-side-div .pos-abs {
	height: 100%;
}

.site-visit-left-side-div img {
	opacity: 0.4;
	height: 100%;
}

.sv-selected-services-wrap {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 350px;
}

.site-visit-left-side-div h4 {
	letter-spacing: 1px;
}

@keyframes click-wave {
	0% {
		height: 40px;
		width: 40px;
		opacity: 0.35;
		position: relative;
	}
	100% {
		height: 70px;
		width: 70px;
		margin-left: -22px;
		margin-top: -22px;
		opacity: 0;
	}
}

.popup-option-input {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	position: relative;
	right: 0;
	bottom: 0;
	left: 0;
	height: 30px;
	width: 30px;
	transition: all 0.15s ease-out 0s;
	background: #CBD1D8;
	border: none;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	margin-right: 0.5rem;
	outline: none;
	z-index: 1000;
}

.popup-option-input:hover {
	background: #F9CFDB;
}

.popup-option-input:checked {
	background: #ED4072;
}

.popup-option-input:checked::before {
	height: 30px;
	width: 30px;
	position: absolute;
	content: '✔';
	display: inline-block;
	font-size: 21px;
	text-align: center;
	line-height: 34px;
}

.popup-option-input:checked::after {
	-webkit-animation: click-wave 0.65s;
	-moz-animation: click-wave 0.65s;
	animation: click-wave 0.65s;
	background: #ED4072;
	content: '';
	display: block;
	position: relative;
	z-index: 100;
}

.popup-option-input:checked + span {
	font-weight: 500 !important;
	text-align: left !important;
}

.popup-label span {
	text-align: left !important;
	width: 88%;
	top: 50%;
	font-weight: 400;
	transform: translateY(-50%);
}

.popup-label div {
	display: inline-block;
	vertical-align: top;
	margin-top: 7px;
	font-weight: 400;
}

.popup-option-input.radio {
	border-radius: 50%;
}

.popup-option-input.radio::after {
	border-radius: 50%;
}

.popup-option-input:focus {
	outline: none !important;
}

.show-popup-submit-details .mdl-textfield {
	margin-top: -10px;
}

.party-bag-enquiry-container .mdl-textfield.is-focused,
.party-bag-enquiry-container .mdl-textfield--floating-label.is-focused .mdl-textfield__label,
.party-bag-enquiry-container .mdl-textfield--floating-label.is-dirty .mdl-textfield__label {
	bottom: -5px;
}

.show-popup-submit-details .popup-option-input, .show-popup-submit-details .popup-option-input:checked::before {
	height: 25px !important;
	width: 25px !important;
	line-height: 29px;
}

#modalAutoPopup .pc-left-side {

}

.auto-popup-modal-points div {
	margin-top: 25px !important;
}

.auto-popup-modal-points i {
	width: 10%;
}

.auto-popup-modal-points span {
	width: 88%;
	left: 12%;
	text-align: left !important;
}

#autoPopupActionButtonWrap {
	transform: translateY(150%);
	transition: .6s ease-in-out;
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 10px 15px;
	margin: 15px;
	border: 1px solid #DEDEDE;
	border-radius: 5px;
	z-index: 100;
	background-color: white;
	box-shadow: 0 11px 15px -7px rgba(0, 0, 0, .2), 0 24px 38px 3px rgba(0, 0, 0, .14), 0 9px 46px 8px rgba(0, 0, 0, .1);
	max-width: 350px;
}

.auto-popup-bg-overlay {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0.08;
	z-index: 1000;
}

.popup-modal-close-btn, .popup-call-modal-close-btn, .close-delivery-image-model {
	position: absolute;
	font-size: 45px;
	right: -35px;
	color: #FFFFFF;
	opacity: 1;
}

.close-delivery-image-model {
	top: 0;
}

.close-delivery-image-model-mobile {
	background-color: white !important;
	padding: 0 6px !important;
	display: block;
	position: absolute;
	opacity: 1;
	font-size: 30px !important;
	top: -13px;
	right: -15px !important;
	border-radius: 15px;
	color: #636363;
}

.popup-header-mobile {
	text-align: left;
	top: 3%;
	width: 64%;
	right: 0;
	margin-top: 4px;
	font-size: 20px;
	color: #828282;
	padding-right: 5px;
}

.show-popup-image-header {
	text-align: center;
	position: absolute;
	z-index: 1001;
	color: white;
	font-weight: bold;
	text-shadow: 0 0 20px #676767;
}

#modalAutoPopup .col-md-7 {
	position: relative;
	height: 100%;
}

#modalAutoPopup .modal-body {
	background-color: #FFFFFF;
}

#modalAutoPopup .modal-content {
	height: 558px;
}

.popup-keypoints {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	background-color: #EAEAEA;
	padding: 14px 0 11px 0;
	font-size: 20px;
	border-bottom-right-radius: 5px;
	color: #203F5A;
}

.need-help-popup-no-mobile {
	display: none;
}

.fab-auto-popup, .fab-auto-popup-call {
	width: 50px;
	height: 50px;
	background-color: #ED3E72;
	position: fixed;
	bottom: 10px;
	right: 10px;
	transform: translate3d(-50%, -50%, 0);
	border-radius: 100%;
	box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.25);
	cursor: pointer;
	transition: box-shadow ease-in-out 350ms;
	z-index: 4;
}

.fab-auto-popup img {
	position: absolute;
	top: -62px;
	left: 10px;
	transform: rotate(12deg);
}

.fab-auto-popup i, .fab-auto-popup-call i {
	content: "+";
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: #FFFFFF;
	font-size: 24px;
	position: absolute;
	top: 26%;
	left: 25%;
}

.auto-popup-fab-callout {
	background-color: #ED3E72;
	color: white;
	position: absolute;
	top: 7px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 4px;
	padding: 10px 10px;
	right: 61px;
	min-width: 150px;
	font-weight: bold;
	opacity: 1;
	-webkit-transition: opacity 2s ease-in;
	-moz-transition: opacity 2s ease-in;
	-ms-transition: opacity 2s ease-in;
	-o-transition: opacity 2s ease-in;
	transition: opacity 2s ease-in;
}

.auto-popup-fab-callout::before {
	display: block;
	color: #ED3E72;
	position: absolute;
	content: "";
	height: 0;
	width: 0;
	border-left: 16px solid currentColor;
	border-top: 13px solid transparent;
	border-bottom: 13px solid transparent;
	right: -15px;
	top: 1px;
}

.show-popup-header h4, .show-popup-header h5 {
	margin-bottom: 50px;
}

@keyframes shake {
	10%, 90% {
		transform: translate3d(-51%, -50%, 0);
	}

	20%, 80% {
		transform: translate3d(-48%, -50%, 0);
	}

	30%, 50%, 70% {
		transform: translate3d(-54%, -50%, 0);
	}

	40%, 60% {
		transform: translate3d(-46%, -50%, 0);
	}
}

@media (max-width: 500px) {
	.fab-auto-popup, .fab-auto-popup-call {
		margin-bottom: 25px;
	}

	.show-popup-header h4, .show-popup-header h5 {
		margin-bottom: 15px;
	}

	#autoPopupActionButtonWrap {
		margin: 15px 15px 50px 15px;
	}

	#modalAutoPopup .modal-content {
		height: auto;
		margin-right: 0 !important;
	}

	.popup-modal-close-btn, .popup-call-modal-close-btn, .close-delivery-image-model {
		right: 5px;
		top: 0;
		font-size: 35px;
		color: #1D1D1D;
	}

	.popup-show-details-btn, .submitting-auto-popup {
		margin-bottom: 20px;
	}

	.popup-submit-option-btn {
		margin-bottom: 20px;
	}

	.popup-header-text-wrap {
		width: 65%;
		float: right;
		text-align: left;
	}

	#autoPopupActionButtonWrap img {
		float: left;
		margin-bottom: 10px;
	}

	.need-help-popup-no {
		display: none;
	}

	.need-help-popup-no-mobile {
		background-color: white !important;
		padding: 0 6px !important;
		display: block;
		position: absolute;
		opacity: 1;
		font-size: 30px;
		top: -13px;
		right: -13px;
		border-radius: 15px;
		color: #636363;
	}
}

.checkout-custom-radio-animation + label:after,
.checkout-custom-radio-animation + label:before {
	top: 5px !important;
}

.payment-gateways-hr {
	border-bottom: 1px solid #DEDEDE;
	width: 92%;
	margin-left: 4%;
}

.payment-gateways-wrap {
	border: 0.5px solid #ECECEC;
	border-radius: 5px;
}

.default-payment-option {
	/*padding: 3px;*/
	/*margin: 10px;*/
	/*border-radius: 5px;*/
	/*box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12)*/
}

.default-payment-label-text {
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 1;
	letter-spacing: .02em;
}

.custom-radio-animation-label img {
	width: 100%;
}

.email-correction-title {
	font-weight: 600;
	font-size: 16px;
}

.email-correction-wrap {
	border: 1px solid #6F6F6F;
	border-radius: 5px;
	padding: 10px;
}

.email-correction-wrap .mdl-textfield--floating-label.is-focused .mdl-textfield__label,
.email-correction-wrap .mdl-textfield--floating-label.is-dirty .mdl-textfield__label {
	bottom: -5px;
}

.coupon-code-wrap {
	border: 0.5px solid #ECECEC;
	border-radius: 5px;
}

.trim-navbar-top {
	border-bottom: 1px solid #E0E0E0 !important;
}

.tyc-header {
	font-size: 20px;
	line-height: 24px;
	font-weight: 400;
}

.btn-tyc-download {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
	border-radius: 10px;
	padding: 10px 20px;
	color: #FFFFFF;
	border-color: #F03F73;
	background-color: #FF4174;
}

.btn-tyc-download:hover,
.btn-tyc-download:focus,
.btn-tyc-download:active {
	color: #FFFFFF;
	border-color: #F03F73;
	background-color: #FF4174;
}

.tyc-download-help-text {
	font-size: 12px;
	font-style: italic;
	line-height: 16px;
}

.cross-button {
	position: absolute;
	top: -7px;
	right: -7px;
	height: 24px;
	width: 24px;
	border-radius: 12px;
	background-color: #F03F73;
	z-index: 111;
	color: #FFFFFF;
	cursor: pointer;
}

.invite-form-container-wrap {
	margin-top: 20px;
}

.invite-form-wrap {
	border: 1px solid #EFEFEF;
	border-radius: 10px;
	margin-top: 10px;
	padding: 15px;
}

.invite-rsvp-status-wrap {
	margin-top: 70px;
}

.invite-rsvp-body {
	border: 1px solid #EFEFEF;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top: 0;
}

.invite-rsvp-response {
	border-bottom: 1px solid #EFEFEF;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.invite-rsvp-response:last-child {
	border-bottom: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}

.invite-thank-you-wrap {
	border: 1px solid #EFEFEF;
	padding: 10px;
	font-weight: bold;
	text-align: center;
}

/* === Add On card related === */
.add-on-card {
	border: 1px solid #EFEFEF;
	padding: 10px;
	overflow: hidden;
}

.add-on-image {
	height: 100%;
	width: 100%;
}

.add-on-image-wrap {
	background-color: #F9F9F9;
	height: 120px;
	width: 140px;
	/*width: 100%;*/
}

.add-on-name {
	font-size: 16px;
	line-height: 20px;
	font-weight: 500;
}

.add-on-price-worth {
	font-size: 14px;
	color: #878787;
	text-decoration: line-through;
}

.add-on-price {
	color: #ED3E72;
	font-size: 16px;
	font-weight: 500;
}

.add-on-price-off {
	font-size: 12px;
	font-weight: 500;
}

.add-on-info {
	font-size: 13px;
	line-height: 18px;
	/*max-height: 54px;*/
	/*overflow-y: hidden;*/
}

.add-on-cta-list {
	/*display: table;*/
	padding: 0;
	text-align: left;
	width: 100%;
}

.add-on-cta-list li {
	display: table-cell;
	border: 1px solid #DEDEDE;
}

.add-on-cta-list li:first-child {
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
	border-right: 0;
}

.add-on-cta-list li:last-child {
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
	border-left: 0;
}

.add-on-add-unit,
.add-on-remove-unit {
	font-size: 14px;
	line-height: 20px;
	padding: 2px 12px 2px 10px;
	border-radius: 10px;
	display: inline-block;
}

.add-on-add-unit {
	color: #30AC15;
	border: 1px solid #30AC15;
}

.add-on-remove-unit {
	color: #666666;
	border: 1px solid #FFFFFF;
}

.add-on-add-unit:hover,
.add-on-remove-unit:hover,
.add-on-add-unit:focus,
.add-on-remove-unit:focus,
.add-on-add-unit:active,
.add-on-remove-unit:active {
	text-decoration: none;
}

.add-on-add-unit:hover {
	border-color: #30AC15;
	color: #30AC15;
}

.add-on-remove-unit:hover {
	color: red;
}

.add-on-unit-count {
	font-weight: bold;
}

.ap-ticket-image-wrap {
	height: 60px;
	width: 90px;
}

.ap-ticket-image {
	height: 100%;
	width: 100%;
}

.boxshadow .ps-e-invite-wrap {
	box-shadow: 0 0 0 #000000 !important;
	border: 1px solid #ED3E72;
}

.auto-booking .ps-e-invite-wrap {
	padding: 20px 30px !important;
}

.invite-form-btn,
.add-to-cart-btn {
	padding: 5px 10px;
	background-color: #ED3E72;
	color: #FFFFFF;
	font-size: 16px;
	border: 1px solid #ED3E72;
}

.invite-form-btn:hover,
.invite-form-btn:focus,
.invite-form-btn:active,
.add-to-cart-btn:hover,
.add-to-cart-btn:focus,
.add-to-cart-btn:active {
	color: #FFFFFF;
	border-color: #F03F73;
	background-color: #FF4174;
	text-decoration: none;
}

.scrollmenu {
	background-color: #FFFFFF;
	border-bottom: 1px solid #D9D9D9;
	border-top: 1px solid #D9D9D9;
	overflow: auto;
	white-space: nowrap;
}

.scrollmenu a {
	color: #454545;
	display: inline-block;
	font-size: 13px;
	padding: 6px;
	text-align: center;
	text-decoration: none;
}

.scrollmenu a.scrollmenu-element-active {
	background-color: #8E8E8E;
	color: #FFFFFF;
}

.product-info-tabs a.product-info-tab-active {
	color: #FFFFFF;
	background-color: #8E8E8E;
	border-color: #8E8E8E;
}

/* meterial design css for checkbox */
.md-checkbox {
	position: relative;
	margin: 1em 0;
	text-align: left;
}

.md-checkbox.md-checkbox-inline {
	display: inline-block;
}

.md-checkbox label {
	cursor: pointer;
	display: inline;
	line-height: 1.25em;
	vertical-align: top;
	clear: both;
	padding-left: 1px;
	font-weight: 400;
}

.md-checkbox label:not(:empty) {
	padding-left: 0.5em;
}

.md-checkbox label:before, .md-checkbox label:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
}

.md-checkbox label:before {
	width: 1.25em;
	height: 1.25em;
	background: #FFFFFF;
	border: 2px solid rgba(0, 0, 0, 0.54);
	border-radius: 0.125em;
	cursor: pointer;
	transition: background .3s;
}

.md-checkbox input[type="checkbox"] {
	outline: 0;
	visibility: hidden;
	width: 1.25em;
	margin: 0;
	display: block;
	float: left;
	font-size: inherit;
}

.md-checkbox input[type="checkbox"]:checked + label:before {
	background: #337AB7;
	border: none;
}

.md-checkbox input[type="checkbox"]:checked + label:after {
	transform: translate(0.25em, 0.3365384615em) rotate(-45deg);
	width: 0.75em;
	height: 0.375em;
	border: 0.125em solid #FFFFFF;
	border-top-style: none;
	border-right-style: none;
}

.md-checkbox input[type="checkbox"]:disabled + label:before {
	border-color: rgba(0, 0, 0, 0.26);
}

.md-checkbox input[type="checkbox"]:disabled:checked + label:before {
	background: rgba(0, 0, 0, 0.26);
}

*, *:before, *:after {
	box-sizing: border-box;
}

.shortlist-modal-product-title {
	font-size: 20px;
	line-height: 26px;
}

.shortlist-modal-image-wrap {
	height: 180px;
}

.shortlist-modal-image {
	max-width: 100%;
	height: 100%;
}

.shortlist-modal-hr {
	margin: 10px 0;
}

.partybag-alert-danger {
	color: #A94442;
}

.party-bag-enquiry-modal {
	z-index: 1070;
}

.partybag-alert-success {
	color: #3C763D;
	line-height: 30px;
	padding: 10px 10px 0 10px;
}

.add-to-cart-btn .product-unavailable:hover {
	cursor: not-allowed;
}

.shortlist-modal-container .mdl-textfield--floating-label.is-focused .mdl-textfield__label,
.shortlist-modal-container .mdl-textfield--floating-label.is-dirty .mdl-textfield__label {
	bottom: -5px;
}

.shortlist-clear-bag-container {
	border: 1px solid #337AB7;
	border-radius: 5px;
	background: #F7FBFF;
	padding: 5px;
}

.shortlist-clear-bag-btn {
	margin: 0 5px;
	padding: 4px 8px;
	border-radius: 3px;
}

.list-option-card .partybag {
	position: absolute;
	text-align: right;
	right: 10%;
	bottom: 33%;
}

.list-option-card .partybag .partybag-heart {
	font-size: 22px;
}

#modalAutoPopup .country-calling-code .selectize-input {
	margin-top: 5px;
}

#bookNowModal .country-calling-code .selectize-input,
.checkout-page-2 .country-calling-code .selectize-input,
.product-input-wrap .country-calling-code .selectize-input {
	margin-top: 15px;
}

.xdsoft_calendar td.xdsoft_disabled {
	text-decoration: line-through;
}

.tmo-proofs-success-msg {
	font-weight: 400;
	font-size: 12px;
	background-color: green;
	color: #FFFFFF;
	padding: 2px 8px;
	border-radius: 8px;
}

.tmo-proofs-progress-msg {
	font-weight: 400;
	font-size: 12px;
	background-color: #53C9E4;
	color: #FFFFFF;
	padding: 2px 8px;
	border-radius: 8px;
}

@media (min-width: 1367px) {
	.desktop-list-page {
		width: 1366px !important;
		margin-right: auto;
		margin-left: auto;
	}
}

.fab-customer-support {
	position: fixed;
	padding: 15px;
	background-color: #ED3E72;
	bottom: 10px;
	right: 40px;
	z-index: 5;
	border-radius: 100%;
	height: 60px;
	width: 60px;
	box-shadow: 0px 0px 1px 2px #EFEFEF;
}

.list-fab-space-wrap {
	height: 40px;
	background-color: #FFFFFF;
}

/* --- TMO add-ons --- */
.tmo-add-ons-carousel .slick-prev,
.tmo-add-ons-carousel .slick-next {
	height: 50px !important;
	width: 50px !important;
	border-radius: 100% !important;
	/*color: #FFFFFF !important;*/
	/*background-color: #333333 !important;*/
	z-index: 1 !important;
}

.tmo-add-ons-carousel .slick-prev {
	left: -10px !important;
}

.tmo-add-ons-carousel .slick-next {
	right: -10px !important;
}

.tmo-add-ons-carousel .slick-prev:before,
.tmo-add-ons-carousel .slick-next:before {
	color: #333333 !important;
	font-size: 30px !important;
	position: relative;
	z-index: 2;
}

.tmo-add-ons-carousel .slick-prev:after,
.tmo-add-ons-carousel .slick-next:after {
	content: "";
	color: #FFFFFF !important;
	position: absolute;
	top: 6px;
	left: 8px;
	width: 34px;
	height: 34px;
	border-radius: 100%;
	background-color: #FFFFFF;
	z-index: 1;
}

.tmo-add-ons-carousel .slick-prev:hover,
.tmo-add-ons-carousel .slick-prev:focus,
.tmo-add-ons-carousel .slick-next:hover,
.tmo-add-ons-carousel .slick-next:focus {
	/*background: #333333 !important;*/
}

.tmo-add-ons-carousel .slick-prev:hover:before,
.tmo-add-ons-carousel .slick-next:hover:before {
	opacity: 1 !important;
}

.tmo-add-ons-carousel .slick-prev:focus:before,
.tmo-add-ons-carousel .slick-next:focus:before,
.tmo-add-ons-carousel .slick-prev:active:before,
.tmo-add-ons-carousel .slick-next:active:before {
	opacity: 0.75 !important;
}

.tmo-add-ons-carousel .slick-prev.slick-disabled:hover:before,
.tmo-add-ons-carousel .slick-next.slick-disabled:hover:before,
.tmo-add-ons-carousel .slick-prev.slick-disabled:focus:before,
.tmo-add-ons-carousel .slick-next.slick-disabled:focus:before,
.tmo-add-ons-carousel .slick-prev.slick-disabled:active:before,
.tmo-add-ons-carousel .slick-next.slick-disabled:active:before {
	opacity: 0.25 !important;
	cursor: auto;
}

.tmo-add-ons-carousel {
	padding: 0 35px;
}

.tmo-add-ons-summary {
	color: #626262;
}

/* ------------------- */
