/* ==== Browsing history related === */
.browsing-history-products-title {
	font-size: 16px;
	font-weight: 500;
	text-transform: capitalize;
}

.browsing-history-product-img {
	max-width: 100%;
}

.bh-product-title {
	font-size: 14px;
	height: 20px;
	line-height: 20px;
	text-transform: capitalize;
	font-weight: 400;
	text-align: center;
	overflow: hidden;
}

.desktop-profile-hr {
	border-color: #EFEFEF;
	margin-bottom: 30px;
	margin-top: 30px;
}

.browsing-history-url {
	z-index: 98;
}

.bh-product-title a {
	color: #333333;
	font-weight: 500;
}

.browsing-history-product-img-wrap {
	text-align: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	height: 140px;
	margin-bottom: 5px;
}

.browsing-history-product-img {
	/* @see: should be same as parent; 100% will not work as we are using `flex` display for parent to align middle */
	height: 140px;
}

.bh-product-price .bh-product-price-worth {
	font-size: 11px;
	text-decoration: line-through;
}

.bh-product-price .bh-product-main-price {
	font-size: 13px;
}

.bh-product-price .bh-product-price-kg {
	font-size: 13px;
}

.carousel-control {
	color: #595959;
	width: 0;
}

.bh-product-content {
	line-height: 15px;
}

.item-wrap:hover .bh-product-title {
	display: none;
}

.item-wrap:hover .bh-product-title {
	display: none;
}

.buy-now-btn {
	display: none;
}

.buy-now-link {
	color: #ED3E72 !important;
	padding: 8px 0;
	text-decoration: none;
	text-transform: uppercase;
}

.item-wrap:hover .buy-now-btn {
	display: block;
}