/*===collection list===*/
.collection-card-list {
	margin: 15px 0px;
	position: relative;
	height: 190px;
	overflow: hidden;
}

.collection-card-list a {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.collection-card-list-title {
	position: absolute;
	height: 100%;
	top: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.4);
}

.collection-card-list > a > img {
	max-width: 100%;
	min-width: 100%;
	width: auto;
	min-height: 100%;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.collection-card-list-wrap {
	position: relative;
}

.collection-card-list-wrap > img {
	position: absolute;
	top: 50%;
	transform: translate(0, 55%);
	height: 80px;
	width: 80px;
	margin-left: 8%;
	border-radius: 100%;
}

.collection-card-list-title-wrap {
	top: 38%;
	left: 48%;
	transform: translate(-50%, -50%);
	max-height: 40%;
	text-overflow: ellipsis;
}

.collection-card-list-title-wrap h3 {
	text-transform: capitalize;
	padding: 0 10% 0 0;
	font-size: 20px;
	font-weight: 500;
	line-height: 25px;
}

.collection-card-list-title h6 {
	margin: 0;
	text-transform: capitalize;
	padding: 0 10%;
	position: absolute;
	bottom: 5px;
	font-size: 12px;
	background: linear-gradient(rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.03));
	font-weight: 500;
	letter-spacing: 0.03em;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
}

.collection-card-list a:hover > img {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	transform: scale(1.2);
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.collection-option-tag:hover {
	cursor: default;
}

.collection-profile .breadcrumb .active {
	color: #F03F73
}

/* type name ribbon */
.collection-option-tag .ribbon-wrap {
	color: #FFFFFF;
	position: absolute;
	text-align: center;
	z-index: 10;
	display: none;
}

.collection-option-tag .ribbon-wrap:before,
.collection-option-tag .ribbon-wrap:after {
	content: "";
	position: absolute;
	z-index: -2;
}

.collection-option-tag .ribbon-wrap > span {
	display: block;
	height: 100%;
	position: relative;
	padding: 0 10px;
}

.collection-option-tag .ribbon-wrap > span:before,
.collection-option-tag .ribbon-wrap > span:after {
	content: "";
	position: absolute;
	z-index: -1;
}

.collection-option-tag .ribbon-wrap.left-edge {
	border-radius: 5px 5px 5px 0;
	height: 25px;
	left: -5px;
	line-height: 25px;
	top: 14px;
}

.collection-option-tag .ribbon-wrap.left-edge > span {
	border-radius: 5px 5px 5px 0;
}

.collection-option-tag .ribbon-wrap.left-edge > span:before {
	border-color: transparent;
	border-radius: 5px 5px 5px 5px;
	border-style: solid;
	border-width: 5px;
	bottom: -5px;
	left: 0;
	transform: rotate(-45deg);
}

.collection-option-tag .ribbon-wrap.color > span {
	background-color: #777777;
	color: #F9F9F9;
}

.collection-option-tag .ribbon-wrap.color.left-edge > span:before {
	border-left-color: rgba(96, 96, 96, 0.75);
	border-top-color: #606060;
}

.collection-profile-img > img {
	height: 100%;
	width: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}

.collection-profile-img {
	width: 112px;
	height: 112px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	margin-right: auto;
	margin-left: auto;
}

.collection-cover-img-wrap > img {
	width: 100%;
	height: auto;
}

.collection-cover-desc-wrap {
	padding-top: 10px;
	font-size: 14px;
	color: #797979;
	font-style: italic;
}

.collection-profile {
	background-color: #FFFFFF;
	padding-bottom: 75px;
}

.collection-profile .top-panel {
	padding-bottom: 20px;
	border-bottom: 1px solid #E9E9E9;
}

.collection-profile .breadcrumb-section {
	margin-top: 10px;
	font-size: 14px;
}

.collection-profile .breadcrumb-section a {
	color: #999999;
}

.collection-profile .collection-title {
	text-align: left;
	font-size: 22px;
	font-weight: 400;
	text-transform: capitalize;
	color: #292929;
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.collection-stats {
	text-align: left;
	font-size: 18px;
	color: #E9E9E9;
	font-style: italic;
}

.collection-stats > p {
	font-size: 20px;
}

.collection-img-wrap {
	height: 210px;
	background-color: #F9F9F9;
	text-align: center;
}

.item-result .collection-img-wrap img {
	max-height: 100%;
	max-width: 100%;
	width: auto;
}
