/**
 * CSS FOR CUSTOM FEEDBACK PAGE
 *
 * @author Anji <anji@evibe.in>
 * @since 3 Jan 2015
 */

.custom-feedback-sec {
	border: none !important;
	margin-top: 30px;
	background-color: #F9F9F9;
	padding: 20px;
}

.rating-l { font-size: 24px; }

.rating-l .caption {
	margin-left: 10px;
	font-size: 16px;
	font-weight: normal;
	display: inline-block;
}

.sub-title {
	font-weight: normal;
	text-transform: lowercase;
}

.custom-feedback-sec .radio + .radio { margin-top: 0; }

.rating-vendor-wrapper {
	margin-top: 15px;
}

.feedback-wrap {
	background-color: #F9F9F9;
}

.custom-feedback-sec .rating-q-wrapper {
	margin-top: 5px;
	padding: 5px;
}

.custom-feedback-sec .rating-text-area, .rating-input {
	border: 1px solid #D9D9D9;
	border-radius: 0;
}

.rating-text-area:focus, .rating-input:focus {
	border-radius: 0;
	box-shadow: none;
}

.custom-feedback-sec .vendor-question-wrap,
.custom-feedback-sec .evibe-rating-wrapper {
	margin-bottom: 25px;
	padding: 15px;
	background: #FFFFFF;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
	border: 1px solid #D9D9D9;
}

.feedback-title-text {
	text-align: center;
	font-size: 21px;
	font-weight: 700;
	margin-bottom: 0;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.custom-feedback-sec h3.success {
	padding: 10px;
	margin: 0;
	color: #FFFFFF;
	background: rgba(93, 152, 93, 0.88);
	font-size: 26px;
}

.thanks-feedback {
	background: #FFFFFF;
}

h1.feedback-thanks-msg {
	margin-top: 0;
	background-color: #FDFDFD;
	border: 1px solid #D9D9D9;
	color: #333333;
	font-size: 16px;
	padding: 30px;
	text-align: center;
}

/* for success pag with google link */
.custom-feedback-rate-div {
	margin-top: 30px;
	text-align: center;
	padding: 20px;
}

.custom-feedback-rate-head {
	color: #FFFFFF;
	background: rgba(93, 152, 93, 0.88);
	font-size: 26px;
	padding: 20px 10px;
}

.custom-feedback-rate-sec i.material-icons {
	padding-right: 4px;
	font-size: 18px;
	display: inline-block;
}

.custom-feedback-rate-body {
	background-color: #FDFDFD;
	border: 1px solid #D9D9D9;
}

.custom-feedback-rate-msg {
	color: #333333;
	font-size: 16px;
	padding: 30px;
	line-height: 24px;
	text-align: justify;
}

.custom-feedback-rate-link {
	padding: 0 30px 30px 30px;
}

.custom-feedback-rate-link-wrap {
	background-color: #ED3E72;
	color: #FFFFFF;
	padding: 10px 30px;
	display: inline-block;
	border-radius: 5px;
}

.custom-feedback-rate-link-wrap .i-w {
	float: left;
}

.custom-feedback-rate-link-wrap .t-w {
	float: right;
	font-size: 16px;
	margin-left: 15px;
}

.custom-feedback-rate-link-wrap .text-1 {
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 200;
}

.custom-feedback-rate-link-wrap .text-2 {
	font-size: 24px;
	letter-spacing: 1px;
	font-weight: 300;
	margin-top: 4px;
}
