.fallout-section-wrap, .fallout-thankyou-wrap {
	margin-top: 20px;
	margin-bottom: 30px;
	padding: 25px 25px 20px 25px;
	border: 1px solid #CFCFCF;
	background-color: #FDFDFD;
	/*box-shadow: 4px 4px 4px #D4D4D4;*/
}

.fallout-init-message {
	font-size: 16px;
	line-height: 24px;
}

.fallout-cta-btn {
	padding: 4px 12px;
	font-weight: 600;
}

.fallout-feedback-options-wrap {
	border: 1px solid #CFCFCF;
	background-color: #FFFFFF;
}

.fallout-feedback-option {
	border-bottom: 1px solid #CFCFCF;
	padding: 10px 10px 5px 10px;
}

.fallout-feedback-option:last-child {
	border-bottom: none;
}

.fallout-comments {
	border: none;
	width: 100%;
	min-height: 24px;
}

.fallout-option {
	vertical-align: top;
	margin-right: 10px !important;
}

.btn-fallout-feedback {
	padding: 4px 8px;
}

.fallout-thankyou-msg {
	font-size: 18px;
	line-height: 25px;
	color: #05B343;
}

.fallout-feedback-wrap {
	padding-bottom: 15px;
	margin-bottom: 60px;
}

.retention-message {
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
}