/**
 * CSS FOR APPLICATION FOOTER
 */

.footer-wrap {
	text-align: center;
	background-color: #222222;
	cursor: default;
}

.footer-wrap .footer-top {
	box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.08);
}

.footer-wrap .categories-list li a {
	font-weight: 400;
}

/* Top section */
.footer-top {
	padding-bottom: 40px;
	color: #F7F7F7;
}

.cat-links {
	text-align: left;
	padding-right: 60px;
	vertical-align: top;
	display: inline-block;
}

.cat-links:last-child {
	padding-right: 0;
}

.cat-links .cat-name {
	font-weight: bold;
	padding-bottom: 6px;
	text-transform: uppercase;
	font-size: 14px;
	color: #C0C0C0;
}

.footer-link {
	font-size: 13px;
	text-transform: capitalize;
}

.footer-link a {
	color: #E1E1E1;
}

.footer-link a:hover {
	color: #888888;
	text-decoration: none;
	border-bottom: 1px dotted #999999;
}

/* Footer Mid Section */
.footer-mid {
	padding: 40px 0;
	background-color: #2F2F2F;
}

.seo-venues-title {
	font-size: 14px;
	font-weight: bold;
	color: #C0C0C0;
	text-transform: uppercase;
}

.cat-title {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;
	color: #D9D9D9;
}

.cat-list {
	padding: 0;
	margin: 15px 0 0 0;
	list-style: none;
}

.more-link a {
	color: rgb(68, 138, 255);
}

/* Bottom */
.footer-bottom {
	text-align: left;
	padding: 40px 0;
	background-color: #000000;
}

/* Bottom left */
.footer-logo {
	display: inline-block;
	font-size: 42px;
}

.footer-logo a {
	color: #FFFFFF;
	text-decoration: none;
	font-family: Helvetica, Arial, sans-serif;
}

.copytext {
	font-size: 13px;
	color: #999999;
	text-transform: none;
	/*padding-left: 10px;*/
}

.copytext a {
	color: #666666;
}

.socmed-body {
	padding: 10px 0;
}

.socmed-body-inner {
	text-align: left;
}

.socmed-fb {
	padding-left: 10px;
}

.email-icon-ft {
	background-color: #FFFFFF;
}

.phone-icon-ft {
	background-color: #000000;
	vertical-align: top;
}

/* Bottom right */
.footer-wrap .links-head {
	margin-top: 0;
	color: #ED3E72;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 16px;
	margin-bottom: 4px;
}

.footer-wrap .links-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer-wrap .link {
	list-style: none;
}

.footer-wrap .link a {
	color: #D5D5D5;
	font-size: 15px;
	text-transform: capitalize;
}

.footer-wrap .link a:hover {
	color: #8E8E8E;
}

.footer-wrap .contact-item {
	font-size: 15px;
	margin-bottom: 8px;
}

.footer-wrap .contact-val {
	padding-left: 3px;
}

.footer-wrap .contact-val,
.footer-wrap .contact-val a {
	color: #D5D5D5;
	font-weight: 400;
}

.footer-bottom .links-list li {
	text-align: left;
}

.footer-mid .btn-more-venue {
	padding: 6px 8px !important;
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
	background: #333333;
}

.footer-mid .btn-more-venue:hover {
	background: #FFFFFF;
	color: #222222;
}

/* --- PIAB footer CSS --- */
.footer-piab-option-wrap {
	margin-bottom: 45px;
	height: 100px;
	text-align: center;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
}

.footer-piab-option-wrap a {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
	left: 0;
}

.footer-piab-option-wrap a.footer-piab-option-link-disabled {
	cursor: auto;
}

.footer-piab-option-wrap img {
	max-width: 100%;
	min-width: 100%;
	width: auto;
	min-height: 100%;
	-webkit-transition: all 350ms ease;
	-moz-transition: all 350ms ease;
	-o-transition: all 350ms ease;
	transition: all 350ms ease;
}

.footer-piab-option-wrap a:hover > img {
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	transform: scale(1.3);
	-webkit-transition: all 350ms ease;
	-moz-transition: all 350ms ease;
	-o-transition: all 350ms ease;
	transition: all 350ms ease;
}

.footer-piab-option-wrap .footer-piab-option-bg {
	background: rgba(0, 0, 0, 0.3);
	position: absolute;
	width: calc(100%);
	height: calc(100%);
	top: 0;
}

.footer-piab-option-wrap .footer-piab-option-title {
	/*padding: 55px 0;*/
	line-height: 80px;
	position: absolute;
	color: #FFFFFF;
	top: 0;
	padding: 10px 0;
	width: calc(100%);
	font-size: 28px;
	text-transform: uppercase;
}

.footer-piab-option-wrap .footer-piab-option-text {
	position: absolute;
	color: #FFFFFF;
	bottom: 5%;
	width: calc(100%);
	font-size: 16px;
	display: none;
	padding: 0 15px;
}

.footer-piab-option-wrap a:hover > .footer-piab-option-text {
	display: block;
}

.footer-piab-option-wrap a.footer-piab-option-disable:hover {
	cursor: default;
}

.footer-piab-review-wrap {
	height: 265px;
	padding: 15px;
	border-radius: 8px;
	margin: 10px;
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, .05), 0 0px 7px 0 rgba(0, 0, 0, .10);
}

.footer-piab-reviews-wrap-loading {
	background-color: #EFEFEF;
	margin-top: 10px;
	height: 267px;
}

.footer-piab-review-text-wrap {
	font-style: italic;
	font-size: 14px;
	line-height: 20px;
	font-weight: 300;
}

.footer-piab-review-text-wrap:before {
	content: '\201C';
	font-family: "georgia-bold", Helvetica, Arial, sans-serif;
	margin-right: 5px;
	font-size: 28px;
}

.footer-piab-review-text-wrap:after {
	content: '\201E';
	font-family: "georgia-bold", Helvetica, Arial, sans-serif;
	margin-left: 5px;
	font-size: 28px;
	line-height: 14px;
}

.footer-piab-review-photo-wrap {
	width: 100px;
	height:100px;
	border-radius: 100%;
	overflow: hidden;
}

.footer-piab-review-photo {
	height: 100%;
	width: 100%;
}

/* --- Footer reviews slick carousel --- */
.footer-piab-reviews-wrap .slick-prev,
.footer-piab-reviews-wrap .slick-next {
	height: 50px;
	width: 50px;
	border-radius: 100%;
	/*color: #FFFFFF;*/
	/*background-color: #333333;*/
	z-index: 1;
}

.footer-piab-reviews-wrap .slick-prev {
	left: -10px !important;
}

.footer-piab-reviews-wrap .slick-next {
	right: -10px !important;
}

.footer-piab-reviews-wrap .slick-prev:before,
.footer-piab-reviews-wrap .slick-next:before {
	color: #333333;
	font-size: 40px;
	position: relative;
	z-index: 2;
}

.footer-piab-reviews-wrap .slick-prev:after,
.footer-piab-reviews-wrap .slick-next:after {
	content: "";
	color: #FFFFFF;
	position: absolute;
	top: 6px;
	left: 8px;
	width: 34px;
	height: 34px;
	border-radius: 100%;
	background-color: #FFFFFF;
	z-index: 1;
}

.footer-piab-reviews-wrap .slick-prev:hover,
.footer-piab-reviews-wrap .slick-prev:focus,
.footer-piab-reviews-wrap .slick-next:hover,
.footer-piab-reviews-wrap .slick-next:focus {
	/*background: #333333;*/
}

.footer-piab-reviews-wrap .slick-prev:hover:before,
.footer-piab-reviews-wrap .slick-next:hover:before {
	opacity: 1;
}

.footer-piab-reviews-wrap .slick-prev:focus:before,
.footer-piab-reviews-wrap .slick-next:focus:before,
.footer-piab-reviews-wrap .slick-prev:active:before,
.footer-piab-reviews-wrap .slick-next:active:before {
	opacity: 0.75;
}

.footer-piab-reviews-wrap .slick-prev.slick-disabled:hover:before,
.footer-piab-reviews-wrap .slick-next.slick-disabled:hover:before,
.footer-piab-reviews-wrap .slick-prev.slick-disabled:focus:before,
.footer-piab-reviews-wrap .slick-next.slick-disabled:focus:before,
.footer-piab-reviews-wrap .slick-prev.slick-disabled:active:before,
.footer-piab-reviews-wrap .slick-next.slick-disabled:active:before {
	opacity: 0.25;
	cursor: auto;
}

.footer-piab-reviews-wrap .slick-slider {
	padding: 0 15px;
}

.footer-piab-reviews-wrap .slick-list {
	margin: 0 15px;
	padding-left: 5px;
}

/* --- ---------------------- --- */

/* --- --------------- --- */