/*===== Global Search Results List ====*/
.global-no-results-wrap {
	padding: 30px;
	background-color: #FFFFFF;
	box-shadow: 1px 1px 2px #CFCECE;
	border: 1px solid #EFEFEF;
}

.global-no-results-wrap .no-results-search {
	border: 1px solid #E6E6E6;
	outline: none;
	box-shadow: none;
	border-right: 0;
}

.global-no-results-wrap .no-results-search:focus {
	border: 1px solid #ED3E72;
	outline: none;
	box-shadow: none;
	border-right: 0;
}

.global-no-results-wrap .no-results-search:active {
	border: 1px solid #ED3E72;
	outline: none;
	box-shadow: none;
	border-right: 0;
}

.global-no-results-wrap .no-results-submit {
	border: 1px solid #E6E6E6;
	background: #E6E6E6;
	color: #777777;
	border-left: 0;
}

.global-no-results-wrap .no-results-submit:hover {
	border: 1px solid #ED3E72;
	background: #ED3E72;
	color: #FFFFFF;
	outline: none;
	border-left: 0;
}

.global-no-results-wrap .no-results-submit:active {
	border: none;
	background: #ED3E72;
	color: #FFFFFF;
	outline: none;
}

.global-no-results-wrap .popular-search a {
	font-size: 14px;
	font-weight: 400;
	color: #ED3E72;
}

.lazy-loading {
	display: none;
}

.search-list-option-card {
	height: 212px !important;
}

.global-search-price-filter-a {
	color: #7E7E7E;
	cursor: pointer;
}

.global-search-category-wrap {
	width: 100px;
	color: #696969;
}

.global-search-price-filter-active, .global-search-category-wrap-active .global-search-category-link, .global-search-price-filter-a:hover, .global-search-price-filter-a:focus {
	color: #ED3E72;
}

.global-search-category-wrap-active .global-search-category-icon {
	border: 1px solid #ED3E72;
}

.global-search-city-a {
	color: #696969;
	cursor: pointer;
	border-bottom: 1px dotted #696969;
	text-decoration: none;
}

.global-search-city-a:hover, .global-search-city-a:focus {
	color: #2A2A2A;
	text-decoration: none;
}

.global-search-category-icon {
	display: inline-block;
	border: 1px solid #A9A9A9;
	border-radius: 25px;
	padding: 9px 10px;
}

.global-search-category-wrap a {
	color: #696969;
	cursor: pointer;
	text-decoration: none;
}

.global-search-category-wrap a:hover, .global-search-category-wrap a:focus {
	color: #2A2A2A;
	text-decoration: none;
}

.global-search-category-section {
	background-color: #FFFFFF;
	overflow: auto;
	white-space: nowrap;
}

.items-results .bottom-panel {
	margin: 0 10px;
}

@media (max-width: 600px) {
	.des-list-option-card {
		height: 250px !important;
	}

	.search-result-title {
		font-size: 18px !important;
	}

	.des-list-option-card:hover .list-option-title {
		display: block !important;
	}

	.des-list-option-card:hover .list-option-cta-wrap {
		display: none;
	}

	.global-search-category-section {
		margin-bottom: 12px;
	}

	.global-search-category-wrap {
		width: 100px;
	}

	.item-results .bottom-panel {
		margin: 0 5px;
	}
}

@media (max-width: 425px) {
	.des-list-option-card {
		height: 250px !important;
	}

	.des-list-option-card:hover .list-option-title {
		display: block !important;
	}

	.des-list-option-card:hover .list-option-cta-wrap {
		display: none;
	}

	.search-result-title {
		line-height: 24px;
	}

	.global-search-category-section {
		margin-bottom: 12px;
	}

	.global-search-category-wrap {
		width: 65px;
	}

	.global-search-category-icon img {
		height: 25px;
		width: 25px;
	}
}