/**
 * APPLICATION HEADER
 */

/* Application new header */
.header-top .navbar {
	position: relative;
	margin-bottom: 0;
	min-height: 42px;
	background: #FFFFFF;
	z-index: 999;
}

.header-border {
	border-bottom: 1px solid #E9E9E9;
}

.nav-hover-style:hover {
	opacity: 0.7
}

.home-cat-img {
	height: 60px;
}

.home-icon-wrap,
.occasion-home-icon-wrap {
	padding: 0 3%;
}

.home-icon-title {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-weight: 400;
}

.dropdown-toggle {
	display: none;
}

.nav-item-wrap:hover .dropdown-toggle {
	display: block;
}

.header-top .navbar.box-shadow {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
}

.header-top .navbar a {
	color: #444444;
}

.header-top .navbar li a.search {
	border: 2px solid #777777;
	border-radius: 17px;
	padding: 3px 10px;
	text-transform: capitalize;
}

/* Header top left
.header-top {
	padding: 8px 0;
} */

.logo-cnt {
	display: inline-block;
	padding: 10px 0;
}

.logo-cnt a {
	text-decoration: none;
}

.header-top .vr {
	margin: 0 18px;
	height: 36px;
	border-right: 1px solid #CFCFCF;
}

.city-holder {
	color: #696969;
	padding-top: 4px;
	font-size: 18px;
}

/* Header top right */
.header-top-items {
	padding-top: 15px;
	margin-right: 0;
}

.header-top-items li {
	display: inline-block;
	margin-right: 18px;
	font-size: 20px;
	vertical-align: middle;
}

.header-top-items li:last-child {
	margin-right: 0;
}

.header-top-items li.phone-box {
	font-size: 18px;
}

.header-top-items .btn-fgb img {
	height: 28px;
	vertical-align: middle;
	padding: 4px;
}

.header-top-items .btn-fgb div {
	display: inline-block;
	vertical-align: middle;
}

/* Header bottom */
.header-bottom {
	background-color: #ED3E72;
}

.header-bottom .menu-links {
	font-size: 24px;
	color: #000000;
}

/* Youth party - quick launch */
#cssmenu li.bachelor-party-link,
#cssmenu li.bachelor-party-link:hover {
	background-color: #69172F;
}

#cssmenu li.bachelor-party-link a,
#cssmenu li.bachelor-party-link:hover a {
	color: #FFFFFF;
}

/*===== Header in Engagement and Reception Lists =====*/
.padding-lists-20 {
	padding-right: 20%;
}

/*==== Global Search Desktop ==== */
.header-top .navbar-links .top-strip li a {
	text-transform: uppercase;
	padding: 10px 10px 0 10px;
	font-size: 12px;
}

.header-top .navbar-links .top-strip li a.evibe-cheppandi {
	font-size: 13px;
}

.header-top .navbar .container .navbar-mobile {
	color: #777777;
}

.header-top .navbar .container .navbar-mobile:hover {
	text-decoration: none;
}

.header-top .search-submit:active {
	outline: none;
	box-shadow: none;
}

.header-top .search-submit:active {
	outline: none !important;
	border: none !important;
}

.mobile-header-search-bar .tt-dataset {
	max-height: 330px;
	overflow-y: auto;
}

.desktop-header-search-bar .tt-dataset {
	max-height: 250px;
	overflow-y: auto;
}

/*==== Global Search ====*/
.header-top .city-dropdown {
	background: transparent;
	color: #777777;
	font-size: 13px;
}

.header-top .city-dropdown option {
	line-height: 15px;
	padding: 5px;
	font-size: 13px;
	background: #FFFFFF;
	color: #777777;
}

/*=== Login Modal ===*/
.modal-login .modal-content {
	min-height: 350px;
}

.modal-login .pc-left-side {
	color: #FFFFFF;
	position: relative;
	height: 100%;
}

.modal-login .modal-dialog {
	width: 100%;
	max-width: 800px;
}

.login-modal-content {
	padding: 60px 50px;
	color: #FFFFFF;
	z-index: 1001;
	position: relative;
	padding-top: 150px
}

.login-modal-content li .bs-title {
	font-size: 16px;
	padding-bottom: 25px;
}

.login-modal-content li .sv-bs-title {
	font-size: 20px;
	line-height: 28px;
}

.login-modal-content li .cs-title {
	padding-top: 10px;
	font-size: 12px;
	font-style: italic;
	color: #FFFFFF;
}

.login-right-side {
	padding-top: 15px;
}

.login-title {
	font-size: 18px;
	text-align: center;
	color: #484848;
	padding: 5px 0 10px 0;
}

.btn-fb-login {
	border-radius: 4px;
	width: 275px;
	background-color: #3A589B;
	padding: 10px 20px;
}

.btn-fb-login:hover,
.btn-fb-login:active,
.btn-fb-login:focus,
.btn-fb-login:active:focus {
	background-color: #4568B2;
}

.btn-fb-login img {
	height: 22px;
	width: 22px;
}

.btn-fb-login-txt {
	color: #FFFFFF;
	font-size: 16px;
	padding-left: 20px;
}

.btn-google-login {
	border-radius: 4px;
	width: 275px;
	padding: 10px 20px;
}

.btn-google-login:hover,
.btn-google-login:active,
.btn-google-login:focus,
.btn-google-login:active:focus {
	background-color: #FFFFFF;
}

.btn-google-login img {
	height: 22px;
	width: 22px;
}

.btn-google-login-txt {
	color: #484848;
	font-size: 16px;
	padding-left: 20px;
}

.login-modal-terms {
	text-align: center;
	font-size: 12px;
	padding: 9px 20px 10px 20px;
	color: #999999;
}

.login-modal-terms a {
	color: #999999;
	text-decoration: underline;
}

.user-login {
	font-size: 11px;
	color: #EFEFEF;
}

.user-login:hover {
	text-decoration: underline;
	color: #EFEFEF;
}

.header-top .navbar .user-login {
	color: #777777;
}

.header-top .navbar .user-login:hover {
	text-decoration: underline;
	color: #777777;
}

/*=== Party bag in header ===*/
.partybag-header {
	height: 40px;
}

.partybag-wrap {
	position: relative;
	overflow: hidden;
	height: 40px;
}

.common-form {
	width: 70%;
	margin-right: auto;
	margin-left: auto;
}

.login-modal-pc-bg-overlay {
	top: 0;
	position: absolute;
	background-color: #000000;
	opacity: 0.55;
	z-index: 10;
	width: 100%;
	height: 100% !important;
}

#loginModal .no-border {
	border: 0 !important;
}

.user-login-phone {
	color: #333333;
	font-size: 16px;
	margin-top: 5px;
	top: 0;
	vertical-align: middle;
}

.mobile-header-cta a {
	color: #333333;
}

.mobile-header-cta a i {
	color: #333333 !important;
}

.user-header-dropdown-content {
	right: 0 !important;
}

.hr-text {
	line-height: 1em;
	position: relative;
	outline: 0;
	border: 0;
	color: black;
	text-align: center;
	height: 1.5em;
	opacity: .5;
}

.hr-text:before {
	content: '';
	background: linear-gradient(to right, transparent, #818078, transparent);
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 1px;
}

.hr-text:after {
	content: attr(data-content);
	position: relative;
	display: inline-block;
	color: black;
	padding: 0 .5em;
	line-height: 1.5em;
	color: #818078;
	background-color: #FCFCFA;
}

.partybag-count {
	position: absolute;
	top: 13px;
	right: 8px;
	border: 2px solid white;
	border-radius: 13px;
	color: white;
	font-weight: 700;
	height: 24px;
	width: 24px;
	font-size: 12px;
	text-align: center;
	background: #F03F73
}

.header-top .partybag-count {
	border: 2px solid #777777;
}

.top-nav .user-login-btn .userBlack {
	display: none !important;
}

.mobile-search-btn {
	padding: 0 30px;
}

.top-nav .user-login-btn .userWhite {
	position: absolute;
	top: 100%;
	width: 23px;
	left: 26%;
}

.header-top .navbar .user-login-btn .userWhite {
	display: none !important;
}

.header-top .navbar .user-login-btn .userBlack {
	position: absolute;
	top: 100%;
	width: 23px;
	left: 26%;
}

.nav-topbar-phone-mob {
	color: #444444;
}

.overlay {
	height: 0%;
	width: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	overflow-y: hidden;
	transition: 0.5s;
}

/* for party bag css */
@font-face {
	font-family: 'icomoon';
	src: url('./fonts/icomoon.eot?pgm6lp');
	src: url('../fonts/icomoon.eot?pgm6lp#iefix') format('embedded-opentype'),
	url('../fonts/icomoon.ttf?pgm6lp') format('truetype'),
	url('../fonts/icomoon.woff?pgm6lp') format('woff'),
	url('../fonts/icomoon.svg?pgm6lp#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-bagicon5:before {
	content: "\e900";
}

.header-campaign-wrap {
	text-align: center;
	background-color: #FFFFFF;
	padding: 10px;
	font-size: 14px !important;
}

@media (max-width: 350px) {

	.header-campaign-wrap {
		font-size: 13px !important;
	}

}

.header-campaign-hr {
	margin: 2px 40%;
	border-top: 1px solid #000000;
}

.header-campaign-title {
	padding: 5px 0;
}

.header-campaign-title:hover {
	text-decoration: underline;
}

.header-campaign-icon {
	height: 27px;
}

.campaign-icon {
	vertical-align: middle;
}

.header-campaign-wrap a,
.header-campaign-wrap a:hover,
.header-campaign-wrap a:active {
	color: #0A0A0A;
	text-decoration: none;
}

.header-search-icon-container {
	position: absolute;
	right: 0;
	top: 0;
}

.desktop-header-search-bar:hover #desktopGlobalSearchInput,
.desktop-header-search-bar:focus #desktopGlobalSearchInput,
.desktop-header-search-bar:active #desktopGlobalSearchInput {
	border: 1px solid #ED3E72;
}

.desktop-header-search-bar:hover .header-search-icon,
.desktop-header-search-bar:active .header-search-icon,
.desktop-header-search-bar:focus .header-search-icon {
	color: #FFFFFF;
	border: 1px solid #ED3E72;
	background-color: #ED3E72;
}

.Typeahead *,
.Typeahead *:before,
.Typeahead *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.tt-suggestion {
	padding: 4px 10px;
	font-size: 15px;
	line-height: 24px;
}

.tt-menu {
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(167, 167, 167);
	box-shadow: 0 4px 8px 0 #272727;
}

@media (max-width: 1024px) {
	.tt-suggestion {
		font-size: 13px;
		line-height: 20px;
	}
}

.profileCard, .profileCard-default {
	position: relative;
	padding: 8px;
}

.profileCard-avatar {
	position: absolute;
	top: 8px;
	left: 8px;
	width: 52px;
	height: 52px;
	border: 2px solid #CCD6DD;
	border-radius: 5px;
}

.profileCard-default-avatar {
	position: absolute;
	top: 8px;
	left: 8px;
	width: 25px;
	height: 25px;
}

.profileCard:hover .profileCard-avatar, .profileCard-default:hover .profileCard-default-avatar {
	border-color: #F5F8FA;
}

.profileCard-details {
	min-height: 50px;
	padding-left: 60px;
}

.profileCard-default-realName {
	min-height: 25px;
	padding-left: 30px;
}

.profileCard-realName {
	font-weight: 500;
}

.profileCard-screenName {
	color: #8899A6;
	display: inline-block;
}

.profileCard-price {
	color: #ED4173;
	padding-left: 10px;
	font-weight: bold;
	display: inline-block;
}

.profileCard-max-price {
	padding-left: 10px;
	text-decoration: line-through;
	display: inline-block;
}

.profileCard:hover, .profileCard.is-active, .profileCard-default:hover, .profileCard-default.is-active {
	color: #000000;
	background: #DEDEDE;
}

.profileCard:hover .profileCard-screenName, .profileCard.is-active .profileCard-screenName {
	color: #2A2A2A;
}

.see-all-results-search-wrap {
	background-color: #CACACA;
	font-size: 15px;
	text-align: center;
	padding: 4px 0;
}

.see-all-results-search {
	text-decoration: none !important;
	color: #333333;
}

/*====Search Bar==========*/
.header-search-bar-input {
	letter-spacing: 0.8px;
	cursor: text;
	font-size: 12px;
	height: 20px;
	line-height: 23px;
	padding: 14px 0 14px 10px;
	border-radius: 3px;
	color: #908080;
	left: 0 !important;
	border: 1px solid #EAEAEC;
	background-color: #FFFFFF
}

.header-search-bar-input:focus {
	outline: none;
}

.mobile-header-search-icon {
	color: #ED4173 !important;
}

.header-search-icon {
	font-size: 16px;
	height: 20px;
	line-height: 24px;
	box-sizing: content-box;
	/*padding: 8px 10px 10px;*/
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 10px;
	padding-left: 10px;
	color: #444444;
	background-color: #FFFFFF;
	top: 1px !important;
	right: 1px !important;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
}

.desktop-header-search-bar:hover .header-search-icon {
	top: 0 !important;
	right: 0 !important;
	height: 21px;
}

.typeahead-spinner {
	position: absolute;
	top: 3px;
	right: 45px;
	height: 25px;
	display: none;
}

#desktop-search {
	height: 0;
	z-index: 1090;
	background: white;
}

@media (max-width: 1024px) {

	.mobile-pro-page {
		font-family: "Roboto", Helvetica, Arial, sans-serif;
		margin-top: 5px;
	}

	.mobile-header {
		min-height: 50px;
	}

	.mobile-header-wrap {
		box-shadow: 0 1px 5px 0 #4A4A4A;
		padding: 10px 0 10px 0;
	}

	.mobile-header-wrap .overlay {
		z-index: 3; /* greater than evibe guarantee and fixed cta buttons */
	}

	.mobile-header-logo-wrap {
		height: 25px;
		margin: 2px 0 8px 20px;
	}

	.mobile-header-logo {
		max-height: 100%;
		max-width: 100%;
	}

	.mobile-header-search {
		color: #333333;
		font-size: 21px;
		margin-top: 5px;
		top: 0;
		vertical-align: middle;
	}

	.mobile-header-phone {
		color: #333333;
		font-size: 16px;
		margin-top: 5px;
		top: 0;
		vertical-align: middle;
	}

	.mobile-gallery-wrap {
		border: none;
		position: relative;
	}

	.mob-profile-no-image {
		width: 100%;
		padding: 15% 25%;
	}

	.title-section-wrap {
		padding: 0 15px;
	}

	.mobile-header-partybag {
		color: #333333;
		vertical-align: middle;
		font-size: 19px;
		top: 0;
		margin-top: 5px;
		/*color: #FFFFFF;*/
		text-decoration: none;
		/*text-shadow: 0 0 1px #333333, 0 0 1px #333333, 0 0 1px #333333, 0 0 2px #333333;*/
	}

	.mobile-header-cta a .partybag-badge {
		white-space: nowrap;
		text-align: center;
		padding: 4px 6px;
		height: 18px;
		background: #ED3E72;
		position: relative;
		border-radius: 12px;
		font-family: 'Roboto', 'Helvetica Neue', 'sans-serif';
		font-size: 10px;
		color: #FFFFFF;
		top: 1px;
	}

	/* === slider menu === */
	.list-slider-section {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		display: none;
		z-index: 103;
		height: 100%;
	}

	.list-slider-wrap {
		display: flex;
		width: 100%;
		height: 100%
	}

	.list-slide-menu-wrap {
		background-color: #FFFFFF;
		height: 100%;
		box-shadow: 3px 0 20px 0 #292929;
	}

	.list-slide-menu {
		height: 100%;
	}

	.list-slide-empty {
		height: 100%;
		width: 100%;
	}

	.list-slider-background {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		display: none;
		z-index: 102;
	}

	.list-slide-title {
		padding: 15px;
		border-bottom: 1px solid #D9D9D9;
	}

	.list-slide-logo-wrap {
		height: 35px;
	}

	.list-slide-logo {
		height: 100%;
		width: 100%;
	}

	.list-slide-content {
		overflow-y: scroll;
		height: 100%;
	}

	.list-slide-category-title {
		font-size: 14px;
		text-transform: capitalize;
		color: #5A5A5A;
		line-height: 1.5;
	}

	.list-slide-categories {
		list-style: none;
		padding: 0;
	}

	li:nth-last-child(1) {
		border-bottom: none;
	}

	.list-slide-categories li a {
		padding: 2px 0 2px 15px;
		color: #5A5A5A;
		font-size: 13px;
		width: 100%;
		display: inline-block;
		text-transform: capitalize;
	}

	.list-slide-category-title .lowercase {
		text-transform: lowercase !important;
	}

	.list-slide-categories i {
		font-size: 18px;
		margin-bottom: 4px;
		margin-right: 15px;
	}

	.list-slide-occasion-title {
		font-size: 14px;
		font-weight: 600;
		text-transform: uppercase;
		color: #333333;
	}

	.list-slide-options {
		list-style: none;
		padding: 0;
	}

	.list-slide-options li a:focus {
		text-decoration: none;
	}

	.list-slide-options li {
		padding: 0;
	}

	.list-slide-options li a {
		color: #5A5A5A;
		font-size: 12px;
		font-weight: 600;
	}

	.mobile-list-logout:hover {
		text-decoration: none;
		color: #828282;
	}

	.list-logout-icon {
		font-size: 16px !important;
		font-weight: 600 !important;
		vertical-align: middle;
	}

	.list-logout-text {
		margin-left: 3px;
		font-weight: 400;
		text-transform: none;
	}

	.list-top-section-wrap {
		margin-top: 10px;
	}

	.list-content-wrap {
		margin-bottom: 20px;
	}

	.mobile-menu-icon {
		color: #000000;
		vertical-align: text-top;
	}

	.mobile-list-header-wrap {
		border-bottom: 1px solid #D9D9D9;
		box-shadow: 0 0 4px 1px #D9D9D9;
		padding: 10px 0 15px;
	}

	.dropdown-container a {
		text-decoration: none;
		color: #818181;
		display: block;
		border: none;
		background: none;
		width: 100%;
		text-align: left;
		cursor: pointer;
		outline: none;
		padding: 3px 0;
	}

	.dropdown-container {
		display: none;
		padding-left: 35px;
		margin-top: 5px;
	}

	[data-letters]:before {
		content: attr(data-letters);
		display: inline-block;
		font-size: 1.25em;
		width: 2.5em;
		height: 2.5em;
		line-height: 2.5em;
		text-align: center;
		border-radius: 50%;
		background: #ED3E72;
		vertical-align: middle;
		margin-right: 1em;
		color: white;
	}
}

.header-secure-img-wrap {
	height: 40px;
}

.header-secure-img {
	height: 100%;
}

.top-header-list li a.header-email-text {
	text-transform: lowercase !important;
}

.header-piab-promotion {
	background-color: #FBCF42;
	padding: 8px 0;
}

.header-piab-promotion a {
	text-transform: capitalize;
	font-weight: 400;
	font-size: 16px;
	color: #333333;
}

.header-piab-promotion-image {
	height: 19px;
}

/* --- PIAB header CSS --- */
.header-piab {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
}

a.header-piab-option-text {
	color: #333333;
	margin-right: 10px;
	font-weight: 400 !important;
	padding-right: 10px;
	border-right: 1px solid #A8A8A8;
	text-transform: capitalize;
}

a.header-piab-option-text:last-child {
	border-right: none;
	margin-right: 0;
	padding-right: 0;
}

/* --- Header Promotion  ---*/
.campaign-text {
	color: orange !important;
	text-transform: capitalize !important;
}

.new-tag {
	color: white;
	background-color: orange;
	border-radius: 10px;
	padding: 1px 5px;
	margin-left: 3px
}

/* --- Desktop Navbar dropdowns ---*/
.dropdown-large {
	position: static !important;
}

.nav-links-wrap {
	padding-left: 60px;
	padding-top: 12px
}

.dropdown-menu > li > a {
	font-weight: 400;
	background-color: #FFFFFF !important;
}

.dropdown-right-mini {
	margin-top: 2px !important;

}

.dropdown-menu-large {
	margin-left: 50px;
	margin-right: 16px;
	padding: 20px 0;
	width: 600px;
}

.dropdown-menu-large > li > ul {
	padding: 0;
	margin: 0;
}

.dropdown-menu-large > li > ul > li {
	list-style: none;
}

.dropdown-menu-large > li > ul > li > a {
	display: block;
	padding: 3px 20px;
	padding-right: 0px;
	clear: both;
	font-weight: 300;
	line-height: 1.428571429;
	color: #333333;
	white-space: normal;
}

.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
	text-decoration: none;
	color: #262626;
	background-color: #FFFFFF;
}

.dropdown-menu-large .dropdown-header {
	color: #ED3E72 !important;
	font-size: 14px;
}

.dropdown-header-link-color {
	color: #ED3E72 !important;
}

.dropdown:hover .dropdown-menu {
	display: block;
	margin-top: 0;
}

.dropdown:hover {
	border-bottom: 3px solid #ED4173;
}

.nav-icon {
	height: 18px;
}

.header-scroll-icons-wrap {
	border-radius: 5px;
	padding: 3px 5px;
	border: 0.5px solid #f3f3f3;
}

.nested-dropdown-container {
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 5px;
	white-space: nowrap;
	line-height: 1.3 !important;
	font-size: 14px !important;
	background-color: #FFFFFF;
}

.nested-dropdown-container a {
	line-height: 1.6
}

.bold-on-hover:hover {
	color: #636D64;
}

.header-highlight-text {
	font-size: 8px;
	color: #FFFFFF;
	background-color: #ED3E72;
	padding: 2px 4px;
	border-radius: 3px;
	position: relative;
	right: -5px;
	top: -2px;
	font-weight: 400;
}

.header-highlight-text-des {
	font-size: 8px;
	color: #FFFFFF;
	background-color: #ED3E72;
	padding: 2px 4px;
	border-radius: 3px;
	margin-left: 5px;
	vertical-align: top;
	font-weight: 400;
}

.nav-highlight-text-mob {
	font-size: 8px;
	color: #FFFFFF;
	background-color: #ED3E72;
	padding: 2px 4px;
	border-radius: 3px;
	margin-left: 5px;
	vertical-align: middle;
	font-weight: 400;
}

@media screen and (max-width: 1060px) and (min-width: 780px) {
	.occasion-home-icon-wrap {
		padding: 0 2%;
	}

}

@media screen and (max-width: 1330px) and (min-width: 780px) {
	.home-icon-wrap {
		padding: 0 2%;
	}

}

/* --- --------------- --- */