/**
 * CSS FOR HOME SCREEN
 */
.sec-body {
	text-align: center;
}

.sec-head {
	text-align: center;
	text-transform: uppercase;
}

.floating-evibe-btn-wrap {
	justify-content: center;
}

.home-tiles-large {
	height: 250px;
	border-radius: 10px;
	background-size: cover;
	padding-top: 20px;
	box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
}

.home-tiles-medium {
	min-height: 100px;
	border-radius: 10px;
	background-size: cover;
	padding-top: 20px;
	box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
}

.home-tiles-mini {
	padding: 10px;
	height: 200px;
	background-image: linear-gradient(102.7deg, rgba(253, 218, 255, 1) 8.2%, rgba(223, 173, 252, 1) 19.6%, rgba(173, 205, 252, 1) 36.8%, rgba(173, 252, 244, 1) 73.2%, rgba(202, 248, 208, 1) 90.9%);
	background-size: cover;
	border-radius: 10px;
	box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
}

.cat-title {
	color: #717171
}

.cat-img {
	height: 30px;
	opacity: 0.6;
}

.tiles-cta {
	border: 1px solid #FFFFFF;
}

.section-cat {
	background-color: #FFFFFF;
	margin-left: 35px;
	margin-right: 35px;
	border-radius: 5px;
	padding-top: 5px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
}

.prod-service-name {
	color: #333333;
	height: 22px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.google-reviews-card {
	text-align: center;
	border: 1px solid #E8E8E8;
	padding-top: 20px;
	padding-bottom: 20px;
	min-height: 300px
}

.home-cards {
	background-color: #FFFFFF;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 5px;
}

.top-categories-title {
	font-size: 15px;
	padding-bottom: 15px;
	height: 20px;
	margin-top: 5px;
	text-align: center;
	line-height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	text-transform: capitalize;
}

.loading-div-outer {
	padding-top: 15px;
	height: 270px;
}

.loading-item {
	height: 150px;
	background-color: #EFEFEF
}

.owl-prev, .owl-next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.owl-prev {
	left: -5px !important;
}

.owl-next {
	right: -5px !important;
}

.owl-next.disabled, .owl-prev.disabled {
	display: none !important;
}

.loading-item-wrap {
	height: 200px !important;
	overflow: hidden;
	display: flex;
	align-content: center;
	align-items: center;
	padding-left: 10px
}

.section-heading {
	margin-top: 15px;
	margin-bottom: 0px;
	font-weight: 400;
	padding-left: 15px;
}

.section-sub-heading {
	margin-top: 0px;
	opacity: 0.8;
	letter-spacing: 1px;
	padding-left: 15px;
	margin-bottom: 5px;
}

.category-card {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	height: 200px;
	max-width: 100%
}

.category-card-desk {
	height: 300px;
	max-width: 100%
}

.category-single-card {
	height: 310px;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: right;
	padding-right: 10%;
	display: flex;
	align-items: center;
	float: none;
}

.category-single-card-heading {
	text-shadow: 1px 1px 1px #6969698F;
}

.category-three-card-hero-img {
	width: auto;
	height: 430px
}

.category-three-card-sub {
	background-color: #FFFFFF;
	height: 207px;
	padding-right: 10px;
	border: 1px solid #EFEFEF;
}

.category-three-card-sub > h6 {
	padding-left: 9%
}

.category-three-card-sub-title > h6 > span {
	opacity: 0.5;
	color: black
}

.category-four-card-desk {
	padding: 15px;
	background-color: #FFFFFF;
	overflow: hidden;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
	border-radius: 4px;
}

.category-four-card-desk > a > img {
	height: auto;
	width: 100%;
	max-height: 400px;
}

.category-four-card-title-desk {
	font-weight: 500;
	padding-top: 15px;
	text-overflow: ellipsis;
}

.category-four-card-title-desk > p {
	font-size: 16px;
}

.category-card-title {
	font-weight: 500;
	padding-top: 5px;
	text-overflow: ellipsis;
	font-size: 18px !important;
}

.category-card-title-mobile {
	height: 55px;
	overflow: hidden;
	text-overflow: ellipsis;

}

.three-card-cat {
	width: 100%;
}

.three-card-cat > h6 {
	margin-bottom: 0px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 0px
}

/*Blog Cards*/
.blog-container-desk {
	overflow: hidden;
	background-color: white;
	height: 400px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
}

.blog-container-mobile {
	height: 150px;
	margin-bottom: 20px;
}

.blog-img-container-desk {
	height: 200px;
	overflow: hidden
}

.blog-img-container-desk > img {
	width: 100%;
	height: auto;
	background: white;
}

.blog-img-container-mobile {
	overflow: hidden;
	padding-left: 0px;
	padding-right: 0px;
	height: 150px;
	background-color: #F1F1F1 !important
}

.blog-text-wrap {
	padding-left: 5px;
	padding-right: 5px;
	height: 150px;
	overflow: hidden;
	display: flex
}

.blog-text-wrap > p {
	display: flex;
	align-items: center;
	max-height: 150px;
	overflow: hidden;
	color: #717171;
	line-height: 1.4;
	font-size: 15px
}

.blog-title-desk {
	line-height: 1.3;
	height: 60px;
	overflow: hidden;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px
}

.blog-title-mobile {
	padding-left: 15px;
	font-weight: 500;
	margin-top: 12px;
}

.blog-content-desk {
	height: 70px;
	overflow: hidden;
}

.blog-cta {
	text-align: center;
	padding-right: 15px;
	padding-bottom: 10px;
}

.form-card-shadow {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.floating-evibe-btn {
	width: 140px;
	height: 45px;
	font-family: 'Roboto', sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 500;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #ED3E72;
	border: none;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	outline: none;
	padding: 10px;
}

.floating-evibe-btn:hover {
	color: #FFFFFF;
}

.sec-head-tag {
	font-family: Helvetica, Arial, sans-serif;
	background: #7E238B;
	display: inline-block;
	color: #FFFFFF;
	position: relative;
	padding: 6px 4px 6px 10px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	margin: 0 20px 0 0;
	text-decoration: none;
	font-size: 17px;
	text-transform: none;
	vertical-align: middle;
}

.sec-head-tag:after {
	display: inline-block;
	border: 15px solid;
	border-color: transparent transparent transparent #7E238B;
	height: 0;
	width: 0;
	position: absolute;
	right: -30px;
	top: 0;
	content: "";
	display: inline-block;
}

.home-section .sec-head {
	padding-bottom: 60px;
}

.home-section h4, .home-section h3 {
	font-weight: normal;
}

.home-section .sec-head h5 {
	font-weight: 300;
	line-height: 22px;
	text-transform: none;
	color: #666666;
	width: 75%;
	margin: 20px auto auto auto;
	font-size: 16px;
}

.home-section .sec-head h3 {
	font-size: 20px;
	font-weight: 500;
	margin: 0;
}

/* LOADING */
.loading-wrap {
	position: absolute;
	top: 0px;
	left: 0px;
}

.loading-top {
	filter: alpha(opacity=70);
	opacity: 0.7;
	position: absolute;
	display: block;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.loading-img {
	position: absolute;
	display: block;
	background: url(https://gallery.evibe.in/img/icons/jassor/loading.gif) no-repeat center center;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.home-header {
	position: absolute;
	top: 0px;
	z-index: 1001;
	width: 100%;
	color: #FFFFFF;
}

.home-header .logo-cnt {
	padding: 18px 0 0 0;
	vertical-align: middle;
}

.home-header .city-holder {
	color: #FFFFFF;
	font-size: 18px;
}

.home-header .header-top-items {
	padding-top: 25px;
}

.slides-wrap {
	position: relative;
}

.img-slides {
	position: relative;
}

.top-slide {
	width: 100%;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.bg-overlay {
	top: 0;
	position: absolute;
	background-color: #000000;
	opacity: 0.55;
	z-index: 10;
	width: 100%;
}

.top-slide, .bg-overlay {
	height: 525px;
}

.top-slide-home {
	height: 305px;
}

.rslides img {
	/*width: 100%;*/
	/*height: 525px;*/
}

/* PITCH LINES*/

/*===== Top Header Section of Birthday Homepage ====*/
.intro-header {
	height: 430px;
}

.intro-header h1 {
	font-size: 3.5em;
}

.carousel-hero-img {
	height: 400px !important;
	max-width: 100%;
}

.carousel-header-tag {
	background-color: #FFFFFF;
	font-size: 20px;
	padding: 5px 10px;
	border-radius: 8px;
	vertical-align: bottom;
}

.intro-header h5.pos-rel {
	bottom: -80px;
	text-transform: uppercase;
	text-shadow: 1px 1px 2px rgba(20, 20, 20, 0.5);
}

.categories-wrap {
	bottom: 0;
	z-index: 99;
}

.categories-list {
	width: 100%;
	background: #F03F73;
	display: table;
	table-layout: fixed;
}

.ce-no-categories .intro-header {
	height: 400px;
}

/*-- Categories list with padding 10% for less number of lists */
.categories-list-10 {
	padding: 0 10%;
}

.categories-list li {
	position: relative;
	display: table-cell;
	font-size: 16px;
	background: rgb(240, 63, 115);
	color: #FFFFFF;
	text-transform: uppercase;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	border-right: 1px solid rgb(222, 27, 84);
	border-top: 1px solid rgb(222, 27, 84);
	padding-top: 20px;
	text-align: center;
}

.categories-list li img {
	margin-right: 7px;
	height: 24px;
	width: 24px;
}

.categories-list li:last-child {
	border-right: none;
}

.categories-list li a {
	color: #FFFFFF;
	display: block;
	padding: 5px 0 20px;
	font-weight: 400;
}

.categories-list .arrow-bottom {
	display: none;
}

.categories-list li:hover {
	background-color: #F75887;
	cursor: pointer;
}

/* == Hidden bottom arrow
.categories-list li:hover .arrow-bottom {
	display: inline-flex;
}*/

.categories-list li:hover a {
	color: #9A9A9A;
	text-decoration: none;
}

.top-search {
	padding: 3px 20px;
	word-break: normal;
	color: #8F8F8F;
	font-size: 12px;
	background-color: #2E2E2E;
	text-align: left;
}

.top-search h5 {
	color: #FFFFFF;
}

.top-search a {
	color: #ADADAD;
	font-weight: 400;
	font-size: 15px;
	padding-right: 20px;
	padding-top: 5px;
	display: inline-block;
}

.top-search a:hover {
	color: #D9D9D9 !important;
}

.arrow-bottom {
	left: 40%;
	bottom: 0;
	position: absolute;
	border-bottom: 15px solid rgb(239, 239, 239);
	border-top: 15px solid transparent;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
}

/*==== Trending items or popular section ====*/
/*==== Product directory in footer ===*/
.prod-directory {
	padding: 3px 20px;
	word-break: break-word;
	color: #8F8F8F;
	font-size: 12px;
	background-color: #222222;
	text-align: left;
	padding-bottom: 20px
}

.prod-directory-mbl a {
	font-size: 13px !important;
	line-height: 2
}

.footer-dropdown-mobile {
	padding: 10px 0;
}

.prod-directory a {
	color: #ADADAD;
	font-weight: 400;
	font-size: 12px;
	display: inline-block;
}

.prod-directory a:hover {
	color: #D9D9D9 !important;
}

.prod-directory h5 {
	color: #FFFFFF !important;
	font-size: 13px !important;
}

.prod-directory span {
	padding: 0 3px;
}

/*=== see all button ===*/
a.btn-see-all {
	font-size: 1em;
	background: none;
	color: #1111EE;
	text-decoration: underline;
	border: 0 none;
	margin-top: 20px;
	padding: 10px 50px;
	text-transform: capitalize;
}

a.btn-see-all:hover {
	color: #555555;
	background: none;
	text-decoration: underline;
}

a.btn-lg-see-all {
	padding: 10px 40px;
	font-size: 1em;
}

.head-title h5.section-title {
	font-weight: 400;
	color: #595959;
	font-size: 20px;
}


.flex-display {
	display: flex;
	align-items: center;
	align-content: center;
}

.trending h6.item-name {
	color: #4E4E4E;
	margin-top: 15px;
	font-size: 16px;
	line-height: 20px;
	height: 48px;
	font-weight: 300;
}

.trending .img-container {
	position: relative;
	min-width: 100%;
	height: 210px;
	overflow: hidden;
	text-align: center;
	background-color: #F3F3F3;
}

.trending img {
	width: auto;
	height: 150px;
}

.trending .price {
	position: absolute;
	bottom: 20px;
	font-family: 'Montserrat', 'Roboto', 'sans-serif';
	background: #2D2D2D;
	color: #FFFFFF;
	font-size: 1.4em;
	padding: 10px 20px 5px;
}

.trending .booking {
	position: absolute;
	bottom: 8px;
	right: 8px;
}

.price .star {
	position: relative;
	font-size: 0.85em;
	top: -5px;
	left: -5px;
	font-family: sans-serif;
	margin-left: 5px;
}

.price .onwards {
	font-size: 0.6em;
	font-weight: 400;
	position: relative;
	text-align: center;
	margin-top: -5px;
	margin-bottom: -5px;
	display: block;
	font-family: 'Roboto', 'sans-serif';
}

.trending .price .rupee-font {
	position: relative;
	top: -3px;
	font-size: 0.85em;
}

/* BOOKING FORM */
.homepage-booking-form-cnt {
	margin: auto;
}

.booking-form-wrap .errors-cnt {
	margin: 10px 0;
}

.booking-form-wrap .errors-list {
	margin-bottom: 0;
}

.booking-form-wrap {
	background-color: #F8F8F8;
	padding: 60px 0;
}

.form-txt-cnt {
	margin-top: 11%;
}

.booking-form-wrap h4.form-text {
	text-align: center;
	margin-top: 40px;
	color: #7F7F7F;
	font-size: 15px;
	line-height: 20px;
	text-transform: none;
}

.text-dark {
	color: #000000;
}

.homepage-booking-form {
	text-align: left;
	padding: 20px;
	background-color: #FFFFFF;
}

.borderradius .booking-form {
	border-radius: 6px;
}

.booking-form label {
	font-weight: 300;
	font-size: 13px;
}

/* SHOWCASE SECTION */
.home-section .showcase-head {
	padding-bottom: 30px;
}

.showcase-sec {
	padding-top: 20px;
	padding-bottom: 50px;
	background-color: #FFFFFF;
	border-bottom: 1px solid #D3D3D3;
	box-shadow: 0 2px 2px #E9E9E9;
}

.tag-title h3 {
	font-size: 22px;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.tagline {
	text-align: center;
}

.tag-desc {
	font-size: 14px;
	font-weight: 300;
}

/* VENDOR SIGN-UP */
.vs-stories-wrap {
	padding: 60px 0;
}

.vs-stories-wrap .sec-head {
	padding-bottom: 40px;
}

.vs-stories-wrap h2 {
	margin: 0;
	font-size: 30px;
	text-transform: none;
}

.vs-stories .story-row {
	padding-bottom: 30px;
}

.vs-stories .story-row:last-child {
	padding-bottom: 0;
}

.vs-stories .v-story {
	color: #FFFFFF;
	background-color: #4C4C4C;
	padding: 20px 15px 10px 15px;
	text-align: left;
}

.borderradius .vs-stories .v-story {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
}

.v-story .writer-name {
	text-align: center;
	color: #FFFFFF;
}

.v-story .writer-desig {
	color: #DADADA;
}

.v-story .quote {
	color: #FFFFFF;
}

.vendor-message-sec {
	padding: 60px 0;
	background-color: #FFFFFF;
	color: #000000;
}

.vs-wrap {
	text-align: center;
	background-color: #F5F5F5;
	padding: 16px 0;
	border: 1px solid #E4E4E4;
}

.borderradius .vs-wrap {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}

.vs-btn-wrap {
	padding-left: 30px;
}

.vs-head {
	margin: 0;
	font-size: 24px;
}

.vs-subhead {
	padding: 12px 0;
	font-size: 15px;
}

.vsb-link {
	text-decoration: none;
	color: #EE3D73;
	border-bottom: 1px dotted #000000;
}

.vsb-link:hover {
	text-decoration: none;
	color: #000000;
	border-bottom: 1px dotted #EE3D73;
}

/* RESERVE FORM */
#makeLower {
	text-transform: none;
	font-weight: normal;
}

.form-group:last-child {
	margin-bottom: 0;
}

.booking-form .modal-header {
	padding: 10px 15px;
}

.booking-form .modal-title {
	display: inline-block;
	padding-bottom: 0;
}

.booking-form-success .modal-header {
	padding-bottom: 0;
}

.booking-form-success h3.modal-title {
	padding-bottom: 10px;
}

.booking-form-success .modal-body {
	font-size: 16px;
	font-weight: 300;
}

.modal-subtitle {
	font-size: 14px;
	color: #999999;
	font-weight: 300;
	font-style: italic;
	padding-left: 5px;
	display: inline-block;
}

.required-star {
	font-size: 12px;
	vertical-align: super;
	color: #FF0000;
}

.modal-subtitle .required-star {
	vertical-align: middle;
}

.errors-cnt {
	margin-bottom: 15px;
	padding: 6px;
}

.success-cnt {
	margin-bottom: 15px;
	padding: 6px;
}

.errors-list {
	margin-bottom: 0;
	padding-left: 24px;
}

/*=== Reception change text ====*/
#changeText {
	border-bottom: 4px solid #FFFFFF;
	padding: 0 10px 10px;
}

.inner-top-option-div {
	background-color: #FFFFFF;
	margin-left: 35px;
	margin-right: 35px;
	border-radius: 5px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
	border-top: 1px solid #EAEAEA;
}

@media screen and (min-width: 1367px) {
	.inner-top-option-div {
		margin-left: 0px;
		margin-right: 0px;
	}

	.section-cat {
		margin-left: 0px;
		margin-right: 0px;
	}
}

.master-home-top-navbar-left>li>a {
	padding-left: 13px;
	padding-right: 13px;
}