/**
 * CSS FOR Inspiration page
 */
.price-range-wrap {
	position: absolute;
	top: 10px;
	right: 20px;
	background-color: orange;
	color: white;
	padding: 3px 5px;
	border-radius: 8px;
}

.blur-bg-wrap > .thumb-img {
	z-index: 3;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	max-height: 100%;
	max-width: 100%;
	min-height: 300px;
	border-radius: 0px;
}

.blur-bg-wrap > .blur-bg {
	z-index: 2;
	position: absolute;
	filter: blur(10px);
	left: 0;
	width: 100%;
	height: auto;
	min-height: 300px;
	border-radius: 32px 0px 0px 32px
}

.grid-sizer, .grid-item {
	width: 20%;
}

.grid-item img {
	display: block;
	width: 100%;
	box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.4);
}

/* necessary for proper sizing with margins */
.hero-grid__grid-sizer {
	position: absolute;
}

.hero-grid__item,
.hero-grid__grid-sizer {
	width: 23% !important;
}

.hero-grid__item {
	float: left;
	border-radius: 5px;
	margin-bottom: 10px;
	margin-top: 10px;
	width: 23% !important;
}

.inspiration-img-wrap {
	box-shadow: 0 0 1px 1px rgba(230, 208, 230, 0.62);
	border-radius: 15px
}

.card-img-mobile {
	width: 100%;
	border-radius: 15px;
	box-shadow: none !important;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.card-img-desk {
	width: 100%;
	border-radius: 15px;
}

.img-desc-mobile {
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	margin-right: 10px;
	z-index: 3;
	height: 70px;
	text-overflow: ellipsis;
	text-align: left;
	padding-left: 10px;
	align-items: center;
	padding-top: 5px;
}

.img-title-mobile {
	font-size: 12px;
	font-weight: normal;
	padding-right: 10px;
	height: auto;
	max-height: 40px;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 18px;
}

.img-price-mobile {
	font-size: 12px;
	position: relative;
	display: block;
	font-weight: 600
}

.img-desc-desktop {
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	width: 92%;
	margin-right: 10px;
	z-index: 3;
	margin-top: -40px;
	position: absolute;
	background-color: #625A5AC2;;
	height: 40px;
	text-overflow: ellipsis;
	text-align: left;
	padding-left: 10px;
	display: flex;
	align-items: center;
}

.img-price-desktop {
	line-height: 15px;
	font-size: 12px;
	font-weight: 500;
	color: #FFFFFF;
	padding-right: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* Profile Page*/
.profile-img {
	min-height: 300px;
	width: 100%;
	border-radius: 3px
}

.album-desc {
	line-height: 1.5;
	font-size: 15px

}

.enquire-btn {
	font-size: 16px;
	padding: 10px 20px;
	border-radius: 18px;
	color: white
}

.profile-pic-wrap {
	border-radius: 32px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 20px 0px;
}

.blur-bg-wrap {
	height: 300px;
	overflow: hidden;
	position: relative;
	border-radius: 32px 0px 0px 32px
}

.mar-b-15-imp {
	margin-bottom: 15px !important;
}



:root {
  /* theme color variables to use in RGB declarations */
  --red: 200;
  --green: 60;
  --blue: 255;
  /*the threshold at which colors are considered "light". 
Range: decimals from 0 to 1,
recommended 0.5 - 0.6*/
  --threshold: 0.5;
  /*the threshold at which a darker border will be applied.
Range: decimals from 0 to 1,
recommended 0.8+*/
  --border-threshold: 0.8;
}





