.invite-template-img {
	max-height: 100%;
	max-width: 100%;
}

.invite-template-img-wrap {
	height: 200px;
	text-align: center;
	/*background-color: #EFEFEF;*/
}

.invite-template-img-wrap img {
	border-radius: 3px;
}

.invite-template-wrap {
	border: 1px solid #FFFFFF;
}

.invite-template-selected-wrap {
	border: 1px solid #30AC15 !important;
}

.breadcrumb > li + li:before {
	content: ">";
}

.breadcrumb {
	background-color: transparent;
	margin-bottom: 6px;
}

.product-breadcrumb {
	padding-left: 0;
}

.product-breadcrumb li {
	font-size: 13px;
}

.product-breadcrumb a {
	color: #888888;
}

.invite-template-selected-wrap:hover {
	border: 1px solid #30AC15 !important;
}

.invite-template-selected {
	border: 1px dotted #30AC15;
	display: inline-block;
	padding: 6px 12px;
	color: #30AC15;
}

.btn-invite-template-select,
.btn-modal-invite-template-select,
.btn-party-details-next,
.btn-change-template {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	border-radius: 4px;
	padding: 7px 14px;
	color: #FFFFFF;
	border-color: #F03F73;
	background-color: #FF4174;
}

.btn-invite-template-select:hover,
.btn-invite-template-select:focus,
.btn-invite-template-select:active,
.btn-modal-invite-template-select:hover,
.btn-modal-invite-template-select:focus,
.btn-modal-invite-template-select:active,
.btn-party-details-next:hover,
.btn-party-details-next:focus,
.btn-party-details-next:active,
.btn-change-template:hover,
.btn-change-template:focus,
.btn-change-template:active {
	color: #FFFFFF;
	border-color: #F03F73;
	background-color: #FF4174;
}

.invite-template-title {
	padding: 7px;
	font-weight: bold;
}

.invite-details-field-name {
	margin-top: 6px;
	font-weight: normal;
}

.invite-details-field-hint {
	font-size: 10px;
	line-height: 14px;
	color: #777777;
	font-style: italic;
	margin-top: 2px;
}

.invite-party-details-wrap {
	border: 1px solid #EFEFEF;
	border-radius: 8px;
	padding: 10px 15px;
}

.invite-navigation {
	display: table;
	text-align: center;
	width: 100%;
	/*border: 1px solid #efefef;*/
	/*padding: 10px;*/
}

.invite-navigation li {
	display: table-cell;
}

.invite-sample-img {
	max-width: 100%;
	box-shadow: 3px 3px 10px 0 #BBBBBB;
}

.invite-design-img {
	width: 100%;
	box-shadow: 3px 3px 10px 0 #BBBBBB;
}

.invite-design-tip-img {
	max-width: 100%;
	height: 20px;
}

.invite-sample-template {
	position: relative;
}

.invite-design-step-wrap {
	position: relative;
	border: 1px solid #E0E0E0;
	border-radius: 8px;
	padding: 15px 10px 10px 10px;
}

.invite-design-step-title {
	position: absolute;
	color: #A0A0A0;
	background-color: #FFFFFF;
	margin-top: -26px;
	padding: 2px 8px;
	margin-right: 10px;
	margin-left: 10px;
	font-weight: bold;
}

.invite-design-tips-wrap {
	font-size: 14px;
	margin-top: 5px;
}

.invite-design-tip-img-wrap {
	height: 20px;
	vertical-align: text-bottom;
}

.wizard_horizontal ul.wizard_steps li a.selected .step_no {
	background: #CCCCCC;
}

.categorized-services-wrap label {
	width: 100%;
}

@media only screen and (max-width: 600px) {
	.invite-template-img-wrap {
		height: 130px;
	}

	.invite-step-title {
		font-size: 20px;
		line-height: 26px;
	}
}

.invite-hero-image-wrapper .mobile-res {
	position: relative;
	text-align: center;
}

.invite-hero-image-wrapper h1 {
	position: absolute;
	top: 48px;
	z-index: 3;
	color: white;
	font-size: 26px;
	font-weight: bold;
	text-shadow: -3px 8px 9px rgba(244, 238, 236, 0.4);
	width: 100%;
}

.invite-hero-image-wrapper .desktop-res h1 {
	top: 92px;
	font-size: 36px;
	font-weight: bold;
}

.invite-hero-image-wrapper .desktop-res {
	height: 300px;
	position: relative;
	text-align: center;
}

.invite-hero-image-wrapper .invite-hero-overlay {
	position: absolute;
	max-width: 1366px;
	width: 100%;
	height: 100%;
	margin: auto;
	top: 0;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 2;
	left: 0;
	right: 0;
}

#carousel-invite .carousel-inner {
	box-shadow: 0 0 9px 0 #909090;
}

#carousel-invite .glyphicon-triangle-right {
	right: 40px;
	top: -41px;
	color: #F1F1F1;
}

#carousel-invite .glyphicon-triangle-left {
	left: 20px;
	top: -41px;
	color: #F1F1F1;
}

#inviteTemplatePreviewModal .cross-button {
	color: #000000 !important;
	background-color: #F3F3F3 !important;
}

.carousel-control {
	opacity: 1;
}

.grid-sizer,
.grid-item {
	width: 25%;
}

.grid-item img {
	display: block;
	width: 100%;
	box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.4);
}

/* necessary for proper sizing with margins */
.hero-grid__grid-sizer {
	position: absolute;
}

.hero-grid__item,
.hero-grid__grid-sizer {
	width: 23%;
	margin: 0 1% 20px 1%;
}

.hero-grid__item {
	float: left;
	border-radius: 5px;
	margin-bottom: 10px;
}

.invite-link__img:hover {
	cursor: zoom-in;
}

.invite-link-title {
	display: block;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-bottom: 0;
	color: #2C2C2C;
	padding: 5px;
	font-size: 14px;
	line-height: 20px;
}

.invite-link__title:hover {
	cursor: pointer;
	color: #636363;
}

.e-cards-add-msg {
	margin: 50px 10px;
	font-size: 20px;
	line-height: 26px;
	text-align: center;
	border: 1px solid black;
	border-radius: 8px;
	padding: 10px;
}

.how-it-works-number {
	font-size: 30px;
	line-height: 30px;
}

.how-it-works-title {
	font-size: 11px;
	line-height: 16px;
	font-weight: bold;
	letter-spacing: 0.5px;
	margin: 0 0 6px;
	text-transform: uppercase;
}

.how-it-works-description {
	font-size: 15px;
	line-height: 24px;
}

.trending-designs div:first-child {
	padding-left: 0;
}

.trending-designs div:nth-last-child(2) {
	padding-right: 0;
}

.invite-premium-icon, .invite-premium-icon-mobile, .trending-invite-premium-icon, .trending-invite-premium-icon-mobile {
	position: absolute;
	top: 25px;
	left: 25px;
	padding: 5px;
	border-radius: 3px;
	color: #FEC400;
	font-size: 14px;
	background-color: rgba(8, 25, 43, .65);
}

.trending-invite-premium-icon {
	top: -80px;
	left: 5px;
}

@media only screen and (max-width: 767px) {
	.invite-navigation-img {
		height: 25px;
		width: 25px;
	}

	.hero-grid__item,
	.hero-grid__grid-sizer {
		width: 46%;
		margin: 0 2% 10px 2%;
	}

	.how-it-works-title, .how-it-works-number {
		margin-top: 20px;
	}

	.how-it-works-title {
		line-height: 11px;
	}

	.trending-designs div:nth-child(odd) {
		padding-right: 8px;
		padding-left: 0;
	}

	.trending-designs div:nth-child(even) {
		padding-left: 8px;
		padding-right: 0;
	}

	.invite-link-title {
		font-size: 13px;
	}

	.invite-premium-icon-mobile {
		top: 15px;
		left: 15px;
	}

	.trending-invite-premium-icon-mobile {
		top: -65px;
		left: 5px;
	}
}