.landing-header {
	padding: 10px;
}

.landing-header-logo-wrap {
	height: 38px;
}

.landing-header-logo {
	max-height: 100%;
	max-width: 100%;
}

.landing-header-text-wrap {
	font-size: 14px;
	text-transform: capitalize;
}

.landing-mobile-link {
	color: #333333;
	font-weight: 600;
}

.landing-header-mobile {
	font-size: 18px;
}

.landing-header-mobile .landing-mobile {
	font-size: 14px;
}

.landing-header-right {
	padding-right: 20px;
}

.landing-bg-overlay {
	background-color: rgba(0, 0, 0, 0.70);
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
}

.landing-body-section-text {
	color: #FFFFFF;
	position: relative;
	min-height: 330px;
	height: 0;
	overflow: hidden;
}

.landing-body-section-text .text-1-warp {
	padding: 25px 20px;
}

.landing-body-section-text .text-1 {
	font-size: 30px;
	font-weight: 600;
}

.landing-body-section-text .text-2-warp {
	padding: 10px 20px;
	margin: 30px 0 20px 0;
	color: #DEDEDE;
}

.landing-body-section-text .text-2 {
	font-size: 21px;
	line-height: 28px;
}

.landing-body-section-text .background-image {
	width: 100%;
}

.landing-body-sneak-peaks-wrap {
	padding: 30px;
	background-color: #F8F8F8;
}

.landing-body-images-wrap {
	background-color: #F8F8F8;
	padding: 3px 1.5px;
	/*height: 70px;*/
}

.landing-body-image-box {
	padding: 5px;
	height: 100%;
	width: 100%;
}

.landing-body-section-form {
	background-color: #F8F8F8;
}

.landing-sneak-peak-more {
	padding-top: 15px;
	font-weight: 600;
	font-size: 17px;
}

.landing-images-text {
	padding: 10px 5px;
	font-size: 16px;
	line-height: 16px;
	color: #555555;
}

.landing-body-images-wrap .landing-body-images {
	height: 100%;
}

.landing-body-images-wrap .landing-image-text-wrap {
	position: relative;
}

.landing-body-form-wrap {
	padding: 30px 30px 0 0;
	background-color: #F8F8F8;
}

.landing-enquiry-form {
	background-color: #FFFFFF;
	padding-bottom: 15px;
}

.landing-form-head-text {
	padding: 20px;
	font-size: 22px;
	line-height: 24px;
}

.landing-form-head-right-text {
	margin-top: -25px;
	margin-left: 30px;
}

.landing-form-body-block {
	padding: 10px;
}

.landing-form-input {
	height: 35px;
	font-size: 16px;
}

.landing-form-label {
	font-size: 18px;
	margin-bottom: 5px;
	font-weight: 400;
}

.btn-landing-submit {
	color: #FFFFFF;
	font-size: 20px;
	padding: 10px 15px;
	border-radius: 3px;
	box-shadow: 0 0 5px 1px #888888;
	background-color: #1E00FF;
	border-color: #000A92;
	font-weight: 600;
}

.l-modal-form {
	margin-bottom: 20px;
}

.btn-l-modal-submit {
	margin-top: 15px;
}

.btn-landing-submit:hover {
	color: #FFFFFF;
	text-decoration: underline;
}

.landing-body-section-customer-story {
	padding-top: 30px;
}

.landing-customer-page-head {
	padding: 20px 30px;
	font-size: 24px;
}

.landing-customer-page-head-text {
	font-weight: 600;
}

.landing-youtube-wrap {
	padding: 15px;
}

.landing-customer-benefits-list {
	margin-top: 18%;
	font-size: 24px;
	font-weight: 600;
	list-style-type: none;
}

.landing-customer-benefits-list li:before {
	content: "\2713\0020";
}

.landing-customer-benefits-list li {
	margin-bottom: 20px;
}

.landing-customer-benefits-list li:last-child {
	margin-bottom: 0;
}

.landing-customer-page-body {
	position: relative;
}

.landing-stats-image {
	max-height: 100%;
	max-width: 100%;
}

.landing-stats-text-1 {
	font-weight: 600;
	font-size: 50px;
}

.landing-stats-text-2 {
	font-weight: 400;
	font-size: 20px;
	line-height: 20px;
	margin-top: 20px;
}

.landing-body-section-stats {
	padding: 50px 20px;
}

.landing-body-section-media {
	background-color: #F8F8F8;
}

.landing-body-section-media-desktop {
	padding: 30px 0;
}

.landing-media-head {
	font-weight: normal;
	font-size: 28px;
	padding: 30px;
}

.landing-media-body {
	padding-bottom: 30px;
}

.landing-media-image {
	max-height: 100%;
	max-width: 100%;
}

.landing-media-image-wrap {
	padding: 5px 10px;
}

.landing-footer {
	background-color: #000000;
	/*position: relative;*/
}

.landing-footer-logo-wrap {
	height: 30px;
}

.landing-footer-logo {
	max-height: 100%;
	max-width: 100%;
}

.landing-footer-left {
	padding: 10px;
}

.landing-copy-text {
	font-size: 18px;
	color: #999999;
	text-transform: none;
	line-height: 18px;
	margin-top: 7px;
}

.landing-copy-text a {
	color: #666666;
}

.landing-footer-right {
	font-size: 20px;
	color: #FFFFFF;
	margin-top: 15px;
}

.animate-shake {
	border-color: #A9A9A9;
	box-shadow: #A9A9A9 0 0 0 2px;
	/* also need animation and -moz-animation */
	animation: shake .5s linear;
	-webkit-animation: shake .5s linear;
}

/* also need keyframes and -moz-keyframes */
@-webkit-keyframes shake {
	8%, 41% {
		-webkit-transform: translateX(-10px);
	}
	25%, 58% {
		-webkit-transform: translateX(10px);
	}
	75% {
		-webkit-transform: translateX(-5px);
	}
	92% {
		-webkit-transform: translateX(5px);
	}
	0%, 100% {
		-webkit-transform: translateX(0);
	}
}

.corporate-carousel-wrap {
	height: 360px;
	overflow: hidden;
	background-color: #000000;
}

#corporate-carousel {
	height: 400px;
}

.corporate-occasion-wrap {
	color: #FFFFFF;
	background-color: #000000;
}

.corporate-gallery-wrap {
	background-color: #F6F6F6;
	padding-top: 30px;
	padding-bottom: 20px;
}

.corporate-gallery-wrap .nav-tabs li a {
	color: #ED4472 !important;
}

.corporate-gallery-wrap .nav-tabs li a:hover {
	color: #ED4472 !important;
}

.corporate-services-wrap {
	padding: 10px 0 0px 0;
	background-color: #FFF;
}

.corporate-service-wrap {
	padding: 30 15px 10px 15px;

}

.usp-mbl-div {
	padding-top:30;
	min-height: 150px;
	padding-top:20px;
	padding-bottom: 20px
}

.usp-mbl-img {
	padding-bottom:15px;
	height: 75px;
	max-width: 100%
}
.corporate-services-sub-heading {
	color:#fff;
	text-align: center;
	font-size: 16px
}

.height-180-imp {
	height: 180px !important;
}

.seperator-div {
	background-color:#f6f6f6;
	height:5px;
	width:100%
}

.single-service-wrap div ul, .single-service-wrap-small div ul {
	padding: 0 !important;
	list-style-type: none;
	color: #9E9E9E;
}

.inner-item-div {
	background-color: #f6f6f6 !important;
}

.corporate-occasion-header {
	padding: 50px 0 0 0 !important;
}

.corporate-occasion-big-wrap {
	padding: 30px 0;
}

.corporate-occasion-big-wrap div h6 {
	font-weight: bold;
	padding: 10px 0;
	border: 2px solid #FFFFFF;
}

.corporate-occasion-small-wrap ul {
	padding: 0 !important;
	list-style-type: none;
}

.corporate-occasion-small-wrap ul li {
	padding: 10px 15px 0 15px;
	display: inline-block;
}

.single-service-wrap {
	padding-bottom: 15px;
}

.single-service-wrap div h6, .single-service-wrap-small div h6 {
	text-transform: uppercase;
}

.single-service-wrap div {
	height: 260px;
	background-color: #FFFFFF;
	border: 1px solid #FEFEFE;
}

.single-service-wrap-small div {
	height: 215px;
	background-color: #FFFFFF;
	border: 1px solid #FEFEFE;
}

.corporate-punch-line-one {
	position: absolute;
	z-index: 10;
	color: white;
	top: 33%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	line-height: 40px;
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 1px -1px 6px black
}

.corporate-punch-line-two {
	position: absolute;
	z-index: 10;
	font-weight: bold;
	top: 50%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 26px;
	color: white;
	text-transform: capitalize;
	text-shadow: 1px -1px 6px black
}


.corporate-reviews-wrap .section-feedback {
	padding: 30px 0;
}

/*.corporate-reviews-wrap .carousel-inner {
	height: 230px;
}*/

.col-md-55 {
	width: 20%;
	margin-bottom: 10px;
	position: relative;
	min-height: 1px;
	float: left;
	padding-right: 5px;
	padding-left: 5px
}

.section-how-it-works-corporate .col-md-55 {
	height: 200px;
}

.section-how-it-works-corporate .ben-desc {
	padding-left: 25px;
	padding-right: 17px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.corporate-carousel-wrap .carousel-control {
	z-index: 20;
}

.corporate-inner-image {
	text-align: center;
	background-color: #F3F3F3;
	height: 200px;
}

.corporate-gallery-carousel-inner-image img {
	display: inline-block !important;
	height: 100%;
	max-width: 100%;
}

.multi-item-carousel .carousel-inner > .item {
	-webkit-transition: 500ms ease-in-out left;
	transition: 500ms ease-in-out left;
}

.multi-item-carousel .carousel-inner .active.left {
	left: -25%;
}

.multi-item-carousel .carousel-inner .active.right {
	left: 25%;
}

.multi-item-carousel .carousel-inner .next {
	left: 25%;
}

.multi-item-carousel .carousel-inner .prev {
	left: -25%;
}

.multi-item-carousel .carousel-control {
	height: 40px;
	top: 40%;
	width: 6%;
	opacity: 0.9;
}

.multi-item-carousel .carousel-control i {
	top: 36%;
}

.corporate-gallery-loader {
	background-color: #FFFFFF;
	height: 200px;
}

.corporate-gallery-loader > div {
	top: 40%;
}

@media all and (transform-3d), (-webkit-transform-3d) {
	.multi-item-carousel .carousel-inner > .item {
		-webkit-transition: 500ms ease-in-out left;
		transition: 500ms ease-in-out left;
		-webkit-backface-visibility: visible;
		backface-visibility: visible;
		-webkit-transform: none !important;
		transform: none !important;
	}
}

.multi-item-carousel .carouse-control.left,
.multi-item-carousel .carouse-control.right {
	background-image: none;
}

@media (min-width: 768px) {
	.nav-justified {
		max-height: 52px;
	}

	.nav-justified > li > a {
		border-right: 1px solid #D5D5D5;
		border-left: 1px solid #FFFFFF;
	}

	.nav-justified > li:first-child > a {
		border-left: 0;
		border-radius: 5px 0 0 5px;
	}

	.nav-justified > li:last-child > a {
		border-right: 0;
		border-radius: 0 5px 5px 0;
	}
}

@media (max-width: 600px) {
	.col-md-55 {
		left: 10%;
		width: 80% !important;
	}
	.shadow-steps {
		box-shadow: 0 0 5px rgba(40, 40, 40, 0.15);
	}

	.corporate-service-wrap {
		padding: 0 30px !important;
	}

	.corporate-occasion-header {
		padding: 0 0 0 0 !important;
	}

	.corporate-occasion-wrap img {
		-webkit-transform: scale(3);
		transform: scale(3);
		opacity: 0.2;
	}
	.corporate-occasion-wrap {
		height: 510px !important;
	}
	.corporate-occasion-big-wrap {
		padding: 0 0 !important;
	}

	.corporate-occasion-big-wrap h6 {
		padding: 9px 0 !important;
		margin: 5px 0 !important;
	}

	a.corporate-review-next {
		right: 14% !important;
	}

	.corporate-punch-line-one {
		top: 40%;
		line-height: 30px;
		font-size: 25px;
	}

	.corporate-punch-line-two {
		top: 55%;
		font-size: 12px;
	}

	.corporate-carousel-inner img {
		-webkit-transform: scale(2) !important;
		transform: scale(2) !important;
		opacity: 0.4;
		max-height: 100% !important;
		transform-origin: 50% 0;
		width: auto !important;
	}


	.corporate-reviews-wrap .section-feedback {
		padding: 25px 0;
	}



	.corporate-customer-review {
		font-size: 14px !important;
	}

	.multi-item-carousel .carousel-control i {
		top: 48%;
	}

	.multi-item-carousel .carousel-inner .active.left, .multi-item-carousel .carousel-inner .prev {
		left: -50%;
	}

	.multi-item-carousel .carousel-inner .active.right, .multi-item-carousel .carousel-inner .next {
		left: 50%;
	}

	.corporate-inner-image {
		height: 150px;
	}

	.section-how-it-works-corporate .box-shadow {
		box-shadow: 0 0 0 rgba(40, 40, 40, 0.15);
	}
}

@media (max-width: 991px) and (min-width: 601px) {
	.col-md-55 {
		width: 33.33% !important;
	}

}

.corporate-occasion-wrap {
	height: 400px;
	overflow: hidden;
}

.corporate-occasion-wrap img {
	opacity: 0.3;
}

.des-corporate-filter-hr {
	border-color: #F1F1F1;
	margin: 2em 0 0 0;
}

.section-how-it-works-corporate {
	padding-top: 30px;
	padding-bottom: 30px;
}

.corporate-carousel-inner {
	height: 100%;
}

.corporate-carousel-inner img {
	opacity: 0.4;
	width: 100%;
}

a.corporate-review-prev {
	left: 5%;
	right: auto;
	top: 25%;
	width: 5%;
	background: none;
}

a.corporate-review-next {
	right: 5%;
	left: auto;
	top: 25%;
	width: 5%;
	background: none;
}

.why-us-title {
	color:#717171 !important;
}

.corporate-customer-review {
	text-align: center;
	margin: 10px;
	font-size: 20px;
	line-height: 30px;
}

.corporate-reviews-wrap .cust-name {
	color: #ED4173;
}

.corporate-client-logos {
	height: 66px;
	margin: 0 0 30px 0;
	display: inline-block;
}

.corporate-client-logos div {
	width: 100%;
	height: 100%;
	text-align: center;
	border: 1px solid #D2EBFF;
	-webkit-filter: grayscale(100%) opacity(60%);
	filter: grayscale(100%) opacity(60%);
}

.corporate-client-logos div img {
	max-width: 100%;
	max-height: 100%;
	padding: 5px;
	border-radius: 2px;
	-webkit-filter: grayscale(100%) opacity(60%);
	filter: grayscale(100%) opacity(60%);
}

.corporate-client-logos div img:hover, .corporate-client-logos div:hover {
	-webkit-filter: grayscale(0%) opacity(100%);
	filter: grayscale(0%) opacity(100%);
}

.corporate-top-enquire-btn {
	position: absolute;
	top: 65%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	z-index: 10;
}

.corporate-reviews-wrap img {
	border-radius: 50%;
}