.box {
	width: 100%;
}

.floating-evibe-btn {
	height: 40px;
	font-family: Roboto, sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 500;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #ED3E72;
	border: none;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
	cursor: pointer;
	outline: none;
	padding: 12px 20px;
}


.intro-header h1 {
	font-size: 3.5em;
}

.carousel-hero-img {
	max-height: 400px !important;
	width: 100%;
	height: auto;
}

.carousel-header-tag {
	background-color: #FFFFFF;
	font-size: 20px;
	padding: 5px 10px;
	border-radius: 8px;
	vertical-align: bottom;
}

.intro-header h5.pos-rel {
	bottom: -80px;
	text-transform: uppercase;
	text-shadow: 1px 1px 2px rgba(20, 20, 20, 0.5);
}

.categories-wrap {
	bottom: 0;
	z-index: 99;
}

.categories-list {
	width: 100%;
	background: #F03F73;
	display: table;
	table-layout: fixed;
}

.ce-no-categories .intro-header {
	height: 400px;
}

.carousel-caption-style {
	color: #000000;
	z-index: 999;
	position: absolute;
	text-shadow: none !important;

	top: 27% !important;
	left: 60px !important;
	right: auto !important;
	text-align: left !important;
}

.carousel-header {
	font-size: 35px !important;
	letter-spacing: 1px !important;
}

.section-heading {
	padding-left: 0px !important;
	font-size: 26px;
	letter-spacing: 1.1px;
	color: #393333;
	font-weight: 600;
	margin-bottom: 0;
}

.offer-card-mbl {
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 15px;
	width: auto;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	align-items: center;
}

.offer-card-desktop {
	width: auto;
	background-size: cover;
	display: flex;;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.card-desktop {
	border-radius: 5px;
	height: auto;
	-webkit-box-shadow: 0 5px 13px 4px rgba(0, 0, 0, .11);
	box-shadow: 0 5px 13px 4px rgba(0, 0, 0, .11);
}

.offer-card-heading-mbl {
	margin-bottom: 0;
	color: white;
	text-align: center;
}

.count-down-wrap {
	color: white;
	padding: 5px;
	font-size: 35px;
	margin-top: 30px;
}

.reviews-wrap-mbl {
	border: 1px solid #0000004F;
	border-radius: 10px;
	height: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: center;
	padding-left: 15px;
	font-size: 20px;
	line-height: 1.5;
	color: #7D5147;
	padding-right: 15px;
}

.review-img {
	margin-top: 10px;
	height: 50px;
	border-radius: 50%;
	width: 50px !important;
}

.prod-img-container {
	height: 150px;
	background-color: #FFFFFF;
	overflow: hidden;
}

.mar-t-40-imp {
	margin-top: 40px !important;
}

.header-img {
	width: 100%;
	max-width: 1366px !important;
	position: relative;
	display: inline-block;
	left: 50%;
	transform: translate(-50%);
	background: linear-gradient(to right, #EE9CA7, #FFDDE1);
}

@media only screen and (min-width: 768px) {
	.section-heading {
		margin-top: 50px !important;
	}
}

@media only screen and (max-width: 1380px) and (min-width: 768px) {
	.page-content {
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
}

@media only screen and (max-width: 767px) {
	.section-heading {
		margin-top: 40px !important;
	}
}

.owl-stage {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.time-bg {
	background-color: #00000070;
	padding: 8px 5px;
	width: 52px !important;
}