/* Partner Pages : Benefits + Sign up */

/*==== benefits page =======*/

.why-partner-sec {
	margin: 0;
	padding: 0;
	background-color: #F5F5F5;
	border: none;
	cursor: default;
}

.why-partner-sec .bg-img {
	height: 350px;
}

/*==== benefits : header =======*/

.partner-header {
	padding-bottom: 0;
	color: #F8F8F8;
	background-size: cover;
	position: relative;
	overflow: hidden;
	text-align: center;
	text-transform: uppercase;
}

.partner-message {
	position: absolute;
	text-align: center;
	top: 20px;
	width: 100%;
	z-index: 98;
	margin-top: 40px;
}

.partner-message i {
	font-size: 24px;
	vertical-align: text-bottom;
}

.partner-message .pitch-lines {
	font-size: 48px;
	font-weight: 400;
	line-height: 50px;
	margin: 24px 0;
	text-align: center;
	text-transform: capitalize;
}

.partner-message .line-2 {
	font-size: 28px;
}

.btn-partner-signup {
	margin-top: 30px;
	font-size: 20px;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	padding: 10px 25px;
	color: #FFFFFF;
	background: #ED3E72;
	border-color: #ED3E72;
	text-transform: uppercase;
}

.partner-header .bg-overlay {
	left: 0;
	height: 100%;
	opacity: 0.45;
}

.partner-signup-lbl {
	font-weight: 300;
}

.why-partner-menu {
	height: 50px;
	background: #EBF0F9;
	border-bottom: 1px solid #CCCCCC;
}

.why-partner-menu.fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
}

.why-partner-menu ul {
	display: table;
	text-align: center;
}

.why-partner-menu ul li {
	display: table-cell;
}

.why-partner-menu ul li.active {
	color: #000000;
}

.why-partner-menu ul li:hover {
	color: #303942;
}

.why-partner-menu ul li a {
	color: #393939;
	text-decoration: none;
	cursor: pointer;
	margin: 13px;
	display: block;
	text-transform: uppercase;
	font-size: 13px;
}

.why-partner-menu ul li a:hover {
	color: #9FA3A7;
}

.header-signup-btn-cnt a {
	padding: 6px 12px !important;
	color: #FFFFFF !important;;
	display: inline !important;;
}

.header-singup-btn-cnt i {
	font-size: 15px;
}

/*==== benefits : content =======*/

.data-title {
	margin: 0 0 50px 0;
	text-transform: uppercase;
	border-bottom: 1px solid rgb(233, 30, 99);
	display: inline-block;
}

.partner-data {
	text-align: center;
	margin: 60px 0;
	padding: 50px 30px;
	background-color: #FFFFFF;
	border: 1px solid #D4D4D4;
	cursor: default;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
}

.partner-data hr {
	margin-left: 10%;
	margin-right: 10%;
	border-top: 1px solid #D4D4D4;
}

.partner-benefits img {
	display: inline-block;
	height: 64px;
}

.partner-benefits .sub-sec-title {
	font-size: 20px;
	line-height: 24px;
	font-weight: 400;
	color: #454545;
}

.partner-benefits .sub-sec-desc {
	color: #898989;
	word-wrap: break-word;
	word-break: normal;
}

.partner-hiw .hiw-item {
	margin: 60px 40px;
	padding-bottom: 60px;
	border-bottom: 1px solid #D9D9D9;
}

.partner-hiw .hiw-item:first-child {
	margin-top: 0;
}

.partner-hiw .hiw-item:last-child {
	border: none;
	padding-bottom: 0;
}

.partner-hiw .hiw-title {
	margin-top: 0;
}

.partner-hiw .hiw-data a{
	color: #ED3E72;
}

.partner-hiw .hiw-data i{
	color: #ED3E72;
	font-size: 16px;
	padding-left: 5px;
}

.partner-step-txt {
	color: #ED3E72;
}

.partner-faqs {
	text-align: left;
	margin: 0 20px;
}

.faqs-item {
	padding-bottom: 20px;
}

.faqs-item:last-child {
	padding-bottom: 20px;
}

.faqs-item .faq-question {
	font-weight: 600;
	line-height: 20px;
	font-size: 15px;
	color: #454545;
	padding-bottom: 5px;
}

.faqs-item .faq-answer {
	color: #898989
}

.faqs-item .faq-answer a {
	color: #ED3E72;
}

.faqs-item .faq-answer a:hover {
	text-decoration: underline;
}

.partner-stories {
	text-align: center;
	padding-top: 60px;
	margin: 0 0 60px 0;
	background-color: #FFFFFF;
}

.partner-stories .cust-comments p {
	padding: 0 10px 0 10px;
}

.partner-stories .story-txt-cnt {
	border: 1px solid #D4D4D4;
	border-top: none;
}

.partner-stories .partner-story-img {
	height: 300px;
}

a.partner-slide-prev {
	left: -8%;
	top: 40%;
	width: 5%;
	background: none;
}

a.partner-slide-next {
	right: -8%;
	left: auto;
	top: 40%;
	width: 5%;
	background: none;
}

.partner-message-form i {
	font-size: 20px
}

/*===== form page ========*/

.partner-signup-sec {
	margin: 20px 0;
	padding: 0;
	background-color: #FFFFFF;
	border: none;
	cursor: default;
}

.partner-signup-sec .partner-sub-head {
	padding: 30px;
}

.partner-signup-sec .submit-success {
	padding: 30px;
	font-size: 16px;
	margin-top: 20px;
	text-align: center;
}

.partner-signup-sec .home-link {
	padding: 0 30px 30px 30px;
	text-align: center;
}

.bkgnd-grey {
	background: #F5F5F5;
}

.congrats-msg {
	font-size: 15px;
	padding-bottom: 15px;
}