.notification-popup {
	z-index: 2000;
	position: fixed;
	bottom: 0;
	right: 0;
	left: auto;
}

.popup-wrapper {
	padding: 5px;
	padding-bottom: 0;
	font-size: inherit;
	overflow: visible; /*to make the absolutely positioned cross button visible*/
	width: 300px;
	display: none;
}

.popup-container {
	padding: 10px;
	border: 1px solid #666666;
	position: relative;
	background-color: #1A0D1A;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.notification-popup .title {
	font-size: 20px;
	line-height: 26px;
	font-weight: normal;
	display: block;
	color: #FFFFFF;
	text-shadow: 1px 1px #271A27;
}

.popup-close {
	font-family: Arial, sans-serif;
	line-height: 6px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
	position: absolute;
	right: 15px;
	text-decoration: none;
	height: 20px;
	width: 25px;
	text-align: center;
	background-color: #FFFFFF;
	color: #000000;
	text-shadow: 1px 1px #FFFFFF;
	border: 1px solid #666666;
}

.popup-close:hover {
	background-color: #E5E5E5;
	color: #000000;
	text-shadow: 1px 1px #F2F2F2;
}

.popup-close i, .popup-close span {
	display: inline-block;
}

.notification-popup .description {
	padding-bottom: 10px;
}

.notification-popup .desc-text {
	color: #EBE8EB;
	margin: 6px 0;
	font-size: 14px;
	text-align: center;
}

.notification-popup .callToAction {
	text-align: center;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.notification-popup .callToAction a {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #EEEEEE), color-stop(100%, #CCCCCC));
	background-image: -webkit-linear-gradient(top, #EEEEEE, #CCCCCC);
	background-image: -moz-linear-gradient(top, #EEEEEE, #CCCCCC);
	background-image: -ms-linear-gradient(top, #EEEEEE, #CCCCCC);
	background-image: -o-linear-gradient(top, #EEEEEE, #CCCCCC);
	background-image: linear-gradient(top, #EEEEEE, #CCCCCC);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-family: Tahoma, Geneva, Verdana, sans-serif;
	font-size: 11px;
	font-weight: bold;
	line-height: 1;
	padding: 8px;
	text-align: center;
	color: #FFFFFF;
	text-shadow: 0 1px 0 #CC0C16;
	border-color: #990000;
	background-color: #CC0C16;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E62630), color-stop(100%, #B20000));
	background-image: -webkit-linear-gradient(top, #E62630, #B20000);
	background-image: -moz-linear-gradient(top, #E62630, #B20000);
	background-image: -ms-linear-gradient(top, #E62630, #B20000);
	background-image: -o-linear-gradient(top, #E62630, #B20000);
	background-image: linear-gradient(top, #E62630, #B20000);
}

.notification-popup .callToAction a:hover,
.notification-popup .callToAction a:active {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #DDDDDD), color-stop(100%, #BBBBBB));
	background-image: -webkit-linear-gradient(top, #DDDDDD, #BBBBBB);
	background-image: -moz-linear-gradient(top, #DDDDDD, #BBBBBB);
	background-image: -ms-linear-gradient(top, #DDDDDD, #BBBBBB);
	background-image: -o-linear-gradient(top, #DDDDDD, #BBBBBB);
	background-image: linear-gradient(top, #DDDDDD, #BBBBBB);
	cursor: pointer;
	text-shadow: 0 1px 0 #B20000;
	border-color: #7F0000;
	background-color: #B20000;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E62630), color-stop(100%, #990000));
	background-image: -webkit-linear-gradient(top, #E62630, #990000);
	background-image: -moz-linear-gradient(top, #E62630, #990000);
	background-image: -ms-linear-gradient(top, #E62630, #990000);
	background-image: -o-linear-gradient(top, #E62630, #990000);
	background-image: linear-gradient(top, #E62630, #990000);
}

.popup-minimize {
	padding: 10px;
	background-color: #1A0D1A;
	border: 1px solid #666666;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	color: #F5F5F5;
	display: none;
}

.popup-minimize .min-title {
	font-size: 16px;
	font-weight: normal;
	margin-right: 15px;
	display: inline-block;
}

.popup-max {
	background-color: #FFFFFF;
	color: #333333;
	text-align: center;
	width: 25px;
	height: 20px;
	font-size: 12px;
	display: inline-block;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
}

.popup-max:hover {
	background-color: #E5E5E5;
	text-shadow: 1px 1px #FFFFFF;
}

.popup-max i {
	margin-top: 2px;
	margin-left: 1px;
}

.country-calling-code-popup-modal {
	margin-top: 5px;
}
