/*load images through sprite*/
.evibe-footer-logo-w, .evibe-footer-fb-circle, .evibe-footer-google-plus, .evibe-footer-instagram, .evibe-footer-youtube {
	display: inline-block;
	background: url('https://gallery.evibe.in/main/sprite/evibe-footer.png') no-repeat;
	overflow: hidden;
	text-indent: -9999px;
	text-align: left;
}

.evibe-footer-logo-w {
	background-position: -0px -0px;
	width: 125px;
	height: 34px;
}

.evibe-footer-fb-circle {
	background-position: -0px -34px;
	width: 32px;
	height: 32px;
}

.evibe-footer-google-plus {
	background-position: -32px -34px;
	width: 32px;
	height: 32px;
}

.evibe-footer-instagram {
	background-position: -64px -34px;
	width: 32px;
	height: 32px;
}

.evibe-footer-youtube {
	background-position: -0px -66px;
	width: 32px;
	height: 32px;
}

.evibe-footer-mid-cake2-w, .evibe-footer-mid-collection-w, .evibe-footer-mid-decoration2-w, .evibe-footer-mid-decoration4-w, .evibe-footer-mid-entertainment2-w,
.evibe-footer-mid-food2-w, .evibe-footer-mid-lounge-w, .evibe-footer-mid-packages2-w, .evibe-footer-mid-priest-w, .evibe-footer-mid-resorts-w,
.evibe-footer-mid-tent2-w, .evibe-footer-mid-trends-w, .evibe-footer-mid-venue2-w, .evibe-footer-mid-villa-w {
	display: inline-block;
	background: url('https://gallery.evibe.in/main/sprite/evibe-footer-mid.png') no-repeat;
	overflow: hidden;
	text-indent: -9999px;
	text-align: left;
}

.evibe-footer-mid-cake2-w {
	background-position: -2px -0px;
	width: 18px;
	height: 18px;
}

.evibe-footer-mid-collection-w {
	background-position: -22px -0px;
	width: 18px;
	height: 18px;
}

.evibe-footer-mid-decoration2-w {
	background-position: -42px -0px;
	width: 18px;
	height: 18px;
}

.evibe-footer-mid-decoration4-w {
	background-position: -2px -20px;
	width: 18px;
	height: 18px;
}

.evibe-footer-mid-entertainment2-w {
	background-position: -22px -20px;
	width: 18px;
	height: 18px;
}

.evibe-footer-mid-food2-w {
	background-position: -42px -20px;
	width: 18px;
	height: 18px;
}

.evibe-footer-mid-lounge-w {
	background-position: -2px -40px;
	width: 18px;
	height: 18px;
}

.evibe-footer-mid-packages2-w {
	background-position: -22px -40px;
	width: 18px;
	height: 18px;
}

.evibe-footer-mid-priest-w {
	background-position: -42px -40px;
	width: 18px;
	height: 18px;
}

.evibe-footer-mid-resorts-w {
	background-position: -2px -60px;
	width: 18px;
	height: 18px;
}

.evibe-footer-mid-tent2-w {
	background-position: -22px -60px;
	width: 18px;
	height: 18px;
}

.evibe-footer-mid-trends-w {
	background-position: -42px -60px;
	width: 18px;
	height: 18px;
}

.evibe-footer-mid-venue2-w {
	background-position: -2px -80px;
	width: 18px;
	height: 18px;
}

.evibe-footer-mid-villa-w {
	background-position: -22px -80px;
	width: 18px;
	height: 18px;
}