/**
 * CSS for enquiry thank you page
 */
.thank-you-wrap {
	background-color: #FFFFFF;
	margin: 40px 0;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.ty-card {
	padding: 20px 15px;
	background-color: #FDFDFD;
	border: 1px solid #F1F1F1;
	margin-bottom: 25px;
}

.ty-msg-txt {
	font-size: 16px;
	line-height: 24px;
}

.ty-msg-icon {
	height: 32px;
}

.ty-msg-cta {
	margin-top: 10px;
	text-align: center;
}

.ty-card-title {
	margin: 0;
	font-weight: 500;
	font-size: 18px;
	line-height: 20px;
}

.form-add-details {
	margin-top: 30px;
}

.mdl-textfield--floating-label.is-focused .mdl-textfield__label,
.mdl-textfield--floating-label.is-dirty .mdl-textfield__label {
	bottom: -5px;
}

.adv-list {
	margin-top: 20px;
	text-align: center;
}

.ty-card-adv .adv-title {
	color: #ED3E72;
	font-size: 18px;
	line-height: 22px;
	margin-top: 10px;
	font-weight: 300;
	text-transform: capitalize;
}

.adv-icon-cnt img {
	padding: 10px;
	-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;
	background-color: #909090;
}
