/**
 * CSS for enquiry thank you page
 */
.cust-order {
	padding-bottom: 80px;
	background: #F7F7F7;
	padding-left: 23px;
	min-height: 450px
}

.cust-order a:hover {
	text-decoration: none;
	cursor: pointer;
}

.cust-order .order-heading {
	font-size: 20px;
	font-weight: bold;
	font-family: 'Roboto', 'Helvetica Neue', 'sans-serif';
}

.cust-order .order-data {
	background: white;
	color: #333333;
	text-align: left;
}

.cust-order .order-data .header div {
	font-size: 15px;
}

.text-overflow {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.order-card {
	border: 1px solid #DADADA;
	border-radius: 4px;
	margin-right: 10px;
}

.tmo-ticket {
	border: 1px solid #DFE1E5;
	border-radius: 20px;
}

.tmo-modal-close-btn {
	position: absolute;
	font-size: 45px;
	right: -35px;
	color: #FFFFFF;
	opacity: 1;
}

.tmo-order-info a {
	color: #333333 !important;
	text-decoration: underline;
	font-weight: normal;
}

@media only screen and (max-width: 600px) {
	.cust-order {
		background: #F7F7F7;
		padding-bottom: 40px;
		padding-left: 10px;
	}

	.order-card {
		border: 1px solid #DADADA;
		border-radius: 4px;
		margin-right: 0;
	}

	.cust-order .order-heading {
		font-size: 20px;
		font-weight: bold;
		font-family: 'Roboto', 'Helvetica Neue', 'sans-serif';
	}

	.cust-order .order-data {
		background: white;
		font-size: 12px;
		color: #333333;
		text-align: left;
	}

	.cust-order .order-data .header {
		background: white;
	}

	.cust-order .order-data .header div {
		font-size: 12px;
	}
}