/**
 * UTILITY CLASSES
 */

html, body {
	height: 100%;
}

.lh-12e {
	line-height: 1.2em !important;
}

.page-heading {
	font-size: 20px !important;
	font-weight: 500;
	line-height: 1;
	letter-spacing: .02em;
}

.lh-18 {
	line-height: 18px;
}

.lh-20 {
	line-height: 20px;
}

.add-shadow-on-hover:hover {
	box-shadow: 0 0 10px rgba(33, 33, 33, .2);
	border-radius: 2px
}

.lh-22 {
	line-height: 22px;
}

.lh-24 {
	line-height: 24px;
}

.hr-line {
	margin-top: 0px;
	border: none;
	color: rgba(0, 0, 0, .1);
	background-color: rgba(0, 0, 0, .1)
}

.lh-26 {
	line-height: 26px;
}

.lh-28 {
	line-height: 28px;
}

.ls-normal {
	letter-spacing: normal;
}

.ls-1-imp {
	letter-spacing: 1px !important;
}

.full-width {
	width: 100%;
}

.w-1366 {
	max-width: 1366px;
	margin: auto;
}

.w-30pc {
	width: 30%;
}

.breadcrumb > li + li:before {
	content: ">";
}

.neg-mar {
	margin-left: -2px;
}

.in-blk {
	display: inline-block;
}

.flex-box {
	display: flex;
	align-items: center;
}

.blk {
	display: block !important;
}

.dis-in {
	display: inline;
}

.valign-top {
	vertical-align: top;
}

.valign-mid {
	vertical-align: middle;
}

.valign-text-top {
	vertical-align: text-top;
}

.valign-bottom {
	vertical-align: bottom;
}

.valign-sub {
	vertical-align: sub;
}

.btn .ml2 {
	margin-left: 2px;
}

.fw-normal {
	font-weight: normal;
}

.fw-500 {
	font-weight: 500;
}

.fw-400 {
	font-weight: 400;
}

.fw-300 {
	font-weight: 300;
}

.pos-rel {
	position: relative;
}

.bg-white-imp {
	background-color: #FFFFFF !important;
}

.btn-evibe {
	color: #FFFFFF;
	background-color: #ED3E72;
	border-color: #ED3E72;
	text-transform: uppercase;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
}

.btn-hollow-blue {
	color: #448AFF;
	background-color: #FFFFFF;
	border-color: #448AFF;
	text-transform: uppercase;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
}

.btn-hollow-blue:link, .btn-hollow-blue:hover, .btn-hollow-blue:focus, .btn-hollow-blue:visited, .btn-hollow-blue:active {
	color: #448AFF;
	border-color: #448AFF;
}

.btn-evibe:link, .btn-evibe:hover, .btn-evibe:focus, .btn-evibe:visited, .btn-evibe:active {
	color: #FFFFFF;
	border-color: #AF3257;
}

.btn-home-carousel-cta {
	color: #FFFFFF;
	background-color: #ED3E72;
	border-color: #ED3E72;
	text-transform: uppercase;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	border-radius: 4px !important;
}

.btn-home-carousel-cta:link, .btn-home-carousel-cta:hover, .btn-home-carousel-cta:focus, .btn-home-carousel-cta:visited, .btn-home-carousel-cta:active {
	color: #FFFFFF;
	border-color: #ED3E72;
}

.btn-evibe-b {
	color: #000000;
	background-color: #FBCE0C;
	border-color: #FBCE0C;
	text-transform: uppercase;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
}

.btn-tmo {
	color: #FFFFFF;
	background-color: #ED3E72;
	border-color: #ED3E72;
	text-transform: uppercase;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	padding: 12px 20px;
	border-radius: 4px;
	font-size: 18px;
}

.btn-tmo:hover,
.btn-tmo:active,
.btn-tmo:focus {
	color: #FFFFFF;
	text-decoration: none;
}

.btn-br-4 {
	border-radius: 4px !important;
}

.btn-br-8 {
	border-radius: 8px;
}

.cur-point {
	cursor: pointer;
}

.cur-loading {
	cursor: progress !important;
}

.cur-disabled {
	cursor: not-allowed !important;
}

.no-border {
	border: 0 !important;
}

.no-click {
	cursor: default;
}

.text-sommet {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.text-strike {
	text-decoration: line-through;
}

.text-underline {
	text-decoration: underline;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-center-imp {
	text-align: center !important;
}

.text-right {
	text-align: right;
}

.text-lower {
	text-transform: lowercase;
}

.text-lower-imp {
	text-transform: lowercase !important;
}

.text-cap {
	text-transform: capitalize;
}

.text-upr {
	text-transform: uppercase;
}

.text-case-normal {
	text-transform: none;
}

.text-bold {
	font-weight: bold;
}

.text-normal {
	font-weight: normal;
}

.text-black-imp {
	color: #000000 !important;
}

.text-pink {
	color: #777777;
}

.text-black {
	color: #000000;
}

.text-white-imp {
	color: #FFFFFF !important;
}

.text-blue-imp {
	color: rgb(68, 138, 255) !important;
}

.text-blue {
	color: rgb(68, 138, 255);
}

.text-light-grey {
	color: #868282;
}

.text-grey {
	color: #333333;
}

.text-g {
	color: #30AC15;
}

.text-o {
	color: orange;
}

.text-r {
	color: red;
}

.text-e {
	color: #ED3E72;
}

.text-v {
	color: #CF4AA7;
}

.text-i {
	color: #34B6C7;
}

.text-b {
	color: #FACA39;
}

.text-ip {
	color: #DD4444; /* Instaparty color */
}

.text-888 {
	color: #888888;
}

.bg-light-gray {
	background: #F5F5F5;
}

.bg-black {
	background-color: #000000;
}

.bg-yellow {
	background-color: #FACA39;
}

.bg-loading {
	background-color: #E9E9E9;
}

.font-10 {
	font-size: 10px;
}

.font-10-imp {
	font-size: 10px !important;
}

.font-11 {
	font-size: 11px;
}

.font-12 {
	font-size: 12px;
}

.font-12-imp {
	font-size: 12px !important;
}

.font-13 {
	font-size: 13px;
}

.font-13-imp {
	font-size: 13px !important;
}

.font-14 {
	font-size: 14px;
}

.font-15 {
	font-size: 15px;
}

.font-16 {
	font-size: 16px;
}

.font-16-imp {
	font-size: 16px !important;
}

.font-18 {
	font-size: 18px !important;
}

.font-20 {
	font-size: 20px;
}

.font-20-imp {
	font-size: 20px !important;
}

.font-22 {
	font-size: 22px;
}

.font-24 {
	font-size: 24px;
}

.font-26 {
	font-size: 26px !important;
}

.line-16 {
	line-height: 16px;
}

.word-break {
	word-break: break-all;
}

.hr-dark {
	border-top: 1px solid #CCCCCC;
	margin: 10px 0;
}

.ls-none {
	list-style: none;
	padding: 0;
	margin: 0;
}

.rupee-font {
	margin-right: -1px;
	display: inline;
}

.low-font {
	font-size: 13px;
}

.xs-low-font {
	font-size: 12px;
	display: inline;
}

.lowest-font {
	font-size: 11px;
}

.btn {
	border-radius: 0;
}

.btn-rounded {
	border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.min-ht-30 {
	min-height: 30px;
}

.pos-abs {
	position: absolute;
	width: 100%;
	text-align: center;
}

/**
 * PADDING
 */
.no-pad {
	padding: 0;
}

.no-pad-l {
	padding-left: 0 !important;
}

.pad-40 {
	padding: 40px;
}

.no-pad-r {
	padding-right: 0;
}

.no-pad-r-imp {
	padding-right: 0 !important;
}

.no-pad-t {
	padding-top: 0 !important;
}

.no-pad-b {
	padding-bottom: 0 !important;
}

.pad-r-3 {
	padding-right: 3px;
}

.pad-r-4 {
	padding-right: 4px;
}

.pad-r-5 {
	padding-right: 5px;
}

.pad-r-6 {
	padding-right: 6px;
}

.pad-r-10 {
	padding-right: 10px;
}

.pad-r-15 {
	padding-right: 15px;
}

.pad-r-15-imp {
	padding-right: 15px !important;
}

.pad-r-20 {
	padding-right: 20px;
}

.pad-r-30 {
	padding-right: 30px;
}

.pad-r-60 {
	padding-right: 60px;
}

.pad-t-2 {
	padding-top: 2px;
}

.pad-t-3 {
	padding-top: 3px;
}

.pad-t-5 {
	padding-top: 5px;
}

.pad-t-8 {
	padding-top: 8px;
}

.pad-t-10 {
	padding-top: 10px;
}

.pad-t-8-imp {
	padding-top: 8px !important;
}

.pad-t-15 {
	padding-top: 15px;
}

.pad-t-20 {
	padding-top: 20px;
}

.pad-t-20-imp {
	padding-top: 20px !important;
}

.pad-t-25 {
	padding-top: 25px;
}

.pad-t-30 {
	padding-top: 30px;
}

.pad-t-50 {
	padding-top: 50px;
}

.pad-l-3 {
	padding-left: 3px;
}

.pad-l-5 {
	padding-left: 5px;
}

.pad-l-5-imp {
	padding-left: 5px !important;
}

.pad-l-10 {
	padding-left: 10px;
}

.pad-l-15 {
	padding-left: 15px;
}

.pad-l-15-imp {
	padding-left: 15px !important;
}

.pad-l-20 {
	padding-left: 20px;
}

.pad-l-25 {
	padding-left: 25px;
}

.pad-l-30 {
	padding-left: 30px;
}

.pad-l-30-imp {
	padding-left: 30px !important;
}

.pad-l-60 {
	padding-left: 60px;
}

.pad-b-10 {
	padding-bottom: 10px;
}

.pad-b-15 {
	padding-bottom: 15px;
}

.pad-b-15-imp {
	padding-bottom: 15px !important;
}

.pad-b-20 {
	padding-bottom: 20px;
}

.pad-b-30 {
	padding-bottom: 30px;
}

.pad-b-50 {
	padding-bottom: 50px;
}

.pad-b-6 {
	padding-bottom: 6px;
}

.pad-b-3 {
	padding-bottom: 3px;
}

.pad-b-4 {
	padding-bottom: 4px;
}

.pad-b-5 {
	padding-bottom: 5px;
}

.pad-b-5-imp {
	padding-bottom: 5px !important;
}

.pad-10 {
	padding: 10px;
}

.pad-5 {
	padding: 5px;
}

.pad-20 {
	padding: 20px;
}

/**
 * MARGIN
 */
/*==== Negative Margin ====*/
.mar-auto {
	margin: auto;
}

.mar-n-t-15 {
	margin-top: -15px;
}

.mar-n-l-15 {
	margin-left: -15px;
}

.no-mar {
	margin: 0;
}

.no-mar-r {
	margin-right: 0 !important;
}

.no-mar-b {
	margin-bottom: 0 !important;
}

.no-mar-l {
	margin-left: 0 !important;
}

.mar-5 {
	margin: 5px;
}

.mar-r-1 {
	margin-right: 1px;
}

.mar-r-2 {
	margin-right: 2px;
}

.mar-r-3 {
	margin-right: 3px;
}

.mar-r-4 {
	margin-right: 4px;
}

.mar-r-5 {
	margin-right: 5px;
}

.mar-r-8 {
	margin-right: 8px;
}

.mar-r-10 {
	margin-right: 10px;
}

.mar-r-15 {
	margin-right: 15px;
}

.mar-r-20 {
	margin-right: 20px;
}

.mar-r-30 {
	margin-right: 30px;
}

.mar-r-60 {
	margin-right: 60px;
}

.no-mar-t {
	margin-top: 0 !important;
}

.mar-t-2 {
	margin-top: 2px;
}

.mar-t-3 {
	margin-top: 3px;
}

.mar-t-4 {
	margin-top: 4px;
}

.mar-t-5 {
	margin-top: 5px;
}

.mar-t-7 {
	margin-top: 7px;
}

.mar-t-8 {
	margin-top: 8px;
}

.mar-t-10 {
	margin-top: 10px;
}

.mar-t-13 {
	margin-top: 13px;
}

.mar-t-15 {
	margin-top: 15px;
}

.mar-t-20 {
	margin-top: 20px;
}

.mar-t-25 {
	margin-top: 25px;
}

.mar-t-30 {
	margin-top: 30px;
}

.mar-t-40 {
	margin-top: 40px;
}

.mar-t-50 {
	margin-top: 50px;
}

.mar-t-60 {
	margin-top: 60px;
}

.mar-t-90 {
	margin-top: 90px;
}

.mar-t-n-10 {
	margin-top: -10px;
}

.mar-t-n-15 {
	margin-top: -15px;
}

.mar-b-3 {
	margin-bottom: 3px;
}

.mar-b-5 {
	margin-bottom: 5px;
}

.mar-b-10 {
	margin-bottom: 10px;
}

.mar-b-15 {
	margin-bottom: 15px;
}

.mar-b-20 {
	margin-bottom: 20px;
}

.mar-b-25 {
	margin-bottom: 25px;
}

.mar-b-30 {
	margin-bottom: 30px;
}

.mar-b-40 {
	margin-bottom: 40px;
}

.mar-b-60 {
	margin-bottom: 60px;
}

.mar-l-2 {
	margin-left: 2px;
}

.mar-l-3 {
	margin-left: 3px;
}

.mar-l-4 {
	margin-left: 4px;
}

.mar-l-5 {
	margin-left: 5px;
}

.mar-l-10 {
	margin-left: 10px;
}

.mar-l-15 {
	margin-left: 15px;
}

.mar-l-16 {
	margin-left: 16px;
}

.mar-l-20 {
	margin-left: 20px;
}

.mar-l-30 {
	margin-left: 30px;
}

.mar-l-60 {
	margin-left: 60px;
}

.mar-lr-4 {
	margin: 0 4px;
}

.mar-b-n-5 {
	margin-bottom: -5px;
}

.mar-30 {
	margin: 30px;
}

.mar-20 {
	margin: 20px;
}

.mar-15 {
	margin: 15px;
}

.mar-10 {
	margin: 10px;
}

/**
 * MDL UTIL
 */
.mdl-typography--subhead-light {
	font-family: 'Roboto-Light', 'Helvetica', 'Arial', sans-serif;
}

a.mdl-button {
	text-decoration: none !important;
}

/**
 * IGNITE WATERMARK
 */
.ui-igtrialwatermark {
	display: none;
}

/*===== Overflow text hidden ====*/
.ov-text-no-wrap {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	line-height: 24px;
}

.border-black {
	padding: 5px;
	border: 1px solid #000000;
}

.border-black-no-pad {
	border: 1px solid #000000;
}

/*==== bigger checkbox ====*/
.checkbox-bg {
	height: 15px;
	width: 15px;
}

/*=== italic font ===*/
.font-italic {
	font-style: italic;
}

/*=== color black for header phone number ===*/
.clr-black {
	color: black;
}

.highlight-box {
	/*border: 1px dotted red;*/
	background-color: #F9F9F9;
}

.a-no-decoration {
	text-decoration: none;
	color: white;
}

.a-no-decoration:hover, .a-no-decoration:focus {
	text-decoration: none;
	color: #CFCFCF;
}

.fc-white-imp{
	color: #fff !important;
}

.a-no-carousel-decoration:hover,
.a-no-carousel-decoration:focus {
	text-decoration: none;
}

.a-no-decoration-black {
	text-decoration: none;
	color: #717171;
}

.a-no-decoration-black:hover, .a-no-decoration-black:focus {
	text-decoration: none;
	color: #5F5F5F;
}

.a-no-decoration-dark-black {
	text-decoration: none;
	color: #333333;
}

.a-no-decoration-dark-black:hover, .a-no-decoration-dark-black:focus {
	text-decoration: none;
	color: #333333;
}

.a-grey {
	text-decoration: none;
	color: #656565;
}

.a-grey:hover, .a-grey:focus {
	text-decoration: none;
	color: #313131;
}

.product-type-text {
	padding: 3px 10px;
	background: #EFEFEF;
	border-radius: 2px;
	color: #333333;
}

@media (min-width: 992px) {
	.modal-md {
		width: 700px;
	}
}

.error-wrap {
	text-align: center;
	padding: 4px;
	margin-bottom: 15px;
	background-color: hsla(0, 82%, 52%, 0.26);
}

.vertical-r-hr {
	border-right: 1px solid #EFEFEF;
}

.no-border {
	border: 0 !important;
}

.init-width {
	width: initial !important;
}

.bottom-5-inverse {
	bottom: -5px;
}

.over-hide {
	overflow: hidden;
}

.text-price {
	color: #ED3E72;
}

.text-price-worth {
	color: #A2A2A2;
}

@keyframes placeHolderShimmer {
	0% {
		background-position: -468px 0
	}
	100% {
		background-position: 468px 0
	}
}

.animated-background {
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: placeHolderShimmer;
	animation-timing-function: linear;
	background: darkgray;
	background: linear-gradient(to right, #EEEEEE 10%, #DDDDDD 18%, #EEEEEE 33%);
	background-size: 800px 104px;
	height: 100%;
	position: relative;
}