.desk-enquiry-inspirations {
    transition: all 0.4s;
    cursor: pointer;
}

.desk-enquiry-inspirations:hover {
    opacity: 0.8;
    box-shadow: 0px 8px 15px rgba(46, 229, 157, 0.4);
}

.count-down-wrap {
    color: grey;
    padding: 5px;
    font-size: 35px;
    margin-top: 10px;
}

.time-text-div {
    display: inline-block;
    font-size: 15px;
    text-align: center;
    color: grey;
    width: 48px;
}

.header-wrap {
    padding: 20px 35px;
    background-color: white;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.virtual-party-date {
    margin-top: 20px;
    font-size: 30px;
}

.heading-bdy-text {
    font-family: "Lobster", cursive !important;
    font-size: 2.5rem;
    letter-spacing: 0.6px;
    font-weight: 500;
    line-height: 2.5rem;
    margin: 0;
}

.header-cta-btn {
    width: 100%;
    border-radius: 20px;
    margin-top: 10px;
}

.header-cta-btn > img {
    display: inline-block;
    height: 20px;
    padding-right: 10px;
}

.rsvp-wrap {
    display: inline-block;
    /*padding-bottom: 20px;*/
    margin-top: 25px;
    font-size: 18px;
    font-weight: 500;
}

.in-blk-imp {
    display: inline-block !important;
}

.feed-item-wrap {
    text-align: left;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 15px;
    background: #ffffff;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    min-height: 100px;
    padding-top: 10px;
    margin: 0 5px;
}

.contact-wrap {
    margin-left: -30px;
    display: inline-block;
    width: 50px;
    height: 50px;
    color: white;
    border-radius: 50%;
    text-align: center;
    padding-top: 15px;
    font-size: 22px;
}

.contact-msg {
    display: inline-block;
    padding-left: 10px;
    color: #3b3838bd;
    font-weight: 500;
    font-size: 19px;
}

.wish-text {
    display: inline-block;
    padding-left: 10px;
    color: #3b3838bd;
    font-weight: 500;
    text-align: left;
    font-size: 19px;
    margin-bottom: 10px;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.msg-wrapper {
    font-size: 22px;
    padding-top: 20px;
    color: #4d4d4d;
    text-align: left;
    padding-bottom: 30px;
}

.add-vertical-flip {
    transition: transform 0.8s;
    transform-style: preserve-3d;
    background: black;
    transform: rotateX(180deg);
}

.time-wrap {
    text-align: center;
    display: inline-block;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    box-shadow: 0px 5px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    color: #777777;
    padding-top: 17px;
}

.time-in {
    display: block;
    font-size: 12px;
    color: #777777;
}

/* Modals related CSS */
#modalSendWishes .modal-body {
    padding: 15px 15px 0 15px;
}

#modalSendWishes .modal-dialog,
#modalAcceptRSVP .modal-dialog {
    margin: 20px;
}

#modalSendWishes .input-details-wrap {
    padding: 10px 20px;
}

#modalSendWishes .form-title {
    font-size: 20px;
    line-height: 20px;
    font-family: "Lobster", cursive !important;
}

#modalSendWishes .form-title-2 {
    font-size: 21px;
    line-height: 24px;
    font-weight: 500;
}

#modalSendWishes .form-group label {
    color: #423838;
    font-weight: 400;
}

#modalSendWishes .image-upload-wrap,
#modalSendWishes .video-upload-wrap {
    padding: 15px;
    background-color: #f2f2f2;
    border-radius: 5px;
    /*border: 1px ridge #D9D9D9;*/
}

#modalSendWishes .btn-evibe,
#modalDeclineRSVP .btn-evibe,
#modalDeclineRSVP .btn-hollow-blue,
#modalAcceptRSVP .btn-evibe,
#modalAcceptRSVP .btn-hollow-blue {
    border-radius: 5px;
}

.vp-modal-close-btn {
    position: absolute;
    font-size: 45px;
    right: -35px;
    color: #ffffff;
    opacity: 1;
}

#declinedRSVPModal .title {
    font-size: 18px;
    line-height: 24px;
}

.upload-progression-wrap,
.upload-progression {
    position: fixed;
    z-index: 1099;
    height: 25%;
    width: 100%;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.upload-progression-wrap:before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    /*background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));*/

    /*background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));*/
}

.btn-vp-rsvp {
    color: #448aff;
    background-color: #ffffff;
    border-color: #448aff;
    text-transform: uppercase;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}

.btn-vp-rsvp:link,
.btn-vp-rsvp:hover,
.btn-vp-rsvp:focus,
.btn-vp-rsvp:visited,
.btn-vp-rsvp:active {
    color: #448aff;
    border-color: #448aff;
}

.btn-vp-rsvp-left {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.btn-vp-rsvp-right {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

@media (max-width: 500px) {
    #modalSendWishes .form-title {
        font-size: 20px;
        line-height: 24px;
    }

    #modalSendWishes .form-title-2 {
        font-size: 16px !important;
    }

    .vp-modal-close-btn {
        right: -30px;
        top: 0;
        font-size: 35px;
    }
}

.virtual-party-left-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
    padding-left: 10px;
    height: 410px;
    border-radius: 15px;
    background-color: grey;
    color: white;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
}
