/**
 * CSS for wallet pages
 */

@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');

.user-display-msg {
	font-family: 'Satisfy', cursive;
	font-size: 30px;
	line-height: 40px;
	margin-top: 25px;
}

.user-profile-icon {
	font-size: 25px;
	width: 62px;
	line-height: 62px;
	text-align: center;
	border-radius: 50%;
	background: #ED3E72;
	color: white;
}

.user-profile-icon-credit {
	background: #31bc45;
	font-size: 14px;
	width: 42px;
	line-height: 42px;
}

.user-profile-icon-debit {
	font-size: 14px;
	width: 42px;
	line-height: 42px;
}

.max-width-500 {
	max-width: 500px;
}

.wallet-copy-btn-text {
	width: 100%;
	padding: 5px;
	background-color: #FCFCFC;
	color: #ED3E72;
	font-size: 16px;
	border: 1px solid #ED3E72;
}

.wallet-copy-btn {
	width: 100%;
	padding: 5px;
	background-color: #ED3E72;
	color: #FCFCFC;
	font-size: 16px;
	border: 1px solid #ED3E72;
}