.list-option-image-wrap {
	background-color: #FFFFFF;
	overflow: hidden;
	position: relative;
}

.list-option-image {
	height: 100%;
	max-width: 100%;
}

.villa-list-option-img {
	width: 100% !important;
}

.list-option-title a {
	color: #333333;
}

.list-price-worth {
	font-size: 10px;
	font-weight: 400;
	color: #A2A2A2;
	text-decoration: line-through;
}

.list-main-price {
	color: #333333;
	font-size: 14px;
	font-weight: 400;
}

.list-min-order {
	color: #777;
	font-size: 10px;
	font-weight: 400;
	font-style: italic;
}

.list-price-kg {
	color: #333;
	font-size: 14px;
	font-weight: 400;
}

.list-price-off {
	color: #555555;
	/*font-weight: bold;*/
	font-size: 10px;
}

.list-price-onwards {
	color: #A2A2A2;
	font-weight: normal;
	font-size: 10px;
}

.list-price-tag {
	color: #05B343;
	font-weight: 400;
	font-size: 9px;
	line-height: 16px;
	/*background-color: #878787;*/
	/*color: #FFFFFF;*/
	padding: 0 4px;
	border-radius: 9px;
	border: 1px solid #05B343;
}

.list-review-rating {
	height: 100%;
}

.list-rating-count {
	color: #5F5F5F;
	/*margin-left: 3px;*/
}

/*.list-option-rating {*/
/*line-height: 13px;*/
/*font-size: 13px;*/
/*}*/

.list-option-price {
	overflow-y: hidden;
}

.list-option-rating .star-rating {
	display: inline-block;
}

.list-option-rating .rating-gly-star .rating-stars:before {
	padding-left: 0;
}

.list-option-rating .rating-gly-star {
	padding-left: 0;
}

.list-rating-loading-wrap {
	height: 15px;
	width: 100px;
	background-color: #E9E9E9;
}

.list-option-rating .rating-container .rating-stars {
	color: #FFCE00;
}

.placeholder-first {
	height: 130px;
	background-color: #F7F7F7;
}

.placeholder-second {
	margin-top: 5px;
	height: 30px;
	background-color: #F7F7F7;
}

.placeholder-third {
	margin-top: 5px;
	height: 25px;
	background-color: #F7F7F7;
}

.placeholder-option {
	height: 150px;
	background-color: #F7F7F7;
}

.placeholder-option-mobile {
	height: 180px;
	background-color: #F7F7F7;
}

.placeholder-category {
	height: 350px;
	background-color: #F7F7F7;
}

.lazy-loading {
	display: none;
}

.loaded {
	display: inline;
}

.party-one-redirect-page-wrap .note {
	color: #A2A2A2;
}

.party-one-redirect-page-wrap img {
	max-width: 100%;
}

.bar {
	height: 16px;
	border-radius: 10px;
	background-image: -webkit-linear-gradient(-45deg, #FF9A1A 25%, rgba(255, 154, 26, 0) 25%, rgba(255, 154, 26, 0) 50%, #FF9A1A 50%, #FF9A1A 75%, rgba(255, 154, 26, 0) 75%);
	background-image: -moz-linear-gradient(-45deg, #FF9A1A 25%, rgba(255, 154, 26, 0) 25%, rgba(255, 154, 26, 0) 50%, #FF9A1A 50%, #FF9A1A 75%, rgba(255, 154, 26, 0) 75%);
	background-image: -o-linear-gradient(-45deg, #FF9A1A 25%, rgba(255, 154, 26, 0) 25%, rgba(255, 154, 26, 0) 50%, #FF9A1A 50%, #FF9A1A 75%, rgba(255, 154, 26, 0) 75%);
	background-image: linear-gradient(-45deg, #FF9A1A 25%, rgba(255, 154, 26, 0) 25%, rgba(255, 154, 26, 0) 50%, #FF9A1A 50%, #FF9A1A 75%, rgba(255, 154, 26, 0) 75%);
	background-color: #D3D3D3;
	background-size: 50px 50px;
	-webkit-box-shadow: inset 0 10px 0 rgba(255, 255, 255, 0.2);
	box-shadow: inset 0 10px 0 rgba(255, 255, 255, 0.2);
	-webkit-animation: move 2s linear infinite;
	-moz-animation: move 2s linear infinite;
	-ms-animation: move 2s linear infinite;
	animation: move 2s linear infinite;
}

@-webkit-keyframes move {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 50px 50px;
	}
}

@-moz-keyframes move {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 50px 50px;
	}
}

@-ms-keyframes move {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 50px 50px;
	}

}

/* Location filter related css */
.content-overflow {
	display: block;
	overflow: hidden;
	word-break: break-word;
	word-wrap: break-word;
}

.btn-overflow {
	display: none;
	text-decoration: none;
}

.btn-overflow:hover,
.btn-overflow:focus,
.btn-overflow:active {
	text-decoration: none;
}