/* === top-bar section === */
.list-results-count {
	font-size: 16px;
}

.list-options-count-wrap {
	padding: 15px 0;
}

/* === sort section === */

/* === filters section === */
.list-left-section-warp .item-filters {
	border-left: none;
	border-bottom: none;
	border-top: none;
	border-right: 1px solid #F1F1F1;
	padding: 0 15px 15px 0;
}

.des-list-filter-hr {
	border-color: #F1F1F1;
	margin: 2em 0 0 0;
}

.des-search-btn {
	padding: 3px 0;
}

.search-filter .des-search-box {
	width: 100%;
}

.des-category-filter .item-sub-cats {
	margin: 5px 0 0 0;
}

.des-category-filter .item-sub-cats li a {
	font-size: 13px;
}

a.des-list-cat-link {
	font-size: 13px;
	line-height: 18px !important;
}

.desktop-list-page .collection-list-adv-card-wrap {
	margin-bottom: 20px;
}

/* === card section === */
.h-300 {
	height: 300px !important;
}

.des-list-option-card {
	height: 230px; /* 150px + 80px */
	position: relative;
	margin-bottom: 0 !important;
	border: 1px solid #FFFFFF;
}

.des-list-option-card:hover {
	/* outline: 1px solid #EAEAEC; */
	/*box-shadow: 0 0 16px 0 rgba(0, 0, 0, .15);*/
	/* border: 1px solid #D4D4D4; */
	/* box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.15); */
	border-color: #EFEFEF;
}

.des-list-option-card:hover .list-option-title {
	display: none;
}

.des-list-option-card:hover .list-option-cta-wrap {
	display: block;
}

.surprises-list-option-card {
	height: 248px;
}

.list-option-card-hover .list-option-image-wrap {
	/*transition: all .2s ease-in-out;*/
	transition: height .2s, all .2s ease-in-out;
	/*transition-duration: .2s;*/
}

.des-list-card-wrap:hover .list-option-card-hover .list-option-image-wrap {
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
	margin-top: 18%;
}

/*.des-list-card-wrap:hover .list-option-card-hover {*/
/*display: block;*/
/*}*/

/*.des-list-card-wrap:hover .list-option-card {*/
/*display: none;*/
/*}*/

.list-option-card-hover {
	overflow: hidden;
	display: none;
}

.list-option-card-overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	background-color: rgba(0, 0, 0, 0.45);
	z-index: 1;
}

.list-option-hover-content {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	/*padding: 3px 0;*/
	z-index: 2;
}

.list-option-hover-price {
	height: 30%;
	padding: 10px;
}

.list-option-hover-price .list-price-worth {
	color: #DEDEDE;
	font-size: 13px;
}

.list-option-hover-price .list-main-price {
	color: #FFFFFF;
	font-size: 20px;
	font-weight: 500;
}

.list-option-hover-cta {
	margin-top: 5px;
}

.hover-quick-view-btn, .hover-full-details-btn {
	width: 80%;
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
	font-size: 15px;
	padding: 5px 10px;
	text-transform: uppercase;
	/*border-radius: 15px;*/
}

.hover-quick-view-btn:hover, .hover-full-details-btn:hover {
	color: #000000;
	background-color: #FFFFFF;
}

.hover-quick-view-btn i, .hover-full-details-btn i, .hover-book-now-btn i {
	vertical-align: bottom;
	font-size: 20px;
}

.blur-bg-wrap > .thumb-img {
	z-index: 3;
	position: absolute;
	left: 50%;
	transform: translate(-50%)
}

.blur-bg-wrap > .blur-bg {
	z-index: 2;
	position: absolute;
	filter: blur(6px);
	left: 0;
	height: auto
}

.hover-book-now-btn {
	width: 80%;
	color: #FFFFFF;
	border: 1px solid #05B343;
	padding: 5px 10px;
	font-size: 15px;
	text-transform: uppercase;
}

.hover-book-now-btn:hover {
	color: #FFFFFF;
	background-color: #05B343;
}

.list-option-image-wrap {
	height: 150px;
	background-color: #F3F3F3;
	text-align: center;
}

.campaign-image-wrap {
	height: 200px !important;
}

.rg-list-option-image-warp {
	background-color: #FFFFFF;
	text-align: left;
}

.list-option-image-wrap .partybag-heart {
	left: 5px;
	top: 0;
	font-size: 14px;
	border: 1px solid #ED3E72;
	border-radius: 100%;
	height: 30px;
	width: 30px;
	margin: 5px 0;
	padding: 4px 0 0 2px;
	background-color: #FFFFFF;
}

.list-option-image {
	max-width: 100%;
}

.list-option-content-wrap {
	padding: 5px 8px 8px 8px;
}

.list-option-price {
	max-height: 21px;
}

.list-option-rating {
	line-height: 14px;
	font-size: 12px;
	margin-top: 2px;
}

.list-option-location {
	font-size: 12px;
	margin-top: 2px;
}

.individual-review .rating-stars {
	color: #FFCE00;
}

.list-rating-count {
	font-size: 10px;
}

.list-option-title { /* @see: 'line-height' and 'overflow' are related */
	font-size: 13px;
	line-height: 16px;
	max-height: 32px;
	height: 32px;
	overflow: hidden;
	font-weight: 500;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	text-transform: capitalize;
}

.list-cta-btn {
	max-height: 32px;
	color: #ED3E72;
	font-weight: 500;
	font-size: 13px;
	line-height: 16px;
	padding: 8px 0;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}

.list-option-cta-wrap a.item-book-now,
.list-option-cta-wrap a.item-shortlist {
	color: #ED3E72;
}

.list-option-cta-wrap a.item-book-now:hover,
.list-option-cta-wrap a.item-shortlist:hover {
	color: #ED3E72;
	text-decoration: none !important;
	cursor: pointer !important;
	text-shadow: none !important;
}

.list-btn-un-shortlist {
	color: #555555;
}

.list-btn-book-now {
	border-left: 1px dotted #CFCFCF;
	text-decoration: none;
}

.list-option-cta-wrap {
	height: 32px;
	display: none;
}

.list-price-worth {
	font-size: 14px;
}

.list-main-price {
	font-size: 14px;
}

.list-price-off {
	font-size: 11px;
}

.list-price-onwards {
	font-size: 11px;
}

.quick-view-btn:hover {
	cursor: pointer;
}

.list-quick-view-btn {
	color: #000000;
	border-color: #D9D9D9;
	background-color: #D9D9D9;
}

.list-quick-view-btn:hover {
	cursor: pointer;
	background-color: #E6E6E6;
}

.list-book-now-btn:hover {
	cursor: pointer;
	background-color: #FF4174;
}

.list-book-now-btn {
	color: #FFFFFF;
	border-color: #ED3E72;
	background-color: #ED3E72;

}

a .list-book-now-btn {
	color: #FFFFFF;
}

.list-custom-card-wrap {
	border: 1px solid #F1F1F1;
	margin-bottom: 20px;
	background-color: #F8F8F8;
}

.list-custom-card-header {
	height: 150px; /* similar to option image wrap */
}

.list-custom-card-title {
	padding: 20px 10px;
	color: #ED3E72;
	font-size: 17px;
	text-align: center;
	text-transform: capitalize;
	height: 70px;
}

.list-custom-card-content {
	font-size: 13px;
	color: #696969;
	text-align: center;
	line-height: 18px;
	padding: 0 20px;
}

.list-custom-card-footer {
	height: 75px;
	padding: 30px 0;
	text-align: center;
}

.list-custom-card-footer .btn-bidding {
	background-color: #FFFFFF;
	color: rgb(68, 138, 255);
	border-color: rgb(68, 138, 255);
	padding: 3px 6px;
	text-transform: uppercase;
	font-size: 13px;
	font-family: 'Roboto', 'Helvetica Neue', 'sans-serif';
}

.list-custom-card-footer .btn-bidding i {
	font-size: 20px;
}

.list-custom-card-footer .btn-bidding:hover {
	color: #FFFFFF;
	background-color: rgb(68, 138, 255);
}

.des-list-pagination-wrap {
	padding: 10px 0 60px 0;
}

.list-right-section-wrap {
	margin-bottom: 30px;
}

/* === slider section === */
.des-list-slider-bg {
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	/*display: none;*/
	z-index: 999; /* @see: should be greater than header less than slider */
	background-color: rgba(0, 0, 0, 0.5);
}

.des-list-slider {
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 1000; /* @see: should be greater slider background */
}

.des-list-slider-wrap {
	display: flex;
	height: 100%;
	width: 100%;
}

.quick-view-wrap {
	height: 100%;
	position: absolute;
	z-index: 1002;
	width: 100%;
	box-shadow: 0 0 12px #333333;
}

.quick-view-content {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.quick-view-background {
	/* background-color: rgba(0, 0, 0, 0.5); */
	background-color: #FFFFFF;
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 1001;
}

.des-list-empty-wrap {
	height: 100%;
	width: 100%;
}

.quick-view-content-wrap {
	width: 100%;
	background: #FFFFFF;
	height: 100%;
	overflow-y: scroll;
}

.quick-view-close {
	padding: 6px 8px;
	background-color: #A2A2A2;
	color: #FFFFFF;
	border-top-left-radius: 100%;
	border-bottom-left-radius: 100%;
}

.quick-view-close i {
	font-size: 15px;
	line-height: 0;
}

.quick-view-close:hover {
	cursor: pointer;
}

.quick-view-cta {
	position: fixed;
	z-index: 1003;
	bottom: 0;
	width: 33.33333%;
}

.quick-view-btn-grey {
	color: #000000;
	background: #D9D9D9;
	border-color: #D9D9D9;
}

.quick-view-btn-grey:hover,
.quick-view-btn-grey:focus {
	color: #000000;
	border-color: #D9D9D9;
	background-color: #D9D9D9;
}

.quick-view-btn-feasibility,
.quick-view-btn-book-now,
.quick-view-btn-book-now-3,
.quick-view-btn-book-site-visit {
	color: #FFFFFF;
	background: #ED3E72;
	border-color: #ED3E72;
}

.quick-view-btn-book-now-3:hover,
.quick-view-btn-book-now-3:active,
.quick-view-btn-book-now-3:focus {
	color: #FFFFFF;
	background: #ED3E72;
	border-color: #ED3E72;
}

.quick-view-btn-enquire {
	color: #448AFF;
	background: #FFFFFF;
	border-color: #448AFF;
}

.quick-view-btn-enquire:hover,
.quick-view-btn-enquire:active,
.quick-view-btn-enquire:focus {
	color: #448AFF;
	background: #FFFFFF;
	border-color: #448AFF;
}

.quick-view-btn-feasibility:hover,
.quick-view-btn-book-now:hover,
.quick-view-btn-book-site-visit:hover,
.quick-view-btn-book-now-2:hover {
	color: #FFFFFF;
}

.quick-view-btn-book-now-2 {
	color: #FFFFFF;
	background: #05B343;
	border-color: #05B343;
}

.quick-view-btn-book-now,
.quick-view-btn-book-now-2,
.quick-view-btn-book-site-visit,
.quick-view-btn-feasibility,
.quick-view-btn-grey {
	width: 100%;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
	padding: 10px 0 7px 0;
}

.quick-view-btn-book-now-3,
.quick-view-btn-enquire {
	width: 100%;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
	padding: 5px 0 5px 0;
}

.quick-view-guarantee-wrap {
	bottom: 0;
	right: 0;
	z-index: 1;
	position: absolute;
}

.slider-no-image {
	width: 100%;
	padding: 15% 25%;
}

.quick-view-cta-wrap a:hover {
	text-decoration: none;
}

.quick-view-product-desc {
	padding-bottom: 50px;
}

.quick-view-feasibility,
.quick-view-enquire,
.quick-view-price-check,
.quick-view-book-now {
	position: fixed;
	z-index: 1004;
	bottom: 0;
	width: 33.33333%;
	background-color: #FFFFFF;
	box-shadow: 0 0 8px 2px #A9A9A9;
	display: none;
	margin: 0;
	padding-top: 15px;
}

.quick-view-form-text .form-normal-text {
	font-size: 14px;
	line-height: 18px;
}

.quick-view-form-text .feasibility-success-icon {
	color: green;
}

.quick-view-form-text .feasibility-fail-text {
	color: red;
	margin-bottom: 10px;
}

.quick-view-form-content .sticky-updated-price,
.book-now-base-price {
	color: #F03F73;
	font-size: 24px;
	font-weight: 500;
}

.book-now-price-worth {
	color: #878787;
	font-size: 20px;
	text-decoration: line-through;
	font-weight: 400;
}

.book-now-advance {
	color: #333333;
	font-size: 18px;
	font-weight: 500;
}

.book-now-advance-msg {
	color: #878787;
	font-size: 10px;
}

.quick-view-form-hr-1 {
	color: #EFEFEF;
}

.quick-view-form-hr-2 {
	color: #EFEFEF;
	margin: 10px 0;
}

.quick-view-cta-text {
	font-size: 16px;
	font-weight: 600;
	padding: 10px 0 7px 0;
	text-transform: uppercase;
}

.quick-view-btn-submit,
.quick-view-btn-check,
.quick-view-btn-proceed,
.quick-view-btn-submit {
	background-color: #F03F73;
	border-color: #F03F73;
	color: #FFFFFF;
}

.quick-view-btn-proceed-2 {
	background-color: #05B343;
	border-color: #05B343;
	color: #FFFFFF;
}

.quick-view-btn-check:hover,
.quick-view-btn-check:active,
.quick-view-btn-check:focus,
.quick-view-btn-proceed:hover,
.quick-view-btn-proceed:active,
.quick-view-btn-proceed:focus,
.quick-view-btn-submit:hover,
.quick-view-btn-submit:active,
.quick-view-btn-submit:focus,
.quick-view-btn-proceed-2:hover,
.quick-view-btn-proceed-2:active,
.quick-view-btn-proceed-2:focus {
	color: #FFFFFF;
}

.product-user-input .mdl-textfield__label:after {
	background-color: #CFCFCF;
}

.product-user-input .mdl-textfield--floating-label .label-text {
	color: #CFCFCF;
}

.product-user-input .is-focused .label-text,
.product-user-input .is-dirty .label-text {
	color: #333333;
}

.product-cta-message {
	color: #696969;
	font-size: 12px;
	line-height: 16px;
}

.change-party-location,
.price-check-change-party-location,
.book-now-change-party-location {
	font-size: 12px;
	text-decoration: underline;
	font-weight: 400;
}

.change-party-location:hover,
.price-check-change-party-location:hover,
.book-now-change-party-location:hover {
	cursor: pointer;
}

.quick-view-enquire-title, .quick-view-price-check-title, .quick-view-price-check-no-title {
	border-bottom: 1px solid #EFEFEF;
	font-size: 20px;
	text-transform: capitalize;
	font-weight: 400;
	padding-bottom: 15px;
}

.quick-view-enquire-content, .quick-view-price-check-content {
	padding-bottom: 20px;
}

.quick-view-price-check-close-button {
	color: #CFCFCF;
	font-size: 16px;
}

.quick-view-price-check-close-button:hover {
	cursor: pointer;
	color: #A94442;
}

.input-border-bottom-error {
	border-bottom-color: red;
}

.quick-view-enquire-loader, .quick-view-price-check-loader, .quick-view-book-now-loader {
	width: 100%;
	background-color: #FFFFFF;
	display: none;
}

.quick-view-enquire-error {
	padding: 6px;
	margin-bottom: 10px;
}

.quick-view-price-check-msg {
	font-size: 11px;
	color: #878787;
	text-transform: lowercase;
}

.quick-view-token-msg-price {
	font-weight: bold;
	color: #000000;
}

.des-error-msg-wrap {
	height: 20px;
}

.des-error-msg {
	background-color: #FF8482;
	border-radius: 5px;
	color: white;
	display: inline-block;
	padding: 0 5px;
	font-size: 12px;
}

/* === slider css copy (some classes) === */

.loading-img-wrap {
	margin-top: 60px;
	text-align: center;
	font-size: 18px;
	color: #979797;
}

.des-slide-gallery-wrap {
	border: none;
	position: relative;
}

.title-section-wrap {
	padding: 0 15px;
}

.product-title-text {
	color: #000000;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
}

.product-main-price {
	font-size: 22px;
	color: #ED3E72;
}

.product-price-kg {
	font-size: 22px;
	color: #333333;
}

.product-min-order {
	font-size: 16px;
	color: #777777;
	font-style: italic;
}

.product-rating-reviews {
	text-transform: lowercase;
	color: #595959;
	font-size: 11px;
}

.product-price-worth {
	font-size: 16px;
	color: #878787;
	text-decoration: line-through;
}

.product-price-off {
	color: #555555;
	font-weight: bold;
	font-size: 12px;
	line-height: 16px;
}

.product-price-info {
	color: #878787;
}

.product-price-per-guest {
	font-size: 12px;
}

.product-enquiry-link {
	font-size: 14px;
	text-decoration: none;
	width: 100%;
	text-transform: uppercase;
	font-weight: 600;
	color: #448AFF;
	background-color: #F9F9F9;
}

.product-enquiry-link:hover {
	cursor: pointer;
	text-decoration: underline;
}

/*.product-price-tag {*/
/*font-size: 11px;*/
/*color: #878787;*/
/*}*/

.product-price-tag {
	color: #05B343;
	font-weight: 400;
	font-size: 12px;
	line-height: 19px;
	/*background-color: #878787;*/
	/*color: #FFFFFF;*/
	padding: 0 6px;
	border-radius: 9px;
	border: 1px solid #05B343;
	vertical-align: bottom;
}

.quick-view-title .rating-container .rating-stars {
	color: #FFCE00;
}

.product-highlight-item {
	padding: 5px 0;
}

.product-highlight-item-title {
	color: #AFAFAF;
	text-transform: uppercase;
	font-weight: 500;
}

.product-highlight-item-text {
	text-transform: capitalize;
}

.product-description-content ul {
	font-size: 13px;
}

.review-filters-wrap .review-sort-lbl {
	font-size: 13px;
	font-weight: normal;
}

.quick-view-description #rSortOptions {
	font-size: 13px;
	height: auto;
	margin: 0;
	padding: 0;
}

.reviews-card .reviewer {
	font-weight: bold;
	padding-left: 8px;
}

.reviews-card .review-reply {
	padding: 8px;
	background-color: #F9F9F9;
	margin: 10px 20px 0 30px;
}

.reviews-card .review {
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #D9D9D9;
}

.list-view-full-details {
	text-transform: uppercase;
	font-size: 16px;
	background-color: #ED3E72;
	color: #FFFFFF;
	padding: 7px 0;
}

.list-view-full-details:hover {
	text-decoration: none;
}

/* === Filters bar for surprise category === */
.surprise-filter-bar {
	position: absolute;
	text-align: center;
	top: 47%;
	z-index: 98;
	background-color: rgba(255, 255, 255, 0.82);
	color: black;
	padding: 8px 0 12px 12px;
	width: 80%;
	left: 10%;
	border-radius: 3px;
	box-shadow: 0 10px 20px #2B2B2B
}

.des-list-sur-filter-bar {
	position: static;
	text-align: center;
	background-color: #EFEFEF;
	color: black;
	border-radius: 0;
	padding: 8px 0 12px 12px;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 3;
	box-shadow: none;
}

.surprise-filter {
	position: relative;
	display: inline-block;
	width: 100%;
}

.surprise-filter:after {
	content: '▼';
	position: absolute;
	width: 37px;
	color: #757575;
	font-weight: bold;
	font-size: 16px;
	right: 1px;
	bottom: 8px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	pointer-events: none;
	z-index: 2;
}

.surprise-filter:before {
	content: '';
	right: 7px;
	top: 6px;
	width: 25px;
	height: 25px;
	background: #E6E6E6;
	position: absolute;
	pointer-events: none;
	display: block;
	z-index: 1;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.surprise-filter select {
	position: relative;
	width: 100%;
	background: #F5F5F5;
	color: #5A5A5A;
	border: none;
	outline: none;
	font-size: 14px;
	padding: 9px;
	margin: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
	height: 38px;
}

.des-list-sur-filter-bar .surprise-filter select {
	background-color: #FFFFFF;
}

.surprise-filter-bar-label {
	width: 100% !important;
	text-align: left !important;
	font-weight: 300;
	color: #2B2B2B;
	padding-bottom: 5px;
	font-size: 13px;
	text-transform: uppercase;
}

.surprise-filter-bar-go-btn {
	border: 1px solid #C7C7C7;
	border-radius: 2px;
	padding: 6px;
	font-size: 20px;
	margin: 27px 0 0 0;
	width: 100%;
	background-color: #0ACAEF;
	color: white;
}

.surprise-filter-drop-down {
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 1px;
	text-overflow: '';
}

.quick-view-loader {
	margin-top: 70%;
}

.quick-view-form-loader .similar-loading-cards .loader,
.quick-view-enquire-loader .similar-loading-cards .loader,
.quick-view-price-check-loader .similar-loading-cards .loader,
.quick-view-book-now-loader .similar-loading-cards .loader {
	position: absolute;
	top: 40%;
	left: 45%;
}

.quick-view-form-loader {
	background-color: #FFFFFF;
	bottom: 0;
	box-shadow: 0 0 10px 2px #D4D4D4;
	display: none;
	height: 380px;
	margin: 0;
	padding: 10px 15px;
	position: fixed;
	width: 33.33333%;
	z-index: 1005;
}

.quick-view-form-loader .loading-content {
	vertical-align: middle;
}

.quick-view-form-loader .similar-loading-cards {
	height: 190px;
}

.quick-view-load-text {
	margin-top: 15px;
}

.quick-view-checkbox {
	vertical-align: text-bottom;
}

.btn:focus {
	outline: none !important;
}

.line {
	animation: expand 1s ease-in-out infinite;
	border-radius: 10px;
	display: inline-block;
	height: 25px;
	margin: 0 3px;
	transform-origin: center center;
	width: 1px;
}

.line:nth-child(1) {
	background: #CCC8CE;
}

.line:nth-child(2) {
	animation-delay: 180ms;
	background: #CCC8CE;
}

.line:nth-child(3) {
	animation-delay: 360ms;
	background: #CCC8CE;
}

.line:nth-child(4) {
	animation-delay: 540ms;
	background: #CCC8CE;
}

@keyframes expand {
	0% {
		transform: scale(1);
	}
	25% {
		transform: scale(2);
	}
}

.ent-list-panel .action-btns {
	line-height: 20px !important;
}