@media (max-width: 600px) {

	.mobile-list-page {
		font-family: "Roboto", Helvetica, Arial, sans-serif;
	}

	.blur-bg-wrap > .thumb-img {
		z-index: 3;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		height: auto;
		width: 100%;
	}

	.blur-bg-wrap > .blur-bg {
		z-index: 2;
		position: absolute;
		filter: blur(5px);
		left: 0;
		width: auto;
		height: 100%;
	}

	/* === header-section === */
	.mobile-list-header {
		min-height: 60px;
		/*top: 0;*/
		/*position: fixed;*/
		width: 100%;
		/*z-index: 5;*/
		background-color: #FFFFFF;
	}

	.sticky-behave {
		position: fixed;
		width: 100%;
		top: 55px;
		background: white;
		padding-top: 10px;
		height: 46px !important;
	}

	.custom-tag {
		padding: 2px 7px;
		border: 3px;
		border-radius: 4px;
		position: absolute;
		top: 5px;
		margin-left: 5px;
		z-index: 4;
		color: white;
	}

	.mobile-list-header-wrap .overlay {
		z-index: 5; /* so that overlay comes on top of all buttons */
	}

	.mobile-list-header-wrap {
		border-bottom: 1px solid #D9D9D9;
		box-shadow: 0 0 4px 1px #D9D9D9;
		padding: 10px 0 15px 0;
	}

	.mobile-menu-icon {
		color: #000000;
		vertical-align: text-top;
	}

	.mobile-header-logo-wrap {
		height: 25px;
		margin: 2px 0 8px 20px;
	}

	.mobile-header-logo {
		max-height: 100%;
		max-width: 100%;
	}

	.mobile-list-header-wrap .mobile-header-search {
		color: #333333;
		vertical-align: middle;
		font-size: 23px;
		top: 0;
		margin-top: 5px;
	}

	.mobile-header-partybag {
		color: #333333;
		vertical-align: middle;
		font-size: 19px;
		top: 0;
		margin-top: 5px;
		/*color: #FFFFFF;*/
		text-decoration: none;
		/*text-shadow: 0 0 1px #333333, 0 0 1px #333333, 0 0 1px #333333, 0 0 2px #333333;*/
	}

	.mobile-header-cta a:hover {
		text-decoration: none;
	}

	.mobile-header-cta a .partybag-badge {
		white-space: nowrap;
		text-align: center;
		padding: 4px 6px;
		height: 18px;
		background: #ED3E72;
		position: relative;
		border-radius: 12px;
		font-family: 'Roboto', 'Helvetica Neue', 'sans-serif';
		font-size: 10px;
		color: #FFFFFF;
		top: 1px;
	}

	.custom-design-helper {
		margin-top: 5px;
		font-size: 12px;
		color: #8E8E8E;
	}

	.custom-design-helper i {
		font-size: 14px;
		vertical-align: text-bottom;
	}

	.list-custom-upload-btn {
		border: 1px solid rgb(68, 138, 255);
		color: rgb(68, 138, 255);
		background-color: #FFFFFF;
		padding: 2px 7px;
		text-transform: uppercase;
		font-size: 12px;
	}

	.list-custom-upload-btn i {
		font-size: 20px;
		vertical-align: bottom;
	}

	.list-custom-upload-btn:active {
		box-shadow: 0 0 4px 1px rgb(163, 198, 255);
	}

	.list-custom-upload {
		padding: 8px 0 10px 0;
	}

	.list-custom-upload-wrap {
		border: 1px solid #EFEFEF;
		border-radius: 2px;
		background-color: #FBFBFB;
	}

	.list-custom-upload-title {
		color: #333333;
		font-size: 16px;
		padding: 15px 0;
		text-transform: capitalize;
	}

	.list-custom-upload-text {
		color: #A2A2A2;
		font-size: 12px;
		padding: 0 15px;
		line-height: 18px;
	}

	.list-results-count {
		font-size: 12px;
		line-height: 18px;
		padding-bottom: 3px;
	}

	/*.list-option-card {*/
	/*border: 1px solid #d9d9d9;*/
	/*}*/
	.list-content-empty-img {
		margin-top: 70px;
	}

	.list-content-empty-text {
		font-size: 16px;
		padding: 10px;
		color: #696969;
		margin-bottom: 70px;
	}

	.list-option-image {
		width: auto;
	}

	.list-option-image-wrap {
		height: 180px;
		overflow: hidden;
		position: relative;
		background-color: #F3F3F3;
	}

	.list-option-image-wrap .partybag-heart {
		top: 0;
		left: 5px;
		font-size: 14px;
	}

	.list-option-content-wrap {
		padding: 5px 0;
	}

	.list-option-title { /* @see: 'line-height' and 'overflow' are related */
		font-size: 12px;
		line-height: 16px;
		max-height: 32px;
		overflow: hidden;
	}

	/*.list-option-title a {*/
	/*color: #333333;*/
	/*}*/
	.list-price-worth {
		font-size: 13px;
	}

	.list-price-off {
		color: #555555;
		font-weight: 500;
		font-size: 11px;
	}

	.list-price-onwards {
		font-size: 11px;
	}

	.list-main-price {
		font-size: 14px;
		font-weight: 500;
	}

	.list-price-kg {
		font-size: 14px;
		font-weight: 500;
	}

	.list-price-info {
		color: #878787;
	}

	.list-price-tag {
		font-size: 9px;
		line-height: 14px;
		display: table;
		padding: 0 6px;
		width: fit-content; /* not supported very well yet */
		margin-bottom: 2px;
	}

	/*.list-review-rating {*/
	/*height: 100%;*/
	/*}*/
	.list-rating-count {
		font-size: 11px;
	}

	.list-option-price {
		max-height: 22px;
	}

	.list-option-rating {
		line-height: 17px;
		font-size: 13px;
		margin-top: 0;
	}

	/*.list-option-rating .star-rating {*/
	/*display: inline-block;*/
	/*}*/
	.list-option-rating .rating-gly-star {
		padding-left: 0;
	}

	.list-option-rating .rating-gly-star .rating-stars:before {
		padding-left: 0;
	}

	.list-rating-loading-wrap {
		height: 14px;
	}

	@media (max-width: 350px) {

		.list-price-worth {
			font-size: 12px;
		}

		.list-main-price {
			font-size: 13px;
		}

		.list-option-rating {
			font-size: 12px;
			line-height: 20px;
		}

	}

	.btn-smp-pgn-nav-mob {
		font-weight: normal;
		margin-right: 20px;
		width: 90px;
	}

	.btn-right-pgn-nav-mob {
		border-top-right-radius: 20px !important;
		border-bottom-right-radius: 20px !important;
	}

	.btn-left-pgn-nav-mob {
		border-top-left-radius: 20px !important;
		border-bottom-left-radius: 20px !important;
	}

	.mobile-list-pagination {
		padding: 0 30px;
	}

	.list-no-results-wrap {
		margin: 10px;
		padding: 30px;
		background-color: #FFFFFF;
		border: 1px solid #E71C1C;
		box-shadow: 1px 1px 2px #CFCECE;
		border-radius: 3px;
	}

	.list-no-results-title {
		font-size: 22px;
		line-height: 30px;
	}

	.mob-list-sur-no-results {
		margin: 20px;
		border-radius: 5px;
	}

	/* === bottom-section === */
	.mobile-list-sort-filter {
		position: fixed;
		width: 100%;
		z-index: 5;
		bottom: 0;
	}

	.list-bottom-section-wrap {
		/*position: fixed;*/
		/*bottom: 0;*/
		z-index: 5;
		width: 100%;
		box-shadow: 0 1px 5px 0 #4A4A4A;
	}

	.list-float-btn {
		background-color: #FFFFFF;
		font-size: 16px;
		font-weight: 400;
		text-transform: uppercase;
		width: 100%;
		/*padding: 10px 0;*/
		padding: 11px 0 9px 0;
		color: #333333
	}

	.list-sort-btn-wrap {
		/*border-right: 1px solid #D9D9D9;*/
	}

	.list-float-btn i {
		font-size: 16px;
		font-weight: 600;
		margin-top: -4px;
	}

	.list-sort-wrap {
		position: fixed;
		bottom: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.7);
		display: none;
		z-index: 10;
	}

	.list-sort-options-wrap {
		width: 100%;
		position: absolute;
		bottom: 0;
		background-color: #FFFFFF;
	}

	.list-sort-empty {
		width: 100%;
		height: 100%;
	}

	.list-sort-options {
		list-style: none;
		margin: 0;
		padding: 0 10px;
	}

	.list-sort-options li {
		border-bottom: 1px solid #EEEEEE;
	}

	.list-sort-options li a {
		color: #696969;
		padding: 10px 30px;
		width: 100%;
		display: inline-block;
	}

	.list-sort-options li.active a {
		color: #ED3E72;
	}

	.list-sort-options i {
		font-size: 18px;
		margin-bottom: 4px;
		margin-right: 15px;
	}

	.list-filters-wrap {
		position: fixed;
		bottom: 0;
		width: 100%;
		height: 100%;
		background-color: #FFFFFF;
		display: none;
		z-index: 106;
	}

	.list-filters-top {
		font-size: 16px;
		padding: 20px 15px 15px 10px;
		border-bottom: 1px solid #D9D9D9;
	}

	.list-filter-close {
		font-size: 24px;
		color: #969696;
	}

	.list-filter-close i {
		margin-top: -2px;
	}

	.list-filter-title {
		font-weight: 600;
	}

	.list-filters-content .item-filters {
		border: none;
		margin-top: 0;
		padding-top: 0;
	}

	.list-filters-content {
		overflow-y: scroll;
		height: 85%;
	}

	a.mob-list-cat-link {
		font-size: 12px;
	}

	.mobile-list-sub-cats {
		margin: 0;
	}

	.mobile-list-price-filter .price-category-count {
		font-size: 12px;
		margin-left: 1px;
	}

	/* surprise-specific filters */
	.mob-list-sur-filter-bar {
		position: static;
		top: 0;
		z-index: 0;
		background-color: #FFFFFF;
		color: black;
		padding: 15px 0 12px 12px;
		width: 100%;
		left: 0;
		border-radius: 0;
		box-shadow: none;
	}

	.surprise-filter-m {
		float: left;
		width: 93%;
	}

	.surprise-filter-m select {
		font-size: 13px;
		padding: 0 5px 2px;
		margin: 0;
		height: 30px;
	}

	.surprise-filter-m:after {
		width: 28px;
		bottom: 4px;
	}

	.surprise-filter-m:before {
		right: 5px;
		top: 5px;
		width: 20px;
		height: 20px;
	}

	.surprise-filter-bar-label-m {
		padding-bottom: 0;
		font-size: 11px;
	}

	.surprise-filter-bar-go-btn {
		width: 80%;
	}

}