@media (max-width: 1024px) {

	.list-option-image-wrap {
		height: 120px;
		overflow: hidden;
	}

	.list-option-image-wrap .partybag-heart {
		font-size: 14px;
	}

	.des-list-option-card {
		height: 220px;
	}

	.list-option-title {
		font-size: 12px;
		line-height: 16px;
		max-height: 32px;
		height: 32px;
	}

	.list-option-price {
		max-height: 41px;
	}

	.list-option-cta-wrap {
		height: 32px;
	}

	.list-cta-btn {
		font-size: 12px;
		line-height: 16px;
		padding: 9px 0;
	}

	.list-main-price {
		font-size: 13px;
	}

	.list-price-worth {
		font-size: 13px;
	}

	.list-price-tag {
		font-size: 9px;
		line-height: 14px;
		padding: 0 6px;
	}

	.list-option-rating {
		line-height: 10px;
		font-size: 10px;
		margin-top: 4px;
	}

	.list-rating-count {
		font-size: 9px;
	}

	.list-rating-loading-wrap {
		height: 13px;
	}

	/*.list-option-cta-wrap {*/
		/*height: 20px;*/
		/*bottom: 0;*/
		/*padding: 5px 0;*/
	/*}*/

	.list-option-cta-overlay {
		height: 20px;
		bottom: 0;
	}

	.list-cta-btn {
		font-size: 9px;
		line-height: 10px;
	}

	.list-custom-card-header {
		height: 120px;
	}

	.list-custom-card-title {
		padding: 10px 10px;
		font-size: 14px;
		height: 65px;
	}

	.list-custom-card-content {
		font-size: 10px;
		line-height: 14px;
	}

	.list-custom-card-footer {
		height: 74px;
		padding: 25px 0;
		text-align: center;
	}

	.list-option-hover-price .list-price-worth {
		font-size: 10px;
	}

	.list-option-hover-price .list-main-price {
		font-size: 14px;
	}

	.hover-quick-view-btn i, .hover-full-details-btn i, .hover-book-now-btn i {
		font-size: 15px;
		vertical-align: text-bottom;
	}

	.hover-quick-view-btn, .hover-full-details-btn, .hover-book-now-btn {
		font-size: 13px;
		padding: 3px 6px;
	}

	.list-option-hover-cta {
		margin-top: 10px;
	}

	/*.quick-view-btn-grey,*/
	/*.quick-view-btn-feasibility,*/
	/*.quick-view-btn-book-now {*/
		/*font-size: 14px;*/
		/*padding: 7px 0 6px 0;*/
	/*}*/
}