<div style="background-color:#FFFFFF;padding:20px;margin-top:30px;">
	<div style="color:#EF3E75;text-transform:uppercase;font-size:14px;font-weight:bold;">Order Details</div>

	<div style="margin-top:15px;">
		<b>Booking Id: </b><span> #@bookingId@</span>
	</div>
	<div style="margin-top:15px;">
		<b>Package: </b><span> @bookingInfo@</span>
	</div>
	<div style="margin-top:15px;">
		<b>No of Guests: </b><span> @guestsCount@</span>
	</div>
	<div style="margin-top:15px;">
		<b>Special Notes* (Needs approval if not already discussed): </b><span> @splNotes@</span>
	</div>
	<div style="margin-top:15px;">
		<b>Total Booking Amount: </b><span>Rs. @bookAmt@</span>
	</div>
	<div style="margin-top:15px;">
		<b>Total Advance Paid: </b><span>Rs. @advPd@</span>
	</div>
	<div style="margin-top:15px;">
		<b>Balance Amount: </b><span>Rs. @balAmt@</span>
	</div>
</div>

<div style="background-color:#FFFFFF;padding:20px;margin-top:30px;">
	<div style="color:#EF3E75;text-transform:uppercase;font-size:14px;font-weight:bold;">Delivery Details</div>
	<div style="margin-top:15px;">
		<b>Delivery Date: </b><span> @checkInDate@</span>
	</div>
	<div style="margin-top:15px;">
		<b>Delivery Time: </b><span> @checkInTime@</span>
	</div>
	<div style="margin-top:15px;">
		<b>Delivery Address: </b>
		<div> @deliveryAddress@</div>
	</div>
</div>