<div>
	<div style="padding:20px;">
		<div style='float:left;'>
			<div><a href='http://evibe.in'><img src='http://gallery.evibe.in/img/logo/logo_evibe.png'
					alt='evibe.in'></a></div>
		</div>
		<div style='float:right;'>
			<div><i>Date:</i> @date@</div>
			<div style="padding-top:4px;"><i>Phone:</i> @evibePhone@</div>
		</div>
		<div style='clear:both;'></div>
	</div>
	<div style="padding:4px; background:#828282; text-align:center;">
		<h2 style="color:#FFFFFF">
			Confirm Booking?
		</h2>
	</div>
	<div style="font-size:14px;line-height:22px; padding: 20px 30px 20px; background-color:#FFFFFF;">
		<div style="margin-top:30px; text-align:center; ">
			<div style="font-size:16px;margin:15px 0;">Dear @proName@,</div>
			<div style="margin:15px 0;"> We have an order booked for your property. Please check complete order details below.</div>
			<div style="margin:15px auto;font-size:16px;">
				Click on <b>“Accept”</b> button to confirm booking or click
				<b>“Reject”</b> button to cancel booking.
			</div>
			<div style="margin:15px 0;">
				<ul style="list-style:none; padding:10px 0;">
					<li style="display:inline;">
						<a href="@confirmationLink@#confirm" style="color:#FFFFFF;text-transform: uppercase; text-decoration: none;padding: 10px 20px; background: #149814; ">Accept</a>
					</li>
					<li style="display:inline; margin-left:20px;">
						<a href="@confirmationLink@#cancel" style="color:#FFFFFF;text-transform: uppercase; text-decoration: none;padding: 10px 20px; background: #CC3F3F; ">Reject</a>
					</li>
				</ul>
			</div>
		</div>
		<div style=" margin-top:30px;">
			<div style="margin-top:15px;">
				<b>Package Name: </b><span>@packageInfo@</span>
			</div>
			<div style="margin-top:15px;">
				<b>Customer Name: </b><span>@custName@</span>
			</div>
			<div style="margin-top:15px;">
				<b>Customer Special Notes* (Needs approval if not already discussed): </b><span>@splNotes@</span>
			</div>
			<ul style="display:table;table-layout:fixed;padding:0;margin:10px 0 0 0;list-style:none;width:100%;">
				<li style="display:table-cell;">
					<div><b>Party date:</b></div>
					<div>@checkInDate@</div>
				</li>
				<li style="display:table-cell;">
					<div><b>Party Time: </b></div>
					<div>@checkInTime@</div>
				</li>
				<li style="display:table-cell;">
					<div><b>Party Address:</b></div>
					<div>@deliveryAddress@</div>
				</li>
			</ul>
		</div>
		<div style="margin-top:15px;">
			Click on the link bellow to cross check all the package details provided by you earlier.
		</div>
		<div style="margin:15px 0; text-align:center; font-size:16px;">
			<b> Package Link: </b> @packageInfo@
		</div>
		<div style="margin:5px 0 10px">
			If there is any change in package details, please reply to this email / call @biz_head_number@ immediately.
		</div>
		<div style="margin:15px 0;">
			@salutation@
		</div>
	</div>
</div>