<div>
	<div style="padding:20px;">
		<div style='float:left;'>
			<div><a href='http://evibe.in'><img src='http://gallery.evibe.in/img/logo/logo_evibe.png'
					alt='evibe.in'></a></div>
		</div>
		<div style='float:right;'>
			<div><i>Date:</i> @date@</div>
			<div style="padding-top:4px;"><i>Phone:</i> @evibePhone@</div>
		</div>
		<div style='clear:both;'></div>
	</div>
	<div style="padding:4px; background:#828282; text-align:center;">
		<h2 style="color:#FFFFFF">
			Is Cake Available For @checkInDate@, @cakeSlot@ ?
		</h2>
	</div>
	<div style="font-size:14px;line-height:22px; padding: 20px 30px 20px; background-color:#FFFFFF;">
		<div style="margin-top:30px; text-align:center; ">
			<div style="font-size:16px;margin:15px 0;">Dear @proName@,</div>
			<div style="margin:15px 0;"> A customer is interested in @cakeName@ of @cakeWeight@s and has already paid amount of Rs.
				@advanceAmount@. Please check the complete order details below.
				<div style="margin:15px auto;font-size:16px;">
					Click on <b>“Accept”</b> button to accept & confirm the order (or) click
					<b>“Reject”</b> button if it is not available.
				</div>
				<div style="margin:15px 0;">
					<ul style="list-style:none; padding:10px 0;">
						<li style="display:inline;">
							<a href="@confirmationLink@#confirm" style="color:#FFFFFF;text-transform: uppercase; text-decoration: none;padding: 10px 20px; background: #149814; ">Accept</a>
						</li>
						<li style="display:inline; margin-left:20px;">
							<a href="@confirmationLink@#cancel" style="color:#FFFFFF;text-transform: uppercase; text-decoration: none;padding: 10px 20px; background: #CC3F3F; ">Reject</a>
						</li>
					</ul>
				</div>
			</div>
			<div style=" margin-top:30px;">
				<table style="border-collapse: collapse; width:100%" border="1">
					<tr>
						<td style="padding:10px; width: 50%;vertical-align: top">
							<div style="text-align: left">
								<div style="text-align: center"><b>Order Details</b></div>
								<hr>
								<div><strong>Customer Name:</strong> @custName@</div>
								<div><strong>Cake:</strong> @cakeInfo@</div>
								<div><strong>Weight:</strong> @cakeWeight@s</div>
								<div><strong>Customer Special Notes* (Needs approval if not already discussed):</strong> @splNotes@</div>
								@extraCakeInfo@
							</div>
						</td>
						<td style="padding:10px; width: 50%;vertical-align: top">
							<div style="text-align: left;">
								<div style="text-align: center"><b>Delivery Details</b></div>
								<hr>
								<div><strong>Date:</strong> @checkInDate@</div>
								<div><strong>Slot:</strong> @cakeSlot@</div>
								<div><strong>Location:</strong> @location@</div>
								<div><strong>Full Address:</strong> @fullAddress@</div>
							</div>
						</td>
					</tr>
					<tr>
						<td style="padding:10px; width: 50%">
							<div style="text-align: left">
								<div><strong>Cake Price:</strong> Rs. @cakePrice@</div>
								<div><strong>Delivery Charge:</strong> @delivery@</div>
								<div><strong>Total Order Amount:</strong> Rs. @totalPrice@</div>
							</div>
						</td>
						<td style="padding:10px; width: 50%">
							<div style="text-align: left">
								<div><strong>Advance Paid:</strong> Rs. @advanceAmount@</div>
								@balanceAmtMarkup@
							</div>
						</td>
					</tr>
				</table>
			</div>
			<div style="text-align:left">
				<div style="margin:10px 0 10px;">
					<u>Note:</u> If there is any change in cake details, please reply to this email / call @biz_head_number@ at the earliest. We will update the same on our website.
				</div>
				<div style="margin:15px 0;">
					@salutation@
				</div>
			</div>
		</div>
	</div>
</div>