<div style="text-align:center;margin:35px auto">
	<a href="https://evibe.in/my/party-bag/list" style="text-decoration:none;border-radius:4px;text-align:center;border:0;font-weight:500;background-color:#fa4052;color:#fffff1;font-size:20px;padding:10px 12px" target="_blank">
		<img src="https://gallery.evibe.in/main/img/icons/party-bag_w.png" alt="party bag" style="height:20px;padding-right:10px;">Check my bag
	</a>
</div>