/**
 * Pre-checkout and checkout page CSS
 */

/* Pre-checkout page */
.modal-pre-checkout .modal-dialog {
	width: 100%;
	max-width: 900px;
}

.modal-pre-checkout .modal-content {
	min-height: 575px;
}

.modal-pre-checkout .pc-left-side {
	color: #FFFFFF;
	position: relative;
	min-height: 575px;
	background-size: cover;
}

.pc-booking-steps {
	padding: 30px;
	color: #FFFFFF;
	z-index: 1001;
	position: relative;
}

.pc-booking-steps li {
	margin-bottom: 25px;
}

.pc-booking-steps li .bs-title {
	font-size: 20px;
	padding-bottom: 16px;
}

.bs-title i {
	vertical-align: middle;
}

.pc-refund-policy .pc-rp-desc,
.pc-booking-steps li .bs-desc {
	color: #D1D1D1;
	line-height: 22px;
}

.pc-booking-steps li:last-child {
	margin-bottom: 0;
}

.modal-pre-checkout .pc-refund-policy {
	border-top: 1px solid #7B7B7B;
	padding: 20px 15px;
	text-align: right;
	z-index: 1001;
	position: relative;
}

.pc-refund-policy .pc-rp-title {
	color: #FFFFFF;
	font-size: 20px;
	padding-bottom: 18px;
}

.pc-bg-overlay {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0.6;
	z-index: 1000;
}

.modal-pre-checkout .pc-order-title {
	font-size: 24px;
	line-height: 30px;
	padding-top: 30px;
	padding-bottom: 20px;
	color: #ED3E72;
	font-weight: normal;
	text-align: center;
	margin: 0;
}

.pc-right-side .pc-highlights-wrap {
	border: 1px solid #D9D9D9;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	box-shadow: 0 0 6px rgba(148, 148, 148, 0.44);
	padding: 15px;
	margin-bottom: 15px;
}

.pc-highlights-wrap-2,
.pc-package-unavailable-wrap {
	border: 1px solid #E2E2E2;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	/*box-shadow: 0 0 6px rgba(148, 148, 148, 0.44);*/
	padding: 15px;
	margin-bottom: 15px;
}

.pc-total-order-price {
	margin-bottom: 10px;
}

.pc-high-title {
	color: #696969;
	font-size: 11px;
	text-transform: uppercase;
	margin-bottom: 4px;
	line-height: 18px;
}

.pc-high-text {
	color: #696969;
	font-size: 11px;
	margin-top: 4px;
	line-height: 14px;
}

.pc-high-value {
	font-size: 18px;
}

.pc-amount {
	font-size: 24px;
	font-weight: normal;
	color: #393939;
}

.btn-pc-proceed {
	background: #F03F73;
	color: #FFFFFF;
	border-color: #F03F73;
	margin-top: 20px;
	padding: 8px 30px;
	text-transform: uppercase;
}

.btn-pc-proceed:hover {
	opacity: 0.9;
	border-color: #F03F73;
	background: #F02F73;
}

.btn-pc-proceed[disabled] {
	opacity: 0.7;
	background: #F03F73;
	border-color: #F03F73;
	color: #FFFFFF;
}

.modal-pre-checkout .mdl-textfield__label {
	font-weight: normal;
}

.modal-pre-checkout .mdl-textfield--floating-label.is-focused .mdl-textfield__label,
.modal-pre-checkout .mdl-textfield--floating-label.is-dirty .mdl-textfield__label {
	bottom: -5px;
}

.pc-order-form {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

/* Checkout page */
.pay-body {
	background-color: #F5F5F5;;
}

.pay-header .navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
	color: #777777;
}

.checkout-page {
	background-color: #FFFFFF;
	padding-top: 30px;
	padding-bottom: 60px;
	min-height: 768px;
}

.pay-header {
	border-bottom: 1px solid #E9E9E9;
}

.booking-data label {
	margin-bottom: 0;
}

.checkout-wrap {
	background-color: #FFFFFF;
	margin: 40px 0;
}

.checkout-wrap .co-data h3 {
	padding: 15px;
	margin: 0;
}

.checkout-wrap .co-data h3.success {
	padding: 15px;
	margin: 0;
	color: #FFFFFF;
	background: green;
}

.checkout-wrap .main-content {
	padding: 40px;
	margin: 0 auto;
	width: 80%;
	line-height: 27px;
	color: #555555;
}

hr.sep {
	margin: 35px;
}

.boxshadow .checkout-wrap {
	-webkit-box-shadow: 2px 2px 9px #898989;
	-moz-box-shadow: 2px 2px 9px #898989;
	-o-box-shadow: 2px 2px 9px #898989;
	-ms-box-shadow: 2px 2px 9px #898989;
	box-shadow: 2px 2px 9px rgba(84, 84, 84, 0.25);
}

.highlight-text {
	background: #F4FF97;
}

.co-order-details {
	max-height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
}

.co-add-on-details {
	border-top: 1px solid #D4D4D4;
}

.co-add-ons-wrap {
	max-height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
}

.co-add-ons-title {
	float: left;
}

.co-add-ons-edit {
	float: right;
}

.co-add-on-wrap {
	padding: 5px 10px 10px 10px;
	border-bottom: 1px solid #EFEFEF;
}

.co-add-on-wrap:last-child {
	border-bottom: 0;
}

.co-add-on-img-wrap {
	border: 1px solid #D9D9D9;
	height: 100px;
	width: 140px;
}

.co-add-on-img-wrap .co-add-on-img {
	height: 100%;
	width: 100%;
}

.co-add-on-title,
.co-add-on-price {
	font-size: 16px;
}

/*==== Checkout page add-ons modal ====*/
.co-ao-modal-title {
	font-size: 16px;
	font-weight: 500;
}

.co-ao-modal-price-wrap {
	margin-left: 20px;
	font-size: 14px;
	/*border: 1px solid #ed3e72;*/
	color: #A2A2A2;
	/*border-radius: 20px;*/
	/*padding: 4px 7px;*/
}

/*==== Success page design =====*/
.faq {
	list-style: none;
	position: relative;
}

.faq .ques {
	color: rgb(240, 62, 114);
	font-size: 1.15em;
	margin-top: 30px;
	padding-bottom: 10px;
}

.faq .ans {
	color: #777777;
	font-size: 1em;
}

.faq li .qa-symbol {
	position: absolute;
	left: 10px;
}

.borderradius .checkout-wrap {
	padding: 30px;
}

.auto-booking .checkout-wrap {
	padding: 0;
}

.auto-booking .refer-earn-wrap {
	padding: 30px;
}

.co-header {
	border-bottom: 1px solid #E9E9E9;
	padding-bottom: 10px;
}

.co-sec-data {
	margin-top: 25px;
	padding: 10px 20px;
	background-color: #F1F1F1;
}

h5.co-title {
	text-transform: uppercase;
	color: #ED3E72;
	text-align: center;
	font-size: 1.7em;
	margin: 10px 0;
}

.booking-data {
	padding: 10px;
	margin-bottom: 15px;
	background-color: #F9F9F9;
	border-radius: 8px;
}

/*.booking-data:last-child {*/
/*border-bottom: none;*/
/*padding-bottom: 0;*/
/*}*/

.billing {
	/*border-top: 1px dashed #333333;*/
	/*border-bottom: 1px dashed #333333;*/
	text-transform: capitalize;
	text-align: left;
}

.billing-item {
	padding: 6px 0;
}

.booking-data .price {
	font-size: 16px;
}

.totals {
	font-size: 16px;
	text-align: center;
	padding: 8px 0;
	background-color: #FACA39;
	margin-bottom: 10px;
	text-transform: capitalize;
}

.btn-pay {
	font-size: 1.2em;
	width: 100%;
	padding: 10px;
	text-transform: uppercase;
}

/* reset from home.css */
.pay-body .form-group,
.pay-body .form-group:last-child {
	margin-bottom: 15px;
}

.evibe-info-text {
	color: #34B6C7;
	font-size: 13px;
}

/*=== New checkout design ====*/
.padding-25 {
	padding: 25px 0;
}

.payment-section {
	background: #FFFFFF;
	margin-bottom: 20px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
	border: 1px solid #D4D4D4;
}

.contact-details {
	background: #FFFFFF;
}

a.form-category-title h4 {
	font-size: 1.4em;
	margin: 0;
	background: #ECECEC;
	width: calc(100% + 20px);
	margin-left: -10px;
	color: #313131;
	padding: 15px 25px 10px 25px;
	margin-bottom: 10px;
	box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.25);
}

.form-card-details {
	box-shadow: 0 3px 4px rgba(4, 4, 4, 0.43);
	background: #FFFFFF;
}

.form-card-details .form-info {
	background: #FFFFFF;
	border-bottom: 1px solid #E6E6E6;
	padding: 15px 25px 25px;
}

.checkout-page .mdl-textfield__label {
	font-weight: normal;
}

.checkout-page .mdl-textfield--floating-label.is-focused .mdl-textfield__label,
.checkout-page .mdl-textfield--floating-label.is-dirty .mdl-textfield__label {
	color: rgb(68, 138, 255);
	bottom: -5px;
}

.panel-indv-item {
	padding: 8px 15px;
	font-size: 1.1em;
}

.booking-info a {
	font-size: 1.1em;
	text-decoration: underline;
}

.checkout-hint-msg {
	position: absolute;
}

.checkout-form button.btn-submit-login {
	background: #F03F73;
	color: #FFFFFF;
	border-color: #F03F73;
	margin-top: 20px;
	text-transform: uppercase;
}

/* Card Design of the Checkout page */
.item-checkout .item-result .img-wrap {
	height: 140px;
}

.item-checkout .details {
	padding: 10px 0 0;
}

.item-checkout .title {
	padding: 5px 20px 10px;
	background: #DBDBDB;
}

.item-checkout .item-info {
	max-height: 350px;
	overflow-y: scroll;
	padding: 0 15px 15px;
	border-bottom: 1px solid #E6E6E6;
}

.item-checkout .item-info p {
	padding: 5px 20px;
	margin: 0;
}

.item-checkout .panel-item-body {
	padding: 15px 20px;
}

.checkout-timing h5 {
	text-align: center;
	margin: 5px;
	color: #444444;
	font-size: 1.4em;
}

.checkin-time {
	padding-top: 10px;
	border-top: 1px solid #E6E6E6;
}

.checkout-timing i {
	font-size: 2.5em;
	margin-top: 10px;
	color: #999999;
}

.checkout-timing h5 {
	font-size: 1.2em;
	color: #444444;
}

.cal-price {
	font-size: 1.1em;
	margin: 5px 0;
}

.price-total {
	padding: 0 10px;
	background: #ECECEC;
	border: 0.5px solid #ECECEC;
	border-radius: 5px;
}

.decor-checkout-page-price-total {
	border-top: 1px dashed #8C8C8C;
}

.price-total .seperator {
	border-top: 1px solid #9E9E9E;
}

.form-category-title .arrow-down, .form-category-title .arrow-up {
	color: #9E9E9E;
	font-size: 1.2em;
	margin-top: 0px;
}

.form-category-title .arrow-down, .form-category-title.collapsed .arrow-up {
	display: inline-block;
}

.form-category-title.collapsed .arrow-down, .form-category-title .arrow-up {
	display: none;
}

/*=== vendor ask: reject / confirm =====*/
.ask-confirm-wrap {
	background-color: #FFFFFF;
	margin: 40px 0;
	min-height: 400px;
}

.ask-confirm-wrap h4 {
	padding: 15px;
	background: #828282;
	color: #FFFFFF;
	margin: 0;
}

.ask-confirm-wrap .main-content {
	padding: 40px 60px;
	font-size: 16px;
}

.ask-confirm-wrap .booking-title {
	text-align: left;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: normal;
	color: #595959;
	margin: 30px 0 10px 0;
}

.ask-confirm-wrap h4.confirmed {
	background: #149814;
}

.ask-confirm-wrap h4.cancelled {
	background: #CC3F3F;
}

.btn-reply {
	width: 100%;
	background: #FFFFFF;
	color: #F03F73;
	border-color: #F03F73;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: 500;
	padding: 10px 8px;
	margin-bottom: 15px;
}

.btn-reply.highlight {
	background: #F03F73;
	color: #FFFFFF;
}

.btn-reply.confirm {
	background: #149814;
	color: #FFFFFF;
	border-color: #149814;
}

.btn-reply.cancel {
	background: #CC3F3F;
	color: #FFFFFF;
	border-color: #CC3F3F;
}

.g-captcha {
	margin-left: 23%;
}

.ask-confirm-wrap ul.booking-details {
	display: table;
	table-layout: fixed;
	padding: 0;
	margin: 10px 0 0 0;
	list-style: none;
	width: 100%;
}

.ask-confirm-wrap ul.booking-details li {
	display: table-cell;
	margin-bottom: 15px;
}

.ap-sub-title {
	font-size: 14px;
	font-weight: bold;
}

.notice-transport-message {
	color: #999999;
	font-size: 13px;
}

.upload-successful-text {
	color: #00C851;
	font-size: 20px;
}

.avail-check-fail-msg {
	background-color: #FF5A5A;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	line-height: 20px;
	color: #FFFFFF;
}

.avail-check-fail-msg i {
	font-size: 15px;
}

.payment-success-order-wrap .order-wrap .card {
	padding: 20px;
	margin-top: 20px;
}

.payment-success-order-wrap .order-wrap .card:first-child {
	margin-top: 0;
}

/* Checkout page service selection related */
.co-service-wrap {
	border: 1px solid #D9D9D9;
	background-color: #F7FBFF;
	color: #4E4E4E;
	font-weight: normal;
	flex: auto;
	/* width: 50px; */
	word-wrap: break-word;
	white-space: initial;
	padding: 5px;
	margin-top: 10px;
}

.co-service-text {
	font-size: 16px;
	font-weight: normal;
}

.co-service-text:hover {
	color: #ED3E79;
	cursor: pointer;
}

.co-service-selection {
	padding: 0 15px;
}

.co-service-selection {
	font-size: 18px;
	padding: 15px;
	font-weight: bold;
}

.success-e-invite-section {
	background-color: #F6F6F6;
}

.success-e-invite-wrap {
	background-color: #FFFFFF;
}

.benefit-title {
	font-weight: bold;
}

.benefits-text {
	margin-top: 5px;
}

.benefit-img {
	height: 100%;
	width: 100%;
}

.checkout-add-ons-container {
	background-color: #FFFFFF;
	padding: 15px 0;
}

.checkout-add-ons-info {
	/*border: 1px solid #EFEFEF;*/
	/*display: inline-block;*/
	/*padding: 10px;*/
	font-weight: bold;
	line-height: 20px;
	/*background-color: #D9EDF7;*/
}

.checkout-ao-info-img {
	height: 100%;
}

.checkout-ao-info-img-wrap {
	height: 40px;
}

.checkout-add-ons-info-list {
	display: table;
	padding: 0;
	/*text-align: center;*/
	width: 100%;
}

.checkout-add-ons-info-list li {
	display: table-cell;
}

.checkout-page-2 {
	background-color: #ECECEC;
	padding-top: 15px;
	padding-bottom: 60px;
	/*min-height: 768px;*/
}

.checkout-card-wrap,
.checkout-price-card-wrap,
.checkout-coupon-card-wrap,
.checkout-tmo-card-wrap,
.ps-card-wrap {
	background-color: #FFFFFF;
	border-radius: 10px;
}

.ps-card-title {

}

.checkout-tmo-card-wrap {
	padding:15px;
}

.checkout-navigation-card-wrap {
	/*background-color: #FFFFFF;*/
	/*border-radius: 10px;*/
	/*padding: 15px;*/
}

.checkout-navigation-card-wrap .step_descr {
	text-transform: uppercase;
	font-size: 10px;
	font-weight: bold;
	line-height: 10px;
}

.checkout-details-wrap {
	/*padding: 15px;*/
}

.checkout-card-header,
.ps-card-header {
	border-bottom: 1px solid #EFEFEF;
	padding: 15px 0;
}

.checkout-card-header-text,
.ps-card-header-text {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	color: #777777;
	margin-top:8px;
}

.checkout-card-header-info {
	font-size: 12px;
	text-transform: initial;
	vertical-align: text-bottom;
	font-weight: normal;
}

.checkout-card-body,
.ps-card-body {
	padding: 0 15px;
}

.checkout-card-footer {
	text-align: center;
	padding:15px 0;
}

.checkout-navigation-list {
	display: table;
	padding: 0;
	text-align: center;
	width: 100%;
}

.checkout-navigation-list li {
	display: table-cell;
}

/*.checkout-navigation-img-wrap {*/
/*border-radius: 100%;*/
/*height: 60px;*/
/*width: 60px;*/
/*border: 1px solid #EFEFEF;*/
/*display: inline-block;*/
/*}*/

/*.checkout-navigation-img {*/
/*height: 60%;*/
/*}*/

.btn-checkout-card-continue,
.btn-checkout-tmo {
	text-transform: uppercase;
	font-weight: bold;
	background-color: #ED3E72;
	border: 1px solid #ED3E72;
}

.btn-checkout-card-continue:hover,
.btn-checkout-card-continue:active,
.btn-checkout-card-continue:focus,
.btn-checkout-tmo:hover,
.btn-checkout-tmo:active,
.btn-checkout-tmo:focus {
	background-color: #ED3E72;
	border-color: #ED3E72;
	color: #FFFFFF;
}

.checkout-tmo-text {
	color: #30AC15;
	font-size:20px;
	line-height:26px;
}

.checkout-tmo-cta-text {
	font-size: 12px;
	line-height:16px;
	font-style: italic;
}

/* === wizard css === */
.form_wizard .stepContainer {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	border: 0 solid #CCCCCC;
	overflow-x: hidden
}

.wizard_horizontal ul.wizard_steps {
	display: table;
	list-style: none;
	position: relative;
	width: 100%;
	margin: 20px 0;
}

.wizard_horizontal ul.wizard_steps li {
	display: table-cell;
	text-align: center
}

.wizard_horizontal ul.wizard_steps li a,
.wizard_horizontal ul.wizard_steps li:hover {
	display: block;
	position: relative;
	-moz-opacity: 1;
	filter: alpha(opacity=100);
	opacity: 1;
	color: #666666
}

.wizard_horizontal ul.wizard_steps li a:before {
	content: "";
	position: absolute;
	height: 2px;
	background: #CCCCCC;
	top: 10px;
	width: 100%;
	z-index: 4;
	left: 50%;
}

.wizard_horizontal ul.wizard_steps li a .step_no {
	width: 20px;
	height: 20px;
	line-height: 40px;
	border-radius: 100px;
	display: block;
	margin: 0 auto 0;
	font-size: 16px;
	text-align: center;
	position: relative;
	z-index: 5;
	border: 3px solid #CCCCCC;
}

.wizard_horizontal ul.wizard_steps li a.disabled:before,
.wizard_horizontal ul.wizard_steps li a.disabled .step_no {
	background: #CCCCCC;
	border-color: #CCCCCC;
}

/*.wizard_horizontal ul.wizard_steps li a.selected:before {*/
	/*!*background: green;*!*/
/*}*/

.wizard_horizontal ul.wizard_steps li a.selected .step_no {
	border-color: #333333 !important;
}

.wizard_horizontal ul.wizard_steps li a.done:before,
.wizard_horizontal ul.wizard_steps li a.done .step_no {
	background: #1ABB9C;
	border-color: #1ABB9C;
}

.wizard_horizontal ul.wizard_steps li a.done:hover {
	cursor: pointer;
}

/*.wizard_horizontal ul.wizard_steps li:first-child a:before {*/
	/*left: 50%*/
/*}*/

.wizard_horizontal ul.wizard_steps li:last-child a:before {
	width: 0%;
}

.wizard_verticle .stepContainer {
	width: 80%;
	float: left;
	padding: 0 10px
}

.actionBar {
	width: 100%;
	border-top: 1px solid #DDDDDD;
	padding: 10px 5px;
	text-align: right;
	margin-top: 10px
}

.actionBar .buttonDisabled {
	cursor: not-allowed;
	pointer-events: none;
	opacity: .65;
	filter: alpha(opacity=65);
	box-shadow: none
}

.actionBar a {
	margin: 0 3px
}

.form_wizard .loader {
	display: none
}

.form_wizard .msgBox {
	display: none
}

.wizard_steps li {
	width: 20% !important;
}

.wizard_steps li:hover {
	display: table-cell !important;
}

.wizard_steps a {
	text-decoration: none;
}

/* ==================== */

/*.checkout-page-2 .mdl-textfield.is-focused,*/
.checkout-page-2 .mdl-textfield--floating-label.is-focused .mdl-textfield__label,
.checkout-page-2 .mdl-textfield--floating-label.is-dirty .mdl-textfield__label {
	bottom: -5px;
}

.checkout-page-2 .mdl-textfield--floating-label.is-focused .checkout-issue-label,
.checkout-page-2 .mdl-textfield--floating-label.is-dirty .checkout-issue-label {
	bottom: 0;
}

.checkout-bookings-wrap {
	padding-bottom: 20px;
	margin-bottom: 20px;
	/*border-bottom: 1px solid #CCC;*/
}

.checkout-page-2 .wizard_steps .selected:hover {
	cursor: pointer;
}

.add-on-card .shortlisted-label {
	position: absolute;
	color: #FEFEFE;
	background-color: #5CB85C;
	top: 10px;
	border: 1px solid #5CB85C;
	left: -50px;
	z-index: 999;
	font-size: 14px;
	font-weight: 600;
	padding: 3px 45px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	width: 150px;
	overflow: hidden;
}

.checkout-price-coupon-applied {
	font-size: 12px;
	color: orange;
	border: 1px solid;
	display: inline;
	width: 100%;
	padding: 1px 4px;
	border-radius: 4px;
}

.checkout-price-split-up-component {
	margin-top: 10px;
}

.checkout-price-split-up-hr {
	margin: 10px 0;
	border-top: 1px solid #ccc;
}

.checkout-price-split-up-info,
.checkout-add-ons-continue-hint {
	margin-top: 10px;
	font-size: 11px;
	color: #337AB7;
	line-height: 14px;
}

.checkout-coupon-card-wrap .coupon-code-wrap {
	border: none;
}

.checkout-price-product-transport {
	font-size: 12px;
	color: #777777;
}

.checkout-price-split-up-order {
	padding-bottom: 10px;
	border-bottom: 1px dotted #CCCCCC;
}

.checkout-price-split-up-order:last-child {
	padding-bottom: 0;
	border-bottom: 0;
}

.checkout-price-split-up-coupon {
	margin-top: 10px;
	padding-top:10px;
	border-top: 1px dotted #CCCCCC;
}

.checkout-price-split-up-order-worth {
	font-size: 12px;
	color: #777777;
	text-decoration: line-through;
}

.checkout-price-split-up-save {
	color: #30AC15;
	font-size: 12px;
}

.ps-message-card-wrap {
	padding: 15px;
	margin: 0;
	color: green;
	background: #FFFFFF;
	font-size: 34px;
	line-height: 40px;
	text-align: center;
	border-radius: 10px;
}

.ps-tmo-wrap {
	padding: 0 15px;
}

.ps-re-card-wrap {
	padding: 20px 15px;
}

.btn-checkout-proofs-choice {
	font-weight: 400;
	border:1px solid #007BFF;
	color: #007BFF;
	padding: 5px 10px;
	border-radius: 20px;
	background-color: #FFFFFF;
	cursor: pointer;
}

.btn-checkout-proof-left {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.btn-checkout-proof-right {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.btn-checkout-proofs-toggle {
	color: #FFFFFF;
	background-color: #007BFF;
}

.checkout-product-img {
	width: 100%;
}

.checkout-product-img-title {
	font-size: 20px;
	line-height: 24px;
}

.checkout-piab-coupon-img {
	height: 30px;
}

.checkout-piab-coupon-title {
	color: orange;
	font-size: 18px;
	font-weight: 600;
}

.checkout-piab-coupon-hint {
	font-size: 12px;
}

.ps-product-img {
	height: 100%;
	max-width: 100%;
}

.ps-product-img-wrap {
	height:50px;
	margin: auto;
}

.ps-product-title {
	font-size: 20px;
	line-height: 24px;
}

.ps-product-price {
	font-size:18px;
}

.ps-price-split-wrap {
	border-top:1px solid #EFEFEF;
}

.ps-tmo-btn {
	border-radius: 4px;
}

.ps-card-body-title {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	color: #777777;
}

.invite-promo-img-wrap {
	overflow: hidden;
}

.invite-promo-img {
	height: 100%;
	width: 100%;
}

.checkout-invite-promo-wrap {
	margin: 10px 15px 10px 15px;
	border: 1px solid #ECECEC;
	background-color: #ECECEC;
	border-radius: 10px;
	padding: 0 15px;
}

.checkout-invite-promo-title {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	color: #777777;
}

.checkout-invite-promo-label {
	font-size: 12px;
	font-weight: normal;
	text-transform: capitalize;
	background-color: #1ABB9C;
	border-radius: 8px;
	color: #FFFFFF;
	padding: 2px 7px;
	margin-left: 7px;
	vertical-align: bottom;
}

.checkout-invite-know-more:hover {
	cursor: pointer;
}

.checkout-invite-service-text {
	font-size: 14px;
	font-weight: normal;
}

.checkout-invite-service-text:hover {
	color: #ED3E79;
	cursor: pointer;
}

.ps-invite-promo-btn {
	margin: 10px 0;
	color: #ED3E72;
	background-color: #FFFFFF;
	border: 1px solid #ED3E72;
	font-weight: bold;
	text-transform: uppercase;
}

.ps-invite-promo-btn:hover,
.ps-invite-promo-btn:active,
.ps-invite-promo-btn:focus {
	color: #ED3E72;
	background-color: #FFFFFF;
	border: 1px solid #ED3E72;
}