.venue-deals-booking-steps li {
	margin-bottom: 5px;
}

.venue-deals-booking-steps li:nth-child(2n) {
	text-align: right;
}

.venue-deals-booking-steps li .bs-title {
	padding-bottom: 0;
}

.vd-highlights-wrap {
	margin-top: 0;
	margin-bottom: 15px;
}

.vd-highlights-wrap .pc-order-title {
	padding-top: 0;
	padding-bottom: 15px;
	font-size: 20px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
}

.modal-vd-pre-co .pc-right-side {
	padding: 20px;
}

.pc-highlights-data .price-worth {
	font-size: 16px;
	color: #9A9A9A;
	margin-right: 4px;
}

.pc-highlights-data .price-val {
	font-size: 22px;
}

.pc-highlights-data .menu-price-wrap {
	margin: 0 40px;
}

.pc-vd-order-form {
	padding-top: 0;
}