@import url("https://fonts.googleapis.com/css?family=Salsa&display=swap");

body{
	font-family: 'Roboto', sans-serif !important;
	scroll-behavior: smooth;
	background-color:#fff !important;
}


.header-section-wrap {
	height:auto;
	min-height:400px;
	width:100%;
	background-size:cover
}

.carousel-heading {
	font-family: 'Salsa', cursive !important;color:white
}

.carousel-subheading {
	color:white;
	line-height:1.4;
	font-size:18px;
}

.header-cta-btn {
	width: 100%;
	border-radius: 20px;
	margin-top: 10px;
}

.header-cta-btn > img {
	display: inline-block;
	height: 20px;
	padding-right: 10px;

}


.carousel-text-wrap {
	padding-left:45px;
	height:400px;
	display:flex;
	justify-content:center;
	flex-direction:column
}

.carousel-cta{
	display:inline-block !important;
	width:inherit !important;
}

.video-img-wrap {
	padding-left:45px;
	height:400px;
	display:flex;
	justify-content:center;
	flex-direction:column;
	align-items:center
}

.video-thumb{
	height:240px !important;
	width:420px !important;
	-webkit-box-shadow: 2px -2px 50px -4px rgba(0,0,0,1);
	-moz-box-shadow: 2px -2px 50px -4px rgba(0,0,0,1);
	box-shadow: 2px -2px 50px -4px rgba(0,0,0,1);
	border-radius:10px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th
{
	border-top:1px solid #fff !important;
	border-bottom:1px solid #fff !important;
}
.section-wrap{
	min-height:250px;
	padding:50px 30px;
}

.faq .faq-list {
  padding: 0;
  list-style: none;
}
.faq .faq-list li {
    background-color: #ffee5a;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px 40px;
}
.faq .faq-list a {
    display: block;
    position: relative;
    font-size: 16px;
    font-weight: 600;
    color: #333333;
    text-decoration: none;
}

.faq .faq-list i {
  font-size: 16px;
  position: absolute;
  left: -25px;
  top: 6px;
  transition: 1s;
}
.faq-title {
    text-align: center;
    font-size: 17px;
    border-bottom: 2px dashed #ffffff;
    margin-bottom: 30px;
    padding-bottom: 10px;
    color: #ffffff;
}

.faq .faq-list p {
  padding-top: 5px;
  margin-bottom: 20px;
  font-size: 15px;
}
.collapsed i.glyphicon.glyphicon-arrow-up {
    transform: rotate(180deg);
}

.collapsed i.glyphicon.glyphicon-arrow-up {
    
}


.section-heading {
	font-size:34px !important;
	font-weight:500 !important;
	padding-left:20px;
	padding-right:26px !important;
	font-family: 'Salsa', cursive !important;
	color:#333 !important;
	padding-bottom:30px;
	margin-top:0px !important;
}

.icon-style-1 {
	padding:10px; height: 80px;
}
.icon-style-2 {
	padding:10px;
	height:90px;
	box-shadow:#4040401f 0 6px 12px;
	border-radius:50%;
}

.section-wrap-bg{
	padding:50px 30px;
	background-size:cover
}

	

.addon-card-wrap{
	background-color:white; 
	padding:15px;
	text-align:left;  
	box-shadow: 0 0rem 2rem rgba(0, 0, 0, 0.1);
	border-radius: 0.4rem;
	border: 1px solid rgb(242, 225, 225);margin-top:15px;
	min-height:200px;
}

.addon-title {
	font-size: 22px;
	width: 70%;
	line-height: 1.2;
}

.addon-price{
	float: right;
	font-size: 26px;
	width: 30%;
	line-height: 1.2;
}

.addon-desc{
	margin-top:10px;
	margin-bottom: 0
}

.table-item{
	font-size:16px;
	text-align:left;
	display:flex;
	align-items:center;
	align-content:center;
}

.floating-evibe-btn {
	height: 45px;
	font-family: Roboto, sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 500;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #DA0917;
	border: none;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
	cursor: pointer;
	outline: none;
	padding: 12px 20px;

} 
.box {
	width: 100%;
}
.reviews-wrap-mbl {
	border: 1px solid #0000004F;
	border-radius: 10px;
	height: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: center;
	padding-left: 15px;
	font-size: 20px;
	line-height: 1.5;
	color: #7D5147;
	padding-right: 15px;
}

.review-img {
	margin-top: 10px;
	height: 50px;
	border-radius: 50%;
	width: 50px !important;
}
.owl-stage {
	padding-left: 0px !important;
	padding-right: 0px !important;
}
	
@media (max-width: 500px) {
	.reviews-wrap-mbl {
		min-height:450px !important;
	}
	.section-heading {
		font-size:28px !important;
	}
	.review-text{
		height:260px;
		text-overflow: ellipsis;
	}
	.reviews-wrap-mbl {
		flex-direction: column !important;
	}
	.img-item{
		text-align:center !important;
		float:none !important;
		display: flex;
    	align-items: center;
    	justify-content: center;
	}
	.section-icon-wrap-mbl{
		min-height:155px;
	}
	.section-wrap{
		padding:30px 20px !important;
	}
	.section-wrap-bg{
		padding: 30px 20px !important;
	}
}