/**
 * CSS FOR CAKES PORTFOLIO
 * 
 * @author Anji <anji@evibe.in>
 * @since 26 May 2015
 */

/* GENERAL */
.cake-sec { margin-bottom: 24px; }

.cake-sec .head { margin-bottom: 12px; }

.cake-sec .head .title {
	font-weight: normal;
	font-size: 14px;
	color: #ED3E72;
	text-transform: uppercase;
}

.cake-sec .head .title-border {
	width: 48px;
	background-color: #34B6C7;
	height: 2px;
}

.cake-profile-cnt { margin: 30px 0 50px 0; }

.cake-profile-cnt .breadcrumb {
	padding: 0;
	background: none;
	font-size: 13px;
}

.boxshadow .cake-profile-wrap {
	-webkit-box-shadow: 2px 2px 9px #A9A9A9;
	-moz-box-shadow: 2px 2px 9px #A9A9A9;
	-o-box-shadow: 2px 2px 9px #A9A9A9;
	-ms-box-shadow: 2px 2px 9px #A9A9A9;
	box-shadow: 2px 2px 9px #A9A9A9;
}

/* TITLE */
.cake-title {
	padding: 0;
	margin: 0;
	font-weight: normal;
	font-size: 24px;
	text-transform: capitalize;
}

/* HIGHLIGHTS */
.cake-profile-wrap .highlights-wrap {
	border-width: 1px;
}

/* TAGS */
.cake-tags {
	color: #999999;
	padding: 4px 0;
	font-size: 13px;
}

.cake-tags i { padding-right: 4px; }

.cake-tag { text-transform: capitalize; }

.cake-tag:first-child:after,
.cake-tag + .cake-tag:after { content: ","; }

.cake-tag:last-child:after { content: ""; }

/* IMAGES */
.cake-profile-wrap .gallery-images { margin-bottom: 10px; }

.cake-profile-wrap .gallery-image {
	display: inline-block;
	padding: 0 5px 8px 0;
}

.cake-profile-wrap .gallery-image img {
	max-width: 209px !important;
	max-height: 145px !important;
}

/* PRICING */
.cake-profile-wrap .table {
	margin: 0;
	width: 68%;
}

.cake-profile-wrap .table-45 { width: 45%; }

/* ORDER FORM */
.modal-cake-order-form .modal-title { padding-bottom: 0; }

.cake-profile .btn-book-now-highlights {
	padding: 8px 12px;
	margin-top: 0;
	font-size: 0.8em;
}

.cake-profile-wrap .btn-view-more {
	padding: 8px 12px;
}

.cake-profile-wrap .btn-book-now-highlights {
	padding: 8px 12px;
	margin-top: 0;
	font-size: 0.8em;
}
.cake-profile-wrap .btn-cake-enquiry
{
	padding:8px 35px;
}
