/**
 * @author Anji <anji@evibe.in>
 * @since 8 Sep 2015
 *
 * CSS for decor's profile page
 */

.decor-profile .btn-view-more {
	padding: 8px 12px;
}

.decor-profile .btn-book-now-highlights {
	padding: 8px 12px;
	margin-top: 0;
	font-size: 0.8em;
}

.decor-modal-content {
	min-height: 330px !important;
}

.decor-checkout-field-wrap .checkout-field {
	float: right;
}

.ab-decor-extra-space {
	margin-top: 60px;
}

.ab-decor-top {
	display: flex;
}

.ab-decor-available {
	color: #00C851;
	text-align: center;
	padding: 10px 0;
	font-size: 20px;
}

.ad-decor-available-text {
	margin-left: 2px;
}

.ab-decor-unavailable {
	color: red;
	text-align: center;
	font-size: 20px;
	line-height: 25px;
}

.ab-decor-profile-pic {
	padding: 10px 25px 10px 25px;
	flex: 0;
	display: inline-block;
}

.ab-decor-profile-pic-wrap {
	width: 100%;
}

.ab-decor-profile-img {
	height: 220px;
	max-width: 340px;
}

.ab-decor-info {
	padding: 10px 25px 10px 0;
	flex: 1;
	display: inline-block;
}

.ab-decor-provider-wrap .provider-text {
	font-weight: 600;
}

.ab-decor-name {
	color: #ED3E79;
	font-size: 25px;
	line-height: 28px;
	text-align: center;
	padding: 10px 0;
	width: 100%;
}

.ab-decor-pincode-title {
	margin-bottom: -5px;
	font-weight: 600;
}

.ab-decor-phone {
	font-weight: 600;
	margin-bottom: -5px;
}

.ab-decor-verify-btn-wrap {
	padding: 15px;
}

.btn-decor-verify {
	color: #FFFFFF;
	background-color: #F03F73;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	border-radius: 4px;
	opacity: 0.8;
	padding: 10px;
	margin: 40px 20px;
}

.btn-decor-verify:hover {
	text-decoration: none;
	color: #FFFFFF;
	background-color: #F02F73;
	opacity: 1;
}

.btn-decor-verify:focus {
	text-decoration: none;
	color: #F02F73;
	background-color: #FFFFFF;
	border: 3px solid #F02F73;
	opacity: 1;
}

.ab-decor-price {
	border: 1px solid #D9D9D9;
	box-shadow: 0 0 6px rgba(148, 148, 148, 0.44);
	border-radius: 5px;
	padding: 10px;
}

.transport-free {
	color: #00C851;
}

.ab-decor-price-element {
	width: 100%;
	margin-top: 5px;
}

.ab-decor-trans-title {
	text-transform: capitalize !important;
}

.ab-decor-price-title-1 {
	color: #2B2B2B;
	font-size: 16px;
	text-transform: capitalize;
}

.ab-decor-price-title-2 {
	color: #ED3E79;
	font-size: 16px;
	text-transform: capitalize;
}

.ab-decor-profile-amt {
	font-size: 25px;
	color: #ED3E79;
	text-align: center;
	padding: 10px;
}

.ab-decor-amt {
	font-size: 20px;
	font-weight: normal;
	color: #393939;
}

.ab-decor-load-wrap {
	color: #00AFEA;
}

/*.ab-decor-proceed-btn {*/
/*padding: 10px 0;*/
/*}*/

.btn-change-pincode {
	text-decoration: underline;
}

.customer-pincode-wrap {
	font-size: 14px;
}

.ab-decor-notice-text {
	margin-top: 10px;
	color: #999999;
	font-size: 14px;
}

.btn-decor-proceed {
	margin: 20px 0;
}

/*.ab-decor-feasibility-space {*/
	/*display: none;*/
/*}*/

@media (max-width: 768px) {
	.decor-checkout-field-wrap .checkout-field {
		float: none;
		text-align: left;
	}

	.decor-modal-content {
		min-height: 575px !important;
	}

	.ab-decor-top {
		display: block;
	}

	.ab-decor-info {
		padding-left: 25px;
		display: block;
	}

	.ab-decor-profile-pic {
		display: table;
		margin-left: auto;
		margin-right: auto;
	}

	.ab-decor-profile-img {
		max-width: 220px;
	}

	.ab-decor-extra-space {
		margin-top: 0;
	}

	.ab-decor-name {
		font-size: 19px;
		line-height: 23px;
		padding-top: 10px;
	}

	.ab-decor-amt {
		font-size: 18px;
	}

	.ab-decor-price-title-1 {
		font-size: 15px;
	}

	.ab-decor-price-title-2 {
		font-size: 15px;
	}

    /*.ab-decor-feasibility-br {*/
	    /*display: none;*/
    /*}*/

    /*.ab-decor-feasibility-space {*/
	    /*display: block;*/
    /*}*/

    .btn-decor-verify {
	    margin: 15px 20px;
    }
}