/**
 * CSS FOR PACKAGES PORTFOLIO PAGE
 */

/*====== Override ======*/
.package-profile .card-item i {
	margin-right: 3px;
	margin-top: -8px;
}

/*====== Nav Tabs ======*/
.package-profile .nav-pills > li > a {
	padding: 5px 10px;
	border-radius: 0;
	text-transform: uppercase;
	color: #34B6C7;
	margin-right: 10px;
	text-decoration: underline;
}

.package-profile .nav-pills > li.active > a,
.package-profile .nav-pills > li.active > a:hover,
.package-profile .nav-pills > li.active > a:focus {
	text-decoration: none;
	color: #FFFFFF;
	background-color: #34B6C7;
}

/*====== Gallery ======*/
.package-data-wrap .gallery-sec { margin-bottom: 30px; }

.package-gallery-category { padding-top: 20px; }

.package-gallery-category .category-title {
	text-transform: uppercase;
	border-bottom: 1px solid #666666;
}

.package-data-inner .gallery-image {
	display: inline-block;
	padding: 0 5px 8px 0;
}

.img-code {
	text-align: center;
	padding-top: 4px;
}

.package-data-inner .gallery-image img {
	max-width: 209px !important;
	max-height: 145px !important;
}

/*====== Inclusions ======*/
.pkg-inc-sec {
	margin: 20px 0;
}

.pkg-inc-sec:first-child {
	margin-top: 0;
}

.pkg-inc-sec-title {
	display: inline-block;
	font-size: 13px;
	color: #313131;
	font-weight: bold;
	border-bottom: 1px solid #999999;
	text-transform: uppercase;
}

/*====== Itinerary ======*/
.itinerary-data .type-2 { background-color: #FCF8E3; }

.not-legend {
	width: 20px;
	height: 20px;
	background-color: #FCF8E3;
	border: 1px solid #8D8D8D;
	vertical-align: middle;
	margin-right: 2px;
}

/*====== Services (part of inclusions) ======*/
.package-profile .pkg-services-list {
	padding: 0;
	list-style: none;
}

.package-profile .pkg-services-list li {
	border-bottom: 1px dotted #C4C4C4;
	padding-bottom: 4px;
	margin-bottom: 10px;
}

.package-profile .pkg-services-list .service-title {
	font-weight: bold;
	color: #494949;
}

.package-profile .pkg-services-list .service-info {
	padding-top: 4px;
}

.package-profile .pkg-services-list li:last-child {
	margin-bottom: 0;
	border-bottom: 0;
	padding-bottom: 0;
}
.couple-exp-header-wrap nav
{
	border-bottom: none;
	box-shadow: 0px 0px 5px #d9d9d9;
	border-radius: 0;
}