/**
 * CSS FOR PLANNERS
 */

/* Override */
.planner-container .contact-sec hr {
	margin-top: 10px;
}

.scroll-down {
	position: fixed;
	bottom: 20px;
	left: 20px;
	z-index: 1000;
}

.planner-port-name {
	border: none;
	text-align: center;
}

.planner-container .title-bottom {
	text-align: center;
}

.speciality-txt {
	font-weight: bold;
	text-transform: capitalize;
	color: #C1262C;
	padding-bottom: 6px;
}

/* Header ratings */
.vendor-header-ratings .star-rating {
	padding-right: 5px;
	vertical-align: text-bottom;
	display: inline-block;
}

/* Planenr data*/
.planner-data-wrap {
	padding: 60px 0;
}

.port-sec {
	margin: 0 0 40px 40px;
}

.port-sec .body {
	padding-top: 20px;
}

.port-sec .title {
	font-size: 13px;
	text-transform: uppercase;
	font-weight: bold;
	color: #EE3D73;
}

.highlights-wrap {
	border: 3px solid #CF4A99;
	padding: 15px;
	margin-bottom: 40px;
}

.box-title {
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
}

.highlight-item:last-child {
	padding-bottom: 0;
}

.highlight-val {
	color: #C1262C;
}

.planner-data-wrap .budget-val,
.planner-data-wrap .price-val {
	color: #000000;
}

.star-ratings {
	font-size: 15px;
	padding: 5px 0;
}

.num-ratings {
	font-size: 13px;
	font-weight: normal;
	color: #444444;
}

.num-ratings a {
	text-transform: lowercase;
	text-decoration: none;
	border-bottom: 1px dotted #CCCCCC;
	color: #444444;
}

.text-timings {
	color: #999999;
	padding-top: 4px;
	font-size: 12px;
}

/* Terms */
.terms-wrap {
	margin-top: 40px;
	background-color: #F5F5F5;
	color: #999999;
	padding: 20px 0;
	font-size: 13px;
}

.terms-wrap .title {
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

.terms-data {
	margin-top: 20px;
	padding: 0 20px;
}

.terms-data ul {
	margin: 0;
	padding: 0;
	list-style-position: inside;
}

.terms-data li {
	padding-bottom: 10px;
	line-height: 1.1em;
}

.terms-data li:last-child {
	padding-bottom: 0;
}

/* Booking form */
.package-booking-form,
.planner-booking-form {
	margin-top: 20px;
	padding: 20px;
	background-color: #F9F9F9;
	border: 3px solid #CF4A99;
}

.pb-form-data {
	padding-top: 20px;
}

.pb-form-wrap .head {
	font-size: 18px;
	color: #444444;
	padding-bottom: 6px;
	font-weight: bold;
}

.pb-form-wrap .sub-head {
	color: #666666;
}

.pb-form-wrap .errors-cnt {
	margin-bottom: 0;
	margin-top: 10px;
}

.pb-form-wrap .errors-list {
	margin-bottom: 0;
}

/* Reviews */
.review-cnt {
	font-size: 13px;
	margin-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #DDDDDD;
}

.review-cnt:first-child {
	margin-top: 0;
}

.review-cnt:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: 0;
}

.review-head,
.review-text {
	padding-bottom: 5px;
}

.ratings-cnt {
	color: #34B7C9;
	font-size: 16px;
}

.review-date {
	font-weight: normal;
	padding-left: 10px;
	text-transform: capitalize;
}

.reviewer-desig {
	text-transform: capitalize;
	font-size: 12px;
	font-weight: normal;
	padding-right: 2px;
	font-style: italic;
	color: #999999;
}

.reviewer-name {
	color: #555555;
	font-weight: bold;
	text-transform: capitalize;
}

/* Gallery */
.gallery-carousel,
.gallery-carousel .carousel-inner > .item > img,
.gallery-carousel .carousel-inner > .item > a > img {
	height: 400px;
	width: 100%;
}

.gallery-carousel .img-gallery {
	height: 400px;
	width: 100%;
}

.gallery-nav-tabs > li.active > a,
.gallery-nav-tabs > li.active > a:hover,
.gallery-nav-tabs > li.active > a:focus {
	border: none;
}

.gallery-nav-tabs > li > a {
	padding: 0;
}

.gallery-nav-tabs > li.active > a > button {
	background-color: #CDCDCD;
	border: 1px solid #888888;
}

/* Profile tab */
.pp-sec {
	background-color: #FFFFFF;
	padding: 15px 20px;
}

.pp-sec .sec-head {
	text-align: left;
}

.pp-sec i,
.pp-sec .sec-title {
	display: inline-block;
}

.pp-sec i {
	font-size: 18px;
	vertical-align: text-bottom;
}

.pp-sec .sec-title {
	font-size: 16px;
	padding-left: 4px;
	text-transform: uppercase;
	color: #C1262C;
	font-weight: bold;
	vertical-align: middle;
}

.pp-sec .sec-body {
	text-align: left;
	margin-top: 15px;
}

.pp-sec .sec-body p {
	margin-bottom: 0;
}

.no-data-cnt {
	background-color: #FFFFFF;
	padding: 20px;
}

.no-data-msg {
	font-style: italic;
	font-weight: 300;
}

.tab-inner {
	border: 1px solid #AAAAAA;
}

/* Faqs */
.faqs-list {
	padding: 0 4px;
}

.planner-faq {
	margin-bottom: 16px;
}

.planner-faq > .question {
	font-weight: 500;
	border-bottom: 1px solid #CCCCCC;
	padding-bottom: 2px;
}

.planner-faq > .answer {
	padding-top: 6px;
}

/* Reviews */
.review-wrap {
	margin-bottom: 20px;
	padding-bottom: 6px;
	border-bottom: 1px solid #CCCCCC;
}

.review-wrap:last-child {
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 0;
}

.review-by {
	font-weight: 300;
	padding-top: 10px;
}

/* Services */
.services-data-wrap {
	padding: 20px;
	background-color: #F5F5F5;
	border: 1px solid #DDDDDD;
}

.planner-service-category {
	padding-bottom: 20px;
}

.planner-service-category:last-child {
	padding-bottom: 0;
}

.services-head .sec-title {
	padding-left: 0;
	font-weight: bold;
	font-size: 13px;
}

.planner-service-category .sec-price {
	font-size: 13px;
	font-weight: bold;
	text-transform: none;
}

.per-item {
	font-weight: normal;
	font-size: 12px;
}

.service-title {
	font-size: 14px;
	color: #555555;
}

.planner-service-category .services-head .sec-title {
	float: left;
}

.planner-service-category .services-head .sec-price {
	float: right;
}

/* Packages */
.packages-data-wrap {
	padding: 20px;
	background-color: #F5F5F5;
	border: 1px solid #DDDDDD;
}

.packages-data-wrap .panel:last-child {
	margin-bottom: 0;
}

.package-name {
	font-weight: normal;
	text-transform: capitalize;
	font-size: 16px;
	color: #000000;
}

.package-title-wrap .title-tag {
	font-size: 12px;
	text-transform: uppercase;
	color: #777777;
	padding-right: 5px;
}

.package-price {
	color: #000000;
	font-weight: normal;
	font-size: 16px;
}

.package-info {
	padding-bottom: 15px;
	text-transform: none;
	text-align: left;
}

.package-images-wrap {
	padding-top: 20px;
}

.package-images-wrap .gallery-images {
	text-align: left;
}

.package-warning {
	padding: 20px;
	background-color: #FFFFFF;
}

.planner-container .package-details-wrap {
	padding-top: 10px;
	text-align: left;
}

.planner-container .package-images-wrap {
	padding-top: 10px;
}

.planner-container .package-info {
	padding-bottom: 0;
}

.planner-container .package-service {
	margin-bottom: 10px;
}

.view-details-lnk,
.hide-details-lnk {
	margin-left: 4px;
}

.package-images-wrap .img-gal-small {
	margin-top: 4px;
	margin-bottom: 3px;
}

.package-images-wrap .sec-hint {
	padding-bottom: 0;
}

/*=== CSS for ent profile page ===*/
.ent-profile .btn-view-more {
	padding: 8px 12px;
}

.ent-profile .btn-book-now-highlights {
	padding: 8px 12px;
	margin-top: 0;
	font-size: 0.8em;
}