/**
 * Fix for codesleeve\assets-pipeline css minifier
 *
 * CSSMinifier used by codesleeve\assets-pipelines breaks on certain css selections
 * On trial and error found that "@-webkit-keyframes" type code is creating
 * the issue. To fix this issue I created a new file containing only such animation code
 * with .min extension, which is ignored by CSSMinifier.
 * 
 * @author Anji <anji@evibe.in>
 * @since 29 Jan 2015
 */

@-webkit-keyframes rotateSpinner {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes rotateSpinner {
	0% {
		-moz-transform: rotate(0deg);
	}
	100% {
		-moz-transform: rotate(360deg);
	}
}

@-ms-keyframes rotateSpinner {
	0% {
		-ms-transform: rotate(0deg);
	}
	100% {
		-ms-transform: rotate(360deg);
	}
}

@-o-keyframes rotateSpinner {
	0% {
		-o-transform: rotate(0deg);
	}
	100% {
		-o-transform: rotate(360deg);
	}
}

@keyframes rotateSpinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes reverseRotateSpinner {
	0% {
		-webkit-transform: rotate(360deg);
	}
	100% {
		-webkit-transform: rotate(0deg);
	}
}

@-moz-keyframes reverseRotateSpinner {
	0% {
		-moz-transform: rotate(360deg);
	}
	100% {
		-moz-transform: rotate(0deg);
	}
}

@-ms-keyframes reverseRotateSpinner {
	0% {
		-ms-transform: rotate(360deg);
	}
	100% {
		-ms-transform: rotate(0deg);
	}
}

@-o-keyframes reverseRotateSpinner {
	0% {
		-o-transform: rotate(360deg);
	}
	100% {
		-o-transform: rotate(0deg);
	}
}

@keyframes reverseRotateSpinner {
	0% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

/* Override */
.mdl-typography--display-1,
.mdl-typography--display-1-color-contrast {
	font-size: 29px;
	text-transform: capitalize;
}

/*== replacement of previous material design ===*/
.main-card {
	background: #FFFFFF;
	border: 1px solid #E6E6E6;
	margin-bottom: 20px;
	padding: 15px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}

.card-info-text {
	padding: 0 15px 5px;
	overflow: auto;
}

.card-title {
	padding-bottom: 15px;
}

.card-title-text {
	margin: 10px 8px 15px;
	position: relative;
}

.card-title-text:before {
	position: absolute;
	bottom: -12px;
	left: 10px;
	width: 45px;
	height: 2px;
	background-color: #F03F73;
	content: '';
}

.highlight-item,
.budget-info,
.price-info {
	text-align: center;
	padding-bottom: 20px;
	font-size: 18px;
}

.noresults {
	margin: 20px 0;
}

.sec-hint {
	padding-bottom: 8px;
	font-weight: 300;
	font-style: italic;
}

.breadcrumb-section {
	margin-top: 20px;
}

.breadcrumb-usp {
	text-transform: capitalize;
}

/* Portfolio contact section */
.contact-sec {
	text-align: center;
	border: 1px solid #EEEEEE;
	background-color: #F9F9F9;
	padding: 10px 0;
}

.or-style {
	padding: 10px 25px;
	text-align: center;
	font-size: 16px;
	font-weight: 500;
	font-style: italic;
}

.contact-txt {
	padding-bottom: 8px;
	font-size: 14px;
	text-align: center;
	font-weight: 400;
}

.contact-sec .phone,
.contact-sec .email {
	padding: 0 3px;
	font-size: 17px;
	text-align: center;
}

.contact-sec .phone {
	padding-bottom: 4px;
}

.contact-sec i {
	color: #CF4A99;
	padding-right: 4px;
}

.budget-val {
	font-size: 20px;
}

.contact-sec .highlight-item,
.contact-sec .price-info,
.contact-sec .budget-info,
.contact-sec .contacted-hint {
	padding-left: 15px;
	padding-right: 15px;
}

.highlight-val {
	font-weight: normal;
	font-size: 18px;
}

.contact-sec .budget-val,
.contact-sec .price-val {
	font-weight: 500;
	color: #C1262C;
	font-size: 16px;
}

.contact-sec button {
	text-transform: uppercase;
	width: 80%;
	font-size: 13px;
}

.contact-sec hr {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	border-top: 1px solid #CFCFCF;
}

.val-hint {
	text-align: center;
	font-size: 13px;
	font-weight: 400;
	font-style: italic;
	color: #999999;
}

/* Vendor portfolio header */
.tags-list-wrap {
	width: 58%;
}

.vendor-header .tag {
	padding: 1px 2px;
	border: 1px solid #999999;
	background-color: #FADADA;
	color: #000000;
	margin-right: 3px;
	margin-bottom: 6px;
	text-transform: capitalize;
	font-size: 12.65px;
}

.vendor-code {
	padding-top: 6px;
}

.title-inner {
	margin-top: 10px;
}

.title-cnt {
	vertical-align: top;
	padding-left: 20px;
	color: #F1F1F1;
}

.img-vendor-profile {
	width: 196px;
	height: 125px;
	vertical-align: middle;
}

.vendor-port-address {
	font-size: 14px;
	color: #BBBBBB;
}

.btn-reserve {
	margin: 0 auto;
	height: 40px;
	font-size: 18px;
	font-weight: 600;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.btn-reserve i {
	vertical-align: text-top;
}

.post-reserve {
	display: none;
}

.reserved .post-reserve {
	display: inline-block;
}

.reserved .pre-reserve {
	display: none;
}

.tooltip-markup img {
	vertical-align: text-top;
	width: 17px;
}

.vendor-tag-line-txt {
	font-size: 11px;
	text-transform: uppercase;
	color: #3D3D3D;
	padding-right: 10px;
}

/* Gallery tabs */
.gallery-data .sec-body {
	margin-top: 10px;
}

.gallery-image a:hover,
.gallery-video a:hover {
	text-decoration: none;
}

.img-gal-small,
.img-gal-video {
	margin-top: 15px;
	width: 120px;
	height: 80px;
}

.gallery-images,
.gallery-image,
.gallery-videos,
.gallery-video {
	list-style: none;
	padding-right: 15px;
}

.gallery-image,
.gallery-video {
	display: inline;
}

.loading-img-wrap {
	margin-top: 60px;
	text-align: center;
	font-size: 18px;
	color: #979797;
}

.fotorama__caption__wrap {
	font-size: 15px;
	font-weight: bold;
	border: 1px solid #000000;
	text-transform: capitalize;
}

/* Header */
.vendor-port-name {
	font-size: 24px;
	color: #000000;
	border-bottom: 2px dotted #F0FF66;
	margin-bottom: 16px;
	text-transform: uppercase;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.title-cnt .vendor-port-usp {
	font-size: 19px;
	text-transform: lowercase;
	color: #F9F9F9;
}

.vendor-container {
	background-color: #FFFFFF;
}

.vendor-header {
	background-color: #34B7C9;
	padding: 30px;
}

.vendor-container .title-cnt {
	padding-left: 0;
}

.highlight-title {
	font-size: 12px;
	text-transform: uppercase;
	color: #494949;
	font-weight: normal;
}

/* Form submit */
.submitting-msg {
	font-size: 24px;
	font-weight: bold;
}

.submitting-msg-wrap img {
	margin: auto;
	display: inline-block;
	margin-right: 4px;
}

.submitting-msg-wrap img:last-child {
	margin-right: 0;
}

.submitting-msg-wrap .rotate {
	-webkit-animation: rotateSpinner 1.2s linear infinite;
	-moz-animation: rotateSpinner 1.2s linear infinite;
	-ms-animation: rotateSpinner 1.2s linear infinite;
	-o-animation: rotateSpinner 1.2s linear infinite;
	animation: rotateSpinner 1.2s linear infinite;
}

.submitting-msg-wrap .reverse-rotate {
	-webkit-animation: reverseRotateSpinner 1.2s linear infinite;
	-moz-animation: reverseRotateSpinner 1.2s linear infinite;
	-ms-animation: reverseRotateSpinner 1.2s linear infinite;
	-o-animation: reverseRotateSpinner 1.2s linear infinite;
	animation: reverseRotateSpinner 1.2s linear infinite;
}

/* Faqs */
.port-faqs-sec .faq {
	margin-top: 14px;
	padding-bottom: 14px;
	border-bottom: 1px solid #DDDDDD;
}

.port-faqs-sec .faq:first-child {
	margin-top: 0;
}

.port-faqs-sec .faq:last-child {
	padding-bottom: 0;
	border: none;
}

.port-faqs-sec .faq .question {
	font-weight: bold;
	color: #444444;
	padding-bottom: 4px;
}

/* Reviews */
.review-reply-cnt {
	padding: 6px;
	margin-top: 12px;
	margin-left: 15px;
	background-color: #F4F4F2;
	border: 1px solid #F4F4F4;
}

/* Cards */
.card-item__title-hint {
	font-size: 12px;
	text-transform: lowercase;
}

/* enquiry card */
.enquiry-card .mdl-card__supporting-text {
	margin: auto;
}

.enquiry-card .mdl-card__actions {
	margin-bottom: 16px;
}

.enquiry-card label.mdl-textfield__label {
	font-weight: 400;
}

.enquiry-card label.mdl-textfield__label:after {
	bottom: 16px;
}

.enquiry-card .body-1 {
	margin-bottom: 10px;
}

.enquiry-card .headline {
	margin-top: 10px;
}

/* Header panel */
.item-profile .header-panel {
	margin-top: 15px;
}

.item-profile .breadcrumb {
	margin: 15px 0 0 20px;
	background: none;
	padding: 0;
}

.item-profile .breadcrumb > .active {
	color: #444444;
}

.item-profile .breadcrumb a {
	color: #666666;
	border-bottom: 1px dotted #777777;
}

.item-profile .breadcrumb a:hover {
	border-bottom: 1px solid #777777;
	text-decoration: none;
}

.item-profile .header-wrap {
	margin-top: 15px;
	padding-bottom: 12px;
	border-bottom: 1px solid #C9C9C9;
}

/* Gallery */
.item-profile .loading-img-wrap {
	margin-top: 60px;
	text-align: center;
	font-size: 18px;
	color: #979797;
}

.gallery-wrap {
	padding: 0;
	margin-bottom: 10px;
	text-align: center;
	border: 1px solid #D9D9D9;
}

.gallery-wrap ul.nav-pills li {
	z-index: 99;
}

/* Highlights */

.item-profile .why-us-card,
.item-profile .highlights-card {
	width: 100%;
	min-height: 0;
	display: inline-block;
	margin: 0 20px 20px 0;
	background-color: #FBFBFB;
	border: 1px solid #D9D9D9;
}

.item-profile .highlights-card .card-supporting-text {
	padding: 15px;
}

.hs-section {
	padding: 15px 25px 10px;
	background: #FFFFFF;
}

.social-section {
	position: relative;
	padding: 10px 15px;
	background: #F5F5F5;
	border-top: 1px solid #E6E6E6;
}

.item-profile .card-item {
	margin: 15px 0 10px;
	padding-bottom: 8px;
}

.item-profile .card-item:first-child {
	margin-top: 0;
}

.item-profile .card-item:last-child {
	margin: 0;
	padding: 0;
	border: none;
}

.item-profile .card-item i {
	vertical-align: middle;
	font-size: 16px;
	margin-right: 5px;
	margin-top: -2px;
}

.card-separator {
	width: 80%;
	margin: 15px auto 35px;
	border-color: #E6E6E6;
}

.highlights-landmark {
	font-weight: 300;
	font-size: 13px;
	font-style: italic;
	text-transform: capitalize;
}

/*=== Social Share buttons =====*/
ul.share-buttons {
	list-style: none;
	padding: 10px 0 0;
}

ul.share-buttons li {
	display: inline;
	margin: 0 5px;
}

ul.share-buttons li a img {
	height: 28px;
}

/*=== Profile cards =====*/
.item-profile .card-item__title {
	color: #828282;
	font-size: 12px;
	font-family: 'Roboto', 'Helvetica Neue', 'sans-serif';
	display: inline-block;
	text-transform: uppercase;
}

.item-profile .card-item__body {
	display: inline-block;
	font-weight: 500;
	font-family: 'Roboto', 'Helvetica Neue', 'sans-serif';
	text-transform: capitalize;
}

.item-profile span.card-item__val {
	font-weight: 500;
	font-family: 'Roboto', 'Helvetica Neue', 'sans-serif';
	text-transform: capitalize;
}

.item-profile .price-item {
	margin-top: 15px;
	margin-left: 5%;
}

.item-profile .price-item .price-worth {
	color: #878787;
	text-decoration: line-through;
	padding-right: 8px;
	font-size: 18px;
}

.item-profile .price-val {
	font-size: 24px;
	font-weight: bold;
	color: #F03E72;
	font-family: 'Roboto', 'sans-serif';
}

.item-profile .price-val span.rupee-font {
	position: relative;
	font-size: 0.75em;
	top: -3px;
	left: 2px;
}

.item-profile .star-rating {
	display: inline-block;
}

.item-profile .tags-list {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: inline-block;
}

.item-profile .tags-list li {
	border: 1px solid #919191;
	padding: 0 4px;
	font-size: 12px;
	margin-bottom: 6px;
	margin-right: 4px;
	display: inline-block;
	vertical-align: middle;
	border-radius: 4px;
	-ms-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.item-profile .tags-list li i {
}

.item-profile .card-actions {
	padding: 8px 0 8px 8px;
	border-top: 1px solid #D9D9D9;
}

a.btn-more-details {
	padding: 8px 35px;
	margin: 5px;
	background: #F03F73;
	color: #FFFFFF;
}

a.btn-more-details:hover,
a.btn-see-more-details:focus {
	background: #EF5885;
	color: #FFFFFF;
}

/*=== Top Buttons ===*/
a.btn-best-deal,
button.btn-best-deal,
button.btn-hall-enquiry-submit {
	margin-top: 5px;
	padding: 8px 10px;
	font-size: 14px;
	font-family: 'Roboto', 'Helvetica Neue', 'sans-serif';
	font-weight: 500;
	background: rgb(68, 138, 255);
	color: #FFFFFF;
	border-color: rgb(68, 138, 255);
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

a.btn-best-deal:hover,
button.btn-best-deal:hover,
a.btn-best-deal:focus,
button.btn-best-deal:focus {
	color: rgb(68, 138, 255);
	border-color: rgb(68, 138, 255);
	background: #FFFFFF;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

a.btn-best-deal i,
button.btn-best-deal i,
button.btn-hall-enquiry-submit i {
	font-size: 120%;
	margin-right: 10px;
}

button.btn-hall-enquiry-submit {
	background-color: #ED3E72;
	border-color: #ED3E72;
}

button.btn-hall-enquiry-submit:hover,
button.btn-hall-enquiry-submit:focus {
	color: #ED3E72;
	border-color: #ED3E72;
	background: #FFFFFF;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

a.btn-best-deal.btn-disabled {
	background: #FFFFFF;
	border-color: #6D6D6D;
	color: #6D6D6D;
	cursor: default;
	opacity: 0.4;
}

a.btn-book-now {
	background: #05B343;
	border-color: #05B343;
}

a.btn-book-now:hover {
	color: #05B343;
	border-color: #05B343;
}

.partybag-detail-img {
	min-height: 20px !important;
	width: 20px;
}

a.btn-short-list-add {
	margin-top: 5px;
	padding: 8px 12px;
	font-size: 14px;
	font-family: 'Roboto', 'Helvetica Neue', 'sans-serif';
	font-weight: 500;
	background: rgb(68, 138, 255);
	color: #FFFFFF;
	border-color: rgb(68, 138, 255);
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

a.btn-short-list-add:hover,
a.btn-short-list-add:focus {
	background: rgb(68, 138, 255);
	color: #FFFFFF;
	border-color: rgb(68, 138, 255);
	opacity: 0.9;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

a.btn-short-list-remove {
	margin-top: 5px;
	padding: 8px 10px;
	font-size: 14px;
	font-family: 'Roboto', 'Helvetica Neue', 'sans-serif';
	font-weight: 500;
	background: #FFFFFF;
	color: #999999;
	border-color: #999999;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

a.btn-short-list-remove:hover,
a.btn-short-list-remove:focus {
	color: #999999;
	border-color: #696969;
	background: #FFFFFF;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

a.btn-short-list-remove i {
	font-size: 120%;
	margin-right: 10px;
}

/*=== Share button on the top ====*/
a.btn-social-share {
	position: absolute;
	width: 50px;
	text-align: center;
	top: 5px;
	right: -40px;
	text-transform: uppercase;
	background: #FFFFFF;
	border: 1px solid #448AFF;
	padding: 1px 5px;
}

a.btn-social-share:hover {
	background: #448AFF;
	color: #FFFFFF;
	text-decoration: none;
}

a.btn-social-share span {
	font-size: 0.75em;
	font-family: inherit;
	position: relative;
	top: 2px;
}

/*==== button order-now */
a.btn-order-now {
	padding: 8px 45px;
	font-size: 1em;
}

/* Tabs */
/* ==== Tabs wrap === */
.menu-top-b.fixed {
	position: fixed;
	top: 0;
	left: 0;
	background: #FFFFFF;
	width: 100%;
	z-index: 101;
}

.head-scroll-fixed, .interested {
	display: none;
}

#verified .material-icons {
	position: relative;
	top: 5px;
}

.inline-icons ul li a img {
	height: 22px;
}

.menu-top-b.fixed .head-scroll-fixed, .menu-top-b.fixed .interested {
	display: block;
	margin-bottom: 1px;
}

.menu-top-b {
	border-top: 1px solid #E6E6E6;
	border-bottom: 1px solid #E6E6E6;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
}

.border-b-1 {
	border-bottom: 1px solid #E6E6E6;
}

.menu-scroll {
	padding: 20px 15px;
	margin-bottom: 0px;
	color: #919191;
}

.menu-top-b.fixed .menu-scroll {
	padding: 15px 10px 15px 0;
}

.menu-scroll li {
	display: inline;
	padding: 7px 35px;
	text-transform: capitalize;
	font-family: 'Roboto', 'Helvetica', 'sans-serif';
	font-size: 1.1em;
	list-style-type: none;
	background: #EBF0F9;
	border: 1px solid #8E8E8E;
	margin-right: 20px;
}

.menu-scroll li.active, .menu-scroll li:hover {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
	background: #F03F73;
}

.menu-scroll li.active a, .menu-scroll li:hover a {
	color: #FFFFFF;
}

.menu-scroll li a {
	color: #484848;
	font-weight: 400;
	border-bottom: 0px solid #000000;
}

.menu-scroll li a:hover, .menu-scroll li a:focus {
	text-decoration: none;
}

.card-item.item-profile .price-worth {
	font-size: 18px;
}

.tabs-wrap {
	margin-bottom: 15px;
}

.tabs-wrap .tab {
	display: inline-block;
	background-color: #ED3E72;
	padding: 4px 8px;
	margin-right: 1px;
	margin-bottom: 8px;
	cursor: pointer;
	font-size: 16px;
	color: #FFFFFF;
	border-radius: 4px;
	border: 1px solid #ED3E72;
}

.tabs-wrap .tab:hover {
	background-color: #FFFFFF;
	color: #ED3E72;
}

/* Why use Evibe */
.item-profile .why-us-card {
	padding: 15px;
	background-color: #FFFFFF;
}

.item-profile .why-us-card .card-item__title {
	display: block;
}

.item-profile .why-us-card ul {
	margin-top: 15px;
}

.item-profile .why-us-card i {
	color: #ED3E72;
}

/* Main Details panel */
.info-more-panel {
	background-color: #F5F5F5;
	padding-bottom: 12px;
}

.info-more-panel .mdl-card {
	margin-bottom: 24px;
	width: 100%;
	border: 1px solid #D9D9D9;
	min-height: 0;
}

.info-more-panel .mdl-card:last-child {
	margin-bottom: 0;
}

.item-profile .reviews-card .mdl-card__supporting-text,
.item-profile .info-card .mdl-card__supporting-text,
.item-profile .more-info-card .mdl-card__supporting-text,
.item-profile .terms-card .mdl-card__supporting-text,
.item-profile .provider-rating-card .mdl-card__supporting-text,
.item-profile .how-works-card .mdl-card__supporting-text {
	width: 100%;
}

/* Info card */
.item-profile .info-card .mdl-card__supporting-text {
	width: 100%;
	font-size: 14px;
	line-height: 20px;
}

.item-profile .info-card {
	font-size: 14px;
	line-height: 20px;
}

/* Enquiry card */
.item-profile .enquiry-card {
	max-width: 330px;
}

.item-profile .provider-rating-card {
	margin: auto;
	max-width: 330px;
	font-size: 16px;
	margin-bottom: 20px;
}

/* How it works card */
.item-profile .how-works-card {
	margin: auto;
	max-width: 330px;
}

.item-profile .how-works-card h5.title {
	margin: 12px 0;
	text-align: center;
}

.item-profile .how-works-card h5.title > span {
	margin-right: 6px;
}

.item-profile .how-works-card h5.title > span:last-child {
	margin-right: 0;
}

/* Similar results */
.similar-results {
	border-top: 1px solid #E6E6E6;
	border-bottom: 2px solid #E6E6E6;
}

.similar-items-wrap {
	margin: 10px 0;
	padding: 15px 25px;
}

.similar-items-wrap img {
	width: 100%;
}

/* process card */
.process-card {
	margin-top: 25px;
}

.process-card .headline {
	margin-top: 10px;
	margin-bottom: 16px;
	text-align: center;
}

.process-items {
	list-style: none;
	text-align: left;
	padding-left: 15px;
}

.process-items li {
	margin-bottom: 20px;
}

.process-items .item-title-cnt {
	margin-bottom: 4px;
}

.process-items .item-icon {
	margin-right: 4px;
	margin-top: -4px;
	vertical-align: middle;
}

.process-items .item-title {
	color: #ED3E72;
	font-size: 17px;
	vertical-align: middle;
}

.process-items .item-desc {
	color: #696969;
	font-size: 0.95em;
	line-height: 16px;
}

.login-social-buttons {
	margin: 10px 0;
}

/*==== Watermark Effect in the Slider ====*/
.section-watermark {
	position: absolute;
	/*background: rgba(0, 0, 0, 0.35);*/
	height: 15%;
	width: calc(100% - 30px);
	left: 15px;
	top: 0;
	z-index: 97;
	overflow: hidden;
}

.no-watermark .section-watermark {
	display: none;
}

/* Report issue form */
.ri-thank-you-message {
	padding: 30px 0;
	font-size: 22px;
	line-height: 28px;
	color: #454545;
	font-weight: 300;
}

.report-issue {
	color: #787878;
}

.report-issue:hover,
.report-issue:active {
	color: #393939;
	text-decoration: underline;
	cursor: hand;
}

/* Tags */
.tags-lists {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
}

.tags-lists li {
	float: left;
	margin: 0 10px 7px 0;
	background: #E6E6E6;
	padding: 3px 20px;
	font-size: 0.95em;
	border-radius: 15px;
}

.tags-lists li i.glyphicon.glyphicon-tag {
	position: relative;
	top: 2px;
	left: -3px;
	font-size: 90%;
}

/* hacks */
.collection-option-tag .partybag-heart {
	right: 25px;
}