/**
 * CSS FOR TRENDING PORTFOLIO PAGE
 */

/* Override */
.trending-data-wrap .highlight-val {
	font-size: 20px;
	font-weight: bold;
}

.trending-data-wrap { margin: 30px 0; }
.trending-header {
	background-color: #34B7C9;
	padding: 30px;
}
.trending-port-name {
	color: #FFFFFF;
	border-bottom: none;
	margin: 15px 0;
}
.trending-header .vendor-tag-line-txt { color: #F5F5F5; }
.tb-form-wrap .head {
	font-size: 18px;
	color: #444;
	padding-bottom: 6px;
	font-weight: bold;
}

.trending-data-wrap .gallery-image {
	display: inline-block;
	padding: 0 5px 8px 0;
}
.trending-data-wrap .img-code {
	text-align: center;
	padding-top: 4px;
}
.trending-data-wrap .gallery-image img {
	max-width: 209px !important;
	max-height: 145px !important;
}