/** Venue Deals Portfolio Page CSS **/

.select-food-type {
	padding-top: 8px;
}

.venue-deal-profile .btn-view-more {
	padding: 8px 12px;
}

.venue-deal-profile .btn-book-now-highlights {
	padding: 8px 12px;
	margin-top: 0;
	font-size: 0.8em;
}

.venue-deal-details .process-card {
	margin-top: 0;
}

.venue-deal-profile i.no-mar-t {
	margin-top: 0;
}
.menu-card .vd-card-info {
	position: relative;
	height: 300px;
	overflow: auto;
}
.vd-menu-card .menu-card
{
	padding-right: 0 !important;
}