/*
 * CSS FOR VENUE PORTFOLIOS
 */

.venue-container .header { border-bottom: 1px solid #C9C9C9; }

.venue-details {
	background-color: #F5F5F5;
	margin-top: 2px;
}

.venue-details-card {
	width: 100%;
	border: 1px solid #D9D9D9;
	margin-bottom: 30px;
}

.enquiry-card {
	text-align: center;
	border: 1px solid #CCCCCC;
	margin: auto;
	width: 100%;
	max-width: 330px;
}

.venue-snapshot { margin: 0 15px 20px 15px; }

/* Gallery */
.venue-gallery-wrap {
	padding-top: 10px;
	text-align: center;
	background: rgba(0, 0, 0, 0.85);
}

/* badges */
.badges-wrap {
	text-align: center;
}

.badges-wrap li { margin-right: 10px; }

.badges-wrap li img {
	height: 60px;
}

.badges-wrap li:last-child { margin-right: 0; }

/* highlights card items */
.highlights-card {
	width: 100%;
	min-height: 0;
	display: inline-block;
	margin: 0 20px 20px 0;
	background-color: #FFFFFF;
	box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.15);
	border: 1px solid #D9D9D9;
}

.venue-details-card .mdl-card__supporting-text { width: 100%; }

.venue-details-card.ratings-card .mdl-card__supporting-text { width: 90%; }

.venue-container .card-item {
	margin: 15px 0 10px 0;
	padding-bottom: 15px;
	border-bottom: 1px solid #DDDDDD;
}

.venue-container .card-item:first-child { margin-top: 0; }

.venue-container .card-item:last-child {
	margin: 0;
	padding: 0;
	border: none;
}

.venue-container .card-item__title i { vertical-align: bottom; }

.venue-container .card-item__title { color: #545454; }

.venue-container .card-item__sub { padding-right: 14px; }

.venue-container .card-item__sub:last-child { padding-right: 0; }

.venue-container .card-item__subtitle { font-size: 12px; }

.venue-container .card-item__val {
	font-size: 14px;
	font-weight: 500;
}

.venue-container .card-item__val img {
	width: 20px;
	height: 20px;
	vertical-align: bottom;
	margin-right: 4px;
}

.venue-container .card-item__val i { vertical-align: middle; }

.venue-container .card-item__val.disabled { color: #CCCCCC; }

.venue-container .card-item__val .star-rating { display: inline-block; }

.venue-container .card-item__val .rating-container .rating-stars { color: #34B7C9; }

/* why us */
.why-us-card {
	margin: 30px auto auto auto;
	border: 1px solid #DDDDDD;
	min-height: 0;
	width: 100%;
	max-width: 330px;
}

.why-us-card .title { font-size: 20px; }

.why-us-card li {
	padding-bottom: 4px;
	font-size: 15px;
}

.why-us-card li:last-child { padding-bottom: 0; }

/* Facilities Card */
.venue-details-card .menus-list,
.venue-details-card .items-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.venue-details-card .menus-list .menu,
.venue-details-card .items-list .item {
	margin: 15px 0;
	float: left;
	height: 35px;
}

.venue-details-card .items-list .item { width: 33.33%; }

.venue-details-card .items-list .item.disabled { color: #CCCCCC; }

.venue-details-card .menus-list .menu { margin: 15px; height: auto; }

.venue-details-card .items-list .item-66 { width: 66.67%; }

.venue-details-card .item i,
.venue-details-card .item span { vertical-align: middle; }

.venue-details-card .menus-list img {
	width: 140px;
	text-align: center;
}

.venue-details-card .menu { text-align: center; }

.venue-details-card .menu:hover { text-decoration: underline; }

.venue-details-card .menu .title {
	padding-top: 4px;
	text-align: center;
}

.sub-text {
	line-height: 16px;
	color: #797979;
}

/* HEADER */
.venue-container .breadcrumb {
	margin: 15px 0 0 20px;
	background: none;
	padding: 0;
}

.venue-container .breadcrumb > .active { color: #444444; }

.venue-container .breadcrumb a {
	color: #666666;
	border-bottom: 1px dotted #777777;
}

.venue-container .breadcrumb a:hover {
	border-bottom: 1px solid #777777;
	text-decoration: none;
}

.venue-data-wrap { margin: 60px 0; }

.venue-container .text-onwards { font-weight: normal; }

.venue-container .breadcrumb > li + li:before {
	color: #636363;
	content: ">";
}

.venue-data-wrap .contact-sec {
	background-color: #FFFFFF;
	border: none;
	padding: 0;
}

#map-canvas {
	width: 100%;
	height: 280px;
	margin: 0;
	padding: 0;
}

/* FACILITIES */
.facilities-wrap .body {
	margin-top: 20px;
	padding-left: 10px;
	background-color: #F5F5F5;
	border: 1px solid #DDDDDD;
}

.fac-item { margin-bottom: 20px; }

.fac-item.no { color: #999999; }

.fac-name {
	font-size: 12px;
	text-transform: uppercase;
	padding-right: 4px;
}

.fac-val {
	font-weight: bold;
	font-size: 15px;
	text-transform: capitalize;
}

.venue-rating .rating-container .rating-stars {
	color: #C1262C;
}

/* RATINGS */
.table-ratings td a { padding-left: 20px; }

.table-ratings .value {
	text-align: center;
	vertical-align: middle;
}

.table-ratings th.first {
	border-top: 1px solid #FFFFFF !important;
	border-left: 1px solid #FFFFFF !important;
}

/* Form */
.venue-container .errors-cnt { margin-bottom: 0; }

/* Similar venues */
.similar-venues-wrap { margin: 30px 0; padding: 0 30px; }

.similar-venues-list {
	margin: 0 0;
	list-style: none;
}

.similar-venue {
	position: relative;
	border: 1px solid #C9C9C9;
	padding-bottom: 12px;
}

.similar-venue img {
	width: 100%;
	height: 180px;
}

.similar-venue .title {
	font-size: 17px;
	line-height: 20px;
	font-weight: 300;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.similar-venue .rating-wrap {
	position: absolute;
	top: 10px;
	left: 0px;
	padding: 0 8px;
	background: rgba(0, 0, 0, 0.4);
}

.venue-profile-title-section-wrap {
	border: 1px solid #D9D9D9;
	padding: 0 10px;
}

/*.venue-product-enquiry-section-wrap .mdl-textfield.is-focused,*/
.venue-product-enquiry-section-wrap .mdl-textfield--floating-label.is-focused .mdl-textfield__label,
.venue-product-enquiry-section-wrap .mdl-textfield--floating-label.is-dirty .mdl-textfield__label {
	bottom: -5px;
}