.jcarousel-skin-default .jcarousel {
    position: relative;
    overflow: hidden;
    width: 75%;
   /* border: 1px solid #000;*/
}

.jcarousel-skin-default ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel-skin-default li {
    float: left;
    margin: 0 10px 0 0;
    padding: 0;
}

*[dir=rtl] .jcarousel-skin-default li {
    float: right;
    margin: 0 0 0 10px;
}

/** Custom **/

.jcarousel-skin-default li img {
   /* border: 0;*/
    display: block;
}
