/*=== Party Bag Page ===*/
.party-bag-results-list {
	margin: 30px 0;
}

.party-bag-results-list .item-result {
	box-shadow: none;
	border: 1px solid #F1F1F1;
	margin-bottom: 30px;
	position: relative;
}

.party-bag-results-list .item-result .details {
	padding: 8px;
	border: 1px solid #FFFFFF;
	border-top: 0;
}

.party-bag-results-list .item-result .category-name {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 3px 10px;
	text-align: center;
	font-size: 1em;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	background-color: rgba(0, 0, 0, 0.37);
	color: #F8F8F8;
}

.party-bag-results-list .item-result .details:hover {
	border: 1px solid #CCCCCC;
	border-top: 0;
}

.party-bag-results-list .item-result .card-detail-title {
	margin-top: 0;
	padding: 0 0 10px 0;
	font-size: 14px;
	text-align: center;
}

.party-bag-results-list .item-result .card-detail-title a {
	color: #494949;
	font-weight: normal;
	font-size: 15px;
}

.party-bag-results-list .item-result .content-details {
	display: block;
}

.party-bag-results-list .item-result .price-worth {
	font-size: 12px;
	margin-left: 0;
	margin-right: 0;
	line-height: 0;
}

.party-bag-results-list .item-result .price-check-price-worth {
	font-size: 16px;
}

.party-bag-results-list .item-result .price-off {
	font-size: 12px;
	color: #34B6C7
}

.party-bag-results-list .item-result .card-price {
	font-size: 16px;
	line-height: 0;
	font-weight: normal;
}

.party-bag-results-list .item-result .additional-line {
	font-size: 12px;
	text-align: right;
	margin-left: 5px;
	margin-bottom: 0;
	padding-bottom: 0; /* 5px; */
	line-height: 0;
}

.party-bag-results-list .item-result .unselected-shortlist {
	font-size: 12px;
	font-weight: 600;
	padding: 5px 15px;
	color: #3C763D;
	border: none;
	display: none;
}

.party-bag-results-list .item-result .unselected-shortlist:hover,
.party-bag-results-list .item-result .unselected-shortlist:active,
.party-bag-results-list .item-result .unselected-shortlist:focus,
.party-bag-results-list .item-result .unselected-shortlist:active:focus {
	background-color: #FFFFFF;
	border: none;
	color: #5CB85C;
	outline: none;
	box-shadow: none;
}

.party-bag-results-list .item-result .card-detail-shortlist-btns {
	margin-top: 10px;
}

.party-bag-results-list .item-result .img-wrap .shortlisted-label {
	display: none;
}

.partybag-list-header {
	padding: 10px 15px 10px 20px;
	font-size: 18px;
	text-transform: capitalize;
	background: #EFEFEF;
	border-bottom: 1px solid #D4D4D4;
	color: #777777;
}

.partybag-list-header:hover {
	opacity: 0.9;
	color: #ED3E72;
	cursor: pointer;
}

.partybag-panel-heading .accordion-toggle:after {
	/* symbol for "opening" panels */
	font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
	content: "\e114"; /* adjust as needed, taken from bootstrap.css */
	float: left;
	color: #777777;
	margin-right: 10px;
	font-size: 15px;
}

.partybag-panel-heading .accordion-toggle.collapsed:after {
	/* symbol for "collapsed" panels */
	content: "\e080"; /* adjust as needed, taken from bootstrap.css */
}

.partybag-alert-danger {
	color: #A94442;
}

.partybag-alert-success {
	color: #3C763D;
	line-height: 30px;
}

.partybag-remove {
	font-weight: 400;
	color: #555555;
	font-size: 12px;
	font-style: italic;
	line-height: 0;
}

.partybag-remove:hover {
	color: #555555;
	text-decoration: underline;
}

.partybag-enquired {
	font-style: italic;
	margin-right: 20px;
}

.btn-default.selected-shortlist {
	background-color: #5CB85C;
	border: none;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: 600;
	padding: 5px 15px;
	display: none;
}

.btn-partybag-options {
	border: 1px solid #ED3E72;
	font-size: 20px;
	color: #444444;
	padding: 5px 60px;
}

.partybag-img-filled {
	min-height: 24px !important;
	width: 24px;
}

.checkout-btn-partybag-mobile {
	background: #FFFFFF;
	color: #ED3E72 !important;
	display: block;
	margin-top: 10px;
	border: 1px solid #ED3E72;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 500;
	padding-top: 7px;
	padding-bottom: 7px;
}

.item-wrap-border {
	border: 1px solid #EDF0F4;
}

.item-img-wrap {
	padding-top: 20px;
	text-align: center
}

.clear-cart-wrap {
	cursor: pointer;
	border: 1px solid #90959B;
	padding: 5px;

}

.bottom-cta-wrap {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px
}

.secure-text-wrap {
	border: 1px solid #EDF0F4;
	margin-bottom: 10px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.order-details {
	border: 1px solid #EDF0F4;
	margin-bottom: 25px;
	padding: 10px 15px;
}

.bottom-strip {
	width: 100%;
	position: fixed;
	bottom: 0px;
	z-index: 99;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #FFFFFF !important;
	background-color: #ED3E72;
	border-color: #ED3E72;
	text-transform: uppercase;
	font-weight: 400;
}
