/* party bag side bar */
.sidebar {
	position: fixed;
	top: 0;
	right: 0;
	width: 320px;
	background-color: #FFFFFF;
	-webkit-transition: transform 150ms linear;
	-moz-transition: transform 150ms linear;
	-o-transition: transform 150ms linear;
	-ms-transition: transform 150ms linear;
	transition: transform 150ms linear;
	-webkit-transform: translateX(320px);
	-moz-transform: translateX(320px);
	-ms-transform: translateX(320px);
	-o-transform: translateX(320px);
	transform: translateX(320px);
	height: 100%;
	z-index: 1069;
	box-shadow: -3px 0 5px rgba(0, 0, 0, 0.15);
}

.sidebar.visible {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-o-transform: translateX(0px);
	transform: translateX(0px);
}

.sidebar .sidebar-header {
	padding: 8px 0;
	position: relative;
	text-align: center;
	background-color: #696969;
	color: #FFFFFF;
}

.sidebar .sidebar-header .hide-sidebar {
	position: absolute;
	top: 50%;
	color: #FFFFFF;
	height: 100%;
	left: 0;
	padding: 8px 10px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	background-color: #888888;
	border: none;
	cursor: pointer;
	display: inline-block;
	outline: none;
	vertical-align: middle;
}

.sidebar .sidebar-header .hide-sidebar:hover,
.sidebar .sidebar-header .hide-sidebar:active,
.sidebar .sidebar-header .hide-sidebar:focus,
.sidebar .sidebar-header .hide-sidebar:active:focus {
	background-color: #696969;
	color: #FFFFFF;
}

.sidebar .sidebar-header .hide-sidebar i.material-icons {
	font-size: 22px;
}

.sidebar .sidebar-header .sidebar-header-title {
	cursor: default;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
	text-transform: capitalize;
}

.sidebar .sidebar-header-budget-title {
	font-size: 13px;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	color: #696969;
	font-weight: 300;
	text-align: center;
	margin-bottom: 5px;
	text-transform: uppercase;
}

.sidebar .sidebar-header-budget {
	font-size: 20px;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	text-align: center;
	color: #ED3E72;
}

.sidebar .sidebar-body {
	position: relative;
	overflow-y: scroll;
	height: calc(100% - 35px);
}

.sidebar .btn-view-party-bag {
	display: block;
	margin-top: 10px;
	background: #FFFFFF;
	color: #999999;
	border-color: #999999;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 300;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.sidebar .btn-view-party-bag:hover {
	border-color: #696969;
	color: #696969;
}

.sidebar .btn-enquire-party-bag {
	background: #FFFFFF;
	color: #ED3E72;
	display: block;
	margin-top: 10px;
	border-color: #ED3E72;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 500;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.sidebar .btn-enquire-party-bag:hover {
	background: #ED3E72;
	color: #FFFFFF;
}

.sidebar .sidebar-content {
	background-color: #FFFFFF;
	/*height: calc(100% - 200px);*/
	/*position: relative;*/
	color: #777777;
	padding: 0 15px;
	/*overflow-y: auto;*/
	margin-bottom: 15px;
}

.sidebar .sidebar-content .sidebar-list {
	margin: 0 auto;
}

.sidebar .sidebar-content .sidebar-list .sidebar-item {
	background-color: #FFFFFF;
	box-shadow: none;
	border: 1px solid #F1F1F1;
	padding: 5px;
}

.sidebar .sidebar-content .sidebar-list .sidebar-item:hover {
	border: 1px solid #D4D4D4;
	box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.15);
	cursor: pointer;
}

/*.sidebar .sidebar-content .sidebar-list .sidebar-item:hover .card-detail-shortlist-btns {*/
	/*display: block;*/
/*}*/

/*.sidebar .sidebar-content .sidebar-list .sidebar-item:hover .card-detail-price {*/
	/*display: none;*/
/*}*/

.sidebar .sidebar-content .sidebar-list .sidebar-item .img-wrap {
	height: 100px;
	text-align: center;
	background-color: #F3F3F3;
}

.sidebar .sidebar-content .sidebar-list .sidebar-item .img-wrap .shortlisted-label {
	display: none;
}

.sidebar .sidebar-content .sidebar-list .sidebar-item img {
	max-width: 100%;
	/*width: 100%;*/
	/*min-height: 150px;*/
	/*height: auto;*/
	height: 100%;
}

.sidebar .sidebar-content .sidebar-list .sidebar-item .details {
	padding: 8px;
	border: none;
}

.sidebar .sidebar-content .sidebar-list .sidebar-item .card-detail-title {
	margin-top: 0;
	text-align: center;
	padding: 0 0 5px 0;
}

.sidebar .sidebar-content .sidebar-list .sidebar-item .card-detail-title a {
	font-weight: normal;
	color: #494949;
	font-size: 15px;
}

.sidebar .sidebar-content .sidebar-list .sidebar-item .sidebar-item-title a {
	font-weight: bold;
	color: #494949;
	font-size: 15px;
}

.sidebar .sidebar-content .sidebar-list .sidebar-item .additional-line {
	font-size: 12px;
	text-align: right;
	margin-left: 5px;
	margin-bottom: 0;
	line-height: 0;
}

.sidebar .sidebar-content .sidebar-list .sidebar-item .price-worth {
	font-size: 12px;
	margin-left: 0;
	margin-right: 0;
	line-height: 0;
}

.sidebar .sidebar-content .sidebar-list .sidebar-item .price-check-price-worth {
	font-size: 16px;
}

.sidebar .sidebar-content .sidebar-list .sidebar-item .price-off {
	font-size: 12px;
	color: #34B6C7
}

.sidebar .sidebar-content .sidebar-list .sidebar-item .card-price {
	font-size: 16px;
	font-weight: normal;
	line-height: 0;
}

.sidebar .sidebar-content .sidebar-list .sidebar-item .unselected-shortlist {
	font-size: 12px;
	font-weight: 600;
	padding: 2px 20px;
	color: #5CB85C;
	border: none;
	display: none;
}

.sidebar .sidebar-content .sidebar-list .sidebar-item .unselected-shortlist:hover,
.sidebar .sidebar-content .sidebar-list .sidebar-item .unselected-shortlist:active,
.sidebar .sidebar-content .sidebar-list .sidebar-item .unselected-shortlist:focus,
.sidebar .sidebar-content .sidebar-list .sidebar-item .unselected-shortlist:active:focus {
	background-color: #FFFFFF;
	border: none;
	color: #3C763D;
	outline: none;
	box-shadow: none;
}

/*.sidebar .sidebar-content .sidebar-list .sidebar-item .card-detail-shortlist-btns {*/
	/*display: none;*/
	/*line-height: 18px;*/
/*}*/

.sidebar .sidebar-content .sidebar-list .sidebar-item .card-detail-shortlist-btns .partybag-enquired {
	font-style: italic;
	font-size: 12px;
	/*line-height: 0;*/
}

.sidebar .sidebar-content .partybag-empty {
	text-align: center;
	padding-top: 50%;
}

.sidebar .sidebar-content .partybag-empty .partybag-empty-text {
	margin-top: 10px;
	font-size: 20px;
	line-height: 25px;
}

.sidebar .sidebar-content .sidebar-list .sidebar-item .btn-default.selected-shortlist {
	padding: 2px 20px;
	display: none;
}

.sidebar .sidebar-header-budget .price .rupee-font {
	font-size: 14px;
	position: relative;
	top: -4px;
	left: 2px;
	font-weight: 500;
}

.sidebar .card-detail-shortlist-btns a.partybag-remove {
	color: #337ab7;
	border: 1px solid #337ab7;
	font-size: 12px;
	padding: 3px 6px;
	border-radius: 4px;
}

.sidebar .sidebar-checkout-input-wrap .mdl-textfield--floating-label.is-focused .mdl-textfield__label,
.sidebar .sidebar-checkout-input-wrap .mdl-textfield--floating-label.is-dirty .mdl-textfield__label {
	bottom: -5px;
}

.sidebar-checkout-loader-wrap {
	background-color: #FDFDFD;
	/*border: 1px solid #D9D9D9;*/
	border-radius: 6px;
	height: 110px;
	width: 100%;
}

.sidebar-checkout-loader-image {
	margin-top: 15%;
}

.sidebar-checkout-loader-text {
	margin-left: 2px;
}

.sidebar-checkout-text-wrap {
	padding: 5px 10px;
}

.card-detail-feasibility-msg {
	padding: 5px;
	font-size: 12px;
	color: red;
	text-align: center;
}