.party-bag-container-wrap {
	background-color: #F8F8F8;
	padding-top: 30px;
}

.party-bag-login-wrap {
	border: 1px solid #D4D4D4;
	background: #FFFFFF;
}

.party-bag-login-header {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #D4D4D4;
}

.party-bag-header-title {
	font-size: 19px;
	vertical-align: middle;
	color: #696969;
}

.party-bag-login-content {
	padding: 30px;
}

.party-bag-login-title {
	font-size: 30px;
	text-align: center;
	color: #484848;
	text-transform: uppercase;
	line-height: 40px;
	padding: 20px 0;
}

.party-bag-top-sec {
	text-align: center;
	margin-bottom: 30px;
	padding: 15px;
	border: 1px solid #CFCFCF;
	background-color: #FFFFFF;
}

.party-bag-top-sec .mdl-textfield__label:after {
	bottom: 16px;
}

.party-bag-top-sec .estimated-budget {
	font-size: 22px;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	color: #ED3E72;
	font-weight: 500;
	text-align: center;
	padding-bottom: 10px;
}

.party-bag-top-sec .estimated-budget .price .rupee-font {
	font-size: 14px;
	position: relative;
	top: -4px;
	left: 2px;
	font-weight: 500;
}

.party-bag-back-btn {
	font-size: 13px;
	color: #555555;
}

.party-bag-back-btn:hover {
	opacity: 0.9;
	color: #555555;
	background: #FFFFFF;
}

.party-bag-msg-txt {
	font-size: 22px;
	line-height: 35px;
	text-align: center;
}