/* Filters */
.item-filters {
	background-color: #FFFFFF;
	padding: 15px 12px 15px 12px; /* 20px 12px 30px 12px;*/
	border: 1px solid #F1F1F1; /* none; */
}

.item-filters .title {
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	color: #696969;
	font-size: 14px;
}

.item-filters .filters-list {
	padding: 0;
	margin: 0;
	list-style: none;
}

.item-filters .filter {
	padding-top: 15px;
}

.item-filters .filter label {
	color: #696969;
	font-size: 14px;
}

.item-filters .ui-slider-pips .ui-slider-label {
	top: 12px;
}

.item-filters .filter-slider {
	padding: 8px 20px 10px 20px;
}

.item-filters .ui-slider-pip-1000 .ui-slider-label {
	left: 50%;
}

.item-filters .ui-slider-pip-50000 .ui-slider-label {
	left: -50%;
}

.item-filters .filter-btn {
	padding-top: 30px;
	text-align: center;
}

.item-filters .price-input {
	border: 1px solid #DBDBDB;
	box-shadow: none;
	color: #363636;
	display: inline-block;
	font-size: 14px;
	padding: 1px 3px 0 16px;
	text-align: left;
	width: 75px;
	height: 25px;
}

.item-filters .search-input:hover,
.item-filters .price-input:hover {
	border: 1px solid #ED3E72;
}

.item-filters .search-input {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.item-filters .rupee-text {
	position: absolute;
	left: 6px;
	color: #9E9E9E;
}

.item-filters .btn-filter-go {
	border: 1px solid #ED3E72;
	color: #ED3E72;
	height: 25px;
}

.item-filters .btn-filter-go:hover {
	background-color: #ED3E72;
	color: #FFFFFF;
}

.item-filters .btn-filter-go i {
	margin-top: 3px;
}

.item-filters .clear-price a {
	color: #797979;
	margin-left: 5px;
	text-decoration: none;
	cursor: pointer;
}

.item-filters .clear-price a i {
	margin-top: -6px;
}

/* Categories */
.item-filters .super-cat a {
	font-weight: 700;
	color: #696969;
}

.item-sub-cats {
	/*margin-left: 20px;*/
	font-size: 13px;
	margin-top: 5px;
}

.item-sub-cats li {
	margin-bottom: 0;
}

.item-sub-cats li:last-child {
	margin-bottom: 0;
}

.item-sub-cats li a {
	color: #595959;
	text-transform: capitalize;
}

.item-sub-cats li.active a {
	color: #ED3E72;
}

.item-sub-cats li.active .count {
	color: #ED3E72;
}

.item-sub-cats li.active > .sub-cats a {
	color: #292929;
}

.item-sub-cats li.active > .sub-cats .count {
	color: #292929;
}

.item-sub-cats li span.disabled {
	color: #9F9F9F;
}

.collection-category-filter .item-sub-cats li span.disabled {
	color: #ED3E72;
}

.item-sub-cats .sub-cats {
	margin: 0 0 10px 15px;
}

.item-sub-cats li:last-child .sub-cats {
	margin-bottom: 0;
}

.item-sub-cats li.link-filter-actions a {
	color: rgb(68, 138, 255);
}

.item-child-cats li {
	list-style: none;
	padding-left: 16px;
	font-size: 13px;
}

.item-child-cats li.active a,
.item-child-cats li.active .count {
	color: #ED3E72;
}

.list-page-filters-input + label {
	display: block;
	cursor: pointer;
	font-weight: 300;
}

.list-page-filters-input + label:hover {
	color: #0A0A0A;
}

.list-page-filters-input {
	display: none;
}

.list-page-filters-input + label:before {
	content: "\2714";
	border: 0.1em solid #000000;
	border-radius: 0.2em;
	display: inline-block;
	width: 1.25em;
	height: 1.25em;
	line-height: 1.25em;
	padding-left: 0.15em;
	margin-right: 0.5em;
	color: transparent;
	transition: .2s;
}

@media (max-width: 500px) {
	.list-page-filters-input + label:before {
		content: "\2713";
	}
}

.list-page-filters-input + label:active:before {
	transform: scale(0);
}

.list-page-filters-input:checked + label:before {
	background-color: #ED3E72;
	border-color: #ED3E72;
	color: #FFFFFF;
}