/* product result */
.item-result {
	margin-bottom: 20px;
	box-shadow: none;
	border: 1px solid #F1F1F1;
}

.item-result:hover {
	border: 1px solid #D4D4D4;
	box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.15);
	cursor: pointer;
}

.item-result:hover .action-btns {
	display: block;
}

.item-result:hover .content-details {
	display: none;
}

.item-result img {
	max-width: 100%;
	width: 100%;
	min-height: 210px;
	height: auto;
}

.item-result .details {
	background-color: #FFFFFF;
	text-align: center;
	padding: 8px;
	border: none;
}

.item-result .title {
	text-align: center;
	margin-top: 0;
	padding: 0 0 10px 0;
	font-weight: normal;
	color: #696969;
	font-size: 15px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	text-transform: capitalize;
}

.item-result .title a {
	color: #494949;
	font-weight: normal;
	font-size: 15px;
}

.item-result .action-btns {
	display: none;
	line-height: 30px;
}

.item-result .item-shortlist {
	text-transform: uppercase;
	font-size: 12px;
	color: #ED3E72;
	font-weight: 700;
	line-height: 0;
}

.item-result .item-shortlist img {
	min-height: 13px !important;
	height: 13px !important;
	width: 14px;
}

.item-result .item-book-now {
	text-transform: uppercase;
	font-size: 12px;
	color: #ED3E72;
	font-weight: 700;
	cursor: pointer;
	line-height: 0;
}

.item-result .item-view-details {
	text-transform: uppercase;
	font-size: 12px;
	color: #ED3E72;
	font-weight: 700;
	cursor: pointer;
	line-height: 0;
}

.item-result .price-tag {
	line-height: 18px;
	padding: 0 5px;
}

.item-result .card-split-price-wrap {
	font-size: 12px;
	font-weight: normal;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	color: #333333;
	margin: 2px 0;
}

.item-result .card-split-price-hr {
	margin: 5px 0;
}

.item-result .price {
	color: #ED3E72;
}

.item-result .price-off {
	color: #30AC15 !important;
}

.item-result .price-worth {
	text-decoration: line-through;
	color: #676767;
}

.item-result .transport-price {
	color: #676767;
}

.item-result .transport-price-text {
	color: #676767;
	font-size:10px;
}

.item-result .product-price {
	color: #333333;
}

.item-result .advance-amount {
	font-weight: bold;
	color: #333333;
}

.item-result .actions a i {
	font-size: 20px;
	vertical-align: middle;
}

.item-result .rating-wrap {
	position: relative;
	text-align: right;
	line-height: 18px;
}

.item-result .rating-stars {
	color: #34B6C7;
}

.item-result .rating-container {
	overflow: visible;
	line-height: 16px;
}

.item-result .btn-view-more {
	margin-top: 0;
	padding: 0 6px;
	font-size: 11px;
	font-weight: normal;
	line-height: 14px;
}

a.btn-view-more, button.btn-view-more {
	margin-top: 10px;
	background: #FFFFFF;
	color: #F03F73;
	border-color: #F03F73;
	text-transform: uppercase;
	font-size: 0.8em;
	font-weight: 500;
	padding: 6px 8px;
}

a.btn-view-more:hover,
a.btn-view-more:focus,
a.btn-view-more.focused,
button.btn-view-more:hover,
button.btn-view-more:focus {
	background: #F03F73;
	color: #FFFFFF;
	border-color: #F03F73;
}

.item-result .border-right {
	border-right: 1px dotted #909090;
}

.item-result .additional-info {
	line-height: 12px;
	font-size: 11px;
	color: #9A9A9A;
	font-family: "Roboto", 'serif';
	min-height: 12px;
	text-align: left;
}

.item-result .icons-list li {
	font-family: 'Roboto', 'serif';
	color: #9A9A9A;
	font-weight: normal;
	font-size: 12px;
}

.item-result .icons-list li i {
	font-size: 12px;
}

.img-wrap {
	position: relative;
	height: 210px;
	overflow: hidden;
}

.img-wrap .title {
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: left;
	padding: 10px 0 10px 20px;
	width: 100%;
	background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
	color: #FFFFFF;
}