/** COMMON CSS FOR PROFILE/LIST PAGES **/

.top-panel {
	margin-left: -15px;
	margin-right: -15px;
}

.bottom-panel {
	margin-top: 0; /* 10px;*/
}

/* Evibe guarantee */
.evibe-guarantee-wrap {
	text-align: center;
	margin-top: 20px;
	padding: 15px 10px;
	color: #696969;
	border: 1px solid #D9D9D9;
}

.evibe-guarantee-img {
	width: 100%;
	height: auto;
	max-width: 260px;
	line-height: 0;
}

/* short list symbol on list pages, similar listings (profile page) */
.partybag-heart {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 35px;
	height: 35px;
	padding: 8px 4px;
	font-size: 25px;
	cursor: pointer;
	color: #FFFFFF;
	text-decoration: none;
	text-shadow: 0 0 1px #ED3E72, 0 0 1px #ED3E72, 0 0 1px #ED3E72, 0 0px 1px #ED3E72;
}

.partybag-heart:hover {
	color: #ED3E72; /*#ED1213; */
	text-decoration: none;
}

.partybag-heart:focus {
	color: #ED3E72; /* #ED1213; */
	text-decoration: none;
}

.shortlistedIcon {
	color: #ED3E72; /* #ED1213; */
	text-shadow: none;
}

.shortlistedIcon:focus {
	color: #FFFFFF;
	text-shadow: 0 0 1px #ED3E72, 0 0 1px #ED3E72, 0 0 1px #ED3E72, 0 0px 1px #ED3E72;
}

.shortlistIcon:focus {
	color: #ED3E72; /* #ED1213; */
	text-shadow: none;
}

.shortlistIcon:hover {
	color: #FFFFFF; /* #ED1213; */
}

/** Custom designs **/
.reverse-bidding-wrap {
	text-align: center;
	margin-top: 20px;
	padding: 15px 10px;
	color: #696969;
	border: 1px solid #D9D9D9;
	background-color: #F8F8F8;
}

.reverse-bidding-wrap .title {
	font-weight: 500;
	font-size: 18px;
	text-transform: capitalize;
}

.reverse-bidding-wrap .content {
	font-size: 14px;
	margin-top: 10px;
}

.reverse-bidding-wrap .btn-bidding {
	margin-top: 12px;
	background-color: #FFFFFF;
	color: rgb(68, 138, 255);
	border-color: rgb(68, 138, 255);
	padding: 6px;
	text-transform: uppercase;
	font-size: 13px;
	font-family: 'Roboto', 'Helvetica Neue', 'sans-serif';
}

.reverse-bidding-wrap .btn-bidding:focus {
	color: #FFFFFF;
	background-color: rgb(68, 138, 255);
}

.reverse-bidding-wrap .btn-bidding:hover {
	color: #FFFFFF;
	background-color: rgb(68, 138, 255);
}

.modal-custom-form .modal-content {
	border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 1px 2px 1px rgba(251, 215, 252, 0.02)
}

.modal-custom-form .modal-title {
	font-size: 22px;
	color: #696969;
	padding-bottom: 5px;
	border-bottom: 1px solid #F7F7F7;
	text-transform: capitalize;
}

.form-reverse-bidding {
	margin-top: 10px;
	position: relative;
}

.form-reverse-bidding label {
	font-weight: normal;
}

.form-reverse-bidding .btn-submit {
	padding: 8px 15px;
	text-transform: uppercase;
	background-color: rgb(68, 138, 255);
	color: #FFFFFF;
}

.modal-custom-form .image-upload-wrap {
	padding: 15px;
	background-color: #F2F2F2;
	border: 1px ridge #D9D9D9;
}

.modal-custom-form .image-upload-wrap .file {
	margin-top: 5px;
}

.mdl-textfield--floating-label .mdl-textfield__label {
	font-weight: 400;
}

.modal-custom-form .mdl-textfield.is-focused,
.modal-custom-form .mdl-textfield--floating-label.is-focused .mdl-textfield__label,
.modal-custom-form .mdl-textfield--floating-label.is-dirty .mdl-textfield__label {
	bottom: -5px;
}

.modal-custom-form .sticky-error-wrap {
	text-align: center;
	width: auto;
}

.modal-custom-form .sticky-error-wrap-enquiry {
	position: relative !important;
}

.modal-custom-form .sticky-error-wrap .error-message {
	background-color: hsla(0, 82%, 52%, 0.26);
	padding: 5px 10px;
}

.main-card .reverse-bidding-wrap {
	margin-top: 0;
	color: #555555;
	padding: 10px;
	background-color: #FFFFFF;
	border: none;
}

.cake-list-wrap .reverse-bidding-wrap {
	background-color: #FFFFFF;
}

.line-height-18 {
	line-height: 18px !important;
}

/* Custom design upload */
.custom-card {
	border: 1px solid #F1F1F1;
	height: auto;
	margin-bottom: 20px;
	background-color: #F8F8F8;
}

.custom-card:hover {
	border: 1px solid #D4D4D4;
	box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.15);
}

.custom-card-header {
	height: 210px;
}

.custom-card-header .custom-card-title {
	padding: 20px 10px;
	color: #ED3E72;
	font-size: 20px;
	text-align: center;
	text-transform: capitalize;
	height: 76px;
}

.custom-card-header .custom-card-content {
	font-size: 14px;
	color: #696969;
	text-align: center;
	padding: 10px 20px;
}

.custom-card-footer {
	height: 76px;
	padding: 14px;
	text-align: center;
}

.custom-card-footer .btn-bidding {
	background-color: #FFFFFF;
	color: rgb(68, 138, 255);
	border-color: rgb(68, 138, 255);
	padding: 6px;
	text-transform: uppercase;
	font-size: 13px;
	font-family: 'Roboto', 'Helvetica Neue', 'sans-serif';
}

.custom-card-footer .btn-bidding:hover {
	color: #FFFFFF;
	background-color: rgb(68, 138, 255);
}

.modal-custom-form .radio-btn-text {
	margin-left: 3px;
}

.custom-mdl-label {
	font-weight: 400;
	color: #ED3E79;
	font-size: 13px;
}

.modal-suggest-text {
	padding: 0 12px;
	font-size: 13px;
	color: #ED3E79;
}

/**
 * Pre-checkout and checkout page CSS
 */
.modal-pre-checkout .modal-dialog {
	width: 100%;
	max-width: 900px;
}

.modal-pre-checkout .modal-content {
	min-height: 575px;
}

.modal-pre-checkout .pc-left-side {
	color: #FFFFFF;
	position: relative;
	min-height: 575px;
	background-size: cover;
}

.pc-booking-steps {
	padding: 30px;
	color: #FFFFFF;
	z-index: 1001;
	position: relative;
}

.pc-booking-steps li {
	margin-bottom: 25px;
}

.pc-booking-steps li .bs-title {
	font-size: 20px;
	padding-bottom: 16px;
}

.bs-title i {
	vertical-align: middle;
}

.pc-refund-policy .pc-rp-desc,
.pc-booking-steps li .bs-desc {
	color: #D1D1D1;
	line-height: 22px;
}

.pc-booking-steps li:last-child {
	margin-bottom: 0;
}

.modal-pre-checkout .pc-refund-policy {
	border-top: 1px solid #7B7B7B;
	padding: 20px 15px;
	text-align: right;
	z-index: 1001;
	position: relative;
}

.pc-refund-policy .pc-rp-title {
	color: #FFFFFF;
	font-size: 20px;
	padding-bottom: 18px;
}

.pc-bg-overlay {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0.6;
	z-index: 1000;
}

.modal-pre-checkout .pc-order-title {
	font-size: 24px;
	line-height: 30px;
	padding-top: 30px;
	padding-bottom: 20px;
	color: #ED3E72;
	font-weight: normal;
	text-align: center;
	margin: 0;
}

.pc-right-side .pc-highlights-wrap {
	border: 1px solid #D9D9D9;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	box-shadow: 0 0 6px rgba(148, 148, 148, 0.44);
	padding: 15px;
	margin-bottom: 15px;
}

.pc-highlights-wrap-2,
.pc-package-unavailable-wrap {
	border: 1px solid #E2E2E2;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	/*box-shadow: 0 0 6px rgba(148, 148, 148, 0.44);*/
	padding: 15px;
	margin-bottom: 15px;
}

.pc-total-order-price {
	margin-bottom: 10px;
}

.pc-high-title {
	color: #696969;
	font-size: 11px;
	text-transform: uppercase;
	margin-bottom: 4px;
	line-height: 18px;
}

.pc-high-text {
	color: #696969;
	font-size: 11px;
	margin-top: 4px;
	line-height: 14px;
}

.pc-high-value {
	font-size: 18px;
}

.pc-amount {
	font-size: 24px;
	font-weight: normal;
	color: #393939;
}

.btn-pc-proceed {
	background: #F03F73;
	color: #FFFFFF;
	border-color: #F03F73;
	margin-top: 20px;
	padding: 8px 30px;
	text-transform: uppercase;
}

.btn-pc-proceed:hover {
	opacity: 0.9;
	border-color: #F03F73;
	background: #F02F73;
}

.btn-pc-proceed[disabled] {
	opacity: 0.7;
	background: #F03F73;
	border-color: #F03F73;
	color: #FFFFFF;
}

.modal-pre-checkout .mdl-textfield__label {
	font-weight: normal;
}

.modal-pre-checkout .mdl-textfield--floating-label.is-focused .mdl-textfield__label,
.modal-pre-checkout .mdl-textfield--floating-label.is-dirty .mdl-textfield__label {
	bottom: -5px;
}