/* Review Module */
.reviews-wrap { margin-bottom: 24px; }

.reviews-card .review {
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #D9D9D9;
}

.reviews-card .review:last-child {
	border: none;
	margin-bottom: 0;
}

.reviews-card .reviewer {
	font-weight: bold;
	padding-left: 8px;
}

.reviews-card .rating {
	font-size: 14px;
	line-height: 20px;
	margin-top: 8px;
	font-weight: 400;
}

.reviews-card .review-reply {
	padding: 8px;
	background-color: #F9F9F9;
	margin: 10px 20px 0 30px;
}

.individual-review .rating-stars {
	color: #FFCE00
}

.review-highlights-wrap {
	margin-bottom: 20px;
}

.review-highlight-data-wrap {
	padding: 8px;
	border: 1px solid #D1D1D1;
	background-color: #F9F9F9;
}

.review-highlight-title {
	margin: 0 0 15px 0;
	font-size: 15px;
	font-weight: bold;
}

.a-review-wrap .link-read {
	cursor: pointer;
}

.review-filters-wrap {
	margin: 20px 0;
	padding: 10px;
	border: 1px solid #E5E5E5;
}

.review-filters-wrap .review-sort-lbl {
	font-size: 13px;
	font-weight: normal;
}

.r-sort-options,
.r-sort-option {
	margin: 0;
	display: inline-block;
	list-style: none;
}
