<div style="position: relative; height: 100%; width: 100%">
	<div style="position:absolute; width: 100%; top: 0;">
		<h2 style="margin-top: 30px; margin-bottom: 10px; color: #ED3E72; text-align: center">Oops!! No Network Connection</h2>
		<h4 style="color: #AAAAAA; margin-top: 0; text-align: center">Please check your internet connection & try again</h4>
	</div>
	<div style="position:absolute; width: 100%; bottom: 0">
		<div style="text-align: center; color: #8C8C8C; font-size: 12px">
			<div>© 2014 - 2019 Evibe Technologies Pvt. Ltd.</div>
			<div>All rights reserved</div>
		</div>
	</div>
</div>