<div style="background-color:#FFFFFF;padding:20px;">
	<div>
		<div style='float:left;'>
			<div><a href='https://evibe.in'><img src='https://gallery.evibe.in/img/logo/logo_evibe.png'
					alt='evibe.in'></a></div>
		</div>
		<div style='float:right;'>
			<div><i>Date:</i> @date@</div>
			<div style="padding-top:4px;"><i>Phone:</i> @evibePhone@</div>
		</div>
		<div style='clear:both;'></div>
	</div>
	<hr>
	<div style="font-size:14px;line-height:22px;">
		<div style="margin-top:30px;">
			<p>Namaste @custName@,</p>
			<p>Greetings from Evibe. We are pleased to inform that your booking has been confirmed with Evibe. Please check below for more details.</p>
		</div>
		<div style="margin-top: 15px;">
			<div style="text-decoration: underline;">Action Required:</div>
			<div style="margin-top: 5px;">Valid Photo ID proof needs to be uploaded to avoid cancellation</div>
			@uploadIdProof@
		</div>
		<div>
			<u><b>Important:</b></u> Please "Reply All" to this email if there is any update or if anything is missing.
		</div>
		<div style="margin-top:15px;">Thanks for choosing evibe.in to book your party. We wish you a wonderful and memorable party.</div>
		<div style="margin:15px 0;">
			<div>Best Regards,</div>
			<div>Team Evibe</div>
		</div>
	</div>
</div>

