<div style="background-color:#FFFFFF;padding:20px;margin-top:30px;">
	@updatedOrderMarkup@
	<ul style="display:table;table-layout:fixed;padding:0;margin:10px 0 0 0;list-style:none;width:100%;">
		<li style="display:table-cell;">
			<div><b>Booking ID</b></div>
			<div>@bookId@</div>
		</li>
		<li style="display:table-cell;">
			<div><b>Booking Amount</b></div>
			<div>Rs. @bookAmt@</div>
		</li>
		<li style="display:table-cell;">
			<div><b>Advance Paid</b></div>
			<div>Rs. @advPd@</div>
		</li>
		<li style="display:table-cell;">
			<div><b>Balance Amount</b></div>
			<div>Rs. @balAmt@</div>
		</li>
	</ul>
	<div style="margin-top: 15px;"><b>Order Start Time</b>: @partyDate@</div>
	<div style="margin-top:15px;">
		<div><b>Booking Details</b></div>
		<div>@bookingInfo@</div>
	</div>
	<div style="margin-top:15px;">
		<div><b>Special Notes*</b> (Needs approval if is not already discussed)</div>
		<div>@splNts@</div>
	</div>
</div>