<div style="background-color:#FFFFFF;padding:20px;margin-top:30px;">
	<div style="color:#EF3E75;text-transform:uppercase;font-size:14px;font-weight:bold;">Party Details</div>
	<div style="margin-top:15px;">
		<div style="margin-top:5px;"><b>Occasion</b>: <span>@eventName@</span></div>
		<div style="margin-top:5px;"><b>Order Start Time</b>: <span>@partyDateTime@</span></div>
	</div>
</div>