<div style="background-color:#FFFFFF;padding:20px;margin-top:30px;">
	<div style="color:#EF3E75;text-transform:uppercase;font-size:14px;font-weight:bold;">Venue Details</div>
	@venueName@
	@venueAltPh@
	<div style="margin-top:15px;">
		<div><b>Full Address:</b></div>
		<div>@venueAddress@</div>
		<div style="margin-top:4px;"><u>Landmark</u>: <span>@venueLandMark@</span></div>
		<div style="margin-top:4px;"><u>Venue Type</u>: <span>@venueType@</span></div>
		<div style="margin-top:4px;">
			<u>Google Maps</u>: <a href="@venueMaps@" target="_blank">@venueMaps@</a>
		</div>
	</div>
</div>