<div style="background-color:#FFFFFF;padding:20px;margin-top:30px;">
	<div style="color:#EF3E75;text-transform:uppercase;font-size:14px;font-weight:bold;">FAQ's</div>
	<ul style="list-style: none; position: relative;">
		<li style="color: #EF3E75;margin-top: 20px;padding-bottom: 10px;">
			<span style="position: absolute;left: 0;">Q.</span> By when will you confirm Venue availability?
		</li>
		<li style="color: #000000;">
			Within next 4 business hours, you will receive availability confirmation email & SMS along with venue manager details. In case of non-availability, you will be notified with next steps.
		</li>
		<li style="color: #EF3E75;margin-top: 20px;padding-bottom: 10px;">
			<span style="position: absolute;left: 0;">Q.</span> If venue is available, is my booking confirmed?
		</li>
		<li style="color: #000000;">
			Not really. You are now just one step away in booking the venue at best deal.
			You need to visit the venue within 24 hours to complete your booking.
			Please understand that we will not be able to hold your slot for longer time.
			However, you can coordinate with the venue manager to schedule your site visit as per your convenience.
		</li>
		<li style="color: #EF3E75;margin-top: 20px;padding-bottom: 10px;">
			<span style="position: absolute;left: 0;">Q.</span> Is site visit mandatory?
		</li>
		<li style="color: #000000;">
			Yes. We always recommend you to personally checkout the venue to your satisfaction.
			Venue manager will help you with your site visit to discuss menu customisations (if any), table arrangements and to complete your booking.
		</li>
		<li style="color: #EF3E75;margin-top: 20px;padding-bottom: 10px;">
			<span style="position: absolute;left: 0;">Q.</span> What if I do not like the Venue after site visit?
		</li>
		<li style="color: #000000;">
			We will try to recommend similar venue based on your preferences.
			However, if you are not interested, we will refund your total token amount.
		</li>
		<li style="color: #EF3E75;margin-top: 20px;padding-bottom: 10px;">
			<span style="position: absolute;left: 0;">Q.</span> Can I customise the menu provided?
		</li>
		<li style="color: #000000;">
			Yes, you can customise your menu as per your requirement.
			However, please be informed that the price will change accordingly.
			The price mentioned here will be applicable only for the menu listed. Your venue manager will help you with menu customisations.
		</li>
		<li style="color: #EF3E75;margin-top: 20px;padding-bottom: 10px;">
			<span style="position: absolute;left: 0;">Q.</span> What is the procedure to book the venue?
		</li>
		<li style="color: #000000;">
			You need to pay booking advance at the venue to complete your booking.
			Usually venues collect 30% - 50% of your total estimated booking amount as advance. Of course, the token amount paid to us will be considered for booking advance amount.
			Please do not forget to carry the token amount payment receipt.
		</li>
		<li style="color: #EF3E75;margin-top: 20px;padding-bottom: 10px;">
			<span style="position: absolute;left: 0;">Q.</span> Whom should I contact after booking the venue?
		</li>
		<li style="color: #000000;">
			Please be in touch with your venue manager.
		</li>

		<li style="color: #EF3E75;margin-top: 20px;padding-bottom: 10px;">
			<span style="position: absolute;left: 0;">Q.</span> What if the venue is not available?
		</li>
		<li style="color: #000000;">
			Incase of non-availability of the venue / deal, we will try to match something similar. If you are
			not satisfied, we will refund 100% of the token amount immediately thereafter.
		</li>
		<li style="color: #EF3E75;margin-top: 20px;padding-bottom: 10px;">
			<span style="position: absolute;left: 0;">Q.</span>How many days does it take to refund my token amount?
		</li>
		<li style="color: #000000;">
			We will initiate the refund process as soon as we get a go ahead from you. However, for the money to actually credit to your card / account, it depends on your payment choice for token amount. Rest assured, you should receive the cash within 7 - 10 Business days.
		</li>
		<li style="color: #EF3E75;margin-top: 20px;padding-bottom: 10px;">
			<span style="position: absolute;left: 0">Q.</span>
			What if I want to cancel my booking after paying booking advance?
		</li>
		<li style="color: #000000;">
			Your booking cancellation will be processed by the venue based their cancellation policy.
			The cancellation policy of the venue is based on their registered location, property type and other factors.
			Hence it is not possible for us to provide a standard cancellation policy. So, we suggest you to go through the cancellation policy of the venue before you pay the booking advance to avoid any confusions later.
		</li>
	</ul>
</div>