body {
	font-size: 14px;
	font-weight: 300;
	line-height: 1.6em;
	color: #FFFFFF;
	background-color: #FFFFFF;
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
	color: #333333;
	line-height: 1.1em;
}

p {
	color: #333333;
	font-size: 13px;
}

a {
	text-decoration: none;
	transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	outline: none;
	color: #333333;
}

a:hover {
	text-decoration: none;
	color: #EEEEEE;
}

.carousel-inner .customer-review-signup {
	min-height: 150px;
}

.text-center p {
	margin-bottom: 50px;
	color: #333333;
}

.text-center i {
	font-size: 40px;
	margin-top: 35px;
	color: #FFFFFF;
	padding: 50px;
	background: #ED4173;
	border-radius: 50%;
}

.text-center h2 {
	margin-top: 20px;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-size: 18px;
	color: #ED4173;
}

.navbar {
	min-height: 65px !important;
}

#main-slider {
	position: relative;
}

#main-slider .carousel .slide-margin {
	margin-top: 140px;
}

#main-slider .carousel h3 {
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 36px;
	font-weight: 800;
}

#main-slider .carousel p {
	font-weight: bold;
	color: #FFFFFF;
	font-size: 18px;
	margin-top: 10px;
}

#main-slider .carousel .btn-slide {
	padding: 8px 20px;
	background: #ED4173;
	color: #FFFFFF;
	border-radius: 4px;
	margin-top: 25px;
	display: inline-block;
}

#main-slider .carousel .slider-img {
	text-align: right;
	position: absolute;
}


#main-slider .carousel .item {
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	left: 0 !important;
	opacity: 0;
	top: 0;
	position: absolute;
	width: 100%;
	display: block !important;
	height: 730px;
	-webkit-transition: opacity ease-in-out 500ms;
	-moz-transition: opacity ease-in-out 500ms;
	-o-transition: opacity ease-in-out 500ms;
	transition: opacity ease-in-out 500ms;
}

#main-slider .carousel .item:first-child {
	top: auto;
	position: relative;
}

#main-slider .carousel .item.active {
	opacity: 1;
	-webkit-transition: opacity ease-in-out 500ms;
	-moz-transition: opacity ease-in-out 500ms;
	-o-transition: opacity ease-in-out 500ms;
	transition: opacity ease-in-out 500ms;
	z-index: 1;
}

#partner {
	background: url(https://gallery.evibe.in/main/img/partner_bg_b.jpg) 50% 50% no-repeat;
	background-size: cover;
}

#partner {
	color: #FFFFFF;
	text-align: center;
}

#partner h3 {
	color: #FFFFFF;
}

.partners ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.partners ul li {
	display: inline-block;
	float: left;
	width: 20%;
}

.about {
	background: #EEEEEE;
}

.footer {
	background: #ED4173;
	padding: 15px 22px;
}

.copyright {
	margin-top: 5px;
	text-align: right;
}

.center h2 {
	font-size: 36px;
	margin-top: 0;
	margin-bottom: 20px;
	text-align: center;
}

.fa {
	display: inline-block;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.partner-logo-parent-div {
	margin-top: 70px;
}

#quote-carousel {
	padding: 0 10px 30px 10px;
	margin-top: 60px;
}

#quote-carousel .carousel-control {
	background: none;
	color: #CACACA;
	font-size: 2.3em;
	text-shadow: none;
	margin-top: 30px;
}

.item blockquote {
	border-left: none;
	margin: 0;
}

.landing-cld-signup-process * {
	box-sizing: border-box;
	position: relative;
}

.landing-cld-signup-process li strong {
	color: #666666;
	text-transform: capitalize;
}

.timeline {
	padding: 1rem;
}

.timeline .circle {
	background: #AAAAAA;
	border: 0.5rem solid #666666;
	border-radius: 100%;
	height: 2.25rem;
	margin: auto;
	width: 2.25rem;
	vertical-align: middle;
}

.timeline ul {
	margin: 0;
	padding: 0;
}

.timeline .signup-process-title {
	color: #ED4173;
	display: block;
	font-weight: bold;
}

.timeline li {
	border: 0 solid #AAAAAA;
	color: #FFFFFF;
	list-style-type: none;
	text-transform: uppercase;
	padding: 1rem 1rem;
	width: calc(50% + 1px);
}

.timeline li:after {
	background: #AAAAAA;
	border-radius: 100%;
	content: "";
	display: inline-block;
	height: 1rem;
	position: absolute;
	right: calc(-0.5rem - 1px);
	width: 1rem;
}

.timeline li:nth-child(even):after {
	left: calc(-0.5rem - 1px);
}

.timeline li:nth-child(odd) {
	border-right-width: 2px;
	text-align: right;
}

.timeline li:nth-child(even) {
	border-left-width: 2px;
	left: calc(50% - 1px);
}

.navbar a {
	color: #ED4173;
	text-transform: uppercase;
}

.navbar a:hover {
	color: #ED4173;
}

.navbar .pull-right {
	margin-top: 20px;
}

.divider-text span {
	padding: 7px;
	font-size: 12px;
	position: relative;
	z-index: 2;
}

.divider-text {
	position: relative;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}

.divider-text:after {
	content: "";
	position: absolute;
	width: 100%;
	border-bottom: 1px solid #DDDDDD;
	top: 55%;
	left: 0;
	z-index: 1;
}

.bg-light {
	background-color: #F5F5F5 !important;
}

.frnd-sign-up-btn {
	color: #FFFFFF;
}

.frnd-sign-up-btn:hover {
	color: #F5F5F5;
}

.modal-custom-form .sticky-error-wrap .error-message {
	background-color: #EA371E !important;
}

.mdl-textfield__input {
	color: #393939;
}

#main-slider .carousel .item {
	height: 500px;
}

.glyphicon-rupee span {
	letter-spacing: 10px;
	margin-left: 10px;
}

.partner-logo {
	list-style: none;
	min-height: 100px;
	padding: 35px 0 25px;
	width: 100%;
}

.partner-logo li {
	display: inline-block;
	text-align: center;
	margin: 0 20px;
}

.partner-logo li img {
	height: 60px;
	opacity: 0.8;
}

.bg-overlay {
	top: 0;
	position: absolute;
	background-color: #000000;
	opacity: 0.55;
	z-index: 10;
	width: 100%;
}

@media (max-width: 500px) {
	h3 {
		font-size: 24px;
		margin-top: 0;
	}

	.navbar-brand > img {
		max-width: 100px;
	}

	.navbar-brand {
		padding: 18px 15px 18px 0;
	}

	.navbar .pull-right {
		margin-top: 20px;
	}

	#main-slider .carousel .item {
		height: 700px;
	}

	#main-slider .carousel .carousel-content h3 {
		font-size: 32px;
	}

	#main-slider .carousel .carousel-content {
		margin-top: 0;
	}
}