.left-nav-evibe-title-logo {
	font-size: 17px !important;
	padding-left: 15px !important;
}

.partner-profile-icon {
	font-size: 30px;
	padding: 15px;
}

.profile_info {
	padding-top: 22px;
}

.sidebar-footer a {
	width: 50%;
}

.packages-list .card-detail-title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.packages-list .card-price {
	font-size: 20px;
}

.add-package-btn {
	border: 1px solid #C3C3C3;
	padding-right: 0;
	background-color: #EEEEEE;
}

.add-package-btn .add-package-plus-icon {
	border-right: 1px solid #C3C3C3;
	font-size: 24px;
	line-height: 24px;
	padding-left: 2px;
}

.partner-profile-wrap .profile-photo {
	position: relative;
	width: 50px;
	height: 50px;
	border-radius: 35px;
	background-color: #9B1690;
	color: #FFFFFF;
	margin: 10px;
}

.partner-profile-wrap .profile-photo .text {
	position: absolute;
	top: 18px;
	left: 15px;
	font-size: 30px;
	font-weight: 800;
	text-shadow: 1px;
}

.partner-profile-wrap .title {
	font-size: 22px;
	color: #333333;
	text-transform: capitalize;
}

.partner-profile-wrap .sub-title {
	font-size: 13px;
	color: #333333;
	text-transform: capitalize;
}

.partner-profile-wrap {
	text-align: center;
	box-shadow: 0 1px 20px 0 #D0D0D0;
	margin-bottom: 15px;
	margin-top: 10px;
}

.partner-account-details-btn-text {
	vertical-align: top;
}

.partner-account-details-btn {
	text-decoration: none;
}

.partner-account-details-btn:hover {
	text-decoration: none;
}

.partner-add-package-header {
	background-color: #777777;
	color: #FFFFFF;
	margin-bottom: 15px;
}

.vendor-package-image-upload {
	color: #B4B4B4;
}

.add-package-submit-btn {
	padding-top: 40px;
}

.add-package-success-redirect-btn a {
	background-color: #FFFFFF;
	border: 2px solid #777777;
	padding: 10px 20px;
	text-transform: uppercase;
	color: #333333;
	cursor: pointer;
	transition: border-color 0.3s, background-color 0.3s, color 0.3s;
}

.add-package-success-redirect-btn a:hover {
	background-color: #777777;
	border-color: transparent;
	color: #FFFFFF;
	text-decoration: none;
}

.add-package-first-cancel, .add-package-second-cancel {
	color: #333333;
}

.add-package-first-cancel:hover, .add-package-second-cancel:hover {
	color: #777777;
}

.partner-packages-nav-header {
	min-height: 0 !important;
}

.partner-add-package-sec {
	padding: 0;
	background-color: #FFFFFF;
	border: none;
	cursor: default;
	box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.15);
}

.partner-add-package-sec-elements {
	margin: 10px 0 0 0;
}

.partner-add-package-sec-elements-end {
	margin: 10px 0 20px 0;
}

.partner-add-package-sec .partner-sub-head {
	padding: 30px;
}

.partner-add-package-sec .submit-success {
	padding: 30px;
	font-size: 16px;
	margin-top: 20px;
	text-align: center;
}

.partner-add-package-sec .home-link {
	padding: 0 30px 30px 30px;
	text-align: center;
}

.navbar-partner .btn-link {
	color: #444444;
}

.partner-header-add-package-btn {
	color: #444444 !important;
}

.partner-profile-details-header {
	margin: 0;
	width: 90%;
}

#drop-zone {
	width: 100%;
	min-height: 150px;
	border: 3px dashed rgba(0, 0, 0, .3);
	border-radius: 5px;
	text-align: center;
	position: relative;
	font-size: 20px;
	color: #7E7E7E;
}

#drop-zone input {
	position: absolute;
	cursor: pointer;
	left: 0px;
	top: 0px;
	opacity: 0;
}

/*Important*/

#drop-zone.mouse-over {
	border: 3px dashed rgba(0, 0, 0, .3);
	color: #7E7E7E;
}

/*If you dont want the button*/

#clickHere {
	display: inline-block;
	cursor: pointer;
	color: white;
	font-size: 17px;
	width: 40%;
	border-radius: 4px;
	background-color: #4679BD;
	padding: 10px;
}

#clickHere:hover {
	background-color: #376199;
}

#filename {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 1.5em;
}

.file-preview {
	background: #CCCCCC;
	border: 5px solid #FFFFFF;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
	display: inline-block;
	width: 60px;
	height: 60px;
	text-align: center;
	font-size: 14px;
	margin-top: 5px;
}

.closeBtn:hover {
	color: red;
	display: inline-block;
}

.table-top-row-remove-upper-border {
	border-top: 0 !important;
}

.modal-backdrop {
	z-index: 0;
}

.view .tools {
	margin: 90px 0 0 !important;
}

.view .tools a {
	font-size: 12px !important;
}

.ul.messages li .message_wrapper {
	margin-left: 0 !important;
}

.wizard_steps li {
	width: 25% !important;
}

.wizard_steps li:hover {
	display: table-cell !important;
}

.packages-list .alert {
	padding: 10px;
}

.messages_content .x_content ul {
	padding-top: 18px !important;
}

.partner-package-info-bar {
	min-height: 0 !important;
	background-color: #F7F7F7;
	padding: 8px 10px 0;
}

.partner-package-info-bar .alert {
	padding: 10px !important;
	margin-bottom: 0 !important;
}

.top_nav_partner_package .nav_menu {
	margin-bottom: 0 !important;
}

.partner-see-old-msgs-btn {
	margin-bottom: 15px !important;
}

.hr-text {
	line-height: 1em;
	position: relative;
	outline: 0;
	border: 0;
	color: black;
	text-align: center;
	height: 1.5em;
	opacity: .5;
}

.hr-text:before {
	content: '';
	background: -webkit-linear-gradient(left, transparent, #818078, transparent);
	background: linear-gradient(to right, transparent, #818078, transparent);
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 1px;
}

.hr-text:after {
	content: attr(data-content);
	position: relative;
	display: inline-block;
	padding: 0.5em;
	line-height: 0.5em;
	color: #404040;
	background-color: #FCFCFA;
}

.partner-portal-forgot-password-btn {
	color: #A0A0A0;
}

.partner-portal-forgot-password-btn:hover {
	color: #707070;
	text-decoration: underline;
}

.order-list-element {
	border: 1px solid #E4E4E4;
}

.order-list-element .bottom {
	background-color: #EDEDED;
	padding: 10px 0;
}

.order-list-element .bottom .amount-bottom {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.submitting-msg {
	font-size: 24px;
	font-weight: bold;
}

.submitting-msg-wrap img {
	margin: auto;
	display: inline-block;
	margin-right: 4px;
}

.submitting-msg-wrap img:last-child {
	margin-right: 0;
}

.submitting-msg-wrap .rotate {
	-webkit-animation: rotateSpinner 1.2s linear infinite;
	-moz-animation: rotateSpinner 1.2s linear infinite;
	-ms-animation: rotateSpinner 1.2s linear infinite;
	-o-animation: rotateSpinner 1.2s linear infinite;
	animation: rotateSpinner 1.2s linear infinite;
}

.submitting-msg-wrap .reverse-rotate {
	-webkit-animation: reverseRotateSpinner 1.2s linear infinite;
	-moz-animation: reverseRotateSpinner 1.2s linear infinite;
	-ms-animation: reverseRotateSpinner 1.2s linear infinite;
	-o-animation: reverseRotateSpinner 1.2s linear infinite;
	animation: reverseRotateSpinner 1.2s linear infinite;
}

.partner-login-wrap {
	margin: 0;
	min-height: 500px;
	height: 100vh;
}

.partner-enquiry-wrap {
	width: 100%;
	padding: 7px;
	display: inline-block;
	background: #FFFFFF;
	border: 1px solid #E6E9ED;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	transition: all .2s ease;
}

.tile_count .tile_stats_count:before {
	height: 45px !important;
}

.dashboard-start-date, .dashboard-end-date {
	border: 1px dashed #72879C;
	padding: 3px;
}

.btn-get-settlements {
	vertical-align: unset;
}

.top-sec {
	margin-bottom: 15px;
	padding: 6px 0;
	position: relative;
	background-color: #E6E6E6;
}

.sub-sec-title {
	font-size: 11px;
	font-weight: normal;
	text-transform: uppercase;
}

.sub-sec-value {
	font-size: 16px;
	font-weight: bold;
	color: #292929;
}

.cancelled-booking-settlement {
	background-color: red;
}

.cancelled-info-box {
	padding: 2px 10px;
	background-color: red;
}

.settlement-items-wrap {
	overflow-x: auto;
}