.home-bg-color{
  background-color: #F8F8F8;
}

@media (max-width: 600px) {
  .top-collections {
    .section-ocs {
      margin-top: -10px;
    }
  }

  .intro-header {
    height: 410px;
  }

  .intro-message {
    h1 {
      font-size: 2.2em;
    }

    h3 {
      font-size: 1.5em;
    }

    h4 {
      font-size: 18px;
      line-height: 0;
      font-weight: 500 !important;
    }
  }
}