a:focus {
	outline: 0;
}

.slick-slide img {
	display: initial !important;
}

.slick-prev,
.slick-next {
	height: 50px !important;
	width: 50px !important;
	border-radius: 100% !important;
	/*color: #FFFFFF !important;*/
	/*background-color: #333333 !important;*/
	z-index: 1 !important;
}

.slick-prev {
	left: 10px !important;
}

.slick-next {
	right: 10px !important;
}

.slick-prev:before,
.slick-next:before {
	color: #333333 !important;
	font-size: 40px !important;
	position: relative;
	z-index: 2;
}

.slick-prev:after,
.slick-next:after {
	content: "";
	color: #FFFFFF !important;
	position: absolute;
	top: 6px;
	left: 8px;
	width: 34px;
	height: 34px;
	border-radius: 100%;
	background-color: #FFFFFF;
	z-index: 1;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
	/*background: #333333 !important;*/
}

.slick-prev:hover:before,
.slick-next:hover:before {
	opacity: 1 !important;
}

.slick-prev:focus:before,
.slick-next:focus:before,
.slick-prev:active:before,
.slick-next:active:before {
	opacity: 0.75 !important;
}

.slick-prev.slick-disabled:hover:before,
.slick-next.slick-disabled:hover:before,
.slick-prev.slick-disabled:focus:before,
.slick-next.slick-disabled:focus:before,
.slick-prev.slick-disabled:active:before,
.slick-next.slick-disabled:active:before {
	opacity: 0.25 !important;
	cursor: auto;
}

.list-piab-type-styles-loading {
	background-color: #EFEFEF;
	height: 289px;
	width: 100%;
	margin-top: 15px;
	margin-bottom: 10px;
}

/* styles for '...' */
/*.list-piab-type-text {*/
/*	!* hide text if it more than N lines  *!*/
/*	overflow: hidden;*/
/*	!* for set '...' in absolute position *!*/
/*	position: relative;*/
/*	!* use this value to count block height *!*/
/*	line-height: 20px;*/
/*	!* max-height = line-height (1.2) * lines max number (3) *!*/
/*	!*max-height: 54px;*!*/
/*	height: 40px;*/
/*	!* fix problem when last visible word doesn't adjoin right side  *!*/
/*	text-align: justify;*/
/*	!* place for '...' *!*/
/*	margin-right: -1em;*/
/*	padding-right: 1em;*/
/*}*/
/* create the ... */
/*.list-piab-type-text:before {*/
/*	!* points in the end *!*/
/*	content: '...';*/
/*	!* absolute position *!*/
/*	position: absolute;*/
/*	!* set position to right bottom corner of block *!*/
/*	right: 0;*/
/*	bottom: 0;*/
/*}*/
/* hide ... if we have text, which is less than or equal to max lines */
/*.list-piab-type-text:after {*/
/*	!* points in the end *!*/
/*	content: '';*/
/*	!* absolute position *!*/
/*	position: absolute;*/
/*	!* set position to right bottom corner of text *!*/
/*	right: 0;*/
/*	!* set width and height *!*/
/*	width: 1em;*/
/*	height: 1em;*/
/*	margin-top: 0.2em;*/
/*	!* bg color = bg color under block *!*/
/*	background: white;*/
/*}*/