.list-piab-container {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	padding: 0 15px 50px 15px;
}

.list-piab-category-title {
	text-align: center;
	font-weight: 300;
	font-size: 24px;
}

.list-piab-type-wrap {
	border-radius: 8px;
	padding: 10px;
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, .05), 0 0px 7px 0 rgba(0, 0, 0, .10);
}

.list-piab-type-title {
	text-transform: capitalize;
	font-size: 18px;
	font-weight: 500;
}

.list-piab-type-text {
	font-weight: 300;
}

.list-piab-style-wrap {
	/*border-radius: 8px;*/
	/*padding: 10px;*/
	/*box-shadow: 0 0 8px 1px rgba(0, 0, 0, .05), 0 0px 7px 0 rgba(0, 0, 0, .10);*/
}

.list-piab-style-img-wrap {
	height: 250px;
	text-align: center;
}

.list-piab-style-img {
	height: 100%;
	max-width: 100%;
}

.list-piab-style-title {
	color: #333333;
	font-size: 16px;
	font-weight: 400;
}

.list-piab-style-wrap a:hover {
	text-decoration: none;
}

.list-piab-style-price {
	color: #ED3E72;
	font-size: 16px
}

.list-piab-style-price-worth {
	color: #A2A2A2;
	text-decoration: line-through;
	font-size: 12px;
}