.kids-events-workflow-wrap {
	overflow: hidden;
	position: relative;
	height: 100%;
}

.inliner {
	height: 100%;
}

.inliner, .inliner + .inlined {
	display: inline-block;
	vertical-align: middle;
}

.inlined {
	width: 80%;
	margin-left: 10%;
	height: 76px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.progress-meter {
	margin-top: 15px;
}

.progress-meter {
	counter-reset: point;
}

.progress-meter .progress-point:before {
	-moz-transition: all 1s;
	-o-transition: all 1s;
	-webkit-transition: all 1s;
	transition: all 1s;
	-moz-border-radius: 24px;
	-webkit-border-radius: 24px;
	border-radius: 24px;
	-moz-box-shadow: 0 0 0 2px white;
	-webkit-box-shadow: 0 0 0 2px white;
	box-shadow: 0 0 0 2px white;
	line-height: 23px;
	font-size: 18px;
	content: "\2713";
	display: block;
	width: 30px;
	height: 30px;
	margin: auto;
	border: 4px solid #AAAAAA;
	text-align: center;
	background-color: white;
	color: white;
}

.progress-meter .track {
	position: relative;
	height: 4px;
	background: #DDDDDD;
}

.progress-meter .progress {
	-moz-transition: width 1s;
	-o-transition: width 1s;
	-webkit-transition: width 1s;
	transition: width 1s;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 4px;
	background: #ED3E72;
}

.progress-meter .progress-points {
	position: relative;
	margin: -16px 0 0;
	padding: 0;
	list-style: none;
}

.progress-meter .progress-points .progress-point:nth-child(1) {
	left: 0;
}

.progress-meter .progress-points .progress-point:nth-child(2) {
	left: 33.33%;
}

.progress-meter .progress-points .progress-point:nth-child(3) {
	left: 66.66%;
}

.progress-meter .progress-points .progress-point:nth-child(4) {
	left: 100%;
}

.progress-meter .progress-point {
	-moz-transition: color 1s;
	-o-transition: color 1s;
	-webkit-transition: color 1s;
	transition: color 1s;
	position: absolute;
	display: block;
	width: 100px;
	margin-left: -50px;
	text-align: center;
	color: #999999;
}

.progress-point::before {
	cursor: pointer;
}

.progress-meter .progress-point.completed, .progress-meter .progress-point.active {
	color: #777777;
}

.progress-meter .progress-point.completed:before {
	border-color: #ED3E72;
	background-color: #ED3E72;
}

.progress-meter .progress-point.active:before {
	-moz-transition-delay: 0.3s;
	-o-transition-delay: 0.3s;
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
	border-color: #ED3E72;
	background-color: #ED3E72;
	color: #ED3E72;
}

.progress-meter .progress-point .label:before {
	counter-increment: point;
	content: counter(point) ". ";
}

.progress-point {
	line-height: 20px;
}

.progress-point span {
	line-height: 20px;
	letter-spacing: 0.8px;
}

.bottom-navigation {
	position: absolute;
	bottom: 0;
	background-color: white;
}

.bottom-navigation-des {
	position: absolute;
	bottom: 0;
	height: 95px;
	background-color: white;
}

.bottom-navigation .green-bg {
	background-color: #4CAF50;
	border: #4CAF50;
}

.bottom-navigation-back-button, .bottom-navigation-back-button-des {
	cursor: pointer;
	width: 20%;
	display: inline-block;
	color: #343434;
	border: #343434;
	background-color: #FFFFFF;
	font-size: 16px;
	line-height: 45px;
}

.bottom-navigation-back-button-des {
	margin-top: 25px;
}

.bottom-navigation-back-button i, .bottom-navigation-back-button-des i {
	position: relative;
	top: 7px;
}

.bottom-navigation-next-button {
	width: 100%;
	float: right;
	color: white;
	border: #343434;
	background-color: #343434;
	font-size: 16px;
	line-height: 45px;
}

.bottom-navigation-next-button-des {
	width: 20%;
	margin-top: 25px;
	margin-right: 25px;
	float: right;
	color: white;
	border: #343434;
	background-color: #343434;
	font-size: 16px;
	line-height: 45px;
}

.bottom-navigation-next-button i, .bottom-navigation-next-button-des i {
	position: relative;
	top: 6px;
	left: 6px;
}

.bottom-navigation-back-button i {
	position: relative;
	top: 7px;
}

.bottom-navigation-shortlist-button {
	cursor: pointer;
	margin-top: 8px;
	margin-right: 10px;
	display: inline-block;
	color: #343434;
	background-color: #FFFFFF;
}

.bottom-navigation-shortlist-button-des {
	margin: 25px 15px 0 20px;
}

.bottom-navigation-enquire-button {
	width: 100%;
	color: white;
	border: #ED3E72;
	background-color: #ED3E72;
	font-size: 16px;
	line-height: 40px;
	cursor: pointer;
}

.bottom-navigation-submit-button {
	width: 100%;
	color: white;
	border: #ED3E72;
	background-color: #ED3E72;
	font-size: 16px;
	line-height: 40px;
	padding: 3px 0;
	cursor: pointer;
}

.bottom-navigation-enquire-button-des {
	padding: 5px 15px;
	width: auto;
}

.bottom-navigation-enquire-button i, .bottom-navigation-shortlist-button i, .top-enquiry-form-party-bag i {
	position: relative;
	top: 6px;
}

.workflow-home-button i {
	font-size: 45px;
	margin: 17px 15px 0 0;
}

.workflow-loading-screen {
	width: 100%;
	height: 100%;
	display: table;
}

.workflow-loading-screen div {
	display: table-cell;
	height: 100%;
	width: 100%;
	vertical-align: middle;
	text-align: center;
}

.workflow-enquiry-screen, .workflow-shortlist-screen {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: white;
	opacity: 1;
	z-index: 100;
}

.workflow-close-button .material-icons {
	font-size: 40px;
}

.workflow-close-button i {
	position: relative;
	cursor: pointer;
	top: 18px;
}

.workflow-screens-hr {
	height: 1px;
	background-color: #D6D6D6;
	width: 100%;
}

.workflow-screen1 h5, .workflow-screen2 h5, .workflow-screen3 h5 {
	line-height: 30px !important;
}

.workflow-screen1, .workflow-screen2, .workflow-screen3, .workflow-screen4 {
	padding-left: 7px;
	padding-right: 7px;
}

.workflow-screen2 {
	position: absolute;
	height: calc(100% - 150px);
	height: -moz-calc(100% - 150px);
	height: -webkit-calc(100% - 150px);
}

.workflow-screen4-service-details .category-description {
	margin-left: 28px;
}

.workflow-screen4-service-details {
	position: absolute;
	overflow-x: hidden;
	overflow-y: scroll;
	width: 96%;
	height: calc(100% - 143px);
	height: -moz-calc(100% - 143px);
	height: -webkit-calc(100% - 143px);
}

.workflow-screen4-service-details-des {
	position: absolute;
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100%;
	height: calc(100% - 191px);
	height: -moz-calc(100% - 191px);
	height: -webkit-calc(100% - 191px);
}

.workflow-screen4 .service-header-name {
	padding: 10px 0;
	display: inline-block;
	color: #656565;
	font-size: 16px;
}

.workflow-screen5-service-wrap {
	display: inline-block;
	text-align: center;
	padding: 0 10px 8px 15px;
	margin: 0 10px 0 0;
	border: 1px solid #DEDEDE;
	color: #797979;
	border-radius: 5px;
	cursor: pointer;
	width: auto;
}

.workflow-screen5-service-wrap i {
	position: relative;
	top: 6px;
	right: 5px;
}

.workflow-screen5-service-wrap-des {
	width: auto;
}

.workflow-screen5-service-wrap-selected {
	color: #ED3E72;
	border: 1px solid #ED3E72;
}

.workflow-change-requirement-wrap {
	padding: 10px;
	line-height: 24px;
}

.workflow-screen5-options-wrap-des {
	position: absolute;
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100%;
	height: calc(100% - 150px);
	height: -moz-calc(100% - 150px);
	height: -webkit-calc(100% - 150px);
}

.workflow-screen5-options-mob {
	position: absolute;
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100%;
	height: calc(100% - 96px);
	height: -moz-calc(100% - 96px);
	height: -webkit-calc(100% - 96px);
}

.workflow-screen7-options-wrap {
	position: absolute;
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100%;
	height: calc(100% - 82px);
	height: -moz-calc(100% - 82px);
	height: -webkit-calc(100% - 82px);
}

.workflow-screen7-options-wrap-des {
	height: calc(100% - 130px);
	height: -moz-calc(100% - 130px);
	height: -webkit-calc(100% - 130px);
}

.workflow-screen5-shortlist-btn {
	display: inline-block;
	text-transform: uppercase;
	color: #4CAF50;
	border: 1px solid #4CAF50;
	font-size: 13px;
	line-height: 26px;
	margin: 5px 0 10px 0;
	cursor: pointer;
	padding: 0 10px;
}

.workflow-screen5-remove-btn {
	display: inline-block;
	text-transform: uppercase;
	color: #8E8E8E;
	border: 1px solid #A7A7A7;
	font-size: 13px;
	line-height: 26px;
	margin: 5px 0 10px 0;
	cursor: pointer;
	padding: 0 10px;
}

.workflow-screen6-top-nav i {
	cursor: pointer;
}

.workflow-screen6-top-nav span .material-icons {
	position: relative;
	top: 9px;
}

.workflow-screen6-top-nav .question-mark {
	font-weight: bold;
	margin-top: 12px;
	margin-bottom: 15px;
}

.list-option-card {
	position: relative;
	overflow: hidden;
	border: 1px solid #F3F3F3;
}

.list-option-card:hover, .list-option-card:focus {
	border: 1px solid #DCDCDC;
}

.list-option-title {
	font-weight: bold;
	font-size: 12px;
	max-height: 20px;
	color: #3B3B3B;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	text-transform: capitalize;
}

.list-option-image-wrap {
	height: 90px;
	background-color: #F3F3F3;
	text-align: center;
}

.list-option-image {
	height: 100%;
	max-width: 100%;
}

.list-option-price {
	max-height: 21px;
}

.list-price-worth {
	font-size: 13px;
}

.list-main-price {
	color: #ED3E72;
	font-size: 14px;
	font-weight: 400;
}

.partybag-badge {
	padding: 4px 7px;
	background: #ED3E72;
	position: relative;
	border-radius: 12px;
	font-size: 12px;
	color: #FFFFFF;
	top: -1px;
}

#workflow {
	height: 100%;
}

#noty_layout__bottomCenter {
	margin-bottom: 20px;
}

.workflow-container-wrap {
	height: 100%;
}

.workflow-screen5-top-shadow {
	border-bottom: 1px solid #D2D2D2;
	box-shadow: 0px 2px 4px 0px #757575;
}

@media (min-width: 600px) {
	#workflow {
		background-color: #F9F9F9;
	}

	.workflow-container-wrap {
		width: 80%;
		margin-left: 10%;
		background-color: #FFFFFF;
		border-right: 1px solid #D9D9D9;
		border-left: 1px solid #D9D9D9;
	}

	.workflow-enquiry-screen, .workflow-shortlist-screen {
		width: 80%;
	}
}

@media (min-width: 768px) {
	.workflow-container-wrap {
		width: 60%;
		margin-left: 20%;
	}

	.workflow-enquiry-screen, .workflow-shortlist-screen {
		width: 60%;
	}

	.list-option-image-wrap {
		height: 150px;
	}
}

@media (min-width: 970px) {
	.workflow-container-wrap {
		width: 100%;
		margin-left: 0;
	}

	#noty_layout__bottomCenter {
		margin-bottom: 100px;
	}

	.workflow-enquiry-screen {
		width: 50%;
	}

	.workflow-shortlist-screen {
		width: calc(100% - 1px);
	}
}

@media (min-width: 1024px) {
	.workflow-container-wrap {
		width: 100%;
		margin-left: 0;
		font-size: 14px;
	}

	.workflow-enquiry-screen {
		width: 40%;
	}
}

@media (min-width: 1366px) {
	.workflow-container-wrap {
		width: 100%;
		margin-left: 0;
		font-size: 14px;
	}

	.workflow-enquiry-screen {
		width: 33.33%;
	}
}

.custom-radio-animation, .custom-checkbox-animation {
	display: none;
}

.custom-radio-animation + label, .custom-checkbox-animation + label {
	position: relative;
	display: inline-block;
	padding-left: 32px;
	margin-right: 32px;
	font-size: 15px;
	cursor: pointer;
	line-height: 20px;
	transition: all .2s ease-in-out;
	margin-bottom: 10px;
	font-weight: normal !important;
	text-transform: capitalize;
}

.custom-radio-animation + label:before, .custom-radio-animation + label:after, .custom-checkbox-animation + label:before, .custom-checkbox-animation + label:after {
	content: '';
	position: absolute;
	top: -1px;
	left: 0;
	width: 20px;
	height: 20px;
	text-align: center;
	color: #F5F5F5;
	border-radius: 50%;
	transition: all .3s ease;
}

.workflow-screen4 .custom-checkbox-animation + label {
	margin-bottom: 0;
	padding-left: 28px;
}

.custom-radio-animation + label:before {
	box-shadow: inset 0 0 0 1px #666565, inset 0 0 0 16px #FFFFFF, inset 0 0 0 16px #ED3E72;
	border: 1px #666565 solid;
}

.custom-radio-animation + label:hover {
	color: #ED3E72;
}

.custom-radio-animation + label:hover:before {
	animation-duration: .5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	box-shadow: inset 0 0 0 1px #ED3E72, inset 0 0 0 16px #FFFFFF, inset 0 0 0 16px #ED3E72;
}

.custom-radio-animation:checked + label {
	font-weight: bold !important;
}

.custom-radio-animation:checked + label:hover {
	color: #333333;
	cursor: default;
}

.custom-radio-animation:checked + label:before {
	animation-duration: .2s;
	animation-name: select-radio;
	animation-iteration-count: 1;
	animation-direction: Normal;
	box-shadow: inset 0 0 0 1px #ED3E72, inset 0 0 0 3px #FFFFFF, inset 0 0 0 16px #ED3E72;
	border: 1px #ED3E72 solid;
}

.custom-checkbox-animation:checked + label {
	font-weight: bold !important;
}

.custom-checkbox-animation + label:hover {
	color: #ED3E72;
}

.custom-checkbox-animation + label:before {
	font: normal normal normal 14px/1 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	content: '✔';
	line-height: 20px;
	border-radius: 0;
	background-color: #FFFFFF;
	color: #FFFFFF;
	border: 1px #969696 solid;
}

.custom-checkbox-animation + label:hover:before {
	color: #FFFFFF;
	animation-duration: .5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	box-shadow: inset 0 0 0 1px #ED3E72, inset 0 0 0 16px #FFFFFF, inset 0 0 0 16px #ED3E72;
}

.custom-checkbox-animation:checked + label:before {
	background-color: #C3C3C3;
	color: #FFFFFF;
	animation-duration: .2s;
	animation-name: select-checkbox;
	animation-iteration-count: 1;
	animation-direction: Normal;
	box-shadow: inset 0 0 0 1px #ED3E72, inset 0 0 0 0 #FFFFFF, inset 0 0 0 16px #ED3E72;
	border: 1px #ED3E72 solid;
}

@keyframes select-radio {
	0% {
		box-shadow: 0 0 0 0 #FF5271, inset 0 0 0 2px #FFFFFF, inset 0 0 0 3px #ED3E72, inset 0 0 0 16px #FFFFFF, inset 0 0 0 16px #ED3E72;
	}
	90% {
		box-shadow: 0 0 0 10px #E8FFF0, inset 0 0 0 0 #FFFFFF, inset 0 0 0 1px #ED3E72, inset 0 0 0 0 #FFFFFF, inset 0 0 0 16px #ED3E72;
	}
	100% {
		box-shadow: 0 0 0 12px #E8FFF0, inset 0 0 0 0 #FFFFFF, inset 0 0 0 1px #ED3E72, inset 0 0 0 0 #FFFFFF, inset 0 0 0 16px #ED3E72;
	}
}

.mdl-textfield--floating-label.is-focused .mdl-textfield__label,
.mdl-textfield--floating-label.is-dirty .mdl-textfield__label {
	bottom: -5px;
}