a:focus {
	outline: 0;
}

.slick-slide img {
	display: initial !important;
}

.similar-piab-kits-container {
	padding: 0 15px 50px 15px;
}

.similar-piab-style-wrap {
	border-radius: 8px;
	padding: 10px;
	margin: 10px;
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, .05), 0 0px 7px 0 rgba(0, 0, 0, .10);
}

.similar-piab-style-img-wrap {
	height: 180px;
	text-align: center;
}

.similar-piab-style-img {
	height: 100%;
	max-width: 100%;
}

.similar-piab-style-title {
	color: #333333;
	font-size: 14px;
	font-weight: 400;
}

.similar-piab-style-wrap a:hover {
	text-decoration: none;
}

.similar-piab-style-price {
	color: #ED3E72;
	font-size: 16px
}

.similar-piab-style-price-worth {
	color: #A2A2A2;
	text-decoration: line-through;
	font-size: 12px;
}

/* --- Similar Kits slick carousel --- */
.similar-piab-styles-wrap .slick-prev,
.similar-piab-styles-wrap .slick-next {
	height: 50px;
	width: 50px;
	border-radius: 100%;
	/*color: #FFFFFF;*/
	/*background-color: #333333;*/
	z-index: 1;
}

.similar-piab-styles-wrap .slick-prev {
	/*left: 10px;*/
}

.similar-piab-styles-wrap .slick-next {
	/*right: 10px;*/
}

.similar-piab-styles-wrap .slick-prev:before,
.similar-piab-styles-wrap .slick-next:before {
	color: #333333;
	font-size: 40px;
	position: relative;
	z-index: 2;
}

.similar-piab-styles-wrap .slick-prev:after,
.similar-piab-styles-wrap .slick-next:after {
	content: "";
	color: #FFFFFF;
	position: absolute;
	top: 6px;
	left: 8px;
	width: 34px;
	height: 34px;
	border-radius: 100%;
	background-color: #FFFFFF;
	z-index: 1;
}

.similar-piab-styles-wrap .slick-prev:hover,
.similar-piab-styles-wrap .slick-prev:focus,
.similar-piab-styles-wrap .slick-next:hover,
.similar-piab-styles-wrap .slick-next:focus {
	/*background: #333333;*/
}

.similar-piab-styles-wrap .slick-prev:hover:before,
.similar-piab-styles-wrap .slick-next:hover:before {
	opacity: 1;
}

.similar-piab-styles-wrap .slick-prev:focus:before,
.similar-piab-styles-wrap .slick-next:focus:before,
.similar-piab-styles-wrap .slick-prev:active:before,
.similar-piab-styles-wrap .slick-next:active:before {
	opacity: 0.75;
}

.similar-piab-styles-wrap .slick-prev.slick-disabled:hover:before,
.similar-piab-styles-wrap .slick-next.slick-disabled:hover:before,
.similar-piab-styles-wrap .slick-prev.slick-disabled:focus:before,
.similar-piab-styles-wrap .slick-next.slick-disabled:focus:before,
.similar-piab-styles-wrap .slick-prev.slick-disabled:active:before,
.similar-piab-styles-wrap .slick-next.slick-disabled:active:before {
	opacity: 0.25;
	cursor: auto;
}

.similar-piab-styles-wrap .slick-slider {
	padding: 0 15px;
}

.similar-piab-styles-wrap .slick-list {
	margin: 0 15px;
	padding-left: 15px;
}

/* --- ---------------------- --- */

.profile-piab-style-selection-wrap {
	text-align: left;
}

.profile-piab-style-selection-title {
	font-weight: 300;
}

.profile-piab-style-selection-style-wrap {
	text-align: center;
	margin-left: 20px;
}

.profile-piab-style-selection-style-wrap:first-of-type {
	margin-left: 0;
}

.profile-piab-style-selection-img-wrap {
	height: 60px;
	width: 60px;
	overflow: hidden;
	margin: auto;
}

.profile-piab-style-selection-img {
	height: 100%;
	width: 100%;
}

.profile-piab-style-selection-style-title {
	font-weight: 400;
	font-size: 12px;
	margin-top: 2px;
}

.similar-piab-styles-wrap-loading {
	background-color: #EFEFEF;
	margin-top: 10px;
	height: 266px;
}