.profile-piab-container {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	padding: 0 15px 50px 15px;
}

.profile-piab-breadcrumb a {
	font-weight: 400;
	color: #888888;
}

.profile-piab-title {
	text-transform: capitalize;
	font-size: 22px;
	line-height: 28px;
	font-weight: 400;
	margin-top:20px;
}

.profile-piab-type-wrap {
	margin-right: 20px;
	text-align: center;
}

.profile-piab-style-wrap {
	margin-right: 20px;
	text-align: center;
}

.profile-piab-style-img-wrap {
	height: 50px;
	width: 50px;
	border-radius: 100%;
	overflow: hidden;
	border: 2px solid #FFFFFF;
	margin: auto;
}

.profile-piab-style-img-wrap:hover {
	cursor: pointer;
}

.profile-piab-style-selected .profile-piab-style-img-wrap {
	border-color: #333333;
	box-shadow: 0px 1px 8px 0px #888888
}

.profile-piab-style-selected .profile-piab-style-img {
	opacity: 1;
}

.profile-piab-style-img {
	height: 100%;
	width: 100%;
	opacity: 0.5;
}

.profile-piab-style-title,
.profile-piab-type-title {
	background-color: #EFEFEF;
	border-radius: 8px;
	padding: 4px 8px;
	color: #333333;
	text-transform: capitalize;
	font-weight: 400;
}

.profile-piab-style-title:hover,
.profile-piab-type-title:hover {
	cursor: pointer;
}

.profile-piab-style-selected .profile-piab-style-title,
.profile-piab-type-selected .profile-piab-type-title {
	background-color: #333333;
	color: #FFFFFF;
}

.profile-piab-style-price {
	font-weight: 300;
}

.profile-piab-style-selected .profile-piab-style-price {
	font-weight: 400;
}

.profile-piab-container .gallery-wrap {
	border: none;
	background-color: #F9F9F9;
	border-radius: 8px;
	padding-top: 0;
}

.profile-piab-container .fotorama__nav {
	margin-top: -30px;
	z-index: 20;
}

.profile-piab-container .fotorama__dot {
	border-color: #EEEEEE;
	box-shadow: 0 1px 0 rgba(0, 0, 0, .5);
}

.profile-piab-container .fotorama__active .fotorama__dot {
	background-color: #EEEEEE;
	box-shadow: 0 -1px 0 rgba(0, 0, 0, .5);
}

.profile-piab-price-card-wrap {
	padding-top: 10px;
}

.profile-piab-price-card {
	border: 1px solid #EFEFEF;
	border-radius: 8px;
	padding: 15px;
}

.profile-piab-price-worth {
	color: #A2A2A2;
	text-decoration: line-through;
	font-size: 18px;
}

.profile-piab-price-tag {
	color: #05B343;
	font-weight: 400;
	font-size: 12px;
	line-height: 19px;
	padding: 0 6px;
	border-radius: 9px;
	border: 1px solid #05B343;
}

.profile-piab-price-delivery {
	font-size: 12px;
}

.profile-piab-price {
	color: #ED3E72;
	font-size: 28px;
	font-weight: 500;
}

.profile-piab-price-msg {
	font-size: 12px;
	color: #A8A8A8;
}

.profile-piab-price-off {
	padding: 0 4px;
	border: 1px solid #A8A8A8;
	color: #A8A8A8;
	border-radius: 2px;
	font-size: 12px;
}

.btn-piab-buy-now {
	color: #FFFFFF;
	background-color: #ED3E72;
	border-radius: 4px;
	font-size: 14px;
	text-transform: uppercase;
	border-color: #ED3E72;
	font-weight: 600;
	width: 100%;
}

.btn-piab-buy-now:hover {
	color: #FFFFFF;
	background-color: #D33670;
	border-color: #D33670;
}

.profile-piab-offer-title {
	color: #696969;
	/*font-weight: 600;*/
}

.profile-piab-info-card {
	border: 1px solid #EFEFEF;
	border-radius: 8px;
	padding: 10px;
}

.profile-piab-info-card-title {
	font-weight: 300;
	font-size: 18px;
	color: #888888;
}

.profile-piab-types-title {
	font-weight: 400;
	color: #888888;
	text-transform: uppercase;
	font-size: 12px;
	margin-top: 15px;
}

.profile-piab-styles-title {
	font-weight: 400;
	color: #888888;
	text-transform: uppercase;
	font-size: 12px;
	margin-top: 15px;
}

.profile-piab-style-gallery {
	/*overflow-x: auto;*/
}

ul.profile-piab-style-gallery-list {
	list-style: none;
	padding: 0;
	width: 100%;
	display: inline-flex;
}

ul.profile-piab-style-gallery-list li {
	display: inline-block;
	padding-right: 10px;
}

.profile-piab-profile-img {
	max-height: 400px;
	border-radius: 10px;
}

.profile-piab-how-it-works .how-it-works-image-wrap {
	height: 40px;
	width: 40px;
}

.profile-piab-how-it-works .how-it-works-text {
	margin-top: 10px;
	text-align: inherit;
}

.profile-piab-coupon-offer {
	/*color: orange;*/
}

.profile-piab-offer-content {
	color: #696969;
}

.profile-piab-offer-icon-wrap {
	height: 40px;
	border-radius: 100%;
	background-color: #EFEFEF;
}

.profile-piab-offer-icon {
	height: 100%;
}

.profile-piab-hr {
	border-color: #EFEFEF;
}

.btn-piab-feedback {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	padding: 4px 8px;
	border-radius: 4px;
	color: #448AFF;
	border-color: #448AFF;
}

.btn-piab-feedback:hover,
.btn-piab-feedback:active,
.btn-piab-feedback:focus {
	color: #448AFF;
	background-color: #C6DAFC;
	border-color: #448AFF;
}

.profile-piab-del-input-wrap {
	border-bottom: 1px solid #448AFF;
}

.profile-piab-del-icon {
	color: #448AFF;
	/*border-bottom: 1px solid #448AFF;*/
	padding-bottom: 11px;
	padding-right: 5px;
	margin-right: 0 !important;
}

.profile-piab-del-input {
	border: none;
	outline: none;
	/*border-bottom: 1px solid #448AFF ;*/
	padding-bottom: 7px;
}

.btn-piab-del-check {
	/*border-bottom: 1px solid #448AFF;*/
	font-weight: 500;
	color: #448AFF;
	padding-bottom: 9px
}

/*.btn-piab-del-check:hover {*/
/*	*/
/*}*/

.btn-piab-del-check-text {
	border: 1px solid #448AFF;
	padding: 1px 8px;
	border-radius: 10px;
}

.btn-piab-del-check-text:hover {
	cursor: pointer;
	color: #448AFF;
	background-color: #C6DAFC;
	border-color: #448AFF;
}

.profile-piab-del-error {
	color: red;
}

/*.profile-piab-del-success {*/
/*	*/
/*}*/

.profile-piab-del-success-line {
	border-right: 1px solid #A2A2A2;
	margin-left: 6px;
	margin-right: 6px;
}

.profile-piab-del-success-free {
	color: #05B343;
	font-weight: 600;
	text-transform: uppercase;
}

/* --- Gallery slick carousel --- */
.profile-piab-style-gallery .slick-prev,
.profile-piab-style-gallery .slick-next {
	height: 50px !important;
	width: 50px !important;
	border-radius: 100% !important;
	/*color: #FFFFFF !important;*/
	/*background-color: #333333 !important;*/
	z-index: 1 !important;
}

.profile-piab-style-gallery .slick-prev {
	left: 10px !important;
}

.profile-piab-style-gallery .slick-next {
	right: 10px !important;
}

.profile-piab-style-gallery .slick-prev:before,
.profile-piab-style-gallery .slick-next:before {
	color: #333333 !important;
	font-size: 40px !important;
	position: relative;
	z-index: 2;
}

.profile-piab-style-gallery .slick-prev:after,
.profile-piab-style-gallery .slick-next:after {
	content: "";
	color: #FFFFFF !important;
	position: absolute;
	top: 6px;
	left: 8px;
	width: 34px;
	height: 34px;
	border-radius: 100%;
	background-color: #FFFFFF;
	z-index: 1;
}

.profile-piab-style-gallery .slick-prev:hover,
.profile-piab-style-gallery .slick-prev:focus,
.profile-piab-style-gallery .slick-next:hover,
.profile-piab-style-gallery .slick-next:focus {
	/*background: #333333 !important;*/
}

.profile-piab-style-gallery .slick-prev:hover:before,
.profile-piab-style-gallery .slick-next:hover:before {
	opacity: 1 !important;
}

.profile-piab-style-gallery .slick-prev:focus:before,
.profile-piab-style-gallery .slick-next:focus:before,
.profile-piab-style-gallery .slick-prev:active:before,
.profile-piab-style-gallery .slick-next:active:before {
	opacity: 0.75 !important;
}

.profile-piab-style-gallery .slick-prev.slick-disabled:hover:before,
.profile-piab-style-gallery .slick-next.slick-disabled:hover:before,
.profile-piab-style-gallery .slick-prev.slick-disabled:focus:before,
.profile-piab-style-gallery .slick-next.slick-disabled:focus:before,
.profile-piab-style-gallery .slick-prev.slick-disabled:active:before,
.profile-piab-style-gallery .slick-next.slick-disabled:active:before {
	opacity: 0.25 !important;
	cursor: auto;
}
/* --- ---------------------- --- */

.profile-piab-style-no-image {
	max-height: 400px;
}

.profile-piab-style-gallery-loading {
	background-color: #EFEFEF;
	height:400px;
}