@media (max-width: 490px) {

	.profile-piab-container {
		padding: 0 0 50px 0;
	}

	.profile-piab-price-card-wrap {
		padding-top: 20px;
	}

	.profile-piab-title {
		width:80%;
		margin: auto;
		margin-top:20px;
	}

	ul.profile-piab-style-gallery-list li {
		padding-left: 30px;
	}

	.profile-piab-style-wrap {
		margin-right: 15px;
	}

	.profile-piab-type-wrap {
		margin-right: 10px;
	}

	.profile-piab-styles-title {
		margin-top: 10px;
	}

	.profile-piab-profile-img {
		max-height: 250px;
	}

	.profile-piab-style-img-wrap {
		height: 40px;
		width: 40px;
	}

	.profile-piab-style-price {
		font-size: 12px;
	}

	.similar-piab-style-img-wrap {
		height: 130px;
	}

	.profile-piab-style-selection-wrap {
		text-align: center;
	}

	.similar-piab-styles-wrap .slick-list {
		margin-left: 0;
	}

	.similar-piab-styles-wrap-loading {
		height: 236px;
	}

}