<div style="background-color:#FFFFFF;padding:20px;margin-top:30px;">
	<div style="color:#EF3E75;text-transform:uppercase;font-size:14px;font-weight:bold;">Venue Details</div>

	<div style="margin-top:15px;">
		<div><b>Venue Name</b></div>
		<div>@venueName@</div>
	</div>
	<div style="margin-top:15px;">
		<div><b>Venue Full Address</b></div>
		<div>@venueFullAddress@</div>
		<div style="margin-top:4px;"><u>Landmark</u>: <span>@landMark@</span></div>
		<div style="margin-top:4px;">
			<u>Google Maps</u>: <a href="@venueMaps@" target="_blank">@venueMaps@</a>
		</div>
	</div>
	<ul style="display:table;table-layout:fixed;padding:0;margin-top:20px;list-style:none;width:100%;">
		<li style="display:table-cell;">
			<div><b>Provider Name</b></div>
			<div>@coordinatorName@</div>
		</li>
		<li style="display:table-cell;">
			<div><b>Provider Phone</b></div>
			<div>@coordinatorPhone@</div>
		</li>
	</ul>
</div>

