<div style="background-color:#FFFFFF;padding:20px;margin-top:30px;">
	<div style="color:#EF3E75;text-transform:uppercase;font-size:14px;font-weight:bold;">Booking Information</div>
	<ul style="display:table;table-layout:fixed;padding:0;margin:10px 0 0 0;list-style:none;width:100%;">
		<li style="display:table-cell;">
			<div><b>Booking ID</b></div>
			<div>@bookingId@</div>
		</li>
		<li style="display:table-cell;">
			<div><b>Booking Amount</b></div>
			<div>Rs. @bookAmt@</div>
		</li>
		<li style="display:table-cell;">
			<div><b>Advance Paid</b></div>
			<div>Rs. @advPd@</div>
		</li>
		<li style="display:table-cell;">
			<div><b>Balance Amount</b></div>
			<div>Rs. @balAmt@</div>
		</li>
	</ul>
	<div style="margin-top:15px;">
		<b>Package: </b><span> @bookingInfo@</span>
	</div>
	<div style="margin-top:15px;">
		<b>No of Guests: </b><span> @guestsCount@</span>
	</div>
	<ul style="display:table;table-layout:fixed;padding:0;margin:10px 0 0 0;list-style:none;width:100%;">
		<li style="display:table-cell;">
			<div><b>Check In Date:</b></div>
			<div>@checkInDate@</div>
		</li>
		<li style="display:table-cell;">
			<div><b>Check In Time:</b></div>
			<div>@checkInTime@</div>
		</li>
		<li style="display:table-cell;">
			<div><b>Check Out Time:</b></div>
			<div>@checkOutTime@</div>
		</li>
	</ul>
</div>
