<div>
	<div style="padding:20px;">
		<div style='float:left;'>
			<div><a href='http://evibe.in'><img src='http://gallery.evibe.in/img/logo/logo_evibe.png'
					alt='evibe.in'></a></div>
		</div>
		<div style='float:right;'>
			<div><i>Date:</i> @date@</div>
			<div style="padding-top:4px;"><i>Phone:</i> @evibePhone@</div>
		</div>
		<div style='clear:both;'></div>
	</div>
	<div style="line-height:22px; padding: 20px 30px 20px; background-color:#FFFFFF;">
		<div style="text-align:center;">
			<div style="font-size:16px;margin:15px 0;">Dear @proName@,</div>
			<div style="margin:15px 0;">We are pleased to inform that you got a confirmed booking from <a
					href="https://evibe.in"></a>Evibe.in. Please go through complete booking details below.
			</div>
			<div style="margin:15px 0;">
				<b>Important:</b> Please "Reply" to this email immediately, if you have any queries (or) issue with fulfilling the order.
			</div>
		</div>
		<div style="margin:15px 0;">
			<div>Best Regards,</div>
			<div>Team Evibe.in</div>
		</div>
	</div>
</div>