/*! http://responsiveslides.com v1.54 by @viljamis */

.rslides
{
    position: relative;

    overflow: hidden;

    width: 100%;
    margin: 0;
    padding: 0;

    list-style: none;
}

.rslides li
{
    position: absolute;
    top: 0;
    left: 0;

    display: none;

    width: 100%;

    -webkit-backface-visibility: hidden;
}

.rslides li:first-child
{
    position: relative;

    display: block;
    float: left;
}

.rslides img
{
    display: block;
    float: left;

    width: 100%;
    height: auto;

    border: 0;
}
