.product-rating .rating-stars {
	color: #FFCE00 !important;
}

.customer-images-div-modal {
	height: 365px !important;
	display: flex;
	justify-content: center;
}

.customer-images-wrap {
	height: 150px;
	overflow: hidden;
}

.w-200-imp {
	width: 200px !important;
}

.img-thumb {
	min-height: 150px;
	width: auto;
	object-fit: cover
}

.customer-review-image {
	height: 300px;
	max-width: 100%
}

.view-gallery-modal {
	position: absolute;
	bottom: 10px;
	font-weight: 500;
	text-decoration: underline;
}
.view-gallery {
	padding-top:10px;
	font-weight: 500;
	text-decoration: underline;
}
.view-gallery-btn-style {
	color: #448AFF !important;
	border: 1px solid #448AFF;
	padding: 5px;
	text-decoration: none !important;
	background-color: #FFFFFF !important;
}

.customer-review-control-left {
	float: left;
	position: absolute;
	top: 150px;
	left: 0;
	background-color: #FFFFFF;
	font-size: 20px;
	padding: 5px;
}

.customer-review-control-right {
	float: right;
	position: absolute;
	top: 150px;
	right: 0;
	background-color: #FFFFFF;
	font-size: 20px;
	padding: 5px;
}

.custom-design-wrap .btn-bidding {
	background-color: #FFFFFF;
	color: #6F6F6F;
	border-color: rgb(68, 138, 255);
	padding: 4px 7px;
	text-transform: uppercase;
	font-size: 13px;
	font-family: 'Roboto', 'Helvetica Neue', 'sans-serif';
}

.custom-design-wrap .btn-bidding:focus {
	color: rgb(68, 138, 255);
	background-color: #FFFFFF;
}

.custom-design-wrap .btn-bidding:hover {
	color: rgb(68, 138, 255);
	background-color: #FFFFFF;
}

.product-rating .rating-gly-star {
	padding-left: 0;
}

.product-rating .rating-gly-star .rating-stars:before {
	padding-left: 0;
}

.product-rating-reviews {
	text-transform: lowercase;
	color: #595959;
	font-size: 11px;
}

.product-no-point:hover {
	cursor: default;
}

.product-price-worth {
	/*font-size: 12px;*/
	font-size: 16px;
	color: #878787;
	text-decoration: line-through;
}

/*.product-user-input .mdl-textfield__label:after {*/
/*background-color: #333;*/
/*}*/

/*.product-user-input .mdl-textfield--floating-label .label-text {*/
/*color: #333;*/
/*}*/

.product-main-price {
	color: #ED3E72;
	font-weight: 500;
}

.product-price-kg {
	color: #333333;
	font-weight: 500;
}

.product-min-order {
	color: #777777;
	font-style: italic;
}

.product-price-tag {
	color: #05B343;
	font-weight: 400;
	font-size: 12px;
	line-height: 20px;
	/*background-color: #878787;*/
	/*color: #FFFFFF;*/
	padding: 0 6px;
	border-radius: 9px;
	border: 1px solid #05B343;
	vertical-align: bottom;
}

.product-price-msg {
	font-size: 11px;
	color: #878787;
}

.product-token-msg-price {
	font-weight: bold;
	color: #000000;
	font-size: 14px;
}

.product-lowest-price-img-wrap {
	height: 54px;
}

.product-lowest-price-img-wrap img {
	height: 100%;
	transform: rotate(340deg);
}

.product-btn-book-now,
.product-btn-book-now-2,
.product-btn-check-feas,
.product-btn-grey,
.product-btn-availability,
.product-btn-shortlist {
	width: 100%;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
	padding: 7px 0;
}

.product-btn-book-now {
	color: #FFFFFF;
	border-color: #F03F73;
	background-color: #FF4174;
}

.product-btn-book-now:hover,
.product-btn-book-now:focus,
.product-btn-book-now:active {
	color: #FFFFFF;
	border-color: #FF72A2;
	background-color: #FF72A2;
}

.product-btn-book-now-2 {
	color: #FFFFFF;
	border-color: #05B343;
	background-color: #05B343;
}

.product-btn-book-now-2:hover,
.product-btn-book-now-2:focus,
.product-btn-book-now-2:active {
	color: #FFFFFF;
	border-color: #05B343;
	background-color: #05B343;
}

.product-btn-check-feas,
.product-btn-grey {
	color: #000000;
	background: #D9D9D9;
	border-color: #D9D9D9;
}

.product-btn-check-feas:hover,
.product-btn-check-feas:focus,
.product-btn-grey:hover,
.product-btn-grey:focus {
	color: #000000;
	border-color: #D9D9D9;
}

.product-btn-availability,
.product-btn-shortlist {
	color: #448AFF;
	background: #FFFFFF;
	border-color: #448AFF;
}

.product-btn-availability:hover,
.product-btn-availability:active,
.product-btn-availability:focus,
.product-btn-shortlist:hover,
.product-btn-shortlist:active,
.product-btn-shortlist:focus {
	color: #448AFF;
	background-color: #C6DAFC;
	border-color: #448AFF;
}

.product-btn-shortlist-remove {
	color: #6F6F6F;
	font-weight: 400;
	background: #FFFFFF;
	border-color: #D9D9D9;
}

.product-btn-shortlist-remove:hover,
.product-btn-shortlist-remove:active,
.product-btn-shortlist-remove:focus {
	color: #6F6F6F;
	background-color: #FFFFFF;
	border-color: #D9D9D9;
}

.product-btn-book-now i {
	font-size: 120%;
}

.product-btn-enquire-now {
	border: none;
	font-weight: 400;
	text-decoration: underline;
	text-transform: capitalize;
	width: auto;
}

.product-link-enquire-now {
	font-weight: 400;
	text-decoration: underline !important;
}

.product-link-enquire-now:hover {
	text-decoration: underline !important;
	cursor: pointer !important;
}

.product-cta-message {
	color: #696969;
	font-size: 12px;
	line-height: 14px;
}

.book-now-base-price {
	color: #F03F73;
	font-size: 22px;
	font-weight: 500;
}

.book-now-price-worth {
	color: #878787;
	font-size: 18px;
	text-decoration: line-through;
	font-weight: 400;
}

.book-now-price-off {
	color: #333333;
	font-size: 14px;
	font-weight: 500;
}

.book-now-total-price {
	color: #F03F73;
	font-size: 24px;
	font-weight: 500;
}

.book-now-advance {
	color: #333333;
	font-size: 18px;
	font-weight: 500;
}

.book-now-transport-price {
	color: #333333;
	font-size: 22px;
	font-weight: 500;
}

.book-now-advance-msg {
	color: #878787;
	font-size: 12px;
}

.book-now-price-tag {
	color: #05B343;
	font-weight: 400;
	font-size: 12px;
	line-height: 20px;
	padding: 0 6px;
	border-radius: 9px;
	border: 1px solid #05B343;
	vertical-align: text-bottom;
}

.price-split-wrap .book-now-base-price {
	color: #333333;
	font-size: 22px;
}

.price-split-wrap .book-now-price-worth {
	font-size: 18px;
}

.price-split-wrap .book-now-advance {
	color: #F03F73;
}

.price-split-wrap .text-free {
	font-size: 20px;
}

.input-border-bottom-error {
	border-bottom-color: red;
}

.custom-design-wrap {
	padding: 0 15px;
}

.custom-design-title {
	font-weight: 500;
	text-transform: capitalize;
}

.custom-design-content {
	font-size: 13px;
	color: #6F6F6F;
	line-height: 18px;
}

.feasibility-success-icon {
	color: green;
}

.change-party-location,
.price-check-change-party-location,
.des-feasibility-change-pincode,
.des-book-now-change-pincode {
	font-size: 12px;
	text-decoration: underline;
	font-weight: 400;
}

.change-party-location:hover,
.price-check-change-party-location:hover,
.des-feasibility-change-pincode:hover,
.des-book-now-change-pincode:hover {
	cursor: pointer;
}

.product-carousel-slider {
	background-image: none !important;
}

.product-price-info {
	color: #878787;
	font-size: 14px;
}

.product-price-off {
	color: #555555;
	font-weight: bold;
	font-size: 12px;
}

.product-checkbox {
	vertical-align: text-bottom;
}

.product-input-wrap {
	padding: 0 15px;
}

.product-book-price-split-wrap {
	padding: 10px 5px;
	border: 1px solid #EFEFEF;
	border-radius: 5px;
	font-size: 14px;
}

.product-book-price-split {
	margin-top: 5px;
}

/* ==== similar products related === */
.similar-products-title {
	font-weight: 500;
	text-transform: capitalize;
}

.product-similar-img {
	max-width: 100%;
}

.product-similar-img-wrap {
	text-align: center;
	overflow: hidden;
}

.product-similar-title {
	text-transform: capitalize;
	font-weight: 400;
	text-align: center;
	overflow: hidden;
}

.product-similar-title a {
	color: #333333;
	font-weight: 400;
}

.product-similar-ratings .rating-container .rating-stars {
	color: #FFCE00;
}

.price-split-wrap {
	display: table;
	padding: 0;
	text-align: center;
	width: 100%;
}

.price-split-wrap li {
	display: table-cell;
}

/* Add-ons related css */
.content-overflow,
.modal-content-overflow,
.product-faq-content-overflow {
	display: block;
	overflow: hidden;
	word-break: break-word;
	word-wrap: break-word;
}

.btn-overflow,
.btn-modal-overflow,
.product-faq-btn-overflow {
	display: none;
	text-decoration: none;
}

.btn-overflow:hover,
.btn-overflow:focus,
.btn-overflow:active,
.btn-modal-overflow:hover,
.btn-modal-overflow:focus,
.btn-modal-overflow:active {
	text-decoration: none;
}

/* Checkout modal related */
.checkout-modal-hiw-section {
	border-bottom: 1px solid #F8F8F8;
	background-color: #F8F8F8;
	padding: 10px 15px 0 15px;
}

.pc-modal-save-text {
	border: 1px solid #05B343;
	display: inline-block;
	border-radius: 20px;
	padding: 0 7px;
	color: #05B343;
	font-size: 12px;
}

.pc-modal-addons-title {
	font-size: 16px;
	color: #5A5A5A;
	text-align: left;
}

.pc-modal-addons-wrap {
	max-height: 500px;
	overflow-y: scroll;
}

.add-ons-title {
	font-weight: 500;
	font-size: 16px;
}

.pc-evibe-shield-wrap {
	background-color: #F8F8F8;
}

.add-ons-price-wrap {
	margin-left: 20px;
	font-size: 14px;
	/*border: 1px solid #ed3e72;*/
	color: #A2A2A2;
	/*border-radius: 20px;*/
	/*padding: 4px 7px;*/
}

.product-faq-wrap {
	margin-bottom: 15px;
	/*border-bottom: 1px solid #EFEFEF;*/
}

.product-faq-question {
	font-weight: bold;
	margin-bottom: 5px;
	/*background-color: #EFEFEF;*/
	/*display: inline-block;*/
	/*padding: 5px 10px;*/
	/*border-radius: 5px;*/
	/*border-bottom-left-radius: 0;*/
	/*border-bottom-right-radius: 0;*/
}

.product-faq-answer {
	/*padding: 5px 10px;*/
	/*border-radius: 5px;*/
	/*border: 1px solid #EFEFEF;*/
	/*border-top-left-radius: 0;*/
	/*border-top-right-radius: 0;*/
}

.product-faq-question-letter,
.product-faq-answer-letter {
	font-weight: bold;
	/*display: table-cell;*/
}

.product-faq-question-text {
	color: #797979;
}

.product-faq-answer-text {
	/*display: table-cell;*/
	/*padding-left: 5px;*/
}

.dist-check-action-wrap {
	border-bottom: 2px solid #388ACF;
	display: inline-block;
	text-align: center;
	padding-left: 5px;
	width: 100%;
}

.dist-check-input-wrap {
	vertical-align: middle;
	width: 100%;
	margin-bottom: -10px;
}

.dist-check-input {
	border: none;
	outline: none;
	width: 100%;
}

.product-dist-check-msg {
	color: #388ACF;
}

.pc-adv-percent-text {
	color: #A2A2A2;
}

.adv-radio-option-text .add-ons-price-wrap {
	font-size: 12px;
}

.variation-selection-img-wrap {
	height: 60px;
	width: 60px;
	overflow: hidden;
	margin: auto 20px auto auto;
}

.variation-selection-img {
	height: 100%;
	width: 100%;
}

.btn-hall-best-deal {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 600;
	color: #FFFFFF;
	background-color: #ED3E72;
	border: 1px solid #ED3E72;
	padding: 6px 32px;
	border-radius: 20px;
}

.btn-hall-best-deal:hover,
.btn-hall-best-deal:active,
.btn-hall-best-deal:focus {
	color: #FFFFFF;
	background-color: #ED3E72;
	border: 1px solid #ED3E72;
}

.hall-product-details-item-list {
	display: table;
	margin-top: 20px !important;
}

.hall-product-details-item-list .item {
	display: flex;
	width: 50% !important;
	margin-bottom: 16px !important;
	margin-top: 0 !important;
	color: #424242;
	height: auto !important;
}

.hall-product-details-item-list .item.disabled {
	color: #656565 !important;
}

.hall-product-details-item-icon {
	font-size: 20px !important;
	padding-right: 13px;
	vertical-align: middle;
}

.hall-product-details-item-text {
	font-size: 14px;
	line-height: 20px;
	vertical-align: middle;
	display: inline-block;
}

.hall-enquiry-modal-close {
	font-size: 45px;
	position: absolute;
	right: 10px;
}

.modal-hall-enquiry .mdl-textfield--floating-label.is-focused .mdl-textfield__label,
.modal-hall-enquiry .mdl-textfield--floating-label.is-dirty .mdl-textfield__label {
	bottom: -5px;
}