.desktop-pro-page {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-size: 13px;
}

.product-title-text {
	font-size: 18px;
	line-height: 24px;
	text-transform: capitalize;
}

.product-breadcrumb {
	padding-left: 0;
}

.product-breadcrumb li {
	font-size: 13px;
}

.product-breadcrumb a {
	color: #888888;
}

.right-panel-cards {
	border-left: 1px solid #EFEFEF;
}

.des-pro-shortlist {
	vertical-align: super;
}

/*scrollbar for the inclusions, if browser doesn't support it will load default one*/
.des-description-scroll::-webkit-scrollbar-track {
	background-color: #E4DFE6;
}

.des-description-scroll::-webkit-scrollbar {
	width: 10px;
	height: 6px;
	background-color: #F5F5F5;
}

.des-description-scroll::-webkit-scrollbar-thumb {
	background-color: #B3B3B3;
}

.des-description-scroll::-webkit-scrollbar-thumb:hover {
	background-color: #7B7B7B;
}

.description-top {
	font-size: 13px;
	line-height: 18px; /* fallback */
	/*max-height: 256px;*/
	overflow-x: auto;
	overflow-y: auto;
}

.description-top ul, ol {
	font-size: 13px;
	line-height: 18px;
	padding-left: 20px;
}

.description-show-more a,
.description-learn-more a {
	color: #595959;
	font-weight: 400;
}

.product-highlight-item {
	padding: 5px 0;
}

.product-highlight-item-title {
	color: #AFAFAF;
	text-transform: uppercase;
	font-weight: 500;
}

.product-highlight-item-text {
	text-transform: capitalize;
}

.product-highlight-item-text a {
	text-decoration: underline;
	color: #333333;
	font-weight: normal;
}

.product-highlight-item-text a:hover {
	text-decoration: none;
	color: #333333;
	cursor: pointer;
}

.product-highlights-img-wrap {
	height: 20px;
}

.product-highlights-img-wrap img {
	height: 100%;
	max-width: 100%;
}

.desktop-gallery {
	position: relative;
	padding-top: 10px;
}

.des-profile-no-image {
	width: 100%;
	padding: 15% 25%;
	border: 1px solid #D9D9D9;
}

.description-show-more i {
	font-size: 13px;
	vertical-align: middle;
}

.description-show-more a:hover,
.description-learn-more a:hover {
	cursor: pointer;
	text-decoration: none;
}

.des-error-msg-wrap {
	height: 20px;
}

.des-error-msg {
	background-color: #FF8482;
	border-radius: 5px;
	color: white;
	display: inline-block;
	padding: 0 5px;
}

.product-profile-form {
	border: 1px solid #D9D9D9;
	width: 100%;
	top: 30px;
}

.product-price-loading-wrap {
	margin: 38px 0;
}

.product-price-worth {
	font-size: 20px;
}

.villa-product-price-worth {
	font-size: 18px;
}

.product-main-price {
	font-size: 24px;
	font-weight: 500;
}

.product-price-off {
	font-size: 14px;
}

.product-updated-price {
	color: #ED3E72;
	font-size: 24px;
	font-weight: 500;
}

.price-check-product-price-worth {
	font-size: 20px;
}

.product-highlights-title {
	color: #878787;
}

.product-highlights-text {
	font-weight: 500;
}

.product-price-load-wrap {
	min-height: 60px;
	padding-top: 20px;
}

.product-property-name {
	font-size: 15px;
	font-weight: 500;
}

/*.product-btn-book-now, .product-btn-check-feas {*/
/*border-radius: 5px;*/
/*}*/
.des-btn-check-feas {
	font-size: 13px;
	line-height: 8px;
}

.des-btn-back {
	padding: 8px 0;
}

/*.des-btn-book-now {*/
/*padding: 8px 0;*/
/*}*/

.how-it-works-list {
	display: table;
	padding: 0;
	text-align: center;
	width: 100%;
}

.how-it-works-list li {
	display: table-cell;
}

.how-it-works-image {
	height: 100%;
	width: 100%;
}

.how-it-works-image-wrap {
	background-color: #F9F9F9;
	border-radius: 100%;
	height: 70px;
	padding: 10px;
	width: 70px;
}

.how-it-works-arrow {
	color: #6F6F6F;
	vertical-align: middle;
}

.how-it-works-text {
	color: #5A5A5A;
	font-weight: 500;
	text-align: left;
}

.how-it-works-content {
	color: #A2A2A2;
	font-size: 12px;
	line-height: 16px;
	text-align: left;
}

.how-it-works-section .refund-wrap {
	border: 1px solid #EFEFEF;
	padding: 5px;
	border-radius: 5px;
}

.how-it-works-section .refund-wrap .how-it-works-image-wrap {
	background-color: #FFFFFF;
}

.desktop-profile-hr {
	border-color: #EFEFEF;
	margin-bottom: 30px;
	margin-top: 30px;
}

.desktop-profile-sub-hr {
	border-color: #EFEFEF;
	margin-bottom: 20px;
	margin-top: 20px;
}

.custom-design-title {
	font-size: 16px;
}

.product-enquiry-title {
	font-size: 14px;
	color: #595959;
	text-transform: capitalize;
}

.product-enquiry-content {
	color: #6F6F6F;
	font-size: 13px;
	line-height: 18px;
}

.custom-design-wrap .btn-bidding {
	padding: 2px 7px;
}

.enquiry-card-wrap .btn-enquiry {
	background-color: #FFFFFF;
	border-color: rgb(68, 138, 255);
	color: #696969;
	font-family: 'Roboto', 'Helvetica Neue', 'sans-serif';
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	width: 100%;
}

.enquiry-card-wrap .btn-enquiry:focus {
	background-color: #FFFFFF;
	color: rgb(68, 138, 255);
}

.enquiry-card-wrap .btn-enquiry:hover {
	background-color: #FFFFFF;
	color: rgb(68, 138, 255);
}

.partner-code-text {
	color: #A2A2A2;
}

.partner-code {
	color: #2D2D2D;
	font-size: 16px;
	font-weight: 500;
}

.partner-attributes {
	display: table;
	padding: 0;
	text-align: center;
	width: 100%;
}

.partner-attributes li {
	display: table-cell;
}

.partner-attributes-image {
	height: 20px;
	width: 20px;
}

.product-social-share-wrap {
	width: 150px;
}

.product-shortlist-icon {
	margin-right: 3px;
}

.des-pro-shortlist a.btn-short-list-remove {
	padding: 2px 7px;
	margin-top: 0;
}

/*.des-pro-shortlist .btn-short-list-remove {*/
/*font-size: 12px;*/
/*font-weight: 400;*/
/*color: #FF0000;*/
/*background: #FFFFFF;*/
/*border-color: #6F6F6F;*/
/*}*/

/*.des-pro-shortlist .btn-short-list-remove:hover,*/
/*.des-pro-shortlist .btn-short-list-remove:focus {*/
/*color: #6F6F6F;*/
/*background: #FFFFFF;*/
/*border-color: #6F6F6F;*/
/*}*/

.des-pro-shortlist .btn-short-list-remove i {
	font-size: 12px;
	margin-right: 3px;
}

.enquiry-card-wrap {
	padding: 0 15px;
}

.desc-component-title {
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 10px;
}

.desc-highlight-component-title {
	font-size: 16px;
	margin-bottom: 10px;
	font-weight: 300;
	text-transform: capitalize;
}

.desc-terms-content {
	color: #6F6F6F;
	font-size: 13px !important;
}

.desc-terms-content ul, ol {
	font-size: 13px !important;
}

.desc-component-content {
	font-size: 14px;
}

.desc-highlight-component-content {
	font-size: 13px;
	line-height: 18px;
}

.desc-highlight-component-content ul {
	list-style-type: "\2605";
}

.desc-highlight-component-content ul li {
	padding: 5px 0 5px 8px;
}

.desc-component-content ul, ol {
	font-size: 14px;
}

.loading-component-title-wrap {
	height: 20px;
}

.loading-component-title {
	width: 100px;
}

.loading-component-content-wrap {
	height: 120px;
	padding: 3px 0 0 0;
}

.loading-component-title, .loading-component-content {
	background-color: #E9E9E9;
	height: 100%;
}

.des-feasibility-success-text {
	font-size: 14px;
}

.des-feasibility-fail-text {
	color: red;
	font-size: 14px;
}

.product-profile-form-loader {
	background-color: #FDFDFD;
	/*border: 1px solid #D9D9D9;*/
	border-radius: 6px;
	height: 230px;
	width: 100%;
}

.profile-form-loader-image {
	margin-top: 50%;
}

.profile-form-loader-text {
	margin-left: 2px;
}

.product-default-reviews {
	background-color: #E9E9E9;
	height: 14px;
	width: 54px;
}

.product-default-rating {
	background-color: #E9E9E9;
	height: 20px;
	width: 80px;
}

/*li.review.r-review.r-srt-top-rated:nth-last-child(1) {*/
/*border-bottom: none;*/
/*}*/

.des-product-reviews-link {
	text-align: left !important;
}

.des-product-reviews-link a {
	padding-left: 0;
	text-decoration: underline;
}

.fotorama__fullscreen-icon {
	background: url('../img/bg.png') no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
	width: 100% !important;
	height: 100% !important;
	right: 0 !important;
	top: 0 !important;
	z-index: 10 !important;
}

.fotorama__stage__frame img {
	position: absolute;
	margin: auto;
	top: 0 !important;
	right: 0;
	bottom: 0;
	left: 0 !important;
	max-width: 1024px !important;
}

.foto-position-guarantee {
	bottom: 4% !important;
}

/* === similar products loader related === */
.loading-similar-image {
	background-color: #E9E9E9;
	height: 100%;
}

.loading-similar-text,
.loading-similar-worth,
.loading-similar-price,
.loading-similar-title {
	background-color: #E9E9E9;
	height: 100%;
}

.loading-similar-title {
	width: 250px;
}

.loading-similar-title-wrap {
	height: 20px;
}

.loading-similar-text-wrap {
	height: 16px;
	padding: 2px 0 0 0;
}

.loading-similar-worth-wrap {
	height: 20px;
	padding: 2px 0;
}

.loading-similar-price-wrap {
	height: 40px;
	padding: 0 0 2px 0;
}

/* === similar products related === */
.similar-products-title {
	font-size: 16px;
}

.product-similar-img-wrap {
	height: 140px;
	margin-bottom: 5px;
	/*background-color: #000000;*/
}

.product-similar-img {
	/* @see: should be same as parent;
			 100% will not work as we are using `flex` display for parent to align middle */
	height: 140px;
}

.product-similar-title {
	font-size: 14px;
	height: 20px;
	line-height: 20px;
	text-transform: capitalize;
}

.product-similar-title a {
	font-weight: 500;
}

.product-similar-ratings .rating-gly-star {
	padding-left: 0;
}

.product-similar-ratings .rating-gly-star .rating-stars:before {
	padding-left: 0;
}

.des-product-similar-price {
	max-height: 32px;
	overflow: hidden;
}

.product-similar-price .product-price-worth {
	font-size: 11px;
}

.product-similar-price .price-check-product-price-worth {
	font-size: 13px;
}

.product-similar-price .product-price-off {
	font-size: 10px;
}

.product-similar-price .product-main-price {
	font-size: 13px;
}

.product-similar-price .product-min-order {
	font-size: 10px;
}

.product-similar-price .product-price-kg {
	font-size: 13px;
}

.carousel-control {
	color: #595959;
	width: 0;
}

.product-similar-content {
	line-height: 15px;
}

/* reviews part */
.desktop-pro-page .review-filters-wrap {
	border: none;
	margin: 5px 0 10px 0;
	padding: 0;
}

.desktop-pro-page #rSortOptions {
	font-size: 12px;
	height: auto;
	margin: 0;
	padding: 0;
}

.des-back-color {
	background-color: #EFEFEF;
}

/* === Booking feasibility modal === */
.feasibility-booking-modal {
	/*width: fit-content;*/
	width: 35%;
}

.feasibility-modal-title {
	font-size: 20px;
}

.feasibility-modal-result-msg {
	font-size: 20px;
	line-height: 26px;
}

.feasibility-modal-close {
	position: absolute;
	font-size: 45px;
	right: -35px;
	color: #FFFFFF;
	opacity: 1;
}

.feasibility-modal-title-help {
	font-size: 13px;
}

.feasibility-modal-image-wrap {
	height: 105px;
}

.feasibility-modal-image {
	max-width: 100%;
	height: 100%;
}

.feasibility-modal-product-title {
	font-size: 16px;
	font-weight: 500;
}

.feasibility-modal-product {
	border: 1px solid #EFEFEF;
	padding: 10px;
	background-color: #FDFDFD;
}

.des-feasibility-form-wrap {
	position: relative;
}

.des-book-now-form-wrap {
	position: relative;
}

.des-price-splitUp {
	font-size: 14px;
	line-height: 22px;
	padding: 0 10px;
}

.product-enquiry-section-wrap {
	border: 1px solid #D9D9D9;
	text-align: center;
}

.product-details-item-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.product-details-item-list .item {
	margin: 15px 0;
	float: left;
	height: 35px;
}

.product-details-item-list .item {
	width: 33.33%;
}

.product-details-item-list .item.disabled {
	color: #CCCCCC;
}

.product-details-item-list .item-66 {
	width: 66.67%;
}

.product-details-item-list .item i {
	vertical-align: bottom;
	margin-right: 5px;
}

.hall-title-section-wrap {
	padding: 0 25px;
}

.hall-product-title-text {
	color: #212121;
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
}

.hall-product-highlights-wrap {
	color: #757575;
	font-size: 14px;
	line-height: 20px;
}

.product-description-tab-location,
.product-description-tab-landmark {
	color: #656565;
}

.product-description-tab-address {
	display: flex;
	align-items: center;
}

.product-description-tab-direction-btn {
	border: 1px solid #DADCE0;
	border-radius: 50%;
	height: 36px;
	width: 36px;
	margin-left: auto;
	cursor: pointer;
	text-decoration: none;
	margin-right: 30%;
}

.product-description-tab-direction-btn .material-icons {
	color: #448AFF;
	font-size: 24px;
	padding: 6px;
}

.product-description-tab-rating-wrap .rating-number {
	font-size: 48px;
	font-weight: 400;
	margin-right: 15px;
}

.product-description-tab-others-rating {
	display: block;
	overflow-x: auto;
	white-space: nowrap;
}

.product-description-tab-others-rating-warp {
	display: inline-block;
	border: 1px solid #EFEFEF;
	padding: 10px;
	margin-right: 15px;
}

.product-description-tab-others-rating-warp .rating-website-img-wrap {
	width: 40px;
	margin-right: 13px;
}

.product-description-tab-others-rating-warp .rating-website-img-wrap img {
	width: 100%;
}

.product-description-tab-others-rating-warp .rating-text {
	font-size: 14px;
	line-height: 20px;
	color: #333333;
}

.product-description-tab-others-rating-warp .rating-text .ratings-count {
	color: #656565;
}

.product-description-tab-others-rating-warp .rating-website-text {
	font-size: 12px;
	line-height: 16px;
	color: #656565;
}