@media (max-width: 490px) {

	.mobile-pro-page {
		font-family: "Roboto", Helvetica, Arial, sans-serif;
		margin-top: 5px;
	}

	.mobile-header {
		min-height: 50px;
	}

	.mobile-header-wrap {
		box-shadow: 0 1px 5px 0 #4A4A4A;
		padding: 10px 0 10px 0;
	}

	.mobile-header-wrap .overlay {
		z-index: 3; /* greater than evibe guarantee and fixed cta buttons */
	}

	.mobile-back-icon {
		color: #000000;
		vertical-align: text-top;
	}

	.mobile-header-logo-wrap {
		height: 25px;
		margin: 2px 0 8px 20px;
	}

	.mobile-header-logo {
		max-height: 100%;
		max-width: 100%;
	}

	.mobile-header-search {
		color: #333333;
		font-size: 21px;
		margin-top: 5px;
		top: 0;
		vertical-align: middle;
	}

	.mobile-header-phone {
		color: #333333;
		font-size: 16px;
		margin-top: 5px;
		top: 0;
		vertical-align: middle;
	}

	.mobile-gallery-wrap {
		border: none;
		position: relative;
		margin-bottom: 0;
	}

	.mob-profile-no-image {
		width: 100%;
		padding: 15% 25%;
	}

	.title-section-wrap {
		padding: 0 15px;
	}

	.product-title-text {
		color: #000000;
		font-size: 16px;
		font-weight: 400;
		line-height: 20px;
	}

	.product-price-loading-wrap {
		margin: 18px 0 18px 60px;
	}

	.product-main-price {
		font-size: 20px;
		font-weight: 400;
	}

	.product-price-worth {
		font-size: 16px;
	}

	.product-price-off {
		font-size: 12px;
	}

	.product-price-tag {
		vertical-align: top;
	}

	.product-enquiry-link {
		font-size: 12px;
		text-decoration: underline;
	}

	.product-enquiry-link:hover {
		cursor: pointer;
	}

	.product-checkbox {
		vertical-align: baseline;
	}

	.product-price-per-guest {
		font-size: 13px;

	}

	.product-highlight-item-title, .product-highlight-item-text {
		font-size: 12px;
	}

	.mobile-profile-hr {
		border-color: #EFEFEF;
	}

	.sticky-mobile-profile-hr-1 {
		border-color: #EFEFEF;
		margin: 15px 0 10px 0;
	}

	.sticky-mobile-profile-hr-2 {
		border-color: #EFEFEF;
		margin: 5px 0;
	}

	.custom-design-title {
		font-size: 14px;
	}

	.product-btn-mobile-submit {
		position: fixed;
		bottom: 0;
		margin: 0;
		width: 100%;
		z-index: 2;
	}

	.product-btn-book-now,
	.product-btn-availability,
	.product-btn-check-feas {
		border-radius: 0;
	}

	.product-btn-check-feas {
		background: #FFFFFF;
		border-color: #FFFFFF;
		color: #000000;
		padding: 10px 0;
	}

	.product-btn-check-feas:hover,
	.product-btn-check-feas:focus {
		border-color: #FFFFFF;
		color: #000000;
	}

	.cta-section {
		box-shadow: 0 0 6px 2px #BFBFBF;
	}

	.sticky-form-wrap,
	.sticky-enquiry-form-wrap,
	.sticky-book-now-form-wrap {
		background-color: #FFFFFF;
		bottom: 0;
		box-shadow: 0 0 8px 2px #A9A9A9;
		display: none;
		margin: 0;
		padding-top: 15px;
		position: fixed;
		width: 100%;
		z-index: 1001;
	}

	.sticky-form-close {
		color: #CFCFCF;
		font-size: 16px;
	}

	.sticky-form-close:hover {
		cursor: pointer;
		color: #A94442;
	}

	.sticky-form-msg {
		font-size: 10px;
		color: #878787;
		text-transform: lowercase;
	}

	.sticky-form-title-text {
		border-bottom: 1px solid #EFEFEF;
		font-size: 17px;
		text-transform: capitalize;
		font-weight: 400;
		padding-bottom: 15px;
	}

	.sticky-form-token-msg-price {
		font-weight: bold;
		color: #000000;
	}

	.price-check-sticky-price {
		font-size: 20px !important;
	}

	.form-normal-text {
		font-size: 13px;
		line-height: 18px;
	}

	.mob-cta-text {
		width: 100%;
		text-transform: uppercase;
		font-size: 16px;
		font-weight: 600;
		padding: 9px 0;
	}

	.mob-btn-check {
		background-color: #F03F73;
		border-color: #F03F73;
		color: #FFFFFF;
	}

	.mob-btn-proceed {
		background-color: #F03F73;
		border-color: #F03F73;
		color: #FFFFFF;
	}

	.mob-btn-proceed-2 {
		background-color: #05B343;
		border-color: #05B343;
		color: #FFFFFF;
	}

	.product-btn-book-now,
	.product-btn-book-now-2,
	.product-btn-check-feas,
	.product-btn-availability,
	.product-btn-grey {
		font-size: 16px;
		padding: 9px 0;
	}

	.book-now-base-price {
		font-size: 24px;
	}

	.book-now-price-worth {
		font-size: 18px;
	}

	.book-now-advance {
		font-size: 16px;
	}

	.book-now-advance-msg {
		font-size: 10px;
	}

	.mob-btn-check:focus {
		color: #FFFFFF;
	}

	.feasibility-fail-text {
		color: red;
		margin-bottom: 10px;
	}

	.product-cta-message {
		line-height: 16px;
	}

	.sticky-updated-price {
		color: #F03F73;
		font-size: 16px;
		font-weight: 500;
	}

	.loading-section-wrap {
		background-color: #FFFFFF;
		bottom: 0;
		box-shadow: 0 0 10px 2px #D4D4D4;
		display: none;
		height: 380px;
		margin: 0;
		padding: 10px 15px;
		position: fixed;
		width: 100%;
		z-index: 1002;
	}

	.loading-enquiry-section-wrap {
		background-color: #FFFFFF;
		bottom: 0;
		box-shadow: 0 0 10px 2px #D4D4D4;
		display: none;
		height: 390px;
		margin: 0;
		padding: 10px 15px;
		position: fixed;
		width: 100%;
		z-index: 1002;
	}

	.loading-enquiry-section-wrap .similar-loading-cards {
		height: 150px;
	}

	.loading-content {
		vertical-align: middle;
	}

	.similar-loading-cards {
		height: 150px;
	}

	.similar-loading-cards .loader {
		left: 44%;
		position: absolute;
		top: 30%;
	}

	.line {
		animation: expand 1s ease-in-out infinite;
		border-radius: 10px;
		display: inline-block;
		height: 25px;
		margin: 0 3px;
		transform-origin: center center;
		width: 1px;
	}

	.line:nth-child(1) {
		background: #CCC8CE;
	}

	.line:nth-child(2) {
		animation-delay: 180ms;
		background: #CCC8CE;
	}

	.line:nth-child(3) {
		animation-delay: 360ms;
		background: #CCC8CE;
	}

	.line:nth-child(4) {
		animation-delay: 540ms;
		background: #CCC8CE;
	}

	@keyframes expand {
		0% {
			transform: scale(1);
		}
		25% {
			transform: scale(2);
		}
	}

	.product-input-wrap {
		padding: 0;
	}

	/* === similar products related === */
	.similar-products-title {
		font-size: 14px;
	}

	.product-similar-img-wrap,
	.product-similar-img {
		height: 70px;
	}

	.product-similar-title {
		font-size: 12px;
		height: 36px;
		line-height: 18px;
	}

	.product-similar-price .product-main-price {
		font-size: 12px;
	}

	.product-similar-price .product-price-worth {
		font-size: 11px;
	}

	.product-similar-price .price-check-product-price-worth {
		font-size: 12px;
	}

	.mob-pro-into-section {
		position: static;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 3;
		background-color: #FFFFFF;
		padding: 5px 0;
	}

	.product-description-tab {
		border: 1px solid #EFEFEF;
		margin: 10px;
		border-radius: 5px;
		box-shadow: 0px 0px 4px 1px #EFEFEF;
		padding: 10px;
	}

	.hall-product-description-tab {
		padding: 15px 10px 0 10px;
		border: 0;
		box-shadow: none;
		border-top: 1px solid #EFEFEF;
		border-radius: 0;
	}

	.product-description-tab-title {
		font-size: 16px;
		font-weight: 600;
		margin-bottom: 5px;
	}

	.product-description-highlights-wrap ul {
		list-style-type: "\2605";
		padding-left: 25px !important;
	}

	.product-description-highlights-wrap ul li {
		padding: 2px 0 2px 8px;
	}

	.hall-product-description-tab .product-description-tab-title {
		margin-top: 5px;
	}

	.product-description-content ul {
		font-size: 13px;
		padding-left: 30px;
	}

	.hall-title-section-wrap {
		padding: 0 25px;
	}

	.product-lowest-price-img-wrap {
		height: 47px;
	}

	.hall-product-title-text {
		color: #212121;
		font-size: 20px;
		font-weight: 400;
		line-height: 28px;
	}

	.hall-product-highlights-wrap {
		color: #757575;
		font-size: 14px;
		line-height: 20px;
	}

	.product-description-tab-location,
	.product-description-tab-landmark {
		color: #656565;
	}

	.product-description-tab-address {
		display: flex;
		align-items: center;
	}

	.product-description-tab-direction-btn {
		border: 1px solid #DADCE0;
		border-radius: 50%;
		height: 36px;
		width: 36px;
		margin-left: auto;
		cursor: pointer;
		text-decoration: none;
		margin-right: 10px;
	}

	.product-description-tab-direction-btn .material-icons {
		color: #448AFF;
		font-size: 24px;
		padding: 6px;
	}

	.product-description-tab-rating-wrap .rating-number {
		font-size: 48px;
		font-weight: 400;
		margin-right: 15px;
	}

	.product-description-tab-others-rating {
		display: block;
		overflow-x: auto;
		white-space: nowrap;
	}

	.product-description-tab-others-rating-warp {
		display: inline-block;
		border: 1px solid #EFEFEF;
		padding: 10px;
		margin-right: 15px;
	}

	.product-description-tab-others-rating-warp .rating-website-img-wrap {
		width: 40px;
		margin-right: 13px;
	}

	.product-description-tab-others-rating-warp .rating-website-img-wrap img {
		width: 100%;
	}

	.product-description-tab-others-rating-warp .rating-text {
		font-size: 14px;
		line-height: 20px;
		color: #333333;
	}

	.product-description-tab-others-rating-warp .rating-text .ratings-count {
		color: #656565;
	}

	.product-description-tab-others-rating-warp .rating-website-text {
		font-size: 12px;
		line-height: 16px;
		color: #656565;
	}

	.carousel-control {
		color: #FFFFFF;
		width: 15%;
	}

	.product-carousel-slider {
		width: 30px;
	}

	/* === similar products loader related ==== */
	.loading-similar-image {
		background-color: #E9E9E9;
		height: 100%;
	}

	.loading-similar-text, .loading-similar-worth, .loading-similar-price, .loading-similar-title {
		background-color: #E9E9E9;
		height: 100%;
	}

	.loading-similar-title {
		width: 150px;
	}

	.loading-similar-title-wrap {
		height: 20px;
	}

	.loading-similar-text-wrap {
		height: 34px;
		padding: 3px 0 0 0;
	}

	.loading-similar-worth-wrap {
		height: 20px;
		padding: 2px 0;
	}

	.loading-similar-price-wrap {
		height: 20px;
		padding: 2px 0 3px 0;
	}

	/* review part */
	.mobile-pro-page .review-filters-wrap {
		border: none;
		margin: 10px 0;
		padding: 0;
	}

	.mobile-pro-page #rSortOptions {
		font-size: 13px;
		height: auto;
		margin: 0;
		padding: 0;
	}

	.pc-amount {
		font-size: 18px;
	}

	.pc-high-value {
		font-size: 18px;
	}

	.pc-high-title {
		font-size: 10px;
		line-height: 12px;
	}

	.pc-modal-addons-wrap {
		max-height: 300px;
		overflow-y: hidden;
	}

	.mobile-header-partybag {
		color: #333333;
		vertical-align: middle;
		font-size: 19px;
		top: 0;
		margin-top: 5px;
		/*color: #FFFFFF;*/
		text-decoration: none;
		/*text-shadow: 0 0 1px #333333, 0 0 1px #333333, 0 0 1px #333333, 0 0 2px #333333;*/
	}

	.mobile-header-cta a .partybag-badge {
		white-space: nowrap;
		text-align: center;
		padding: 4px 6px;
		height: 18px;
		background: #ED3E72;
		position: relative;
		border-radius: 12px;
		font-family: 'Roboto', 'Helvetica Neue', 'sans-serif';
		font-size: 10px;
		color: #FFFFFF;
		top: 1px;
	}

	.product-book-form {
		display: none;
	}
}
