@media (max-width: 1024px) {

	.product-similar-price .price-check-product-price-worth {
		font-size: 11px;
	}

	.product-similar-price .product-price-off {
		font-size: 9px;
	}

	.product-similar-price .product-main-price {
		font-size: 11px;
	}

	.product-rating-reviews {
		font-size: 9px;
	}

	.product-main-price {
		font-size: 18px;
	}

	.product-price-worth {
		font-size: 18px;
	}

	.product-price-off {
		font-size: 12px;
	}

	.product-price-tag {
		font-size: 10px;
		line-height: 17px;
	}

	.product-btn-book-now,
	.product-btn-book-now-2,
	.product-btn-check-feas,
	.product-btn-availability,
	.product-btn-grey {
		font-size: 13px;
	}

}