.surprise-home-section {
	background: #FFFFFF !important;
}

.add-border:hover {
	border:1px solid #fff;
}

/* Filters bar for surprise category*/
.surprise-filter-bar {
	position: absolute;
	text-align: center;
	top: 30%;
	z-index: 98;
	background-color: rgba(255, 255, 255, 0.82);
	color: black;
	padding: 8px 0 12px 12px;
	width: 80%;
	left: 10%;
	border-radius: 3px;
	box-shadow: 0 10px 20px #2B2B2B
}

.surprise-filter {
	position: relative;
	display: inline-block;
	width: 100%;
}

.surprise-filter:after {
	content: '▼';
	position: absolute;
	width: 37px;
	color: #757575;
	font-weight: bold;
	font-size: 16px;
	right: 1px;
	bottom: 8px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	pointer-events: none;
	z-index: 2;
}

.surprise-filter:before {
	content: '';
	right: 7px;
	top: 6px;
	width: 25px;
	height: 25px;
	background: #E6E6E6;
	position: absolute;
	pointer-events: none;
	display: block;
	z-index: 1;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.surprise-filter select {
	position: relative;
	width: 100%;
	background: #F5F5F5;
	color: #5A5A5A;
	border: none;
	outline: none;
	font-size: 14px;
	padding: 9px;
	margin: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
	height: 38px;
}

.surprise-filter-bar-label {
	width: 100% !important;
	text-align: left !important;
	font-weight: 300;
	color: #2B2B2B;
	padding-bottom: 5px;
	font-size: 13px;
	text-transform: uppercase;
}

.surprise-filter-bar-go-btn {
	border: 1px solid #C7C7C7;
	border-radius: 2px;
	padding: 6px;
	font-size: 20px;
	margin: 27px 0 0 0;
	width: 100%;
	background-color: #0ACAEF;
	color: white;
}

.surprise-filter-drop-down {
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 1px;
	text-overflow: '';
}

.surprise-home-collections {
	background-color: white;
}

.btn-see-all-surprises {
	text-decoration: none;
	padding: 5px 8px;
	background-color: #ECECEC;
	border: 1px solid #B5B5B5;
	color: #000000;
}

.btn-see-all-surprises:hover {
	text-decoration: none;
	color: #6C6C6C;
}

.surprise-collection-card-radius {
	border-radius: 10px;
}

.surprise-collection-card .collection-card-list-wrap img {
	margin-left: 0;
}

.surprise-container .carousel-control {
	width: 5%;
	height: 15%;
	top: 28%;
}

.surprise-container .carousel-control .glyphicon-chevron-right {
	right: 30%;
}

.surprise-container .carousel-control .glyphicon-chevron-left {
	left: 30%;
}

.surprise-container h4 {
	color: #808080;
	text-transform: capitalize;
}

.surprise-home-packages-list-price {
	font-size: 16px;
	font-weight: normal;
	line-height: 0;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	color: #ED3E72;
}

.surprise-home-packages-list-worth {
	font-size: 11px;
	margin: 0;
	text-decoration: line-through;
	color: #676767;
	display: inline;
	line-height: 0;
}

#surprisePackageCarousel h6 {
	color: #4E4E4E;
	font-weight: 500;
}

.surprise-customer-review-bar .review-wrap {
	height: 120px;
}

.surprise-customer-review-bar .photo-wrap {
	vertical-align: center;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.surprise-customer-review-bar .review-wrap img {
	opacity: 0.8;
	border-radius: 100px;
	max-height: 120px;
}

.surprise-customer-review-bar .review-wrap .review-text-wrap {
	text-overflow: ellipsis;
	overflow-x: hidden;
	overflow-y: hidden;
}

.surprise-customer-review-bar .review-wrap {
	border: 1px #D0D0D0 solid;
	box-shadow: 0 0 20px 0 #A5A5A5;
	padding: 0;
}

.surprise-customer-review-bar .review-item {
	padding: 0 5px;
}

.surprises-home-section .intro-message {
	top: 10%;
}

.surprise-container .trending-items .img-container {
	min-height: 160px !important;
	max-height: 170px !important;
}

.surprise-container .trending-items .img-container img {
	min-height: 170px !important;
}