.surprise-intro-message {
	top: 25%;
}

.home-bg-color {
	background-color: white !important;
}

.surprise-filter-bar-m {
	top: 53%;
	width: 90%;
	left: 5%;
}

.surprise-filter-m {
	float: left;
	width: 93%;
}

.surprise-filter-m select {
	font-size: 13px;
	padding: 0 5px 2px;
	margin: 0;
	height: 30px;
}

.surprise-filter-m:after {
	width: 28px;
	bottom: 4px;
}

.surprise-filter-m:before {
	right: 5px;
	top: 5px;
	width: 20px;
	height: 20px;
}

.surprise-filter-bar-label-m {
	padding-bottom: 0;
	font-size: 11px;
}

.surprise-filter-bar-m .surprise-filter-bar-go-btn {
	margin-top: 20px;
	width: 80%;
}

.surprise-collection-card-m .collection-card-list-wrap img {
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	transform: translate(0, 10%);
}

.surprise-collection-card-m .collection-card-list-title-wrap {
	transform: translate(0, 0);
	margin-top: 69%;
	max-height: 27%;
}

.surprise-collection-card-m .collection-card-list-title-wrap h3 {
	padding: 0;
}

.surprise-container-m h4 {
	font-size: 20px;
}

.btn-see-all-surprises-m {
	padding: 4px 8px;
}

.surprise-container .carousel-control-m .glyphicon-chevron-right {
	right: 44%;
}

.surprise-container .carousel-control-m .glyphicon-chevron-left {
	left: 44%;
}

.surprise-container .carousel-control-m {
	width: 10%;
}