label {
	font-weight: normal;
}

.referral-copy-btn-text {
	width: 100%;
	padding: 5px;
	background-color: #FCFCFC;
	color: #ED3E72;
	font-size: 16px;
	border: 1px solid #ED3E72;
}

.referral-thank-you-coupon {
	width: 60%;
	margin-left: 20%;
	padding: 10px;
	background-color: #FFFFFF;
	color: #ED3E72;
	font-size: 16px;
	border: 2px dashed #777777;
}

.referral-copy-btn {
	width: 100%;
	padding: 5px;
	background-color: #ED3E72;
	color: #FCFCFC;
	font-size: 16px;
	border: 1px solid #ED3E72;
}

.referral-thank-you-redirect-btn {
	width: 60%;
	padding: 10px;
	background-color: #ED3E72;
	color: #FCFCFC;
	font-size: 16px;
	border: 1px solid #ED3E72;
}

.referral-friend-signup-wrap {
	background-color: #FFFFFF;
	min-height: 100vh;
}

.referral-friend-signup-wrap .sec-title {
	margin: 24px 0;
}

.referral-friend-signup-form {
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: white;
}

.referral-friend-signup-form h2 {
	font-size: 36px;
}

.referral-thank-you-wrap {
	margin-bottom: 30px;
	background-color: white;
}

#friendReferralSignUpSubmit {
	border-radius: 5px;
	padding: 10px 5px;
}

#friendReferralSignUpForm .mdl-textfield__label {
	bottom: -5px;
}

.special-occasion-wrap {
	margin-bottom: 5px;
}

.referral-customer-statistics-wrap {
	background-color: #EFEFEF;
}

.referral-customer-statistics-share-wrap {
	background-color: white;
	padding-bottom: 30px;
}

.referral-customer-statistics-how-it-works-wrap {
	background-color: white;
}

.referral-customer-statistics-share {
	border-right: 1px dashed #C5C5C5;
	padding-right: 30px;
}

.referral-customer-statistics-metric-wrap {
	width: 100%;
	border: 1px solid #D8D8D8;
	margin-bottom: 10px;
	padding: 10px;
	font-size: 16px;
}

.referral-customer-statistics-coupon-wrap {
	width: 100%;
	margin-top: 30px;
	margin-bottom: 10px;
	padding: 10px;
	font-size: 16px;
	display: inline-block;
}

.referral-customer-statistics-coupon-wrap .coupon {
	border: 1px dashed #ED2E72;
	padding: 10px;
	margin-bottom: 10px;
	width: 80%;
	margin-left: 10%;
	font-size: 20px;
	font-weight: bold;
	color: #ED2E72;
}

.referral-customer-statistics-coupon-wrap .content {
	font-size: 16px;
	margin-top: 10px;
	color: #656565;
	font-weight: normal;
}

.referral-customer-statistics-metric-wrap span {
	font-size: 20px;
	font-weight: bold;
	color: #ED2E72;
}

#friendReferralSignUpSubmit {
	white-space: normal !important;
}

.special-occasion-wrap-hr {
	display: none;
}

.special-date-image {
	height: 36px;
	width: auto;
}

.top-slide {
	width: 100%;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.top-slide-home {
	height: 305px;
}

.intro-message {
	position: absolute;
	text-align: center;
	top: 15%;
	color: #FFFFFF;
	width: 100%;
	z-index: 98;
}

.intro-message h1 {
	color: #FFFFFF;
	font-size: 52px;
}

.intro-message .lines-2 {
	color: #EFEFEF;
}

.intro-message h3 {
	margin: 0;
	font-size: 32px;
	font-weight: 300;
}

.intro-message h4 {
	margin-bottom: 0;
	font-size: 24px;
}

.bg-overlay {
	top: 100px;
	height: 305px;
	position: absolute;
	background-color: #000000;
	opacity: 0.65;
	z-index: 10;
	width: 100%;
}

.section-why-us {
	background: #EFEFEF;
}

.benefit img {
	width: 80px;
}

.benefit .ben-title {
	font-size: 1.2em;
	font-weight: 400;
	margin: 25px 0 15px;
	color: #F15281;
}

.benefit .ben-desc {
	font-size: 0.9em;
	font-weight: 400;
	color: #777777;
	padding: 5px 18px;
}

.landing-body-section-stats {
	padding: 50px 20px;
}

.landing-stats-text-1 {
	font-weight: 600;
	font-size: 50px;
}

.landing-stats-text-2 {
	font-weight: 400;
	font-size: 20px;
	line-height: 20px;
	margin-top: 20px;
}

.landing-customer-benefits-list {
	margin-top: 18%;
	font-size: 24px;
	font-weight: 600;
	list-style-type: none;
}

.landing-customer-benefits-list li:before {
	content: "\2713\0020";
}

.landing-customer-benefits-list li {
	margin-bottom: 20px;
}

.landing-customer-benefits-list li:last-child {
	margin-bottom: 0;
}

.landing-customer-page-head {
	padding: 20px 30px;
	font-size: 24px;
	line-height: 32px;
}

.landing-footer {
	background-color: #000000;
	/*position: relative;*/
}

.landing-footer-logo-wrap {
	height: 30px;
}

.landing-footer-left {
	padding: 10px;
}

.landing-footer-right {
	font-size: 20px;
	color: #FFFFFF;
	margin-top: 15px;
}

.landing-copy-text {
	font-size: 18px;
	color: #999999;
	text-transform: none;
	line-height: 18px;
	margin-top: 7px;
}

.landing-copy-text a {
	color: #666666;
}

.padding-75 {
	padding: 75px 0;
}

@media (max-width: 721px) {
	.referral-customer-statistics-share {
		border-right: 0;
		padding-right: 0;
	}

	.special-occasion-wrap-hr {
		display: block;
	}
}

@media (max-width: 450px) {
	.checkout-wrap .main-content {
		padding: 40px 10px !important;
	}

	.special-occasion-wrap .col-sm-12 {
		padding-left: 10px !important;
		padding-right: 10px !important;
	}

	.referral-friend-signup-form h2 {
		font-size: 26px;
		line-height: 32px;
		margin: 0;
	}

	.special-occasion-wrap-hr {
		display: block;
	}

	.referral-thank-you-wrap h2 {
		font-size: 34px;
		line-height: 44px;
	}

	.referral-customer-statistics-wrap h3 {
		font-size: 30px;
	}

	.referral-customer-statistics-wrap h4 {
		font-size: 21px;
	}

	.benefits-lists .benefit {
		padding-top: 30px;
	}

	.spl-date-title {
		font-size: 22px;
	}
}

@media only screen and (max-width: 600px) {
	.padding-75 {
		padding: 45px 0;
	}

	.intro-message {
		top: 18%;
	}

	.intro-message h1 {
		font-size: 34px;
	}

	.intro-message .lines-2 {
		display: none;
	}

	.landing-customer-benefits-list {
		margin-top: 0;
		padding-left: 20px;
		font-size: 18px;
		font-weight: normal;
	}

	.landing-customer-benefits-list li {
		margin-bottom: 2px;
	}

	.landing-customer-benefits-list li:last-child {
		margin-bottom: 0;
	}

	.landing-stats-image {
		max-height: 100%;
		max-width: 100%;
	}

	.landing-stats-text-1 {
		font-weight: 600;
		font-size: 24px;
	}

	.landing-stats-text-2 {
		margin-top: 5px;
		font-size: 10px;
		line-height: 12px;
	}

	.landing-body-section-stats {
		padding: 25px 5px;
	}

	.landing-footer {
		background-color: #000000;
	}

	.landing-footer-left {
		padding: 7px 0 10px 7px;
	}

	.landing-copy-text {
		font-size: 11px;
		color: #999999;
		text-transform: none;
		line-height: 12px;
		margin-top: 3px;
	}

	.landing-copy-text a {
		color: #666666;
	}

	.landing-footer-right {
		font-size: 11px;
		font-weight: 600;
		color: #FFFFFF;
		margin-top: 10px;
	}
}