/**
 * CSS FOR 1024 RESOLUTION
 */
@media only screen and (min-width: 601px) and (max-width: 1200px) {
	.home-occasion .categories-list li img {
		margin: 0 auto 10px;
		display: block;
	}

	.item-filters {
		padding: 20px 8px 30px 8px;
	}

	.search-box {
		width: 80%;
	}

	a.decor-cat-link {
		font-size: 12px;
	}

	.item-filters .price-slider {
		padding: 0 0 20px 0;
	}

	.price-slider .mar-r-10 {
		margin-right: 5px;
	}

	#cssmenu > ul > li > a {
		font-size: 11px;
	}

	.cat-head .cat-ocs-title {
		font-size: 1.3em;
	}

	.collection-card-title h3 {
		top: 35%;
	}
}