/* CSS FILE FOR RESOLUTION RANGE <= 400 PX */

/* UTIL */
@media (max-width: 400px) {
	.no-pad__400 {
		padding: 0 !important;
	}

	.no-pad-t__400 {
		padding-top: 0 !important;
	}

	.no-pad-b__400 {
		padding-bottom: 0 !important;
	}

	.pad-t-10__400 {
		padding-top: 10px !important;
	}

	.pad-t-20__400 {
		padding-top: 20px !important;
	}

	.pad-tb-10__400 {
		padding: 10px 0 !important;
	}

	.pad-tb-20__400 {
		padding: 20px 0 !important;
	}

	.pad-b-20__400 {
		padding-bottom: 20px !important;
	}

	.no-pad-l__400 {
		padding-left: 0 !important;
	}

	.pad-l-15__400 {
		padding-left: 15px !important;
	}

	/* margins */
	.no-mar__400 {
		margin: 0 !important;
	}

	.mar-auto-400 {
		margin: auto !important;
	}

	.mar-rl-15-400 {
		margin: 0 15px !important;
	}

	.mar-t-10__400 {
		margin-top: 10px !important;
	}

	.mar-t-20__400 {
		margin-top: 20px !important;
	}

	.mar-t-30__400 {
		margin-top: 30px !important;
	}

	.mar-tb-10__400 {
		margin: 10px 0 !important;
	}

	.mar-tb-15__400 {
		margin: 15px 0 !important;
	}

	.mar-tb-20__400 {
		margin: 20px 0 !important;
	}

	.mar-b-10__400 {
		margin-bottom: 10px !important;
	}

	.mar-b-15__400 {
		margin-bottom: 15px !important;
	}

	.mar-b-20__400 {
		margin-bottom: 20px !important;
	}

	.mar-t-n-20__400 {
		margin-top: -20px !important;
	}

	/* other */
	.hide__400 {
		display: none;
	}

	.text-center__400 {
		text-align: center;
	}

	.text-right__400 {
		text-align-last: right;
	}

	.text-left__400 {
		text-align-last: left;
	}

	.no-pull__400 {
		float: none !important;
	}

	.unhide__400 {
		display: block !important;
	}

	.w-100__400 {
		width: 100% !important;
	}

	.h-100__400 {
		height: 100% !important;
	}

	.btn-show-filter {
		font-size: 17px;
		color: #ED3E72;
		border: 1px solid #ED3E72;
	}

	/* HOME PAGE */
	.planner-booking-form {
		padding: 0;
	}

	.pb-form-wrap {
		padding: 10px 0;
	}

	.pb-form-wrap .head, .pb-form-wrap .sub-head {
		padding: 0 10px;
	}

	.mar-b-30-400 {
		margin-bottom: 30px;
	}

	.showcase-pop-wrap {
		margin: 40px 0 0 0;
	}

	.customer-stories {
		margin: 40px 0 0 0;
	}

	.pop-mid .carousel-control.left {
		display: none;
	}

	.pop-mid .carousel-control.right {
		display: none;
	}

	.pitch-lines {
		bottom: 230px;
		font-size: 42px;
		line-height: 44px;
	}

	.line2 {
		font-size: 20px;
		margin-bottom: 10px;
	}

	/*===== Master homepage and occasion home page ======*/
	.intro-message h1 {
		font-size: 2em;
		margin-bottom: 0.4em;
	}

	.cat-head {
		text-align: center;
		margin-top: 15px;
	}

	/*===== Home Head Section ====*/
	.intro-message {
		top: 35%;
	}

	.ke-intro-message {
		top: 12%;
	}

	.intro-collections-adv {
		bottom: 190px;
		width: auto;
	}

	.intro-collections-adv > .bg-overlay-collections-adv {
		padding: 5px;
	}

	.intro-collections-adv .intro-collections-adv-text {
		font-size: 13px;
	}

	h5.secondary-title-home {
		top: -120px;
	}

	.section-ocs.margin-75 {
		margin-top: -140px;
	}

	.section-ocs .cat-card-title h3 {
		padding: 5% 10%;
	}

	.section-ocs .cat-card {
		width: 95%;
		margin: 10px auto;
		float: none;
		padding-left: 0;
	}

	.cat-card-lg {
		height: 160px;
	}

	.cat-head .cat-ocs {
		margin-top: 0px;
	}

	a.disabled-cs .bg-coming-soon h4 {
		top: 10%;
	}

	/*===== Trending Section =====*/
	.trending a h6.item-name {
		text-align: center;
	}

	/*==== Footer Section ====*/
	.ft-cat h5 {
		font-size: 1.1em;
	}

	.footer-bottom-inner {
		text-align: center;
	}

	.footer-bottom-inner .socmed-body-inner {
		text-align: center;
	}

	.footer-bottom .links-list li {
		text-align: center;
	}

	.footer-ocs-links .categories-list li {
		display: block;
		padding: 10px 15px;
	}

	.footer-wrap .ft-text-align {
		text-align: center;
	}

	/*==== Media Section ====*/
	.press {
		margin: 0;
	}

	.press-focus p {
		padding: 2px 4px;
		width: 90%;
		margin: 0 auto;
	}

	.press-logo li {
		float: none;
		width: 100%;
		margin: 25px auto;
	}

	.categories-list li a {
		padding: 5px 0;
		/*color: #3E3E3E;*/
		color: #ED3E72;
		display: block;
		font-weight: 400;
	}

	.categories-list li {
		display: inline-block;
		padding: 10px 30px 0;
		border-right: 0;
		border-top: 0;
		border-bottom: 1px solid rgb(222, 27, 85);
	}

	.categories-list li img {
		margin: 0 10px 7px;
		display: inline-block;
	}

	.m-text {
		height: 108px;
	}

	/*==== Vendor comments ===*/
	.vendor-feedback .ven-comment {
		position: relative;
		background: #000000;
	}

	/* PACKAGE RESULTS PAGE */
	.packages-results-wrap .package {
		height: inherit;
	}

	/* PACKAGE PORTFOLIO PAGE */
	.package-data-inner .data-left {
		max-width: none;
	}

	/* Item  */
	.items-results {
		padding-top: 1px;
	}

	.items-results .bottom-panel {
		margin-top: 0;
	}

	.items-results .bottom-left-panel {
		margin-bottom: 10px;
	}

	.item-filters {
		margin-top: 10px;
	}

	.venue-results .btn-show-filter:hover,
	.items-results .btn-show-filter:hover {
		background-color: #FFFFFF;
	}

	.item-filters .filter-slider__400 {
		padding: 8px 0 10px 0;
		text-align: center;
	}

	.item-filters .reset-filters__400 {
		padding-bottom: 20px;
	}

	/* VENUE RESULTS */
	.venue-results .filters {
		padding: 10px 0;
		margin: 10px 10px 0 10px;
	}

	.item-result .title a {
		color: rgb(68, 138, 255);
		text-decoration: underline;
	}

	.venue-results .filters li {
		margin-right: 0;
		margin-top: 10px;
	}

	.venue-results .venues-list {
		padding: 0;
	}

	.venue-results .btn-show-filters-wrap {
		margin: 0 0 0 10px;
	}

	/* VENUE PROFILE */
	.venue-details-card .items-list .item {
		width: 100%;
	}

	.venue-details-card .menus-list .menu,
	.venue-details-card .items-list .item {
		float: none;
		margin: 10px 0 0 0;
	}

	/*==== Auto Booking Vendor Confirmation Page ====*/
	.g-captcha {
		margin-left: 0;
	}

	.confirm-booking .main-content {
		padding: 20px;
		width: 100%;
	}

	.confirm-booking ul.booking-details {
		display: block;
		table-layout: fixed;
		padding: 0;
		margin: 10px 0 0 0;
		list-style: none;
		width: 100%;
	}

	.confirm-booking ul.booking-details li {
		display: block;
		margin: 10px 0;
	}

	.confirm-booking ul.booking-details li div {
		display: inline;
	}

	.modal-pre-checkout .modal-dialog {
		max-width: inherit;
		width: inherit;
	}

	/*=== Google Maps in Checkout Page ====**/
	#googleMap #pac-input {
		width: 180px;
	}

	/*=== Partner sign up page ===*/
	.partner-header {
		max-height: 300px;
	}

	.partner-header .top-slide {
		max-height: 300px;
	}

	/* === Home page collections ===*/
	.collection-card-title a {
		height: 70%
	}

	.collection-card-title h3 {
		height: 50%;
		font-size: 22px;
		line-height: 30px;
		top: 25%;
	}

	/* === Global Search bar ===*/
	.navbar-home .text-center .navbar-form {
		border: none;
		box-shadow: none;
	}

	.border-b-gr {
		border-bottom: 1px solid #CCCCCC;
	}

	/* ===About us page=== */
	.abt-v-txt-l {
		font-size: 35px !important;
		line-height: 35px !important;
	}

	.abt-v-txt-s {
		font-size: 22px !important;
		font-weight: 300 !important;
	}

	.abt-group-text-l {
		font-size: 35px !important;
		line-height: 35px !important;
	}

	.abt-group-text-s {
		font-size: 20px !important;
		line-height: 20px !important;
	}

	/* === Decor Auto Booking === */
	.ab-decor-profile-img {
		max-width: 220px !important;
	}

	.decor-modal-content {
		min-height: 560px !important;
	}

	.ab-decor-price-title-1 {
		font-size: 12px !important;
	}

	/*.ab-decor-price-title-2 {*/
	/*font-size: 16px;*/
	/*}*/
	.ab-decor-amt {
		font-size: 13px !important;
	}

	.ab-decor-provider-wrap {
		font-size: 10px !important;
	}

	.ab-decor-pincode-title {
		font-size: 10px !important;
	}

	.ab-decor-phone {
		font-size: 10px !important;
	}

	.btn-decor-verify {
		font-size: 9px !important;
		line-height: 16px !important;
	}

	.ab-decor-verify-btn-wrap {
		padding: 30px 0 !important;
	}

	.ab-decor-load-wrap {
		font-size: 12px !important;
	}

	.ab-decor-btn-pc-proceed {
		padding: 5px 5px;
		margin: 30px 0;
		font-size: 9px;
	}

	.customer-pincode-wrap {
		font-size: 12px !important;
	}

	.customer-pincode-wrap {
		display: inline-block;
	}

	.top-search h5 {
		text-align: center;
	}

	.surprise-customer-review-bar .photo-wrap {
		top: 40%;
	}

	.benefits-lists .benefit:first-child {
		padding-top: 0;
	}

	.benefits-lists .benefit {
		padding-top: 30px;
	}

	.site-visit-enquiry-close-btn {
		font-size: 40px !important;
		right: -27px !important;
	}

	.show-popup-header h4 {
		margin-top: 10px;
		margin-bottom: 20px;
		font-size: 20px;
	}

	.tyc-header {
		font-size: 18px;
		line-height: 22px;
	}

	.btn-tyc-download {
		padding: 7px 14px;
	}

	.reco-budget-price-wrap {
		margin: 5px 0 0 0;
		display: block;
	}

	h5.sec-title {
		font-weight: 200;
		font-size: 17px;
		margin-top: 10px !important;
		margin-bottom: 0 !important;
		padding-left: 0 !important;
	}

	.benefit .img-profile-div {
		padding-right: 0 !important;
		padding-left: 0 !important;
	}

	.benefit .img-profile {
		height: 60px;
		width: 60px;
	}

	.benefit .ben-title-profile {
		font-size: 13px;
		font-weight: 400;
		color: #F15281;
		line-height: 30px;
		padding-left: 10px !important;
		padding-right: 0 !important;
	}

	.benefit .ben-desc-profile {
		padding-top: 5px;
		font-size: 10px;
		font-weight: 400;
		color: #777777;
	}

	.footer-piab-option-wrap .footer-piab-option-title {
		font-size: 12px;
	}
}