/**
 * CSS FILE FOR RESOLUTION RANGE 400 - 600 PX
 */

/* Visibility */
@media only screen and (max-width: 600px) {

	.inner-top-option-div {
		margin-left: 10px !important;
		margin-right: 10px !important;
	}

	.section-cat {
		margin-left: 10px !important;
		margin-right: 10px !important;
	}

	/* Switch of web engage in small screens */
	#webklipper-publisher-widget-container, #webklipper-publisher-widget-container * {
		display: none;
	}

	.text-ip {
		color: #DD4444; /* Instaparty color */
	}

	.full-width__400-600 {
		width: 100%;
	}

	.hide-400-600 {
		display: none;
	}

	.unhide__400-600 {
		display: block !important;
	}

	.show-400-600 {
		display: block !important;
	}

	.in-blk-400-600 {
		display: inline-block;
	}

	.blk-400-600 {
		display: block
	}

	.no-pull-400-600 {
		float: none !important;
	}

	/* Text */
	.text-left-400-600 {
		text-align: left;
	}

	.text-center-400-600 {
		text-align: center;
	}

	.font-14-400-600 {
		font-size: 14px;
	}

	/* Paddings */
	.no-pad__400-600 {
		padding: 0;
	}

	.no-pad-l__400-600 {
		padding-left: 0;
	}

	.no-pad-r__400-600 {
		padding-right: 0;
	}

	.pad-t-10-400-600 {
		padding-top: 10px;
	}

	.pad-t-20-400-600 {
		padding-top: 20px;
	}

	.pad-l-5__400-600 {
		padding-left: 5px !important;
	}

	.pad-l-15__400-600 {
		padding-left: 15px !important;
	}

	.pad-b-15__400-600 {
		padding-bottom: 15px;
	}

	/* Margins */
	.no-mar-400-600 {
		margin: 0;
	}

	.no-mar-t__400-600 {
		margin-top: 0;
	}

	.mar-t-5__400-600 {
		margin-top: 5px;
	}

	.mar-t-10-400-600 {
		margin-top: 10px;
	}

	.mar-t-15__400-600 {
		margin-top: 15px;
	}

	.mar-t-20__400-600 {
		margin-top: 20px;
	}

	.mar-t-30__400-600 {
		margin-top: 30px;
	}

	.mar-t-40-400-600 {
		margin-top: 40px;
	}

	.mar-b-15-400-600 {
		margin-bottom: 15px;
	}

	.mar-b-30-400-600 {
		margin-bottom: 30px;
	}

	.mar-l-15__400-600 {
		margin-left: 15px;
	}

	.pad-l-10__400-600 {
		padding-left: 10px;
	}

	.pad-r-10__400-600 {
		padding-right: 10px;
	}

	.pad-r-15__400-600 {
		padding-right: 15px;
	}

	.pad-10__400-600 {
		padding: 10px;
	}

	/* Header */
	.header-wrap .vr {
		margin: 0 4px;
	}

	.header-wrap .header-links li {
		display: block;
		padding-right: 0;
	}

	/* Home page */
	.intro-message h1 {
		font-size: 2em;
	}

	.intro-collections-adv {
		bottom: 155px;
		width: auto;
	}

	.intro-collections-adv > .bg-overlay-collections-adv {
		padding: 5px;
	}

	.intro-collections-adv .intro-collections-adv-text {
		font-size: 13px;
	}

	.intro-message-blr {
		top: 30%;
	}

	.p-item-wrap {
		margin-bottom: 40px;
	}

	.view-all-btn-cnt {
		padding-top: 0;
	}

	.tabs-titles-wrap ul.nav.nav-tabs li {
		margin-bottom: 10px;
	}

	.vs-btn-wrap {
		padding: 0;
		margin-top: 20px;
	}

	.find-wrapper .form-wrapper {
		top: 80px;
	}

	.find-wrapper .form-cnt {
		width: 100%;
	}

	.fill-form-cnt .right {
		margin: 0;
	}

	.fill-form-cnt .form-btn-cnt {
		margin: 20px 0 0 30px;
	}

	.popular-trends-wrap .nav-tabs {
		margin-left: 0;
		width: 100%;
	}

	.popular-trends-wrap .nav-tabs li {
		float: none;
		margin-bottom: 20px;
	}

	.popular-trends-wrap .nav-tabs li:last-child {
		margin-bottom: 0;
	}

	.planner-booking-form {
		padding: 0;
	}

	.pb-form-wrap {
		padding: 10px 0;
	}

	.pb-form-wrap .head, .pb-form-wrap .sub-head {
		padding: 0 10px;
	}

	/* Results Page */
	.results-bottom .service-snapshot {
		margin-bottom: 40px;
	}

	.vendor-results-wrap .sort-options {
		margin-top: 15px;
	}

	/* Vendor Profile */
	.planner-data-wrap .packages-data-wrap {
		padding: 0;
		background: none;
		border: none;
	}

	.vendor-data-wrap .port-sec {
		margin-left: 0;
	}

	.planner-service-category .services-head .sec-title {
		float: none;
	}

	.planner-service-category .services-head .sec-price {
		float: none;
		padding: 4px 0 4px 0;
	}

	.planner-data-wrap .past-work-wrap {
		margin-top: 40px;
	}

	.terms-wrap {
		display: none;
	}

	/*==== Package Profile ====*/
	.container-wrap .bg-white, .container-wrap .bg-white .col-md-12, .col-md-12.bg-light-gray, .col-md-12.bg-light-gray .col-md-12 {
		padding-left: 0;
		padding-right: 0;
	}

	/* make the 100% guarantee img responsive */
	.hs-section .text-center img {
		display: block;
		max-width: 100%;
		height: auto;
	}

	.hs-section .card-item a.btn-more-details {
		padding: 8px 15px;
	}

	.info-panel .highlights-card {
		margin: 0 0 20px 0;
	}

	.info-more-panel .col-md-12, .info-more-panel .col-md-8, .info-more-panel .col-md-4, .similar-results {
		padding-left: 0;
		padding-right: 0;
	}

	.main-card {
		padding: 10px 8px;
	}

	.similar-results, .similar-results .col-md-12 {
		padding-left: 2px;
		padding-right: 2px;
	}

	.similar-results .similar-items-wrap, .similar-results .similar-venues-wrap {
		padding: 0;
	}

	.similar-results .col-md-4, .similar-venues-list .col-lg-4 {
		padding-right: 0;
	}

	.similar-results .similar-venues-wrap {
		padding-left: 10px;
	}

	/*==== Categories list in Occasions page =====*/
	.padding-75 {
		padding: 45px 0;
	}

	.row {
		margin-left: 0;
		margin-right: 0;
	}

	.navbar-default .navbar-collapse {
		border: #000000;
		z-index: 9999;
	}

	/*===== Home Head Section ====*/
	h5.secondary-title-home {
		top: -120px;
	}

	/*===== Trending Section =====*/
	.trending a h6.item-name {
		text-align: center;
	}

	/*=== Center align top occasions ===*/
	.cat-head {
		text-align: center;
		margin-top: 20px;
	}

	.cat-card {
		height: 235px;
	}

	.cat-card-lg {
		height: 235px;
	}

	.cat-card-sm {
		height: 120px;
	}

	.cat-head .cat-ocs {
		display: inline-block;
		margin-top: 10px;
	}

	.cat-ocs .cat-ocs-title {
		padding-top: 35px;
	}

	.cat-ocs .cat-ocs-title-lg {
		padding: 70px 0;
		font-size: 1.5em;
		padding-top: 35px;
	}

	.cat-ocs .cat-ocs-title-sm {
		padding: 45px 0;
		font-size: 1.5em;
		padding-top: 35px;
	}

	.cat-head .cat-ocs-title-sm {
		line-height: 25px;
	}

	.section-ocs .cat-card-title h3 {
		padding-top: 7%;
	}

	.footer-wrap .ft-text-align {
		text-align: center;
	}

	.footer-bottom-inner {
		text-align: center;
	}

	.footer-bottom .links-list li {
		text-align: center;
	}

	.socmed-body-inner {
		text-align: center;
	}

	.home-header .intro-header {
		height: 375px;
	}

	.categories-wrap {
		position: relative;
		bottom: 0px;
	}

	.home-section .categories-list {
		margin-top: -40px;
		background: #FFFFFF;
		text-align: left;
	}

	.home-section .categories-list li {
		display: inline-block;
		padding: 10px 0;
		border: 1px solid #BBBBBB;
		width: 50%;
		background: #FFFFFF;
	}

	.home-section .categories-list li img {
		margin: 0 10px;
		display: inline-block;
	}

	.categories-list li a {
		padding: 5px 0;
		/*color: #3E3E3E;*/
		color: #ED3E72;
	}


	.footer-ocs-links .categories-list li a {
		color: #FFFFFF !important;
	}

	/*==== Press Logo====*/
	.press-logo li {
		float: none;
		width: 100%;
		margin: 25px auto;
	}

	/*==== Vendor comments ===*/
	.vendor-feedback .ven-comment {
		position: relative;
	}

	.items-results .bottom-left-panel {
		margin-bottom: 30px;
	}

	/* === Global Search bar ===*/
	.navbar-home .text-center .navbar-form {
		border: none;
		box-shadow: none;
	}

	.border-b-gr {
		border-bottom: 1px solid #CCCCCC;
	}

	.border-gs-span {
		border: 1px solid #ED3E72;
		border-right: 0;
	}

	/*=== city modal ===*/
	.city-modal .active-cities .city-link img {
		height: 80px;
	}

	.city-modal .non-active-cities .city-link img {
		height: 50px;
	}

	/*=== Home Screen for Mobile ===*/
	.top-slide-home {
		height: 525px;
	}

	.cat-head-home {
		top: 0;
	}

	/*=== Party Bag ===*/
	.partybag-wrap {
		position: fixed;
		bottom: 35px;
		right: 20px;
		background: #ED3E72 !important;
		height: 48px;
		width: 48px;
		border-radius: 24px;
		padding-top: 6px;
		padding-right: 2px;
		box-shadow: 0 4px 5px -1px rgba(0, 0, 0, 0.5);
	}

	.header-top .partybag-wrap {
		background: #ED3E72;
	}

	.partybag-count {
		position: absolute;
		top: 18px;
		right: 13px;
		border: none !important;
		color: white;
		font-weight: normal;
		height: 24px;
		width: 24px;
		font-size: 15px;
		text-align: center;
		background: none;
	}

	.partybag-header {
		height: 35px;
	}

	/*=== User Login ===*/
	.user-login {
		font-size: 25px;
	}

	.user-login-li-wrap {
		list-style: none;
		padding-top: 10px;
		padding-left: 10px;
	}

	/* === shortlist alert ===*/
	.shortlist-alert {
		left: 14%;
	}

	/*=== Party Bag Side Bar ===*/
	.sidebar {
		width: 100%;
		border-left: none;
	}

	.sidebar .sidebar-content {
		height: calc(100% - 198px);
	}

	/*=== decors results ===*/
	.decors-results .bottom-panel .decors-list .decor-style:hover .decor-content-details {
		display: block;
	}

	/*=== item results ===*/
	.item-result .action-btns {
		display: block;
	}

	.item-result .content-details {
		display: block;
	}

	.item-result:hover .action-btns {
		display: block;
	}

	.item-result:hover .content-details {
		display: block;
	}

	.item-result .rating-wrap {
		text-align: left;
	}

	.abt-v-txt-l {
		font-size: 48px !important;
		line-height: 50px !important;
	}

	.abt-v-txt-s {
		font-size: 28px !important;
	}

	.abt-stats-pad {
		padding-left: 7%;
	}

	.abt-group-text-l {
		font-size: 48px !important;
		line-height: 48px !important;
	}

	.abt-group-text-s {
		font-size: 26px !important;
		line-height: 26px !important;
		top: 52% !important;
	}

	/*=== collections profile ===*/
	.collection-cover-img-wrap {
		height: 220px;
	}

	.collection-cover-img-wrap > img {
		width: 100%;
		min-height: 250px;
	}

	.collection-profile-img-wrap > img {
		width: 135px;
		height: 135px;
		margin-top: 69px;
	}

	.collection-title-wrap {
		padding-left: 10px;
	}

	.collection-profile-img {
		width: 115px;
		height: 115px;
		margin-top: 59px;
	}

	.collection-profile .collection-title {
		font-size: 18px;
	}

	.collection-stats {
		font-size: 14px;
	}

	/* Decor Auto Booking */
	.ab-decor-profile-img {
		max-width: 300px;
	}

	.decor-modal-content {
		min-height: 630px !important;
	}

	.ab-decor-provider-wrap {
		font-size: 12px;
	}

	.ab-decor-pincode-title {
		font-size: 15px;
	}

	.ab-decor-phone {
		font-size: 15px;
	}

	.ab-decor-verify-btn-wrap {
		padding: 25px 0 !important;
	}

	.ab-decor-notice-text {
		font-size: 11px !important;
	}

	.ab-decor-btn-pc-proceed {
		padding: 5px 10px;
		margin: 25px 0;
	}

	/* checkout page header */
	.checkout-page-logo {
		height: 100%;
		width: 100%;
	}

	checkout-page-logo-wrap {
		height: 45px;
		width: 140px;
	}

	.checkout-page-logo-wrap a {
		padding: 0 0 15px 0;
	}

	.mob-checkout-form-card {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	/* === Recommendations Page=== */
	.btn-no-choices {
		color: #333333;
		font-size: 14px;
	}

	.btn-no-choices:hover {
		color: #333333;
	}

	.btn-submit-choices {
		color: #FFFFFF;
		font-size: 14px;
	}

	.btn-submit-choices:hover {
		color: #FFFFFF;
		text-decoration: none;
		cursor: pointer;
	}

	.reco-dislike-btn, .reco-like-btn {
		padding: 10px;
		text-align: center;
		font-weight: 600;
		letter-spacing: 1px;
	}

	.reco-dislike-btn {
		background-color: #FFFFFF;
		color: #000000;
	}

	.btn-recos-mobile {
		box-shadow: 0 0 35px #888888;
	}

	/* 600 resolution header image size & title size*/
	.navbar-top {
		position: absolute;
		width: 100%;
		z-index: 999;
	}

	.intro-message {
		top: 35%;
	}

	.ke-intro-message {
		top: 12%;
	}

	.surprise-intro-message {
		top: 8% !important;
	}

	.navbar-home {
		background: linear-gradient(rgba(0, 0, 0, 0.69), rgba(0, 0, 0, 0));
	}

	#returnGiftsListWrap .filters-wrap, #returnGiftsListWrap .products-wrap {
		width: 100%;
	}

	.surprise-customer-review-bar .photo-wrap {
		top: 40%;
	}

	.list-left-section-warp .item-filters {
		border-right: 0 !important;
	}

	.site-visit-enquiry-close-btn {
		font-size: 40px !important;
		right: -27px !important;
	}

	.show-popup-header h4 {
		margin-top: 10px;
		margin-bottom: 20px;
		font-size: 20px;
	}

	.reco-budget {
		font-size: 16px;
	}

	h5.sec-title {
		font-weight: 200;
		font-size: 17px;
		margin-top: 10px !important;
		margin-bottom: 10px !important;
	}

	.section-why-us-profile {
		padding: 0 40px 10px 40px;
	}

	.section-why-us {
		background-color: #FBFBFB;
	}

	/*.add-ons-content {*/
	/*max-height: 250px;*/
	/*}*/
	.add-on-image-wrap {
		height: 100px;
		width: 115px;
	}

	.add-on-name {
		font-size: 14px;
		line-height: 18px;
	}

	.add-on-price-worth {
		font-size: 12px;
	}

	.add-on-price-off {
		font-size: 10px;
	}

	.add-on-price-text {
		font-size: 12px;
	}

	.add-on-info {
		font-size: 12px;
		line-height: 18px;
		/*max-height: 54px;*/
	}

	.co-add-on-wrap {
		padding: 5px 0 10px 0;
	}

	.co-add-on-img-wrap {
		height: 60px;
		width: 90px;
	}

	.co-add-on-title,
	.co-add-on-price {
		font-size: 14px;
	}

	.success-re-pro-section {
		background-color: #F6F6F6;
	}

	.success-re-pro-wrap {
		background-color: #333333;
		color: #FFFFFF;
	}

	.success-re-pro-wrap a {
		color: #FFFFFF;
	}

	.success-re-pro-image-wrap {
		height: 35px;
		width: 35px;
	}

	.success-re-pro-image {
		height: 100%;
		width: 100%;
	}

	.success-re-pro-items {
		display: table;
		padding: 0;
		text-align: center;
		width: 100%;
	}

	.success-re-pro-items li {
		display: table-cell;
		color: #FFFFFF;
	}

	/*.content-overflow {*/
	/*overflow: scroll;*/
	/*}*/
	.login-modal-terms {
		text-align: center;
		font-size: 12px;
		padding: 20px 20px 10px 20px;
		color: #999999;
	}

	.sign-in-model, .sign-up-model {
		height: 550px;
	}

	.common-form {
		width: 90%;
		margin-right: auto;
		margin-left: auto;
	}

	.invite-form-container-wrap {
		margin-top: 40px;
	}

	/*.invite-form-wrap {*/
	/**/
	/*}*/
	.invite-rsvp-status-wrap {
		margin-top: 40px;
	}

	.show-provider-images div {
		height: 75px;
		padding: 0 !important;
	}

	.shortlist-modal-product-title {
		font-size: 20px;
		line-height: 24px;
	}

	.shortlist-modal-image-wrap {
		height: 120px;
	}

	.checkout-navigation-card-wrap ul {
		font-size: 40px;
		line-height: 6px;
	}

	.ps-product-title {
		font-size: 14px;
		line-height: 18px;
	}

	.ps-product-price {
		font-size: 16px;
	}

	.ps-price-split-wrap {
		font-size: 12px;
	}

	.footer-piab-option-wrap {
		margin-bottom: 20px;
		height: 50px;
	}

	.footer-piab-option-wrap .footer-piab-option-title {
		font-size: 14px;
	}

	.footer-piab-option-wrap .footer-piab-option-title {
		line-height: 35px;
	}

	.footer-piab-reviews-wrap-loading {
		height: 365px;
	}

	.footer-piab-review-wrap {
		height: 365px;
	}

	.invite-promo-img-wrap {
		height: 120px;
	}

	.invite-promo-img {
		width: 150%;
	}

	.modal-hall-enquiry {
		padding: 0 20px 0 0;
	}
}