/**
 * Responsive CSS for landing pages
 */

@media only screen and (max-width: 600px) {

	.landing-header {
		padding: 5px 0;
	}

	.landing-header-logo-wrap {
		height: 30px;
	}

	.landing-header-logo {
		max-height: 100%;
		max-width: 100%;
	}

	.landing-header-text-wrap {
		font-size: 11px;
		font-weight: 600;
	}

	.landing-body-section-text .text-1-warp {
		padding: 20px 0;
	}

	.landing-mobile-link {
		color: #333333;
	}

	.landing-header-mobile {
		font-size: 14px;
	}

	.landing-header-mobile .landing-mobile {
		font-size: 12px;
	}

	.landing-body-section-text {
		color: #FFFFFF;
		position: relative;
		min-height: 190px;
		height: 0;
		overflow: hidden;
	}

	.landing-body-section-text .text-1 {
		margin: 0;
		font-size: 19px;
	}

	.landing-body-section-text .text-2-warp {
		padding: 0;
		margin: 0;
	}

	.landing-body-section-text .text-2 {
		font-size: 13px;
		line-height: 16px;
	}

	.landing-body-section-text .background-image {
		width: 100%;
	}

	.landing-body-images-wrap {
		background-color: #F8F8F8;
		padding: 1px 0.5px;
	}

	.landing-body-image-box {
		padding: 0 0.5px;
		height: 100%;
		width: 100%;
	}

	.landing-images-text {
		padding: 5px 5px 0 5px;
		font-size: 12px;
		line-height: 12px;
	}

	.landing-body-images-wrap .landing-body-images {
		height: 100%;
	}

	.landing-body-images-wrap .landing-image-text-wrap {
		position: relative;
	}

	.landing-sneak-peak-more {
		padding-top: 10px;
		font-weight: normal;
		font-size: 13px;
		font-style: italic;
	}

	.landing-body-form-wrap {
		padding: 17px 20px 24px 17px;
		background-color: #FFFFFF;
	}

	.landing-enquiry-form {
		background-color: #FFFFFF;
		padding-bottom: 0;
	}

	.landing-form-head-text {
		padding: 0;
		font-size: 13px;
		line-height: 18px;
	}

	.landing-form-head-right-text {
		margin-left: 20px;
	}

	.landing-form-input {
		height: 24px;
		font-size: 12px;
	}

	.landing-form-label {
		font-size: 12px;
		margin-bottom: 0;
		font-weight: 400;
	}

	.landing-form-body-block {
		padding: 0;
	}

	.btn-landing-submit,
	.btn-landing-submit:active {
		padding: 5px 10px;
		border-radius: 3px;
		box-shadow: 0 0 5px 1px #888888;
		background-color: #1E00FF;
		border-color: #000A92;
		font-weight: 600;
		font-size: 14px;
		margin-top: 15px;
	}

	.landing-form-body .errors-cnt {
		margin: 10px;
		font-size: 13px;
	}

	.landing-body-section-customer-story {
		background-color: #FFFFFF;
		padding: 15px;
	}

	.landing-customer-page-head {
		padding: 10px 0;
		font-size: 19px;
	}

	.landing-customer-page-head-text {
		font-weight: 600;
	}

	.landing-customer-benefits-list {
		margin-top: 0;
		padding-left: 20px;
		font-size: 18px;
		font-weight: normal;
	}

	.landing-customer-benefits-list li {
		margin-bottom: 2px;
	}

	.landing-customer-benefits-list li:last-child {
		margin-bottom: 0;
	}

	.landing-stats-image {
		max-height: 100%;
		max-width: 100%;
	}

	.landing-stats-text-1 {
		font-weight: 600;
		font-size: 24px;
	}

	.landing-stats-text-2 {
		margin-top: 5px;
		font-size: 10px;
		line-height: 12px;
	}

	.landing-body-section-stats {
		padding: 25px 5px;
	}

	.landing-body-section-media {
		padding: 20px 10px;
	}

	.landing-media-head {
		font-weight: normal;
		font-size: 19px;
		padding: 0;
	}

	.landing-media-body {
		padding-bottom: 0;
	}

	.landing-media-image {
		max-height: 100%;
		max-width: 100%;
	}

	.landing-media-image-wrap {
		padding: 5px 10px;
	}

	.landing-footer {
		background-color: #000000;
		/*position: relative;*/
	}

	.landing-footer-logo-wrap {
		height: 20px;
	}

	.landing-footer-logo {
		max-height: 100%;
		max-width: 100%;
	}

	.landing-footer-left {
		padding: 7px 0 10px 7px;
	}

	.landing-copy-text {
		font-size: 11px;
		color: #999999;
		text-transform: none;
		line-height: 12px;
		margin-top: 3px;
	}

	.landing-copy-text a { color: #666666; }

	.landing-footer-right {
		font-size: 11px;
		font-weight: 600;
		color: #FFFFFF;
		margin-top: 6px;
	}

	.l-modal-form {
		margin-bottom: 0;
	}

	.btn-l-modal-submit {
		margin-top: 0;
	}
}