/**
 * @author Anji <anji@evibe.in>
 * @since 7 Sep 2015
 * 
 * CSS for decor results page
 */

/* decor list css */
.decors-results {
	background-color: #FFFFFF;
}

/* header */
.decors-results .top-panel h4 {
	color: #696969;
	font-size: 21px;
	margin-top: 25px;
	margin-bottom: 15px;
}

.decors-results .bottom-panel {
	margin-top: 0;
}

.decors-results .bottom-panel .decor-filters {
	border: 1px solid #F1F1F1;
	padding-top: 0;
}

.decors-results .bottom-panel .decor-filters .filters-list label {
	color: #696969;
	font-size: 14px;
}

.decors-results .bottom-panel .decor-filters .super-cat a {
	font-weight: 700;
	color: #696969;
}

.decors-results .bottom-panel .decor-filters .price-input {
	color: #696969;
}

.decors-results .bottom-panel .decor-sort-options {
	padding: 0;
}

.decors-results .bottom-panel .decor-sort-options li a {
	color: #696969;
}

.decors-results .bottom-panel .decor-sort-options li.active a {
	color: #ED3E72;
}

.decors-results .bottom-panel .decors-list .decor-style {
	box-shadow: none;
	border: 1px solid #F1F1F1;
}

.decors-results .bottom-panel .decors-list .decor-style:hover {
	border: 1px solid #D4D4D4;
	box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.15);
	cursor: pointer;
}

.decors-results .bottom-panel .decors-list .decor-style .details {
	padding: 8px;
	border: none;
}

.decors-results .bottom-panel .decors-list .decor-style .title {
	text-align: center;
	margin-top: 0;
	padding: 0 0 10px 0;
	font-weight: normal;
	color: #696969;
	font-size: 15px;
}

.decors-results .bottom-panel .decors-list .decor-style .title a {
	color: #494949;
	font-weight: normal;
	font-size: 15px;
}

.decors-results .bottom-panel .decors-list .decor-style .price {
	font-size: 16px;
	font-weight: normal;
	line-height: 0;
}

.decors-results .bottom-panel .decors-list .decor-style .price .price-worth {
	font-size: 11px;
	margin-left: 0;
}

.decors-results .bottom-panel .decors-list .decor-style .border-right {
	border-right: 1px dotted #909090;
}

.decors-results .bottom-panel .decors-list .decor-style .item-shortlist {
	text-transform: uppercase;
	font-size: 12px;
	color: #ED3E72;
	font-weight: 700;
	line-height: 0;
}

.decors-results .bottom-panel .decors-list .decor-style .item-view-details {
	text-transform: uppercase;
	font-size: 12px;
	color: #ED3E72;
	font-weight: 700;
	cursor: pointer;
	line-height: 0;
}

.decors-results .bottom-panel .decors-list .decor-style .rating-stars {
	color: #34B6C7;
}

.decors-results .bottom-panel .decors-list .decor-style .action-btns {
	display: none;
	line-height: 30px;
}

.decors-results .bottom-panel .decors-list .decor-style:hover .action-btns {
	display: block;
}

.decors-results .bottom-panel .decors-list .decor-style:hover .content-details {
	display: none;
}

.decors-results .bottom-panel .decors-list .decor-style .decor-shortlist img {
	min-height: 13px !important;
	height: 13px !important;
	width: 14px;
}

/* over flow issue in firefox browser */
.decors-results .bottom-panel .decors-list .decor-style .details .content-details .rating-container {
	overflow: visible;
	line-height: 16px;
}
