/* CSS FOR ENTERTAINMENT RESULTS */
.br-8 { border-radius: 8px; }

.br-lr-8 { border-radius: 8px 8px 0 0; }

.e-options-wrap {
	padding-bottom: 75px; /*60px;*/
	background-color: #FFFFFF; /*#F5F5F5;*/
}

.e-options-wrap .top-panel h4 {
	color: #696969;
	font-size: 21px;
	margin-top: 25px;
	margin-bottom: 15px;
}

.e-option-wrap {
	background-color: #FFFFFF;
	margin-bottom: 30px;
	box-shadow: 3px 3px 8px #999999;
}

.e-option-wrap:hover {
}

.e-option-wrap .upper {
	padding: 25px 0;
	width: 100%;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	position: relative;
}

.e-option-wrap .bg-overlay {
	position: absolute;
	top: 0;
	height: 100%;
	background-color: #000000;
	opacity: 0.55;
	z-index: 1001;
	border-radius: 8px 8px 0 0;
}

.e-option-wrap .lower { padding: 18px 20px 0; }

.e-option-wrap .title {
	text-align: center;
	font-size: 20px;
	font-family: Roboto;
	text-transform: capitalize;
	color: #FFFFFF;
	font-weight: bold;
	text-shadow: 2px 2px 10px #333333;
	z-index: 1003;
	position: relative;
}

.e-option-wrap .price {
	margin-top: 10px;
	font-size: 18px;
	text-align: center;
	font-weight: normal;
	z-index: 1003;
	position: relative;
	color: #F5F5F5;
}

.e-option-wrap .desc {
	text-align: justify;
	font-weight: normal;
}

.e-option-wrap .e-actions {
	padding: 8px 0 10px 0;
	text-align: center;
}

/*==== New styles for the entertainment =====*/
.header-title {
	font-family: 'Montserrat', 'Roboto', 'sans-serif';
}

.ent-pkg .details {
	padding: 8px; /*5px 7px 15px;*/
}

.ent-pkg .item-info .price-tag {
	padding: 4px 0 5px 12px;
}

.ent-des a.btn-enquire {
	border-right: 0px;
}

/*===== Entertainment profile model =====*/
.ent-details .img-container {
	position: relative;
	max-height: 400px;
	overflow: hidden;
}

.ent-details .img-container img {
	width: 100%;
}

.ent-details .modal-dialog {
	width: 80%;
}

.ent-details .modal-content {
	overflow: auto;
}

.ent-details .enquire-form {
	padding: 20px 35px;
}

.ent-details .service-name {
	margin: 0;
}

.ent-details .service-details {
	padding: 5px 30px;
}

.ent-details .item-name {
	position: absolute;
	width: 100%;
	background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
	color: #FFFFFF;
	margin: 0;
	bottom: 0px;
	padding: 20px 10%;
	font-size: 2.3em;
}

.ent-details .price {
	position: absolute;
	right: 0;
	width: 200px;
	padding: 10px 15px;
	bottom: 0;
	font-family: 'Montserrat', 'Roboto', 'sans-serif';
	background: #2D2D2D;
	color: #FFFFFF;
	font-size: 1.3em;
}

.price-item .price-range-info {
	padding: 0px 20px;
}