/**
 * PLANNER RESULTS PAGE
 */

/**
 * MIN BUDGET - NON MATCH
 */

.min-budg-msg {

	text-transform: none;
	font-size: 26px;
	display: none;
	color: #D00;
	position: absolute;
	top: 4px;
	right: -30px;

}

.min-budg-msg .tooltip {

	display: none;

}

.non-match .min-budg-msg {

	display: inline-block;

}
