/**
 * RESULTS PAGE UTIL CSS CLASSES
 */

.results-title {
	color: #666666;
	font-size: 16px;
	font-weight: normal;
	margin: 0;
}

.results-bottom {
	margin-top: 30px;
}

.price-lbl {
	font-style: italic;
	font-size: 14px;
	color: #8D8D8D;
	position: relative;
}

.highlights-lbl i {
	padding-right: 4px;
}

.price-val {
	font-size: 16px;
	color: #3D3D3D;
}

/* No results page */
.no-results-wrap {
	padding: 30px;
	background-color: #FFFFFF;
	border: 1px solid #E71C1C;
	box-shadow: 1px 1px 2px #CFCECE;
}

.modal-title {
	padding-bottom: 15px;
}

.location {
	/*display: inline-block;*/
	padding: 3px 10px;
	margin: 0 0 6px 0;
	background-color: #E7E7E7;
}

.location label {
	margin: 0;
	font-weight: 300;
	font-size: 14px;
	color: #333333;
}

/* HR */
hr.style {
	margin-top: 0;
	border: 0;
	border-bottom: 1px dashed #CCCCCC;
	background: #999999;
}

/* List */
.items-results {
	background-color: #FFFFFF; /*#F5F5F5;*/
	padding-bottom: 75px;
}

.items-results .top-panel h4 {
	color: #696969;
	font-size: 21px;
	margin-top: 25px;
	margin-bottom: 15px;
}

.items-results .top-panel h1 {
	color: #696969;
	font-size: 21px;
	margin-top: 25px;
	margin-bottom: 15px;
}

.items-results .pages {
	margin: 15px 0;
	text-align: center;
}

/* pagination */
.items-list {
	margin-top: 15px;
}

/* Sorting options */
.item-sort-options {
	padding: 0; /*8px 10px;*/
	background-color: #FFFFFF;
	border: 1px;
}

.item-sort-options li {
	display: inline-block;
	margin-right: 10px;
}

.item-sort-options li a {
	color: #696969; /*#292929;*/
	cursor: pointer;
}

.item-sort-options li.active a {
	color: #ED3E72;
}

.cake-pkg .item-info .price-tag, .packages .item-info .price-tag {
	padding: 2px 0 0 12px;
}

.price-category-option {
	color: #696969;
}

.price-categories-wrap .text-e {
	color: #ED3E72;
}

.price-categories-wrap .text-e .price-category-count {
	color: #ED3E72;
}

.price-category-option:hover {
	/*color: #ED3E72;*/
	/*text-decoration: none;*/
	color: #696969;
}

.price-category-option:hover .price-category-count {
	/*color: #ED3E72;*/
	color: #595959;
}

.price-category-count {
	color: #777777;
}

.price-category-icon {
	font-size: 12px !important;
	vertical-align: middle !important;
}

.price-categories-wrap .disabled {
	color: #9F9F9F;
	pointer-events: none;
}

.price-categories-wrap .disabled:hover {
	cursor: inherit !important;
}

.price-categories-wrap .disabled .price-category-count {
	color: #9F9F9F;
}

.price-categories-wrap .disabled .price-category-count:hover {
	color: #9F9F9F;
}

.price-filter-input-label {
	border-bottom: 1px solid #696969;
	font-weight: 400;
}

.price-filter-input-text {
	color: #696969;
}

.price-filter-input-field {
	border: none;
	outline: none;
	width: 60px;
}

label.price-filter-input-label .price-filter-input-field {
	font-weight: 400;
}