/**
 * @author Anji <anji@evibe.in>
 * @since 6 Aug 2015
 * 
 * CSS for venues results
 */

.venue-result .badges-wrap {
	position: absolute;
	top: 8px;
	left: 8px;
	margin-bottom: 0;
}

.venue-result img.food-icon {
	width: 20px;
	height: 20px;
	min-height: 20px;
}

.venue-result .badges-wrap img {
	height: 50px;
	min-height: 50px;
}

/* no results */
.venue-results .no-results {
	margin: 40px auto;
	width: 70%;
}

.venue-results .no-results-inner {
	padding: 40px 40px;
}

.venue-results .no-results-inner i {
	font-size: 48px;
}

/* Quick links */
.links-title {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
	color: #494949;
	text-align: center;
	margin-top: 20px;
}

.links-list {
	list-style: none;
	margin: 15px 0 30px 0;
	padding: 0;
}

.links-list li {
	text-align: center;
}

.links-list li a {
	color: #1F1F1F;
}

.venue-result .item-info .price-tag {
	height: 48px;
	overflow: hidden;
}

.venue-result .guests-count i {
	font-size: 12px;
}

/*======= New Design for the list pages ====*/
.mar-offset-1 {
	margin-left: 6.66%;
}

.item-result .fact-list {
	margin-left: 12px;
}

.item-result a.btn-venue-details {
	margin-top: 0;
	padding: 6px;
}

.price-tag span.valign-mid {
	display: inline;
}

.price-tag span.xs-low-font {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.price-tag .price .rupee-font {
	font-size: 12px;
	position: relative;
	top: -3px;
	left: 2px;
	font-weight: 500;
}

.icons-list li {
	font-family: 'Roboto', 'serif';
	color: #9A9A9A;
	font-weight: 500;
	font-size: 1em;
}

.icons-list li i {
	font-size: 18px;
}

.venue-list-option-wrap {
	border: 1px solid #FFFFFF;
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 15px;
}

.venue-list-option-wrap:hover {
	border-color: #EFEFEF;
}

.venue-list-option-wrap:hover .venue-list-option-details {
	display: none;
}

.venue-list-option-wrap:hover .venue-list-option-cta-wrap {
	display: block;
}

.venue-list-option-price-wrap {
}

.venue-list-option-img-wrap {
	height: 210px;
	text-align: center;
}

.venue-list-option-img-wrap img {
	height: 100%;
	max-width: 100%;
	vertical-align: middle;
}

.venue-list-option-content {
	padding: 5px 8px;
}

.venue-list-option-title {
	font-size: 14px;
	line-height: 18px;
	max-height: 18px;
	height: 18px;
	overflow: hidden;
	font-weight: 500;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	text-transform: capitalize
}

.venue-list-option-title a {
	color: #333333;
}

.venue-list-option-price-wrap {
	max-height: 21px;
}

.venue-list-option-price {
	font-size: 14px;
	color: #ED3E72;
	font-weight: 400;
}

.venue-list-option-price-worth {
	font-size: 14px;
	font-weight: 400;
	color: #A2A2A2;
	text-decoration: line-through;
}

.venue-list-option-rating-wrap {
	margin-top: -2px;
}

.venue-list-option-rating-count {
	margin-left: 3px;
	font-size: 13px;
}

.venue-list-option-guest-count i {
	margin-right: 3px;
	font-size: 20px;
	vertical-align: top;
}

.venue-list-option-cta {
	text-align: center;
	max-height: 42px;
	color: #ED3E72;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	padding-top: 12px;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}

.venue-list-option-cta:hover {
	text-decoration: none;
}

.venue-list-option-cta-wrap {
	height: 45px;
	display: none;
}

.venue-list-option-details-1 {
	margin-top: 3px;
	line-height: 21px;
	height: 21px;
	overflow: hidden;
}

.venue-list-option-details-2 {
	line-height: 21px;
	height: 21px;
	overflow: hidden;
}

.venue-list-options-count-wrap {
	text-transform: capitalize;
	font-size: 16px;
	padding-left: 15px;
	margin-top: 15px;
	padding-bottom: 15px;
}

/* === mobile resolutions === */
@media only screen and (max-width: 600px) {

	.venue-list-options-count-wrap {
		font-size: 12px;
		margin-top: 10px;
		padding-bottom: 10px;
	}
}

