/** Venue Deals Results Page CSS **/

.venue-deals-results .category {
	text-align: center;
}

.venue-deals-results .category .title {
	text-decoration: none;
	padding: 6px 10px;
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 15px;
	border: 1px solid #D9D9D9;
	color: #393939;
	background-color: #FFFFFF;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.venue-deals-results .category .title:last-child {
	margin-right: 0;
}

.venue-deals-results .category .title:hover {
	border-color: #ED3E72;
	background: #FFFFFF;
}

.venue-deals-results .category .active {
	color: #ED3E72;
	border-color: #ED3E72;
}

.venue-deals-results .location-filter {
	color: #696969; /*#292929;*/
}

.venue-deals-results .active {
	color: #ED3E72;
}

.venue-deals-results .btn-search {
	background: #ED3E72;
	border-left: none;
	color: #FFFFFF;
}

.venue-deals-results .btn-search:hover {
	background: #ED2E71;
}

.venue-deals-results .img {
	position: relative;
}

.discount .square {
	position: absolute;
	top: 20px;
	left: 0;
	width: 70px;
	height: 34px;
	padding: 8px 5px;
	font-weight: 600;
	font-size: 15px;
	background-color: #ED1213;
	color: #FFFFFF;
}

.discount .traingle {
	position: absolute;
	top: 20px; left: 70px;
	border: solid transparent;
	border-left-color: #ED1213;
	border-width: 17px;
}

.discount:after {
	content: '';
	z-index: 111;
	color: #FFFFFF;
	position: absolute;
	left: 65px;
	top: 34px;
	width: 7px;
	height: 7px;
	opacity: .95;
	background: #FFFFFF;
	border-radius: 7px;
}

.venue-deals-results .deals-title {
	position: relative;
	background: url("https://gallery.evibe.in/main/img/venue-deals-background.jpg") black 100% 150px;
}

.venue-deals-results .title-text {
	color: #FFFFFF;
	font-size: 22px;
	line-height: 28px;
	text-transform: capitalize;
	padding: 8px 0;
	text-align: center;
}

.venue-deals-results .guests-count {
	font-weight: 500;
	font-size: 11px; /*1em;*/
	padding-top: 0; /*4px;*/
	color: #9A9A9A; /*#686868;*/
}

.venue-deals-results .area {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 3px 10px;
	text-align: center;
	font-size: 1em;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	background-color: rgba(0, 0, 0, 0.37);
	color: #F8F8F8;
}

.venue-deals-results .area i {
	font-size: 18px;
}

.venue-deals-results .guests-count i {
	font-size: 12px;
}

.venue-deals-results .price-venue-deals {
	height: 100% !important;
}

.venue-deals-results .filter-category a {
	color: #333333;
}

.venue-deals-results .filter-category .active {
	color: #ED3E72;
}

.venue-deals-results .price-slider {
	padding-bottom: 0;
}

.venue-deals-results .more-venue {
	text-align: center !important;
}
.venue-deals-results .btn-more-venue
{
	padding:6px 8px !important;
}